[2019-10-13 04:24] adityaraval commented on #1151
I have raised thePR for this already.

[2019-10-13 09:47] tux-tn commented on #1134
@marlonemmerich yes that's the expected behavior, ```/lib``` , ```validator.js``` and ```validator.min.js``` are autogenerated every time. To avoid that issues you need to make your changes to ```/src/lib``` folder

[2019-10-13 10:00] profnandaa commented on #1134
@marlonemmerich -- don't have to be sorry, that's totally okay. You could raise a PR to add that in the _contributing instructions_.

[2019-10-13 10:00] #1134 closed

[2019-10-13 10:02] profnandaa commented on #1150
Sounds good, perhaps this should come with an extra options param to support that. Just create a new regex for that as opposed to combining both regexes in to one.

[2019-10-13 10:04] profnandaa commented on #1145
Link: #11494

[2019-10-13 10:05] profnandaa commented on #1145
https://github.com/validatorjs/validator.js/pull/1149

[2019-10-13 10:10] profnandaa commented on #1144
Perhaps adding some advisory in the README will suffice, other than removing the feature altogether, for now.

[2019-10-13 10:11] profnandaa commented on #1142
Go for it sir, that's totally perfect :+1:

[2019-10-13 10:31] profnandaa opened #1155 "maintainer: discussion thread"
Opening this as a general discussion thread for maintenance related issues.

[2019-10-13 10:33] profnandaa commented on #1155
@ezkemboi @tux-tn -- hey folks, thanks for your reviews so far! :) We have some pending PR's that I've had reservation on, I wanted to have you folks review them and then just put your _approve_ or :-1: reaction on it so that I prioritize their _landing_.

They are [listed here](https://github.com/validatorjs/validator.js/pulls?q=is%3Apr+is%3Aopen+label%3A%22%F0%9F%95%91+to-be-reviewed%22)

-na

[2019-10-13 10:37] profnandaa commented on #1151
closed in https://github.com/validatorjs/validator.js/pull/1152

[2019-10-13 10:37] #1151 closed

[2019-10-13 12:12] rubiin commented on #1115
I am working on it

[2019-10-13 12:29] ezkemboi commented on #1155
Alright, I will be checking on them @profnandaa.

[2019-10-13 13:51] #1142 closed

[2019-10-14 10:02] ezkemboi opened #1156 "Add hsl(hue, saturation, lightness) color check"
For more information, read below.
https://www.w3schools.com/colors/colors_hsl.asp

[2019-10-14 13:20] tux-tn commented on #1155
Will take a look too, even if @ezkemboi checked most of them 😄

[2019-10-14 15:05] tux-tn commented on #1155
@profnandaa is chriso still maintaining this project or you are on your own? Some important PR like #1015 are awaiting review since a long time

[2019-10-15 00:14] smohiuddin opened #1157 "Currency issue with no decimal"
The default setting for currency is require_decimal: false

The following values don't validate

$1
$121

From my understand, this should be okay. Please advise if I should enable another setting to accept this. I have also tried enabling   allow_space_after_digits: true.

[2019-10-15 09:32] rohankulshreshtha commented on #1150
I have added a PR for this one (#1158 ).
As discussed I have made a separate regex and introduced an option ({checkDMS : true}).
Latitudes, Longitudes range from 0 to 90, 0 to 180 respectively.
Minutes & Seconds range from 0-60.
N, S, E or W as last character(case insensitive).
Seconds can be a float.
Ex - '40° 26′ 46″ N, 79° 58′ 56″ W' or '40° 26′ 45.9996″ N, 79° 58′ 55.2″ E'
Please let me know i

[2019-10-15 13:06] kurisu-gh commented on #1156
I can do a PR.

[2019-10-15 14:28] anjoshigor commented on #1157
Hello, I could not reproduce this error.
Could you provide any piece of code or maybe a runnable example?
This is an evidence that this input validates:
[This codesandbox link](https://codesandbox.io/embed/agitated-butterfly-wgck7)

[2019-10-16 08:13] joelgeronimo commented on #1094
URL `https://www@site.com` validates as `true`.

`> validator.isURL("https://www@site.com");`
`true`
`> `

[2019-10-16 12:30] ezkemboi commented on #1156
Sure @kurisu-gh.

[2019-10-16 13:26] aplomBomb opened #1161 "Support for 19 digit credit card numbers"

[2019-10-16 13:27] anjoshigor commented on #972
@StephenWall @profnandaa
Opened #1160 to solve this bug 😄

[2019-10-16 17:29] rubiin commented on #1156
@ezkemboi i think we can also add a hex color validator if there is no any

[2019-10-16 17:53] ezkemboi commented on #1156
@rubiin, I think that is already added.

[2019-10-16 19:50] #952 closed

[2019-10-16 20:49] orekav commented on #534
Maybe it could be replaced by:
/(^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)/

[2019-10-21 10:39] MeghaMehrotra commented on #1130
Added Date Validation PR https://github.com/validatorjs/validator.js/pull/1170

[2019-10-21 12:47] akhil-ghatiki commented on #1161
@aplomBomb Implemented this and raised a PR. If all goes well, it will be merged by the maintainer @profnandaa

[2019-10-21 18:37] profnandaa commented on #1161
Please expound on this, what are these types of CC's?

[2019-10-24 08:24] MunifTanjim commented on #1155
When will the latest changes be published?

[2019-10-24 10:30] naortor opened #1176 "isIP should have an option to allow port and protocol"
IMO,
Just like isUrl have option to allow protocol I think also should isIP,
also should have an option to allow port

thanks

[2019-10-24 17:28] aemarcuss commented on #1161
https://www.nccgroup.trust/us/about-us/newsroom-and-events/blog/2016/november/prepare-for-19-digit-credit-cards/

[2019-10-24 18:27] aemarcuss commented on #1161
fixed it for ya https://github.com/validatorjs/validator.js/pull/1177

[2019-10-24 21:34] mrcrow85 commented on #654
@chriso @profnandaa Is this issue still valid? If so, can you explain what would be the acceptance criteria?

[2019-10-25 15:27] ezkemboi commented on #1176
I second your suggestion @naortor.
https://searchnetworking.techtarget.com/definition/URL

You can check on this one @profnandaa.

[2019-10-25 18:13] profnandaa commented on #1155
@MunifTanjim  -- will get back to you. /cc. @chriso

[2019-10-25 19:16] rohankulshreshtha commented on #1176
Yes, Options can be added to check IP with or without protocol, port, etc.
Happy to do a PR for this one @profnandaa

[2019-10-26 00:18] danger89 commented on #574
I still think isNull is now missing. How to validate isNull indeed?

[2019-10-26 19:06] v3rron commented on #1094
`validator.isURL('adsf.asdf');`
`true`
is there an option to actually check if URL responds with status 200?

[2019-10-27 09:59] SashaDesigN opened #1182 "Cant validate my own email"
Hi, I had read all the issues with email-related questions but didn't expect that will fail my emails with it...

```validator.isEmail('alex@greatleap.co.uk')```

[2019-10-27 14:12] SashaDesigN commented on #1182
I solved that in this way:

[code]

Hope that may help is anyone is looking for the same issue, as this lib is too good to avoid it)

[2019-10-27 14:26] akhil-ghatiki commented on #1182
@SashaDesigN  I have checked it. It works fine. Can you try to reproduce the issue ?

Seems like the quotes that you are passing to the method is wrong ? You should not pass the quotes.
`validator.isEmail(alex@greatleap.co.uk)`   // This works fine.

[2019-10-27 23:03] chriso commented on #1155
@MunifTanjim – I just published 12.0.0

Thanks for your help @profnandaa, @ezkemboi and @tux-tn!

[2019-10-28 11:18] RinMinase commented on #1182
In [npm runkit](https://npm.runkit.com/validator) this works perfectly fine

`validator.js` version `12.0.0`

[code]

![image](https://user-images.githubusercontent.com/7098304/67674516-aa1efe00-f9b7-11e9-9e1d-62a8232c26df.png)

Image from npm runkit.

[2019-10-28 11:21] RinMinase commented on #1182
@akhil-ghatiki Not quite. `.isEmail( )` requires a string to be passed to it, as such the need for the quote marks `'`

Based on the [readme](https://github.com/validatorjs/validator.js#validators)

`isEmail(str [, options])    ---    check if the string is an email`

[2019-10-28 18:10] DCtheTall commented on #920
@profnandaa any ideas on how to go forward with this? I admit I am a bit stuck given how broad the definition of this string type is.

[2019-10-28 20:43] mrcrow85 opened #1186 "Add Ecuador (+593) mobile phone number validation"
There is no validation for Ecuadorian phone numbers, so I think it would be nice to have one (i.e. +593-111-1111). I have already worked on this and will open a PR shortly.

[2019-10-30 07:12] aminhxeko opened #1188 "how can i create a custom rule?"
i want to create a customize rule, such as check an user has enough to register or not, by verify her/his date of birth

[2019-10-30 11:59] rubiin commented on #1188
@aminhxeko you can use match for a custom regex

[2019-10-30 14:40] mrcrow85 opened #1190 "Add stricter Ecuador phone number validation"
Following the comments on #1187, certain digit combinations are not valid. According to the [ITU document about Ecuador National Numbering plans](https://www.itu.int/dms_pub/itu-t/oth/02/02/T020200003D0001PDFE.pdf) there are a couple of missing rules:

- 9 digits numbers are only valid if the first digit is 9.
- Cellphone numbers start with a network code between 92 and 99, so cellphone numbers st

[2019-10-31 12:05] akhil-ghatiki commented on #1182
@RinMinase It might need escape characters (just thinking out lout)

[2019-10-31 15:42] vibecode commented on #1094
@v3rron I believe  ‘adsf.asdf’ is pretty much legit url. Checking if domain name is actually exists and alive is far beyond the purposes of this library, the purpose is to check if a string complies with specific rules.

[2019-11-01 17:50] vlapo commented on #1155
Why `12.0.0` ? Are there any breaking changes?

[2019-11-01 19:28] chriso commented on #1155
@vlapo I'd consider #1147, #1065 and #1070 to be breaking changes. Strings that didn't previously pass through a validator now do.

[2019-11-02 00:49] ssmirr opened #1193 "Using isURL to check if the TLD is valid"
I believe validating TLDs is not supported in `isURL` (unless I missed something in the README). I see `require_tld: true` option but no `require_valid_tld: true`.

I have a use case for validating TLD and if this sounds like something that you would consider merging, I can work on sending a PR to add this feature?

[2019-11-04 10:35] usamamashkoor commented on #240
@kongyuan did you find any solution for this...?

[2019-11-04 18:23] MunifTanjim opened #1194 "Will a TypeScript rewrite be accepted?"
If someone is willing to contribute a TypeScript rewrite, is there a chance of it being accepted?

[2019-11-05 08:00] profnandaa commented on #1194
I don't think so. Please check #789 and see how we can make this better.

[2019-11-05 08:03] profnandaa commented on #1193
New TLDs keep being added every other day, maintaining this will be a little hard. Or do you want to have the user supply _their_ allowed TLDs? That could be a viable option I think 🤔

[2019-11-05 08:05] #1190 closed

[2019-11-05 08:06] profnandaa commented on #1182
Can we close this now?

[2019-11-06 15:00] ssmirr commented on #1193
I was thinking to use [this list](https://data.iana.org/TLD/tlds-alpha-by-domain.txt) to know which TLDs are valid. But you're right, keeping this up to date will require additional regular maintenance. I'm not sure which one is better though, having a possibly out of date list which contains most of the TLDs, or not having a list? 🤔

I think Supplying allowed TLDs could work and sounds like a sim

[2019-11-06 15:45] profnandaa commented on #1193
I see. Or we could start with that list, and then have user supply an
additional list?

./na

On Wed, Nov 6, 2019 at 7:00 AM Samim Mirhosseini <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2019-11-07 10:42] Madhavi96 commented on #1188
@aminhxeko you can check whether the userInput matches with the custom regularExpression in the  following manner.
`
const validator = require('validator');
 validator.matches(userInput, regularExpression);
`

[2019-11-08 09:05] Madhavi96 opened #1195 "Issue in validating isMobilePhone() with 'en-Us' options."
The regular expression used for this validation is `^(\+?1)?[2-9]\d{2}[2-9](?!11)\d{6}$
`.  In common US phone validation web sites, the following conditions are checked for US phone number validations.
1. The area code (first 3 digits) cannot be the same digit,
2. The 1st and 4th digit cannot be 0 or 1.

But the above mentioned regular expression does not satisfy the first condition. At the same

[2019-11-08 13:41] #1182 closed

[2019-11-11 05:13] #972 closed

[2019-11-11 07:59] Madhavi96 opened #1197 "Feature Request: isMobilePhone() to validate mobile numbers in Sri Lanka"
The current implementation of the validatorjs library does not support to validate a mobile number in Sri Lanka. If you would be interested in adding that, I can raise a PR from my work.

( I have completed my work by adding a test and updating the README.md. Waiting for your approval to raise the PR)

[2019-11-11 09:42] #1127 closed

[2019-11-11 09:47] profnandaa commented on #1197
Hey @Madhavi96 -- actually you don't need anyone's approval, just raise the PR. Looking forward to your contribution :)

[2019-11-12 03:08] Madhavi96 commented on #1197
Thanks, @profnandaa .
I just need some clarification prior to raising the PR.
Even before writing any code or test, I executed the test script to make sure everything was okay to go with. But the test had altered 2 `lib` files( isIP.js , isMobilePhone.js) and generated extra code in some files including index.js file.
Do I need to push those changes too? Or only the changes which are relevant to t

[2019-11-12 16:35] rubiin commented on #1195
@Madhavi96 can you list some websites where i might be able to find the validations? I may then be able to reproduce the issue and thus may work on a fix for this

[2019-11-13 04:00] Madhavi96 commented on #1197
@profnandaa, I have raised a PR for this in #1199

[2019-11-13 08:09] Madhavi96 commented on #1195
I think the issue is `In US, the area code (first 3 digits) cannot be the same digit` and the existing regular expression for US mobile number validation does not validate that condition. (Even when the three digits are the same, currently, the number is validated as a valid US mobile number)

To fix this, I suggest the following regular expression for 'en-US' locale.

`^((\+1|1)?( |-)?)?(\(([2-9]

[2019-11-13 15:39] rubiin commented on #1195
@profnandaa @ezkemboi what do you guys think

[2019-11-20 13:23] lucasmahle opened #1201 "Feature Request: Convert NaN to a number"
In the case that you want to considerer a NaN as number.

For example:
`.toInt()` = NaN
`.toInt().toNumber(0)` = 0
`.toInt().toNumber(1)` = 1

I don't know how could be the function name, could be even as a parameter.
`toInt(input [, radix, [, defaultValue]])`

[2019-11-20 15:52] lasharela opened #1202 "isCurrency bug after comma"
[code]

The result is "true".

1. decimal separator (by default) is dot, not a comma
2. there are 3 digits after the decimal. not 1 or 2

[2019-11-20 15:55] #1202 closed

[2019-11-20 15:56] lasharela commented on #1202
It recognizes comma as a separator for a thousand separator character.

[2019-11-21 05:21] #814 closed

[2019-11-27 10:16] lcswillems commented on #1194
Why no? There is no reason in the link you gave

[2019-11-30 02:47] steida opened #1208 "Could not find a declaration file for module with TypeScript"
For `import isEmail from 'validator/es/lib/isEmail';'
`Could not find a declaration file for module 'validator/es/lib/isEmail'`

But  for `import isEmail from 'validator/lib/isEmail';`

It's ok.

[2019-12-03 12:02] barintsights opened #1209 "🐞 Wrong IP address validation"
TL;DR -
![image](https://user-images.githubusercontent.com/20521495/70049196-cfb1af80-15d4-11ea-8839-41b1f3199504.png)

There is a bug in the ip validation function, it returns true for invalid ip addresses such as **10.0.0.01**

[code]
expected false, returns true

[2019-12-03 23:15] Jdombrowski commented on #1208
The tree shakable path does not appear to be working

[2019-12-04 09:34] ezkemboi commented on #1209
I will do some investigation on this bug and I will get back to you.

[2019-12-04 11:28] barintsights commented on #1209
Thanks. if I can help, found a working regex here - https://www.regextester.com/22
The main issue is from this line -
https://github.com/validatorjs/validator.js/blob/0d204da14f640fd2a8bf1874b6995128ff28409d/lib/isIP.js#L41

[2019-12-05 10:22] rubiin opened #1210 "validator for country names?"
how about adding a validator for checking countryname. If allowed, i can submit a pr in about tonight

[2019-12-05 12:57] rubiin commented on #1210
@ezkemboi @profnandaa

[2019-12-06 03:11] gauravnewton commented on #855
Yup you are absolutely right, found a simple tutorial at https://www.sitepoint.com/basic-jquery-form-validation-tutorial/.

Thanks again

[2019-12-07 10:32] profnandaa commented on #1210
I'm always seated right in the middle of the fence when it comes to this class of feature requests. I was once very dogmatic about having only _regex-related_ features in the library but my stand has been challenged, see #977 . For this, I will chose not to place my vote but wait for others to say what they think.

[2019-12-07 10:33] profnandaa commented on #1209
Good catch. PR welcome by all means! @barintsights

[2019-12-07 10:35] profnandaa commented on #1208
@banjankri -- could you please help look into this, re: #1015

[2019-12-07 10:38] profnandaa commented on #1201
Thanks for the request. Could you help me understand the practical usecase for this? I'm missing something...

[2019-12-07 10:40] profnandaa commented on #1195
I'll recheck this; but please do raise the PR so that I'm not blocking...

[2019-12-08 07:17] barintsights commented on #1209
@profnandaa here you go https://github.com/validatorjs/validator.js/pull/1211

[2019-12-08 21:29] tmikaeld opened #1212 "isBase64Url()"
Feature request.

[2019-12-09 05:02] #1100 closed

[2019-12-10 06:45] Maxreglez opened #1214 "validator does not provide an export named 'default'"
I use the validator in my TypeScript project. That works and everything is fine.
But then I want to test my project with karma and got this error message ` SyntaxError: The requested module '../../../../../../node_modules/validator/index.js' does not provide an export named 'default'` Is there anything I could do or is it a mistake?

i imported it like this
import validator from "validator";
Versi

[2019-12-10 16:15] profnandaa commented on #1214
PR is welcome!

[2019-12-10 16:15] profnandaa commented on #1212
PR welcome!

[2019-12-11 10:56] sebastianroming commented on #1214
[code]
instead of
[code]

should do the trick here.
The `es/index.js` file already has an default export named `validator`.

Works fine for me.
@profnandaa @Maxreglez

[2019-12-15 08:40] githuboftigran opened #1215 "am-AM Armenia phone support"
To support Armenia phones this line should be added to `src/lib/isMobilePhone.js` > `phones` object:
`'am-AM': /^\+?374\d{8}$/,`

[2019-12-15 18:11] rubiin commented on #1212
I like to look into this one

[2019-12-15 18:23] tmikaeld commented on #1212
Seems that using a simple `/^[A-Za-z0-9\-_]+$/`regex for this is common.

I'm unaware of any other pattern to follow here.

[2019-12-15 18:27] rubiin commented on #1212
i just found some regex for qualifying that function in hapi's repo

[2019-12-15 18:31] rubiin commented on #1212
@tmikaeld correct me if i am wrong but this does look like the issue. If it is, i will get working

[2019-12-16 14:32] dani2819 opened #1218 "Validator for passport numbers"
How about validating passport numbers? The passport numbers vary from country to country so the functions should be like `isValidPassport(string, countryCode)`.

[2019-12-18 16:09] denisbarriere opened #1219 "isMobileNumber fail validating new MTN Zambian numbers"
Hi there,

First, I wanted to thank you for providing this amazing library that makes a lot of developers life easier!

I built an express API that needs to validate international mobile numbers, including Zambian numbers. I am using the `express-validator` library which relies on `validator.js` under the hood.
To ensure the phone numbers received by this API are valid, I am using the following pi

[2019-12-19 10:38] WillzMu commented on #1219
Thanks, I am experiencing the same issue.

[2019-12-22 03:08] NG235 opened #1220 "isAlphanumeric with Whitelist"
I am needing to validate usernames on my site. Currently, I am using validator.isAlphanumeric to do so, but I want to have the following valid (period, hyphen, underscore):
. - _

Can someone please help me with this.

Thank you.

[2019-12-22 04:30] NG235 commented on #1220
Some pseudocode:
[code]

[2019-12-22 07:55] #1220 closed

[2019-12-22 18:48] dani2819 commented on #1219
Yes, after seeing the current implementation, valid mobile numbers for Zambia are those that start with 95 or 96 or 97.

[2019-12-25 22:33] JefferyHus opened #1221 "isEmpty - should not assert string types only"
I don't believe that `isEmpty` makes sense to only assert string types. One of my inputs has a dynamic type, and I mark it as required only. As a workaround I convert all values to string first then use `isEmpty`, but it would be cool to have `isEmpty` checks for the truthful value being set or not.

`isRequired` can be an alternative to keep things simple and clear, but following the package phil

[2019-12-28 14:41] rubiin commented on #1212
@profnandaa can i do a pr?

[2019-12-28 18:14] profnandaa commented on #1212
please do it.

/na

On Sat, Dec 28, 2019 at 5:41 PM Rubin Bhandari <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2019-12-29 05:58] joonior opened #1222 "mobile phone verification on Afghanistan phone number"
I'm using isMobilePhone with to validate phone number and is correct in most of the country but is not working for Afghanistan phone number.
It's my code:
`if (!validator.isMobilePhone(phone, 'any', {strictMode: true})) {`
`          reject({eCode: 400, eText: 'phone number is incorrect!'})`
`}`

[2019-12-29 12:47] rubiin commented on #1212
this Pr resolves this  https://github.com/validatorjs/validator.js/pull/1223

[2019-12-29 12:48] rubiin commented on #1222
you have to add locale too. check the readme

[2019-12-29 12:50] rubiin commented on #1212
#1223

[2019-12-29 12:52] rubiin commented on #1218
Looks like a legit feature

[2019-12-29 21:24] anik786 commented on #567
I feel like this would be a great feature and would be very useful for currency validation. The workaround is also helpful.

Please re-open this issue.

[2019-12-30 10:00] #1215 closed

[2019-12-31 11:29] adprajwol opened #1225 "How to throw own custom error messages."

[2020-01-01 04:43] #1225 closed

[2020-01-02 13:42] peterdemartini opened #1226 "isDivisibleBy string comparison inconsistent"
The function is `->isDivisibleBy` will use the first number in a string to do the comparison, even if the string is not a valid number. This is problematic when passing a date string in because `2020-01-01T00:15:38.184Z`  / `2` will pass but `2019-01-01T00:15:38.184Z` will not.

**Actual Results:**

[code]

**Expected Result:**

[code]

[2020-01-03 09:55] profnandaa commented on #1226
I have another idea... I'm of a school of thought that this is an unnecessary feature that needs to be deprecated. Why not just use modulus operator `%` to check for divisibility? 🤔 I need to be convinced otherwise.

[2020-01-04 15:17] peterdemartini commented on #1226
To be honest, it’s your call, we use `isDivisibleBy` because we expose most of the validation functions from this library in a data processing tool. It can be implemented relatively easily on our end. IMO this should be fixed regardless of whether you deprecate this function since we are not the only ones dependent on it and it’s expected to work correctly. The cost of fixing it in this library is

[2020-01-05 04:21] profnandaa commented on #1226
Got it, this makes sense to me. Thanks for clarifying — customer is king 👍

PR welcome.

./na

On Sat, Jan 4, 2020 at 6:17 PM Peter DeMartini <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2020-01-05 16:32] ezkemboi commented on #1219
@denisbarriere, I will check at the issue and will try to fix the same issue.
Also, if there are some resources that show all valid Zambia numbers prefix, you can share.

Thanks.

[2020-01-06 07:37] meshack-mbuvi commented on #1219
I can take this issue

[2020-01-09 11:57] #1226 closed

[2020-01-12 19:42] Jakub41 opened #1231 "How to use this PKG on server side"
Hello,
I'm new to Mongo and NodeJS.
I would like to ask you kindly if you could show me an example of usage of this PKG on the server-side to validate a field of a model or point me to the right document.

For example, I would like to validate the date of birth.
Please help me so I can learn and understand :)

Thank you so much
Jakub

[2020-01-13 09:27] nikocraft opened #1232 "isPostalCode regex is invalid for Portugal, valid zipcodes are rejected"
Portugal zipcode is in XXXX format

check here:
https://en.wikipedia.org/wiki/List_of_postal_codes_in_Portugal

For example these are valid zipcode in Portugal
[code]

Yet inside isPostalCode.js Portugal has this regex
[code]
which translates to XXXX-XXX so no valid zipcodes can pass and are rejected.

On line 49 isPostalCode.js this should be correct
[code]

[2020-01-13 09:58] nikocraft commented on #1231
do you know how to install the package first? Google that, then inside any js file where you need to use it do this:

[code]

then use it like

[code]

[2020-01-13 11:02] profnandaa commented on #1231
Additionally, if you are using Express, check out [express-validator](https://express-validator.github.io/docs/) which [uses this pkg](https://github.com/express-validator/express-validator/blob/master/package.json#L44).

[2020-01-13 11:34] Jakub41 commented on #1231
Hi thank you I already resolve it in my project
I did like here
https://github.com/Jakub41/School-API-MERN/blob/master/src/models/project.model.js

I added the validator into my model and that worked for me

Thanks 😁
--
Sent from my Android phone with GMX Mail. Please excuse my brevity.

 On 1/13/20, 12:02 Anthony Nandaa <notifications@github.com> wrote:

  Additionally, if you are using Express,

[2020-01-13 13:03] profnandaa commented on #1232
PR more that welcome! 👍

[2020-01-13 13:38] nikocraft commented on #1232
Sure, I'll add a PR as soon as possible.

[2020-01-13 13:45] nikocraft commented on #1232
If PR gets accepted, when do you think a new release could be done? I'm working for IKEA and we need a fix for this ASAP and I would prefer to get it through a proper release instead of pointing to the dev branch. Can you let me know @profnandaa ?

[2020-01-13 15:05] nikocraft commented on #1232
Acutally this is not a bug @profnandaa I verfied with with a Portugues person, the format really is in xxxx-xxx, first 4 digits are for the city and last 3 for the street. The link I found above was talked only about 4 digits. This link mentions the correct format: https://en.wikipedia.org/wiki/Postal_codes_in_Portugal

[2020-01-13 15:05] #1232 closed

[2020-01-13 16:56] #1231 closed

[2020-01-18 15:09] Develoaper commented on #1221
`isEmpty` does not work , i use `notEmpty` instead.
also `notEmpty` can not find in your documention

[2020-01-18 15:13] profnandaa commented on #1221
PR welcome.

[2020-01-18 15:14] profnandaa commented on #1222
@joonior -- I'm assuming this was fixed from your end. Closing.

[2020-01-18 15:14] #1222 closed

[2020-01-19 03:14] JefferyHus commented on #1221
Please refer to this PR #1235

[2020-01-20 14:09] ezkemboi commented on #1210
I am also in the middle here.
Though, it might be a good feature in addition to the locale feature.

[2020-01-20 15:06] kevinscroggins-youi commented on #930
Oh yes that's a good point! These regular expressions contain unicode characters and the default charset for most browsers does not support this and it needs to be explicitly set in the template file.

[2020-01-23 10:33] NielsvanDijk opened #1236 "Can we get a pre release?"
Can we get a 12.1.1 release with the new additions?

[2020-01-24 08:48] profnandaa commented on #1236
Hey @NielsvanDijk -- I hear you. Let me discuss with @chriso on a _pre-release_ strategy...

[2020-01-24 08:50] profnandaa commented on #930
a PR is welcome.

[2020-01-24 16:18] kevinscroggins-youi commented on #930
I don't think any action is necessary in terms of the library itself, but maybe some information in the readme to instruct consumers of this library on the web to ensure that they have correctly configured their charset metadata entry on their web page.

[2020-01-25 02:52] chriso commented on #1236
`12.2.0` is now available. Thanks for your contribution @NielsvanDijk !

[2020-01-25 13:50] spyshower opened #1237 "Greek letter 'ώ' doesn't pass the test."
`isAlpha("ώ", 'el-GR')` this fails but it shouldn't be that way.

[2020-01-25 18:53] NielsvanDijk commented on #1236
Nice, keep it updated :)

[2020-01-25 18:53] #1236 closed

[2020-01-26 19:38] profnandaa commented on #1237
PR welcome.

[2020-01-28 07:49] KInGATiLLa opened #1239 "isBase64 method wrong validation!"
this method [ isBase64 ] is showing incorrect results. In below image.

![Capturewewe](https://user-images.githubusercontent.com/17881842/73245001-2ce96c00-41e6-11ea-844d-7fa7c29d5102.PNG)

[2020-01-28 12:50] vschoener opened #1240 "isLat and isLong error with expo"
Hey guys,

Recently I had an issue in production saying the value was wrong when one is exponential, let say for example:

`1.301684883426969e-8`

This is a position coming from the GPS device, any chance to take this one into consideration? (I could contribute to a PR if think we should.)

Edit:

Ok I deep a bit since and I just saw it was a JS issue with a big decimal number, so maybe I should c

[2020-01-28 15:09] ezkemboi commented on #1240
@vschoener, PR is highly welcome.

[2020-01-28 15:12] ezkemboi commented on #1239
Thanks for reaching raising the issue @KInGATiLLa.
I will do more investigation on the issue here.
Also, other people can do more investigation here.

[2020-01-28 15:57] vschoener commented on #1240
@ezkemboi Alright, I just need people to confirm about transforming the value before or if it should be handled.

[2020-01-28 16:01] ezkemboi commented on #1240
@profnandaa ping!

[2020-01-28 17:38] profnandaa commented on #1240
@vschoener -- I think any form of sanitation/standardization should be done before the function kicks in, since it will just be returning a true/false.

This is the general pattern across most of the lib, also since strings are immutable -- will be good to discourage the practice of sanitizing while validating.

That said, PR is welcome to cover for `exp` cases. 👍

[2020-01-29 00:21] MusicMonkey5555 opened #1241 "Netherlands zipcode validation"
Looks like netherlands zipcode validation isn't quite correct. I ran into the following location: De Weven 7, 3583 Paal, Belgium (https://goo.gl/maps/GKxgsCkMjm4qtdVu5) that doesn't include the space and 2 a-z characters. Also not sure how valid, but http://www.geonames.org/postalcode-search.html?q=3583&country=NL (37) looks like it also lists the inclusion of those two characters as well as not h

[2020-01-29 13:31] vschoener commented on #1240
Yeah I agree it's not really great to sanitize value before validation but right to transform it after.
I'll take a look then ;)

[2020-01-29 14:10] tux-tn commented on #1240
@vschoener are you sure you don't have an issue reading your GPS data?
I don't think that ```0.00000001301684883426969``` is a valid GPS Lat/Long, for reference a decimal place of 7 (1.1234567) is representing an accuracy of 1.1 centimeters

[2020-01-29 14:30] vschoener commented on #1240
@tux-tn The data comes from the GPS device but I agree it's weird to have such data coming...

Thx for the detail, I'll talk about it here in my team see if we should handle the problem differently

[2020-01-30 22:51] hamzahejja commented on #951
@profnandaa @ezkemboi PR #1243 introduces an implementation to the `isIBAN(str)` validation.

[2020-02-01 06:37] profnandaa commented on #1241
PR welcome!

[2020-02-01 07:03] profnandaa commented on #1240
Sure, might need to sanitize data coming from the device first on your own. Thanks for your contribution though and the discussion! 🙏

[2020-02-01 07:03] #1240 closed

[2020-02-04 05:21] hamzahejja commented on #852
@profnandaa Needed to inquire if this is still a valid/legit feature to integrate into the project? I'm willing to pick it up and raise a PR.

[2020-02-04 08:36] profnandaa commented on #852
Hamza — Oh, sure, let’s do it 👍

./na

On Tue, Feb 4, 2020 at 8:21 AM Hamza Hejja <notifications@github.com> wrote:

--
Sent from a tiny device while on the move.

[2020-02-04 20:29] hamzahejja commented on #797
@profnandaa #1244 PR raised to add-in `isEAN` validator for validating EAN/GTIN 🎉 . Could you please take a look at it and possibly review it when you have the time? Thanks!

[2020-02-06 21:01] hamzahejja commented on #1218
@tux-tn @profnandaa
Do you think this is legit feature to implement? I'm willing to dig into it and provide an implementation, just found a good reference from _Microsoft_ for **EU Passport Formats**: [EU Passport Number
](https://docs.microsoft.com/en-us/microsoft-365/compliance/eu-passport-number), a little bit of search and I can set-up a regex for non-EU countries' passport no. as well, What's

[2020-02-07 11:33] NielsvanDijk commented on #1241
Hi @MusicMonkey5555,
If you run `De Weven 7, 3583 Paal, Belgium` it is correct that you get an error! Because thats not in the Netherlands. Begium its postal code is `1234` and not `1234 AB`.

Belgium = `BE: fourDigit,`
Netherlands = `NL: /^\d{4}\s?[a-z]{2}$/i,`

I'm from the Netherlands :) and the company where i work delivers in NL and in BE so postalcodes must be correct for us :)

[2020-02-07 17:22] guischafer commented on #1239
Why should "1111" not be considered a valid base64 value? Looking at the implementation and the [rfc 4648](https://tools.ietf.org/html/rfc4648) I can't see why it should be the case.

[2020-02-08 06:43] ezkemboi opened #1245 "Add isHSLA()"
Add `isHSLA()`.
Refer to the following issue (Similar but not the same) #1156.
Also, refer to the following PR raised #1156
Finally, check on the docs of [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value) and  [W3Resource](https://www.w3schools.com/cssref/func_hsla.asp)

[2020-02-10 19:13] profnandaa commented on #1047
@chriso -- could you complete the set up on coveralls.io ?

[2020-02-11 02:46] chriso commented on #1047
That should be enabled now.

[2020-02-11 05:14] hamzahejja commented on #1218
@profnandaa Ping!

, I'm sure similar formats/regex could be set-up for non-EU countries' Passport Number as well, What's your call here? Should we move along?

the validator is most likely to be something like: isPassportNumber(str, countryCode)

[2020-02-11 08:44] #1047 closed

[2020-02-11 09:01] profnandaa commented on #1218
@hamzahejja -- this looks good to me, sure, you can go ahead 👍

[2020-02-11 17:55] Ali-hd opened #1247 "top-level-domain validator accepts anything"
Hi there

Im testing some urls with wrong top-level-domain like "github.comjkuhjk" but it still gets passed as a valid url. I also made require_tld = true. It should compare it to this list [link](https://en.wikipedia.org/wiki/List_of_Internet_top-level_domains) to check the available

[2020-02-11 21:02] AubreyHewes commented on #1241
@MusicMonkey5555 The address is in Belgium and Belgium postal codes are as stated by @NielsvanDijk  4 numbers [wikipedia 👀 ](https://en.wikipedia.org/wiki/Postal_codes_in_Belgium)

The only gripe could be that the `isPostalCode` validator does not support the, *not widely used*, [country code prefix](https://en.wikipedia.org/wiki/Postal_code#Country_code_prefixes) :smiling_imp:

i.e. `BE 1234`

[2020-02-11 21:17] AubreyHewes commented on #1247
@Ali-hd the `require_tld` check just ensures that the `isFQDN`, `isURL` or `isEmail` (unsure in your case) value *has* a TLD, not that it *is* a valid IANA gTLD...

i.e. `localhost` does NOT have a TLD and `localhost.tld` DOES have a tld..

What you want is to check against the [IANA gTLD list](http://data.iana.org/TLD/tlds-alpha-by-domain.txt)
You can do this yourself by first checking that it ha

[2020-02-11 21:21] #1247 closed

[2020-02-11 21:25] AubreyHewes commented on #1247
@Ali-hd just a tip.. when checking against the IANA gTLD list it would be wise to cache it as it does not change very often and would otherwise incur an extra network call on each "validation"..  ;-)

[2020-02-11 21:34] AubreyHewes commented on #1214
I use

[code]

https://github.com/microsoft/TypeScript/issues/3337#issuecomment-107971371

[2020-02-11 21:56] AubreyHewes commented on #1245
would this not just be a redirect to the `isHSL` PR ? so more a change/feature on #1156 that it also supports alpha i.e. `hsla()` and not just `hsl()`

[2020-02-11 22:16] AubreyHewes commented on #1193
Cleaner would be just allowing the developer to supply a list i.e. then they can decide which list to apply.

Including support for the IANA gTLD list would entail caching it or including it per version (something the library should not do; out of scope). It does not change that often, but, including it just produces more issues.

 * `require_tld` could be a `boolean` (bc) or an `array` and the de

[2020-02-11 23:47] AubreyHewes commented on #1176
@naortor @ezkemboi @rohankulshreshtha an IP *DOES NOT* contain port or protocol information an URL *SHOULD*. You can not confuse the two.
An IP validator validates an IP and a URL validator validates.. a URL..

`isIP()` *MUST* never check for ports and or schemes as it is a IP validator..

[2020-02-12 00:00] AubreyHewes commented on #1210
@profnandaa I agree, and country names are not "fixed" anyway. It would just increase the maintenance/technical/download debt.. do you really want to be collating and keeping up to date with external lists? Also why a country names validator? Anyone that needs country names has a list.. validate against their own list?

Do I really want a simple validation library that includes complete data of sp

[2020-02-12 00:25] AubreyHewes commented on #1027
@dougwit Your own references actually say the opposite.. x

https://www.godaddy.com/garage/whats-a-fully-qualified-domain-name-fqdn-and-whats-it-good-for/

So `domain.tld` COULD actually be a specific computer (sic) so a host and so also `FQDN`

https://en.wikipedia.org/wiki/Fully_qualified_domain_name

And

The point is moot as the consensus is as is used

x

[2020-02-12 15:45] MusicMonkey5555 commented on #1241
Sorry I looked up the original ticket someone had and the address they entered was actually:
De Weven 7
Paal, Utrecht 3583
NL
Which looks like it is in the netherlands. They had mentioned it was going to Runners lab and I was assuming it was the one at RS Scan and just looked up that address. (https://www.google.com/maps/place/Utrecht,+Netherlands/@52.0842715,5.0124522,12z/data=!3m1!4b1!4m8!1m2!2m

[2020-02-12 16:25] MusicMonkey5555 commented on #1241
After checking with several people they are in the same building and all in Belgium so the wrong country code. Thank again everyone! I'll close it since it's a non-issue.

[2020-02-12 16:25] #1241 closed

[2020-02-13 22:18] ChukwuEmekaAjah commented on #1210
Bearing in mind the possible inconsistencies in accurately writing country names, this would be difficult to maintain and it is better off limiting user choices using selection lists in the application.

[2020-02-14 00:02] AubreyHewes commented on #1237
@profnandaa If this has been resolved/fixed/merged should not this issue be resolved?

[2020-02-14 00:29] AubreyHewes commented on #1157
@smohiuddin

The codesandbox link by @anjoshigor (validator version 11.1.0) seems to prove it works as expected?

`isCurrency("$121")`

If this is still a problem, You may need to show more code in how you are using this method.

If it is no longer a problem you could close the issue.

@profnandaa @anjoshigor possibly it would be a nice thing to add a issue template? so that people are *suggested*

[2020-02-14 00:54] AubreyHewes commented on #1155
Hey, maintainers, (@profnandaa @ezkemboi @tux-tn -- taken from the the OP; possible owners, code owners file would help) could you all close the issues that have been resolved (by own or via prs)? And the issues that you will never resolve?

The amount of open/waiting issues that have actually been resolved or will never be resolved corrupts the amount of legitimate open issues. Close things with

[2020-02-14 01:09] AubreyHewes commented on #963
this does not seem to be a validator requirement.. more a business logic function.. a "string" contains "something" ... Most can be done via regexp.

As such it COULD BE  a validator function... though a generic function.

A cool PR would be something like a `validator.has(arrayOfValidatorFunctionsOrValidatorFunctionOrFunctionString, value)` (`validator.has` could be whatever).. `validator.has` en

[2020-02-14 08:28] Girgetto commented on #1237
@spyshower could you please provide a log of the failing test?

[2020-02-14 18:23] profnandaa commented on #1237
My bad, forgot to close this or add a `closes #...` on merge commit. Thanks for the catch!

[2020-02-14 18:23] #1237 closed

[2020-02-14 18:30] profnandaa commented on #1155
Hey @AubreyHewes -- your concern is very valid, thanks for raising! We have some long-running open issues that sometimes were left with arguments unresolved, etc. I'm thinking of having a tag for such (for future "resurrection", if ever), and then just closing them.

You've already done a good job flagging some of them, and I'm closing them. Please do raise more that you find, that's still very go

[2020-02-14 18:32] #1157 closed

[2020-02-14 18:36] #590 closed

[2020-02-14 18:38] #635 closed

[2020-02-14 18:48] ezkemboi commented on #1155
@AubreyHewes thanks for raising concerns.

[2020-02-15 01:43] AubreyHewes commented on #1155
@profnandaa @ezkemboi retrospectively I apologize for being annoying posting this, though the point was that most(sic) open issues are already solved (not closed) will never be solved (wont do; should be closed) or have been solved (superfluous) so unsure how to help on issues.. thanks for the feedback. thanks for the lib. and all your hard work.

[2020-02-15 01:47] AubreyHewes commented on #1155
as reference we are also forking our own now, stability was the greatest concern

[2020-02-15 02:00] AubreyHewes commented on #1219
@ezkemboi @profnandaa so this has been fixed by a pr? which has been merged... so this issue can be closed? I don't get the codebase acceptance criteria...  I actually don't care anymore, was only  looking for adding another/new validation but this would maybe later.

[2020-02-15 02:05] AubreyHewes commented on #1201
a `NaN` is never a Number (it's in the name)

@lucasmahle your examples do not describe your logic.. what do you actually want?

[2020-02-15 02:12] AubreyHewes commented on #1218
@hamzahejja there is a international standard(sic), that could be tested.. also  *CH and US has own standard).. none adhere to published "standards" maybe EU more than most.

If it stays a regexp I have no problem; if it entails downloading lists(dbs) to check against... well no.. that is the developers prerogative..

[2020-02-15 09:32] #1210 closed

[2020-02-15 10:36] #954 closed

[2020-02-15 10:39] profnandaa commented on #1155
@AubreyHewes -- ah, easy, it's all good :)

Could you expound more on the issue of forking for stability? Anything we need to make better?

[2020-02-15 10:41] profnandaa commented on #1219
Sure.

[2020-02-15 10:41] #1219 closed

[2020-02-15 10:43] profnandaa commented on #1218
@AubreyHewes -- I think Hamza was working on a regex.

[2020-02-15 11:53] profnandaa commented on #1102
I think there's no demand for this, let's see if someone resurrects it. At best this should be implemented as a DB check since the languages are finite... but the regex itself is simple.

[2020-02-15 11:53] #1102 closed

[2020-02-15 14:08] ezkemboi commented on #1245
@AubreyHewes based on the feedback received on #1159, @guischafer mentioned the following when I asked on the same

May be @profnandaa and @guischafer could add something on the same.

[2020-02-15 15:06] rubiin commented on #1188
@profnandaa i think this issue/question can be closed

[2020-02-15 15:06] #1115 closed

[2020-02-15 15:07] #1113 closed

[2020-02-15 15:08] rubiin commented on #1155
Also i noticed few issues for feature request were not closed even after their pr were merged. This could give false issues count .

[2020-02-15 15:09] guischafer commented on #1245
In my opinion, semantically would be better to have this two separated. They are, indeed, correlated, but I wouldn't expect to receive "true" as an return value from a isHSL function when passing a hsla string. Futhermore, I think mixing this two would expand, in a bad way, the responsability of the function. What do you guys think?

[2020-02-15 15:52] guischafer commented on #1221
I dont know if I agree with this issue. The readme file is pretty clear not only about the intent of this library, which is to validate and sanitize strings, but with what happens if you dont provide a string:

That being said, I would expect to receive "true" if the input is undefined, or even null, since that could be a possibly use case in this particular function.

E.g.:

[code]

I would expec

[2020-02-15 18:12] WillzMu commented on #1219
thanks @meshack-mbuvi

[2020-02-15 21:59] JefferyHus commented on #1221
You illustrated what I explained tho 👍

If `true` is to be returned for all other cases in your example, then things would be great.

[2020-02-16 11:56] ezkemboi commented on #1088
I am also thinking of taking a look at `isUUID()`
https://en.wikipedia.org/wiki/Universally_unique_identifier

[2020-02-16 11:59] ezkemboi commented on #1066
@Youssefares and @heiba your feedback is needed here so that we can see if there is something we can do or we close this issue.
Check my comments above.

Cc. @profnandaa.

[2020-02-16 12:01] ezkemboi commented on #992
I think I will have to do some investigation here.

[2020-02-16 12:05] ezkemboi commented on #1046
@amrHassanAbdallah PR welcome is welcome.

[2020-02-16 13:25] rubiin commented on #1088
last i checked, the uuid is working correctly . Unless the case can be reproduced, i dont think we need to set this as bug

[2020-02-16 13:38] ezkemboi commented on #1088
@rubiin, I think we will be going to close the issue if everything is doing well.
Though, I saw that `uuid 3, 4, 5 and all` in the code. I did not see the cases for `1,2`.
But, maybe @afram and @barbalex can help us get more clarifications.

Cc. @profnandaa.

[2020-02-17 07:08] artorias111 commented on #1130
Hey! I can work on this issue if no one else is working on it right now.

[2020-02-17 18:59] #1088 closed

[2020-02-17 19:05] #1218 closed

[2020-02-17 19:12] profnandaa commented on #1130
@artorias111 -- I don't think anyone else is working on it, please go ahead.

/cc. @chriso -- any history lesson on why `isDate` was deprecated?

[2020-02-17 19:20] profnandaa commented on #1155
@rubiin -- please ping me on such threads, it must be an oversight on my/our part.

[2020-02-17 19:23] #1188 closed

[2020-02-17 19:30] profnandaa commented on #989
See [my comments here](https://github.com/validatorjs/validator.js/pull/1103#issuecomment-586583245).

[2020-02-17 19:44] rubiin commented on #1155
@profnandaa sure.  I will tag you if i came across such issues

[2020-02-20 06:13] lytes20 commented on #1245
I would love to pick this up, can I take it up?

[2020-02-20 08:44] ezkemboi commented on #1245
@lytes20 please raise a PR.

[2020-02-23 04:53] kurisu-gh commented on #1245
Upon refining PR https://github.com/validatorjs/validator.js/issues/1156, I agree with @AubreyHewes to simply redirect to the `isHSL()` validator. Further research into `hsl()` revealed that `hsla()` is merely an alias to `hsl()`. `hsl()` supports an optional 4th parameter for the alpha channel. In fact, you can use `hsla()` with only 3 parameters (without alpha) and it will still work because it

[2020-02-23 05:32] ezkemboi commented on #1245
#1159 will close this issue @profnandaa.

[2020-02-23 14:14] #1245 closed

[2020-02-23 15:09] kurisu-gh opened #1252 "Suggestion: modular CSS regex checks"
While working on PR https://github.com/validatorjs/validator.js/pull/1159, I found myself constantly refining how I checked for the CSS `<number>` value and often having to replace the same pattern in multiple places of the larger regex pattern for the `isHSL()` check. I realized I should have assembled the regex pattern in a modular way but then I thought this can be done at a more global level t

[2020-02-24 02:01] sishenwuda opened #1253 "isURL()"
`validator.isURL('http://_.test.com',{allow_underscores:true});` is false

[2020-02-25 05:07] profnandaa commented on #1253
Not sure if `_` alone should pass for a sub-domain...

[2020-02-25 05:10] profnandaa commented on #1252
There's something that @hamzahejja [did here](https://github.com/validatorjs/validator.js/blob/master/lib/util/multilineRegex.js), I don't know if it goes in line with what you are talking about? And how can we use it in the cases you mentioned?

[2020-02-25 09:26] kurisu-gh commented on #1252
Thank you for pointing that out. I'll keep that in mind moving forward. I think that would serve as part of what I was suggesting to finally "glue" together the final regex pattern composed of re-usable, modular patterns.

The re-usable patterns would be a set of globally available regex patterns (or I guess you can say sub-patterns) concerning a CSS [`<number>` ](https://developer.mozilla.org/en-

[2020-02-25 13:55] profnandaa commented on #1252
I like the thinking 👍

./na

On Tue, Feb 25, 2020 at 12:26 PM Chris <notifications@github.com> wrote:

--
Sent from a tiny device while on the move.

[2020-02-26 14:46] rubiin commented on #1221
I agree with @guischafer , adding that would divert it from its original intentions and bloat the lib

[2020-02-27 19:55] gromovadarya90 opened #1254 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:04] renata2216 opened #1255 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 09:30] johannesschobel commented on #1209
This Issue can be closed @profnandaa @ezkemboi @chriso - housekeeping ;)

[2020-02-28 09:33] johannesschobel commented on #1194
i think, the main reason to still use `js` here instead of `ts`, is to be able to use it in vanilla js projects / frameworks. However, serving its own `.d.ts` (typings) would certainly be a good idea.

What do you think?

[2020-02-28 09:49] johannesschobel commented on #966
i think this issue can be closed @ezkemboi @profnandaa

[2020-02-28 09:52] #1209 closed

[2020-02-28 23:03] fireflysemantics opened #1261 "[Question] How can we better support TypeScript?"
Trying to use `@types/validator` and getting errors.  I asked the question on SO here.  Curious if anyone else is having the same issue?

https://stackoverflow.com/questions/60457757/typescript-imports-for-valiatorjs-failing

[2020-02-29 01:24] fireflysemantics commented on #1261
This works:

`import validator from "validator"`

But that imports all of validator.  In version 11 these types of imports used to work:

`import { isDivisibleBy } from "validator";`

I assumed that this was tree shakeable.  I'm using validator in this project:

https://www.npmjs.com/package/@fireflysemantics/is

And each function is a typescript export.  If validator is imported as a whole, then

[2020-02-29 04:20] #966 closed

[2020-02-29 04:49] #1144 closed

[2020-02-29 05:03] profnandaa commented on #1261
I think `@types` has not been updated with the latest validator.js. I don't know how to go about it, perhaps you might have some idea? This must have been the last PR - https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40491

There's another requests to add our own typing here, perhaps as the primary source of truth; and then mirror it on _DefinitelyTyped`, see conversation in #1194 #789

/c

[2020-02-29 08:29] johannesschobel commented on #1261
If you offer own typings, you don't need to add them to DT anymore.

[2020-02-29 23:37] malkhuzayyim opened #1262 "Minor issue: validator isn't detected with VSCode IntelliCode"
First of all, thank you for the great work with maintaining this.

Just one minor issue I'm encountering:
Usually intellicode seamlessly detects & autocompletes available props on any imported package. With this one, it doesn't detect any autocomplete options at all, which is kind of unusual.

Importing with ES5 syntax: `const validator = require("validator")`

And it does work as expected, just n

[2020-03-01 13:58] fireflysemantics commented on #1261
Hmmm ... I upgraded this library to the latest version of validator using the import I described:

https://www.npmjs.com/package/@fireflysemantics/is

But now I'm getting errors:

So I'm thinking the easiest thing to do is just rewrite the library in typescript and offer a `validator-ts` package.

Thoughts?

[2020-03-01 16:28] profnandaa commented on #1261
@fireflysemantics -- I wouldn't call that the easiest option though...
@johannesschobel -- it looks to me that most libraries have stuck to using DT as a way of supporting TS types, a good example being `lodash`. I'd generally advocate for having the lib stay on JS, and have TS types supported separately.

[2020-03-01 18:28] fireflysemantics commented on #1261
I think I'm going to have a go rewriting the whole thing in Angular Package Format.

https://docs.google.com/document/d/1CZC2rcpxffTDfRDs6p1cfbmKNLA6x5O-NtkJglDaBVs/mobilebasic

This will compile support in for all the popular package formats and provide typescript typing.  Did a small write up here:

https://medium.com/@ole.ersoy/creating-an-angular-9-npm-library-1a658ecfa3dc

When TS types are s

[2020-03-01 21:32] fireflysemantics commented on #1261
Here's what the `toDate` function would look like in Typescript with default exports removed (Because - https://blog.neufund.org/why-we-have-banned-default-exports-and-you-should-do-the-same-d51fdc2cf2ad):

[code]

This would be exported from the public surface (`public-api.ts`) like this:

[code]

IIUC this should produce tree shakeable utility methods.

[2020-03-02 00:38] Ravaj commented on #1262
As a temporary solution, Intellisense working if you use it like validator.default.isEmail() you can see the functions etc. after default. For example check pic below.

[https://imgur.com/d0matNI](url)

I'm having same issue on another module as well. So there is a chance that this might be VS Code problem rather than validator's.

[2020-03-02 01:01] fireflysemantics opened #1263 "Converting isIP to Typescript?"
Just wanted to double check this implementation with ya'll.  I put single quotes around `4` and `6`, since they should be strings IIUC.

[code]

[2020-03-02 01:04] fireflysemantics commented on #1261
https://github.com/validatorjs/validator.js/issues/1263

[2020-03-02 01:13] fireflysemantics opened #1264 "isLatLong Missing Function Name"
https://github.com/validatorjs/validator.js/blob/master/src/lib/isLatLong.js

https://github.com/validatorjs/validator.js/blob/master/src/lib/isPostalCode.js

[2020-03-02 02:44] fireflysemantics commented on #1263
Also if someone could look over `isISBN`that would be awesome as well.  I added `parseInt`to convert chartAt string to integers:

[code]

[2020-03-02 05:07] fireflysemantics commented on #1264
The context for this issue is this article:

https://blog.neufund.org/why-we-have-banned-default-exports-and-you-should-do-the-same-d51fdc2cf2ad

[2020-03-02 08:24] johannesschobel commented on #1261
@profnandaa , i wouldn't say, that it is the "go to strategy" to use DT. The major issue with DT is, that **it is a separate repostiory** where you need to publish your changes. Often, the library repository is managed by the core-developer team, and the DT repository is maintained by the community. So the "DT interface" often differs / does not reflect the current state of the library itself.

I

[2020-03-02 08:39] johannesschobel commented on #1264
Dear @fireflysemantics ,

please provide a detailed explanation of the problem, describe WHY it is a problem and maybe propose a solution for this. Don't just copy/paste some links - nobody wants to read some articles and then think about it, WHY this MAY be an issue for you / others.

Thanks a lot!

[2020-03-02 08:43] johannesschobel commented on #1263
Dear @fireflysemantics ,

that is not really an issue, right? You are proposing a re-write of specific parts of the library to TS. I am not sure if this should be discussed in an issue. What, if everyone starts to propose the rewrite of specific methods in issues? the maintainer would drown in issues **that are actually not real issues with the library**.

also - before starting to propose TS impl

[2020-03-02 11:37] eightshone commented on #1263
Hi @fireflysemantics ,
First, this is not an issue. Also, why do you want to change the code from JS to TS?

[2020-03-02 15:41] profnandaa commented on #1194
Let's all converge and finalize the discussion on this thread here #1261

[2020-03-02 15:41] #1194 closed

[2020-03-02 15:42] profnandaa commented on #1261
Renaming this issue, and converging all TS conversations to this thread.

Calling on #789 #247 #662 #1194

[2020-03-02 15:54] profnandaa commented on #1261
So, a rewrite is out of question. Looks like viable proposals we have right now are:

1) Add types alongside the library (for easy maintenance), as opposed to doing it from [DT](https://github.com/DefinitelyTyped/DefinitelyTyped)
2) Find a way of keeping DT up-to-date (uphill task coz of lack of autonomy)
3) `[my addition]` Have a separate repo here in the `validatorjs` org specifically for types

[2020-03-02 16:12] johannesschobel commented on #1261
From the practical point of view, I think the only viable solution is 1

[2020-03-02 20:28] malkhuzayyim commented on #1262
@Ravaj  The workaround you mentioned works for me. Thanks. I'll let the maintainers decide if this should be closed or not, I'll keep it open until they take action on it.

[2020-03-03 09:09] fireflysemantics commented on #1261
I'm almost done with the rewrite.  I'll push it to this repository when it's complete:

https://github.com/fireflysemantics/validatorjs

I'm hoping you will accept the changes and fork it back.

This is what I have done:

# Angular Package Format

This is what I used.  It means that all the popular package formats will be supported right out of the box (UMD, ES6, commonsjs, etc.) with each compile

[2020-03-03 09:20] fireflysemantics commented on #1261
Another thing I noticed is that Typescript "Caught" some things that I think are errors.  I've asked about them in other implementation related issues for `isIP` etc.  Things like 4 and 6 should be strings within the implementation I believe.  Typescript at least thought so ...

[2020-03-03 10:08] profnandaa commented on #1261
@fireflysemantics -- please check previous conversation above and respond.

[2020-03-03 10:15] profnandaa commented on #1262
Sure, we can close this for now; but will keep a close eye if we have a recurrence.

[2020-03-03 10:15] #1262 closed

[2020-03-03 14:10] fireflysemantics commented on #1261
@profnandaa my response is outlined above.

[2020-03-04 00:40] fireflysemantics commented on #1264
Refactoring
Default exports make large-scale refactoring impossible since each importing site can name default import differently (including typos).
// in file exports.js
export default function () {...}
// in file import1.js
import doSomething from "./exports.js"
// in file import2.js
import doSmth from "./exports.js"

[2020-03-04 00:40] fireflysemantics commented on #1264
import doSmth from "./exports.js"
On the contrary, named exports make such refactoring trivial.
Better tree shaking
Sometimes you can be tempted to export one huge object with many properties as default export. This is an anti-pattern and prohibits proper tree shaking:
// do not try this at home
export default {
  propertyA: "A",
  propertyB: "B",
}
// do this instead
export const propertyA = "A";

[2020-03-04 00:41] fireflysemantics commented on #1264
I've fixed this stuff in the Typescript conversion, so it's free :).  Just something to be aware of.

[2020-03-04 00:42] fireflysemantics commented on #1264
The solution is to use named exports only.

[2020-03-04 01:16] fireflysemantics commented on #1261
I pushed the files:

https://github.com/fireflysemantics/validatorts

This is the Angular Library Package Format Section of the project:

https://github.com/fireflysemantics/validatorts/tree/master/projects/validatorjs/src

I'll deploy to verdaccio now and test out imports.  When all is well I'll also add it to NPM.

[2020-03-04 02:40] fireflysemantics commented on #1261
This is what the `package.json` that is built using `ng build validatorjs`:

[code]

Notice the module formats that are now generated for free, in addition to typescript definitions.

Here's a stackblitz demo:

https://stackblitz.com/edit/typescript-validatorts-demo?file=index.ts

Here's the NPM version:
https://www.npmjs.com/package/@fireflysemantics/validatorts

ValidatorJS now has:
- Support fo

[2020-03-04 05:25] johannesschobel commented on #1261
Why do you use angular and not "pure" ts? Angular will add a lot of dependencies for this project that may not be needed at all!

[2020-03-04 08:40] fireflysemantics commented on #1261
@johannesschobel The build is using the Angular Package Format.  Look at the `package.json`.  There's only on peer dependency on `  "tslib": "^1.10.0"`.

The benefit of using the Angular Package Format and the Angular CLI for the build is that we get all the module formats built for us for free, in addition to the type definitions.  The rest is the same.

[2020-03-04 14:26] tux-tn commented on #1261
Hello,
Concerning the current conversation, i think having a separate repo to handle TS type would be the easiest way to go.
I am trying to understand the need behind the rewrite you are doing @fireflysemantics . Switching software paradigm in a project can't be done without a practical and explicit need (Of course, you are free to fork and do your rewrite since it's an OSS project).
Your main iss

[2020-03-04 14:40] fireflysemantics commented on #1261
@tux-tn  The rewrite is done and there are lots of other benefits, including now having the same paths for all imports regardless of whether you are doing tree shaking or not.

For example this has three issues:
[code]

### Default Imports
One is it used default imports so developers don't have to call the  `isEmail` validator `isEmail`.  They can call it `isE` or `isEmailV` or anything they like

[2020-03-04 15:28] fireflysemantics commented on #1261
It's fine.  I respect that ya'll want to stick with what you have.  I needed the conversion and will be adding more tests / typed interfaces for options / etc. and this will make the development experience much richer for me personally.  Who knows maybe ya'll will come to like it as well one day :)

[2020-03-04 15:35] tux-tn commented on #1261
@fireflysemantics the beauty of open source is that you are free to do or use whatever you want. Good luck with your project 😃

[2020-03-05 17:59] profnandaa opened #1266 "chore(README): add the supported locales for various validators"
e.g. `isPassportNumber`, etc.

[2020-03-05 18:01] #1264 closed

[2020-03-05 18:01] #1263 closed

[2020-03-05 18:02] #989 closed

[2020-03-10 13:39] fireflysemantics commented on #1261
Added these types for `isMobilePhone`:

[code]

I believe the last three are missing regexes in the corresponding `validator.js` package:

https://github.com/fireflysemantics/validatorts/blob/master/projects/validatorts/src/lib/validators/isMobilePhone.ts

[2020-03-11 18:22] GoMino commented on #951
It's seems to be possible to add an emoji to the IBAN, and it will still pass the validation, could you fix this ?

[2020-03-11 18:48] ezkemboi commented on #951
@GoMino, I will try to reproduce that bug, but don't hesitate to raise a PR or solution in case you come across the best possible way to resolve the issue.

cc. @profnandaa

[2020-03-11 19:49] GoMino commented on #951
@ezkemboi pull request created! thanks

[2020-03-13 12:32] tux-tn commented on #1266
@profnandaa i was thinking about fixing it the other day and i had a little concern, should we rename ```countryCode``` to ```locale``` to have consistent naming across the lib?

[2020-03-15 17:20] profnandaa commented on #1266
@tux-tn -- sure, standardization will be great. However, we will have backward compatibility to deal with.

[2020-03-16 09:20] tux-tn commented on #1266
@profnandaa can i work on a PR where we can accept a string and an array as a parameter and rename it to locale in the documentation?

[2020-03-16 16:45] elaya-nsure commented on #765
make sure you're using Gmail address

[2020-03-20 23:46] steida commented on #1122
It's in version 13. Can be closed imho.

[2020-03-21 07:58] #1122 closed

[2020-03-21 10:32] pierregambaud opened #1269 "remove all whitespace from a string?"
Hi there!

Just discovered validator.js and it's already been a great help!

Is there a **validator that removes globally extra whitespace in a string**? So far, it seems there are only trim validators that remove whitespace from left, right or both sides of a string.

`str = "   foo    bar   " // result "foo bar" `

Thanks a lot!

Pierre

[2020-03-21 12:10] profnandaa commented on #1269
Hey @pierregambaud -- you mean something like this?

[code]

[2020-03-21 13:23] pierregambaud commented on #1269
hey @profnandaa -- yes, exactly :)

[2020-03-21 13:45] #1269 closed

[2020-03-22 04:06] mum-never-proud commented on #1130
please have a look at the PR, I am in need of this implementation thought of doing it let me know if any changes are needed

thanks!

[2020-03-22 18:37] profnandaa commented on #1261
@fireflysemantics -- looks like you met your objectives, I'll go ahead a close this issue, and open a fresh one to discuss viable TS options we would like to take for the library. Thanks!

[2020-03-22 18:37] #1261 closed

[2020-03-22 18:39] profnandaa opened #1271 "discussion: support for TypeScript"
This is a fresh take at #1261

Re-posting my initial thoughts:

So, **a rewrite is out of question**. Looks like viable proposals we have right now are:

1) Add types alongside the library (for easy maintenance), as opposed to doing it from [DT](https://github.com/DefinitelyTyped/DefinitelyTyped)
2) Find a way of keeping DT up-to-date (uphill task coz of lack of autonomy)
3) `[my addition]` Have a

[2020-03-22 18:40] profnandaa commented on #1271
Ref #789 #247 #662 #1194

[2020-03-22 18:41] profnandaa commented on #1266
@tux-tn -- can give an example?

[2020-03-24 06:52] lifenstein opened #1272 "`String.prototype.includes()` is not supported in IE"
Is IE a supported browser? If so, https://github.com/validatorjs/validator.js/blob/master/validator.js#L429 has a call to `String.prototype.includes()`, which fails in IE as it is not available on that browser.

A polyfill is available at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes

[2020-03-24 08:20] danielstorch commented on #1046
I'm doing something similar like this:

[code]

Since im using `strict: true`, i would expect `2020-03-24 08:16:47.297Z` without the `T` or something like `2020-03-24` not to pass. But in my example it does.

Only structure like this `2020-03-24T08:16:47.297Z ` should be valid.

[2020-03-28 09:08] mum-never-proud opened #1274 "isSemVer returns false for valid versions"
here are the few valid ones that are returned false by the current implementation

- 1.0.0-alpha
- 1.0.0-alpha.beta
- 2.0.1-alpha.1227

I can probably raise a pr to fix this with few upvotes:)

[2020-03-28 09:39] profnandaa commented on #1274
For sure, please send the PR 👍

[2020-03-28 09:43] profnandaa commented on #1046
Send a PR please

[2020-03-28 12:33] profnandaa commented on #1272
@lifenstein -- do you need to add the polyfill from your end? 🤔

[2020-03-28 14:08] hamzahejja commented on #1274
@mum-never-proud
https://github.com/validatorjs/validator.js/pull/1246/files#diff-dc3a611aadde9b07998954c7eb5ac538R3698-R3700

Check the above lines of my Pull Request, I already included the first two semantic versions you stated: **1.0.0-alpha** & **1.0.0-alpha.beta** in the testcases as **Valid** cases (i.e. cases for which the validator returns true) and the tests are passing meaning the funct

[2020-03-28 15:00] profnandaa commented on #1274
@hamzahejja -- thanks for checking this out. @mum-never-proud -- please confirm...

[2020-03-28 16:40] mum-never-proud commented on #1274
my bad looks like my mistake, now it's working maybe there might have been a problem while copying and pasting in the textbox

closing the issue

[2020-03-28 16:40] #1274 closed

[2020-03-28 16:42] mum-never-proud commented on #1272
@profnandaa I guess we have two options here,

either use a polyfill-package or write our own, I would rather suggest going with the later one

your thoughts?

[2020-03-29 19:55] profnandaa commented on #1272
@mum-never-proud -- How about just having a backward compatible `.include` equivalent, for that line instead? Good old `.indexOf`

[2020-03-29 23:01] MovingGifts opened #1275 "readme bundle size reduction clarification?"
Hello in the `readme` it mentions both ways to reduce the bundle size:

Or, import only a subset of the library:

`import isEmail from 'validator/lib/isEmail';`

Tree-shakeable ES imports

`import isEmail from 'validator/es/lib/isEmail';`

How do these differ? Does one of them make a smaller bundle size than the other?

[2020-03-30 00:36] mum-never-proud commented on #1272
yep works shall I raise a pr?

cc:  @profnandaa

[2020-03-30 06:15] profnandaa commented on #1272
For sure. Also scan to see if there’s another use of this or the newer
array/string methods anywhere else.

Thanks!

./na

On Mon, Mar 30, 2020 at 3:36 AM mum-never-proud <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2020-03-30 08:20] mum-never-proud commented on #1272
@profnandaa I still think to install a polyfill rather than using `indexOf` (may lead to confusion) and isn't clear.

like there's a case in our code

`!arr.includes(0)` -> `arr.indexOf(0) < 0` doesn't look much readable to me

in future some other function may not work in IE, either drop support for IE or include polyfill (prefer this)

moreover, it's always better to include a polyfill since we

[2020-03-30 12:56] lifenstein commented on #1272
I've used the polyfill from MDN for the time being, but it would be good to have it handled within validator. The IE (or browser support in general) isn't documented, so I was hoping to get that clarified as well, in case there are other places where it breaks. From the discussion, it seems all (atleast all popular-ish) browsers are expected to be supported, so perhaps adding browser testing is go

[2020-03-30 14:34] profnandaa commented on #1272
May be users could include polyfill from their end? I feel doing so from our end introduces unnecessary overheads.

@lifenstein -- I agree on having some tests against minimum browser versions.

[2020-03-30 21:08] rkoziel commented on #1130
Is the isDate() validator now available to use?  I am needing this validation for a project I am currently working on.

[2020-03-30 23:21] dok commented on #1253
Yep, I'm seeing this as well. See [here](https://runkit.com/embed/vom246ind5pg)

Mind if I make a PR for this fix?

[2020-03-31 03:00] mum-never-proud commented on #1212
@profnandaa I couldn't find a method with this name, has it been renamed or yet to be implemented?

would raise a pr is not already implemented

[2020-03-31 03:07] mum-never-proud opened #1276 "[FEATURE REQUEST] deburr"
deburrs a string with the following characters found in

- Latin-1 Supplement
- Latin Extended-A

to basic Latin Characters

`deburr('déjà vu')` yields `deja vu`

**lodash** already has it, thought of implementing in validator.js

would love to raise a PR if needed

[2020-03-31 03:09] mum-never-proud commented on #1272
I really don't think its a good idea to expect a user to use a polyfill

[2020-03-31 08:14] profnandaa commented on #1130
@rkoziel -- currently in review #1270

[2020-03-31 10:15] tmikaeld commented on #1212
@mum-never-proud Doesn't seem to be implemented, the PR that's been merged seem to be empty. Since the ball has been dropped, feel free to make a new PR.

[2020-03-31 11:29] profnandaa commented on #1276
What would be the purpose of this?

[2020-03-31 11:32] profnandaa commented on #1272
What does creating our own polyfill entail? And how much will it add to the current footprint?

[2020-03-31 12:11] profnandaa commented on #1253
@dok -- you test case is a different one, can you add `allow_underscores`?

[2020-03-31 12:13] profnandaa commented on #1212
Sure.

[2020-03-31 13:27] rkoziel commented on #1130
Is there an ETA on when this may be available?

[2020-03-31 15:48] profnandaa commented on #1130
@rkoziel -- best bet, (end of) April release.

[2020-04-01 04:53] mum-never-proud commented on #1212
cool, I have raised the PR :)

[2020-04-01 05:00] mum-never-proud commented on #1276
I find it handy to clean acute accent letters, i.e. converting acute accent letters to plain English

I am not sure how large the audience will be for this, so I wanna know your thoughts on having this will be helpful to others?

[2020-04-01 08:43] profnandaa commented on #1276
I feel like it could be bordering a little beyond the scope of the library; now that conventionally been doing pure _validation_, other than _sanitization_. I might be wrong, let me hear what the rest think...

[2020-04-02 09:23] mum-never-proud commented on #1145
@profnandaa IDK if it's in the final stage before the merge, however, I would like to propose a better solution for this

we can return the `score` instead of returning `true` or `false`

the pro's of this is the user can allow passwords with a tolerable score for e.g 8 / 10 is not necessarily an insecure one

I have done the math by going through refs and would like to put some light if intereste

[2020-04-03 00:44] rmuchall opened #1278 "isHexColor validation bug"
isHexColor() incorrectly validates the string "fff0" as a valid hex color.
https://codepen.io/rmuchall/pen/PoqvoWw

Thanks! :)
[code]

[2020-04-03 03:40] mum-never-proud commented on #1278
I am not much into these colors and CSS

the hex color code can also be represented as `#RGBA` where `A` is alpha

to me, it does sound like a valid color

`fff0` code translates as white transparent

[2020-04-03 07:35] rmuchall commented on #1278
My apologies for the incorrect bug report. I didn't consider that the rgb + alpha channel could be represented as a 4 digit hex code.

The reason I thought this may be a bug is because the validatorjs library behavior had changed between versions. However I see now this is an improvement and not a bug.
[code]

Many thanks for your swift response and for an awesome library :)

[2020-04-03 07:35] #1278 closed

[2020-04-04 09:12] profnandaa commented on #1145
@mum-never-proud -- sure, go ahead, let's have a look. How about if it was true/false by default (just like the other methods); but then if a user prefers to get the scores can add an extra config object as a parameter eg. `{ score: true }`?

[2020-04-06 17:14] #1130 closed

[2020-04-13 20:14] joelmukuthu commented on #1106
Hi, were there any breaking changes in v13?

I have gone through the list of commits and I'm afraid I can't figure it out.

Have you considered using a changelog generator since you use conventional commits?

[2020-04-14 14:44] deadcoder0904 commented on #1271
Would love support for this :)

How do I use Tree-Shaking with TS if anyone's got ideas?

I have already installed `@types/validator` from DT & would love to incorporate tree-shaking as well with it.

It currently gives errors if I directly use it from `es/*` libraries as they don't have types associated with them

[2020-04-18 07:57] profnandaa commented on #1106
@joelmukuthu -- thanks for the heads-up. I'm not sure if [this](https://github.com/validatorjs/validator.js/commit/c109ace77ada1dc4a5c96ce386db8e9be127350a) could be treated as a breaking change since initial tests that were passing will now fail...

But @chriso can clarify v13 jump.

[2020-04-19 17:44] christopherbclark opened #1282 "Is there a way to include isAlpha with spaces yet?"
I saw a thread from 2018 where it was suggested that this feature would not be implemented. Has anyone revisited this recently? It's a huge gap, in my opinion. If it is available now, could someone please direct me on how to use it?

[2020-04-19 22:02] ezkemboi opened #1283 "Add isVowel() validation function"
## Just thought maybe it can be supported
I am not sure if it is logical to add support of function to check if a str provided is a valid vowel.
In that case, I raised a PR for the same.

[2020-04-19 22:12] ezkemboi commented on #1282
@christopherbclark can you give an example of the input you are trying to validate for clarification.
I might help easily check if it is available or not. If it is not available and worth adding (With people vote for it), definitely it can be added and made available in the next version.

[2020-04-20 12:42] christopherbclark commented on #1282
Sure! So, for example, if I had a database field for "project name", and I only wanted it to include letters, and spaced. Looking for a validator that would accept "My Awesome Project", but reject "My Awesome Project 99". Right now, I think both would be reject using isAlpha because they include spaces. From the earlier stuff I read, this is because a space is neither alpha or numeric, and therefo

[2020-04-20 13:44] ezkemboi commented on #1282
I get your point @christopherbclark. At the moment, `isAlpha()` does not accept that.
Unless people vote for the addition of `isAlpha()`  with an option to have `spaces` or create something like `isAlphaWithSpace()`

[2020-04-21 18:04] profnandaa commented on #1282
I'd suggest just adding a config object as we've been doing with the rest, scales better, so -> `isAlpha(str, locale, { config object }`

How about if we had an `ignoreList` instead that lists characters in a string?
[code]

[2020-04-21 18:21] profnandaa commented on #1283
I feel like this feature might be very locale specific... I'm not sure if most languages have this notion of vowels, I may be wrong.

[2020-04-21 19:39] ezkemboi commented on #1283
@profnandaa I think so. Though, @tux-tn had suggested for the addition of other languages such as `french`.
I am not sure how many languages do such have vowels?

[2020-04-21 19:41] ezkemboi commented on #1282
Looks great suggestion @profnandaa.

[2020-04-21 20:06] christopherbclark commented on #1282
I agree. Can we put @profnandaa ‘s idea to a formal vote? I think a feature like that would be super cool.

[2020-04-22 03:24] londonfox commented on #796
"George Henry, Moore Williams"
"Los Angeles"
"New York"
_The list goes on..._

That fact that I'd have to extra work to split the values doesn't make sense, when we could just pass a parameter (as proposed above) to allow spaces.

[2020-04-22 08:25] profnandaa commented on #796
@AshHogarth @londonfox -- discussion resumed here - #1282

[2020-04-23 05:32] mum-never-proud commented on #1282
we definitely need more consider edge cases and write more test case I hope this should be the beginning

**note** I forgot to update fork, will clean up

[2020-04-23 14:37] mum-never-proud commented on #1046
@profnandaa I have a quest

https://github.com/validatorjs/validator.js/blob/4e0fc27427ef8cda7d18f6e2c1c6b28baa6bb594/src/lib/isISO8601.js#L7-L35

can't this implementation be replaced by `isDate` (we already have) for stricter dates, it works more or less the same to me

your thoughts?

[2020-04-25 15:38] rubanshah opened #1287 "validatror isSlug() not working properly"
``` validator.isSlug('adfAA ()');```  returns true
it should not allow white space

[2020-04-26 09:42] profnandaa commented on #1287
Bug confirmed; PR welcome.

[2020-04-29 05:18] abhieshekumar opened #1288 "Add country to validate passport number."
I was going through the passport validator source code and noticed that a few countries were missing. Can I add those countries to the list?

[2020-04-30 23:36] joshuarize commented on #1264
@fireflysemantics how did you use typescript to fix this issue?

[2020-05-01 08:10] danielefiungo commented on #1262
Same problem here, I suggest this as workaround:

`const { default: validator } = require('validator');`

 avoid the `validator.default.`

[2020-05-02 16:55] almelyan-ly opened #1290 "Valid phone number from Libya"
Hello everyone, we need add `'ar-LY'` locale in` isMobilePhone.js` lib to do validation for Libya internal phones and mobile phones
country code : `+218`
**format internal phones** : `( [+]?[218]|[0] )? [AA[A]?] [XXX-XXX[X]?]`
`[A]` area codes : range 2 or 3 digits
`[X]` phone number : 6 or 7 digits
**format mobile phones** : `( [+]?[218]|[0] )? [9][1-5] [XXX-XXXX]`
company codes : range 91 to 95

[2020-05-03 14:44] VusalIs commented on #1287
Hi. I found this solution (https://stackoverflow.com/questions/22454258/js-regex-string-validation-for-slug). If this regex suitable for the purpose of function, I would like to make a pull request.

[2020-05-03 20:38] meness opened #1291 "Support IBAN for Iran"
Please support IBAN for Iran. It is demonstrated [here](https://en.wikipedia.org/wiki/International_Bank_Account_Number) (`IRkk 0bb0 nnnn nnnn nnnn nnnn nn`).

I also created a regex based on already defined ones ([Test it](https://regex101.com/r/TLR3yu/1)) (`^(IR[0-9]{2})0\d{2}0\d{18}$`).

[2020-05-04 01:00] btd1337 opened #1292 "IsCurrency symbol validation error"
Hi devs,

I'm trying use BRL currency in @IsCurrency options, but when I use this setting the validator fails:

[code]

Value: `R$ 1.400,00`

[code]

But changing symbol to `$` it works:

[code]

Value: `$ 1.400,00`

[code]

Changing symbol to `$R` it unbelievably too works!

Why? Where is error?

PS: My app uses single quotes in Prettier Formatter

[2020-05-04 19:51] vlapo commented on #1292
Thank you! Lets see what validator.js maintainers will says.

[2020-05-05 03:12] mum-never-proud commented on #1046
**pong** @profnandaa

[2020-05-05 18:26] profnandaa commented on #1046
@mum-never-proud -- do all the previous tests pass, with a replacement? If yes, we could require `isDate` module within this...

[2020-05-05 18:32] profnandaa commented on #1292
PR welcome.

[2020-05-05 18:33] profnandaa commented on #1291
Thanks! Please create a PR.

[2020-05-05 18:34] profnandaa commented on #1287
@VusalIs -- I'd prefer fixing the specific error other than a new regex altogether.

[2020-05-05 18:35] profnandaa commented on #1290
@almelyan-ly -- already looks good, can you create a PR for this? See previously done from the commit list...

[2020-05-05 23:11] almelyan-ly commented on #1290
PR has been created on [#1294](https://github.com/validatorjs/validator.js/pull/1294)

[2020-05-06 15:54] rcollette commented on #1271
@deadcoder0904  - I imported like
[code]
That's as small as you'll get for tree shaking with TS alone, otherwise you need Webpack or something similar to get tree shaking.

[2020-05-06 16:00] rcollette commented on #1271
@profnandaa  - I'm curious why the comment about not wanting to rewrite.   JS is TS.  There shouldn't be a need to rewrite anything.

You could just rename the files to TS and apply type information.  You have the option to compile to multiple targets if you want ES5, etc.

If you don't want to write TS at all, you could use JSDoc, perform type checking with the compiler to ensure usage is consist

[2020-05-06 18:26] ali5991jalali opened #1296 "Support Iran phone number validation"
Please support Iran phone number
I developed regex for that you can Test here (https://regex101.com/r/7WJlyo/1)

[2020-05-06 21:56] Subalee commented on #1094
While it is technically valid i believe there should be some sort of option for this?

From what I've read the organization that approves new tlds (ICANN) only approves domain every few years for a sum of $200k.

It would make sense to have an option for this such as: `require_official_tld` with default set to `false`

[2020-05-08 22:50] AubreyHewes commented on #1271
@profnandaa You do not need to mirror own types to TD.. TD started as a repo of libraries that had no types. (read npm packages without types). It is not the repo for types. The idea is that packages provide own types (authored by the package) and that TD / `@types/etc` slowly disappears

In the next version that has own types.. simply supply the types within the package.. anyone using TS will, af

[2020-05-09 16:31] ali5991jalali opened #1298 "Check a value is object or not"
One of the problems in working with validator is checking isArray and isObject
I can solve this issue on my own and add it to project

[2020-05-09 18:42] rubiin commented on #1298
@profnandaa can i do pr on these two new validators?

[2020-05-09 18:45] rubiin commented on #1296
@profnandaa @ezkemboi i can add this. seems to be missing

[2020-05-10 06:42] profnandaa commented on #1296
Sure, please do.
./na

On Sat, May 9, 2020 at 9:45 PM Rubin Bhandari <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2020-05-10 11:13] rubiin commented on #1298
@profnandaa here too

[2020-05-11 06:22] rubiin opened #1300 "Deno support?"
As you already know, deno's first lts will be out in like couple of days. How about porting this lib for deno. I will be happy for porting

[2020-05-11 06:22] rubiin commented on #1300
@profnandaa @ezkemboi

[2020-05-11 06:53] ezkemboi commented on #1300
@rubiin I do agree with that suggestion.

[2020-05-14 10:28] LiangYuanchen opened #1303 "a phone number validate wrong from zh-CN"
I have a phone number 16565600001 (河北-衡水) can not validated，maybe need a upgrade
in isMobilePhone.js line 100
[code]

[2020-05-14 11:25] mum-never-proud commented on #1046
sure i will check @profnandaa btw what do mean by previous tests pass? tests for isDate?

like check if iso8601 tests passes in isDate?

correct me if i am wrng

[2020-05-15 14:05] aysiscore opened #1304 "isDate() is not a function"
Using the `isDate()` validator returns an error saying `isDate it is not a function.

[code]

The validator.js docs still say to use isDate() like such:
[code]

If `isDate()` is deprecated, why is it still in the docs as a valid method?

[2020-05-15 22:54] islasjuanp commented on #1304
Hi @aysiscore

'express-validator' (https://github.com/express-validator/express-validator) is  using the version 12.1.0 of validator library, so, isDate function is not available yet.

However, you can use 'isISO8601()' to validate dates or create a custom validators/sanitizers.
https://express-validator.github.io/docs/custom-validators-sanitizers.html

[2020-05-16 05:14] gustavohenke commented on #1304
Still, it's documented but not available.

[code]

[2020-05-16 20:56] islasjuanp commented on #1304
Hi @gustavohenke

That's correct, the function is not available yet because it was added after the release of the version 13.0.0.  You can check the commit where the function was added here: https://github.com/validatorjs/validator.js/commit/ff118442754747c07cacebd48ae31aea45b1305b

I assume it will be available soon in the next release of the library.

[2020-05-17 10:23] aysiscore commented on #1304
So is it available now?

[2020-05-17 11:26] aysiscore commented on #1304
Yes I am using 'isISO8601()` now but if `isDate()` is meant to work then I'd like to use that

[2020-05-17 14:46] mahendra-technorbit opened #1305 "Need to validate Gender."
I have some fixed values for the field gender Male, Female, I want user should enter only Male or Female, he should not able to enter Malee by mistake or intentionally. How I can achieve it.

[2020-05-17 16:56] islasjuanp commented on #1292
Hi @profnandaa ,
I was able reproduce it on a unit test. I would be glad of working on this issue if it still open.

[2020-05-18 03:01] almelyan commented on #1305
you can use `isIn(str, values)` function
where `str` is the value to check it and `values` is array of allowed
for example : `isIn(gender, ['Male', 'Female'])`
please always check **documentation** before open a issue

[2020-05-18 16:07] aberba opened #1307 "isLineNumber() ??"
Is there any interest in supporting line numbers? Would like to upstream my fork here with support for validating LAN line numbers.

[2020-05-19 00:05] igbominadeveloper opened #1308 "Strip unknown fields from request"
When users pass unknown fields different from the definitions in the validation schema, the request contains them in the controller. The validator should have an option of stripping out all these fields so it doesn't contain them

[2020-05-19 00:11] igbominadeveloper commented on #1308
wrong repo. Oops

[2020-05-19 00:11] #1308 closed

[2020-05-19 20:31] profnandaa commented on #1305
Sorry but not a valid request...

[2020-05-19 20:31] #1305 closed

[2020-05-19 20:36] #1292 closed

[2020-05-19 20:38] profnandaa commented on #1304
`isDate` will be in the next release, not released yet - https://github.com/validatorjs/validator.js/pull/1270

[2020-05-19 20:38] #1304 closed

[2020-05-19 20:40] profnandaa commented on #1046
Sure, that's what I mean. Sorry for the delayed response.

[2020-05-19 22:12] mriedem opened #1309 "isDecimal returns false for decimals in exponential notation"
I've got a value like this `3.53048874968162e-09` and `isDecimal` returns false for that. My workaround has been to call `toFixed(20)` on the number to convert it before passing to `isDecimal`:

[code]

It'd be nice if `isDecimal` could handle numbers in exponential notation so the workaround isn't necessary. The contentious point is probably in the number of digits passed to `toFixed`. I chose 20

[2020-05-19 22:14] mriedem commented on #1309
Actually that's probably error prone, e.g.:

[code]

So maybe for backward compatibility there could be a `fixed_digits` option which if not specified means `toFixed` isn't used but if it is specified that is used to convert to a Number and call `toFixed` on it to check if it's a decimal.

Or I just eat this and live with my workaround. 😄

[2020-05-19 23:17] stuartambient opened #1310 "Uncaught ReferenceError: isLength is not defined"
I've tried the function with standalone (no other validators) and also with and without options.  All ways ref error is returned. Using v12.2

[code]

So even if I do this :

[code]

I still get the reference error to this particular method.

[2020-05-20 15:22] islasjuanp commented on #1309
I would like to propose a different approach in order to solve this issue.
The idea is to have an option in order to allow exponential numbers and improve the decimal regular expression in order to accept exponential numbers.

The command will be something like
```validator.isDecimal('3.53048874968162e-09', {allow_exponential: true})```

[2020-05-20 15:39] mriedem commented on #1309
That works for me, but what would you use for the number of digits when calling `Number.toFixed()`? If it's a really small number the number of digits would matter so you don't end up with something like just 0. Or would you do something like attempt to split the string on `e` and get the number on the right side to determine the (minimum) number of digits?

[2020-05-20 16:20] islasjuanp commented on #1309
The idea is not to use functions like toFixed or split the string, but improve the regular expression used to validate decimal numbers instead.

[2020-05-24 20:09] rubiin commented on #1300
@ezkemboi i started working on this. Here is the repo https://github.com/rubiin/validator .

[2020-05-25 08:58] profnandaa commented on #1300
@rubiin -- this sounds good with me. If you don't mind, you can bring it on the validaorjs org, will check with @chriso

[2020-05-25 09:23] rubiin commented on #1300
@profnandaa sure

[2020-05-25 09:27] profnandaa commented on #1300
@rubiin -- I have made the fork - https://github.com/validatorjs/validator

[2020-05-25 09:35] rubiin commented on #1300
@profnandaa i will start working on that then .

[2020-05-25 09:38] profnandaa commented on #1309
What's the difference between float and decimal? There might lie the answer for this...

[2020-05-25 09:43] profnandaa commented on #1310
Can you include a snippet on how you are doing `require` for the validators?

[2020-05-25 09:44] profnandaa commented on #1303
PR welcome.

[2020-05-25 09:50] profnandaa commented on #1298
@ali5991jalali -- sure, send the PR.

[2020-05-25 09:51] profnandaa commented on #1298
Sorry, hold on, could you expound on this request? Give some usage example. @ali5991jalali

[2020-05-25 10:06] profnandaa commented on #1094
@Subalee -- you have a point; may be we need to re-think this... Let me here what the rest suggest.

[2020-05-25 10:10] #1290 closed

[2020-05-25 12:06] stuartambient commented on #1310
I'm doing this on the client / front side  (not server)
`import validator from "validator";`

[2020-05-25 12:11] profnandaa commented on #1310
Ok, should it then be `validator.isLength` instead?

[2020-05-25 12:50] stuartambient commented on #1310
Oh wow, it should.  I'll skip the reason I didn't catch this one.  Apologies.

[2020-05-25 14:59] profnandaa commented on #1310
No worries.

[2020-05-25 14:59] #1310 closed

[2020-05-25 16:23] parasg1999 commented on #1300
@profnandaa @rubiin checkout https://github.com/parasg1999/deno-validator

It's not complete but I have been porting everything as per TypeScript standards, and have also made testing compatible with Deno and the current validator.js style. If found suitable, we could integrate the repositories.

[2020-05-25 16:23] rubiin commented on #1300
@parasg1999 sounds good to me

[2020-05-25 16:28] parasg1999 commented on #1300
@rubiin How should we proceed?

[2020-05-25 17:35] rubiin commented on #1300
@parasg1999 you can clone https://github.com/validatorjs/validator-deno and then add all your source files in a branch. Then we can merge things

[2020-05-25 17:38] parasg1999 commented on #1300
@rubiin Sure! On it.
I wanted to make some issues there, but I am unable to see the issues tab. Could you please enable that?

[2020-05-25 18:05] profnandaa commented on #1300
@parasg1999 -- sorry, issues now enabled.
@rubiin -- I have made you admin of the repo, please proceed as you wish.

[2020-05-25 20:14] parasg1999 commented on #964
The test cases for isJWT are not correct. JWT is either 2 (in case of no signature) or 3 [dot] separated base64 strings. The test cases include symbols like **_** and **-** which are not valid base64 characters.

[2020-05-25 20:26] parasg1999 commented on #914
This issue is resolved. Please mark it as closed.

[2020-05-25 20:48] parasg1999 commented on #1296
@profnandaa #671 added this feature. This issue may be closed.

[2020-05-25 20:55] parasg1999 commented on #1197
@profnandaa
Fixed by #1199, please close.

[2020-05-25 20:57] parasg1999 commented on #1161
@profnandaa
Fixed in #1177, please close.

[2020-05-26 00:05] okwudav commented on #1300
Wow Wow Wow.

@parasg1999 i can't believe this. This was too close as i was about creating an issue in respect to Validator for Deno. Been working on it for some days too to support typescript.

Kindly check it out https://github.com/okwudav/deno-string-validator

@profnandaa

[2020-05-26 06:01] rubiin commented on #1300
@profnandaa sure

[2020-05-26 06:01] rubiin commented on #1300
i will check that asap

[2020-05-26 06:14] rubiin commented on #1300
you can send a PR for all the qork you have done on the https://github.com/validatorjs/validator-deno  repo

[2020-05-26 06:36] #914 closed

[2020-05-26 08:42] #1291 closed

[2020-05-26 08:43] profnandaa commented on #1161
@parasg1999 -- thanks

[2020-05-26 08:43] #1161 closed

[2020-05-26 08:43] #1197 closed

[2020-05-26 08:44] #1296 closed

[2020-05-26 08:46] #1303 closed

[2020-05-26 08:49] profnandaa commented on #1307
Could you please expound on this, giving some examples?

[2020-05-26 08:50] profnandaa commented on #1288
For sure, please raise a PR.

[2020-05-26 09:47] parasg1999 commented on #964
@profnandaa
Okay, so after reading a bit. I found out that JWT is url safe base64. [RFC7519, section 3](https://tools.ietf.org/html/rfc7519#section-3)
So, the symbols `+` and `/` in normal implementation are replaced by `-` and `_`

If the PR #1277 is merged, we can solve this issue. The PR has merge conflicts so I'll be happy to make a new PR if the author isn't active.

[2020-05-26 10:09] AndysonDK commented on #1036
I have the same issue

[2020-05-26 12:38] abhieshekumar commented on #1288
Ok, working on it.

[2020-05-26 17:48] profnandaa commented on #1036
PR welcome.

[2020-05-26 17:49] parasg1999 commented on #1156
@profnandaa
Solved by #1159, please close

[2020-05-26 17:51] profnandaa commented on #964
@parasg1999 -- let's wait on @mum-never-proud or if okays you to pick up the PR.

[2020-05-26 17:52] profnandaa commented on #1156
@parasg1999 -- really appreciate your triaging on the issues, thanks! 🎉

[2020-05-26 17:52] #1156 closed

[2020-05-26 18:58] rubiin commented on #1239
@profnandaa @ezkemboi i tried to reproduce the issue and that is correct. The string "1111" actually passes the validation which is bizzare. I can do a PR on this shortly if you like

[2020-05-26 20:21] parasg1999 commented on #1064
@profnandaa Referring #1080 : It was decided not to implement the vendor specific validators since it would not be feasible to update whenever the rules change. I think it should be closed for now.

[2020-05-26 20:33] parasg1999 commented on #938
@profnandaa @linkinmedo Some states in the US allow numbers in the names, so this feature would just be like `isAlphanumeric` with option like `{ignore_whitespace : true}`.

[2020-05-26 20:35] parasg1999 commented on #918
@profnandaa The author hasn't replied, so this can't be taken forward. Please label as `stale` and close :smile:

[2020-05-27 07:27] #1212 closed

[2020-05-27 07:28] profnandaa commented on #964
@parasg1999 -- merged, could you please check if this is solved now?

[2020-05-27 07:29] #918 closed

[2020-05-27 07:32] profnandaa commented on #1064
True, thx.

[2020-05-27 07:32] #1064 closed

[2020-05-27 07:38] profnandaa commented on #1239
@rubiin -- sure, please do.

[2020-05-27 08:15] parasg1999 commented on #1239
@profnandaa The string "1111" is a valid base64 and actually resolves to a string.

[2020-05-27 10:38] parasg1999 commented on #611
@profnandaa Support for 19 digit card numbers was added in #1161. This was the main issue here. So it may be closed OR if we need to rename the `isCreditCard` method to `isPayCard`, I'd be happy to make a PR :)

[2020-05-27 10:41] parasg1999 commented on #926
@profnandaa Please mark this issue as stale (and close) since there was no clarification from the OP since 2018.

[2020-05-27 11:12] rubiin commented on #1145
returning score looks like a better approach, however some people may only want to check whether their passwords are strong or not. So may be we can use an extra config to determine whether to return score or boolean value

[2020-05-27 11:24] rubiin opened #1320 "add isEIN validator"
The Employer Identification Number (EIN), also known as the Federal Employer Identification Number (FEIN) or the Federal Tax Identification Number, is a unique nine-digit number assigned by the Internal Revenue Service (IRS) to business entities operating in the United States for the purposes of identification. When the number is used for identification rather than employment tax reporting, it is

[2020-05-27 11:58] rubiin commented on #1320
@profnandaa @ezkemboi  I can do a pr

[2020-05-27 12:17] parasg1999 opened #1321 "Bug: isIdentityCard test cases"
The `fixtures` array includes objects having format
[code]

Then all the `valid` and `invalid` arrays are combined as

[code]

The issue is that we should remove the `allInvalid` array since a card number invalid in one locale may be valid in some other locale.

Would be happy to make a PR :)

[2020-05-27 15:08] profnandaa commented on #1321
Sure, please go ahead and make the PR, thanks! 👍

[2020-05-27 15:12] profnandaa commented on #1320
Do we have similar ones for other locales other than US?

[2020-05-27 15:17] #1321 closed

[2020-05-27 15:21] #962 closed

[2020-05-27 15:23] #926 closed

[2020-05-27 15:24] profnandaa commented on #611
Sure we can close this one, no need to rename. Thanks for spotting.

[2020-05-27 15:24] #611 closed

[2020-05-27 15:57] rubiin commented on #1320
according to wiki, it is only appliccable fo US

[2020-05-28 01:38] parasg1999 commented on #955
@profnandaa Please close this issue.

[2020-05-28 04:22] dandv commented on #1261
From an end-user's perspective, I don't see why "a TS rewrite is out of the question". I realize that from the developers' perspective that might well be the case, but as a user, I just want a clean TypeScript source that I can import without all the shenanigans like #1208, #1204, #1015 etc. It's 2020 after all.

[2020-05-28 07:07] dandv commented on #1208
Related: #1204. Wish I had time to volunteer to convert this project to TypeScript.

[2020-05-28 10:04] #955 closed

[2020-05-28 10:12] profnandaa commented on #1320
Any way we can make this more generic to allow later additions of other locales? That's in the naming of the validator...

[2020-05-28 10:59] rubiin commented on #1320
yeah sure, i will write in a way so it can be extnded in future @profnandaa

[2020-05-29 12:22] profnandaa commented on #1320
Which name do we go with here?

[2020-05-29 14:15] matthieu88160 opened #1327 "isJson and primitives"
Hi,

I'm using the validator.js as the main validator of form in our company framework. Implementing tests for our component I discovered that the `isJson` validator doesn't accept the primitives JSON types as valid JSON if they are not encapsulated in an object. Trying to fix it I also discovered that the tests of the validator.js expect these values to be rejected.

Even if these types are not d

[2020-05-29 15:33] matthieu88160 opened #1329 "isNumeric and locale for decimal separator"
The `isNumeric` validator regex pattern expects the decimal separator to be a dot and no locale option can be provided, making the validator rejecting comma-separated languages like french one.
The current `isFloat` implementation takes care of the locale option and uses the `alpha` library part to define the decimal separator for the given option locale.

[2020-05-29 18:27] #1327 closed

[2020-05-29 18:44] rubiin commented on #1320
sure that should so

[2020-05-29 18:50] rubiin commented on #1298
I think this diverges from the goal of validator.js which is string validation

[2020-05-29 18:57] parasg1999 opened #1331 "feat : Adding ignoreCase to contains"
I'm thinking about adding `ignoreCase` option to contains for the purpose of matching different case strings. Would that be fine?

[2020-05-30 07:22] profnandaa commented on #1331
This sounds good to me, please go ahead.

[2020-05-30 07:27] #1329 closed

[2020-05-30 07:29] profnandaa commented on #1320
Cool, you can go ahead with the PR.

[2020-05-30 09:56] #1331 closed

[2020-05-31 20:47] parasg1999 commented on #1287
Fixed in #1338. Please close!

[2020-06-01 08:58] #1287 closed

[2020-06-02 21:21] rodmirsantana opened #1341 "Validator isEmpty not working properly"
**Describe the bug**
I'm trying to use the ``body`` function to validate some form inputs that my express ``app`` receives, but it seems that the ``isEmpty`` validator is not working as expected. When I provide a value to ``firstName`` (a non-empty string) in the example below, the validator actually throws the error as if the string was empty.

[code]

[code]

For the above example using ``valida

[2020-06-03 07:47] profnandaa commented on #1341
I think you should file this with the [express-validator](https://github.com/express-validator/express-validator) team.

[2020-06-03 07:54] #1320 closed

[2020-06-03 08:11] #1150 closed

[2020-06-03 08:45] parasg1999 opened #1342 "feat(isPermutation) : Adding validator"
### Maybe it could be supported

`isPermutation(str, comp)` : Will check if a string is having the same letters as comparator. We can also include option to only check for alphabets. Suggestions?

If possible, I would like to work on that.

PS: Initially I thought about an isPalindrome validator, but this one seems to be more general and option for `onlyPalindrome` may be passed.

[2020-06-03 14:04] rubiin commented on #1342
@profnandaa can i take this one

[2020-06-03 14:11] parasg1999 commented on #1342
@rubiin I would really like to work on this

[2020-06-03 14:16] rubiin commented on #1276
I think it diverges from the main objective of the library which is mostly string validation

[2020-06-03 14:17] rubiin commented on #1221
the library is strictly for string validation

[2020-06-03 14:28] rubiin opened #1343 "Feat: isIMEI"
validator to check if a string is an imei number.
info : https://en.wikipedia.org/wiki/International_Mobile_Equipment_Identity

[2020-06-03 14:28] rubiin commented on #1343
@profnandaa i think it can be very handy

[2020-06-03 15:23] rodmirsantana commented on #1341
Are you sure? Because the [express-validator](https://express-validator.github.io/docs/) documentation clearly refers to this repo, as the ``isEmpty`` validator function was built here, and not in [theirs](https://github.com/express-validator/express-validator).

[2020-06-03 17:41] profnandaa commented on #1341
Ok, please give examples directly without `express-validator` so that it's easy to figure out where the problem is.

[2020-06-04 05:11] mum-never-proud commented on #1276
@profnandaa isn't `toBoolean` `toInt` `toFloat` does the same?

[2020-06-04 06:01] #1343 closed

[2020-06-04 06:02] rubiin opened #1344 "feat : isIMEI"
validator to check if a string is an imei number.
info : https://en.wikipedia.org/wiki/International_Mobile_Equipment_Identity

It could be a very handy validator

[2020-06-04 06:02] rubiin commented on #1344
@profnandaa

[2020-06-04 07:19] profnandaa commented on #1344
Sounds good with me 👍

[2020-06-04 07:21] rubiin commented on #1344
Pr is on its way

[2020-06-04 07:22] profnandaa commented on #1276
I'm okay with marking such validators for deprecation at some point...

[2020-06-04 07:32] #1221 closed

[2020-06-04 07:33] profnandaa commented on #1342
I would like to know where this may be used practically...

[2020-06-04 07:43] #1344 closed

[2020-06-04 08:06] parasg1999 commented on #1342
Compression algorithms that use palindrome are widely used in DNA sequencing and compression.

[2020-06-05 09:13] profnandaa commented on #1342
I'm thinking of a general purpose usage, is there any?

[2020-06-06 20:42] door-bell commented on #1145
Hello, I'm currently taking a crack at this, using this idea:

I noticed an issue with designing tests for the method in the case that the user wants the score rather than a true/false value.

If the `isStrongPassword` method is considered a 'validator' then putting the tests in the `test/validators.js` file would break convention, since we are no longer determining if something is valid or not, a

[2020-06-08 12:02] HonzaKirchner opened #1349 "isDivisibleBy fails if argument is not integer"
Function isDivisibleBy, as it is implemented right now, fails in case the argument is not an int.

I have a star rating system that accepts halfs and I want to check whether or not the provided rating is divisible by 0.5.
The problem is here:
`return toFloat(str) % parseInt(num, 10) === 0;`

Is there a reason why argument has to be parsed as an int?

[2020-06-09 06:35] 3115674243 opened #1351 "Please send a new version and update the version number. The current NPM package is old"
**Describe the bug**
A clear and concise description of what the bug is.
version：13.0.0  npm package is old

**Examples**
If applicable, add screenshots to help explain your problem.

**Additional context**
Validator.js version:
Node.js version:
OS platform: [windows, linux, macOS, etc]

[2020-06-09 15:33] profnandaa commented on #1351
We will do a release soon, I don't have specific timelines yet; cc. @chriso

[2020-06-09 16:11] methodbox opened #1352 "validator.contains() does not detect seed when there are multiple uses of seed character"
**Describe the bug**

[code]
Does not correctly identify characters if more than one exists in the string in question. Not sure if this is the only bug where it doesn't identify, but it's easily reproducable.

It's possible I'm misunderstanding the usage due to lack of documentation on this method, but it seems it should be straight-forward.

I need to be able to detect if a string contains the fo

[2020-06-10 06:35] profnandaa commented on #1352
Looks like you are swapping the params, the string should come first, then the seed, so:
[code]

And you are wrong on your next test case, it also returns false.

[2020-06-10 10:23] chriso commented on #1351
`13.1.0` is now available!

[2020-06-10 10:23] #1351 closed

[2020-06-10 19:34] karladler opened #1353 "Add alias GTIN for EAN"
As I see it the term `EAN` is gradually being deprecated in favour of GTIN, maybe we can add it as an alias for EAN?

[2020-06-10 23:09] door-bell commented on #1349
In case this is still giving you trouble, a temporary solution would be to multiply the star rating by 2 and then see if the result is a whole number/divisible by 1 with `isDivisibleBy`.
I see your point about allowing floats as an argument. However, like the example you gave in the PR, it seems that JavaScript is weird with some division and it might not work as expected.

[2020-06-11 05:20] mkumarb opened #1354 "Invalid regular expression on starting the service after upgrading to 13.1.0"
**_SyntaxError: Invalid regular expression: /^((((\+|0{2})3876)|06)[0-6])((?<=4)\d{7}|(?<!4)\d{6})$/: Invalid group_**
Did not have this until yesterday (when I was on v13.0.0). When I was looking at npm, saw that a new version was upgraded just around 20 hours ago. Also the regular expression pointed out in the error was added in the new version:
[Click here to view the changeset which includes t

[2020-06-11 06:31] HonzaKirchner commented on #1349
I went with
[code]
in case someone would like to use more generic solution.

[2020-06-11 06:32] #1349 closed

[2020-06-11 10:33] mavvad commented on #1354
Faced the same problem.
fixed by downgrading from "^13.0.0" to "13.0.0" in package.json

[2020-06-11 11:05] egges commented on #1354
Same thing happening here, but specifically on Safari (on Chrome there is no error), and not only in a Docker container, but also in local development.

[2020-06-11 12:03] novemberborn commented on #1354
`(?<=4)` and `(?<!4)` are lookbehind assertions. Per https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#Browser_compatibility they're supported in Node.js 8.10 and various browsers, but not Safari.

This package doesn't explicitly list the minimal JS requirements. It should work on all maintained Node.js versions (10 and above) but the browser compatibility is a conc

[2020-06-11 13:48] profnandaa commented on #1354
We definitely are pro backward compatibility, that was an oversight from our end; working on fixing that asap.

[2020-06-11 13:54] profnandaa commented on #1353
PR welcome.

[2020-06-11 14:04] tux-tn commented on #1353
Isn't `EAN` a single type of `GTIN` more precisely `GTIN-13` ?

[2020-06-11 14:46] profnandaa commented on #1354
@MladenZeljic -- could you please have a look at this and do a hot-fix?

[2020-06-11 14:58] itxtoledo commented on #1354
same issue here, using iphone browsers and safari on macOS

[2020-06-11 16:07] tux-tn commented on #1354
@profnandaa I have already seen one or two PR using lookbehind assertions in the past (as an example  #1244).
 We can start running test on other platforms than nodejs to prevent those errors.

[2020-06-11 16:48] MladenZeljic commented on #1354
Hey @profnandaa thanks for notifying me about this and sorry about this oversight. I'll work on replacing these lookbehinds with something less "sugary".

[2020-06-12 07:52] wendt88 commented on #1354
same here for nativescript on iOS devices only

[2020-06-12 11:30] profnandaa commented on #1354
patched version was released yesterday, can you check? [13.1.1](https://github.com/validatorjs/validator.js/commit/b7ffd5db054f6dee229f7e1ac317c3fd200df9fb)

[2020-06-12 11:31] profnandaa commented on #1354
@tux-tn -- you know the easiest way we can do this with our current TravisCI pipeline?

[2020-06-12 11:50] profnandaa commented on #1354
I noticed that this was also regressing on Node v6, so I have added v6 on our TravisCI pipeline for the time being to act as a proxy - #1357 ;  but we need a browser solution if it's proximal.

[2020-06-12 13:34] tux-tn commented on #1354
@profnandaa i know that mocha can run on browsers, i will try to work on it this week end. I'm also planning to add some missing tests (Actual coverge decreasted from 100% to 98.16%)

[2020-06-12 17:41] methodbox commented on #1352
Yeah I looks like I flip-flopped this. I'll close it. Thanks for the response!

[2020-06-12 17:41] #1352 closed

[2020-06-12 20:19] profnandaa commented on #1354
Thanks!

./na

On Fri, Jun 12, 2020 at 4:34 PM Sarhan Aissi <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2020-06-14 01:27] leosuncin commented on #964
`isJWT` pass with string with valid base64 characters, by example, 'A.A.A'. See my fix http://runkit.com/suncin/isjwt-fail-to-detect-valid-jwt-string

[2020-06-14 06:59] profnandaa commented on #964
@parasg1999 -- can check this one?

[2020-06-14 18:26] nadirabbas opened #1359 "Issue on macOS/iOS after latest update:"
**Describe the bug**
After the pull request merge 3 days ago, the validator package breaks the site on iOS devices. I am just importing the validator package in a Vue CLI 3 built project.

[code]

The app works fine on Windows, Linux, and Android, but breaks on macOS devices. It throws the following error:

`[Error] SyntaxError: Invalid regular expression: invalid group specifier name
	eval (chunk

[2020-06-15 19:04] profnandaa commented on #1359
Please confirm that this is 13.1.1, this was fixed, the issue was on 13.1.0

[2020-06-16 00:15] MeloncholyShiro opened #1360 "Not a bug but a feature????"
**Describe the bug**
If i place .normalizeEmail before .custom i get a bug.
Bug:
When the user enters (Example) hello@yandex.com, normalizeEmail switch .com, .ua, and more to .ru
Like whis:
![изображение](https://user-images.githubusercontent.com/44039577/84717725-60534a00-af7f-11ea-92cc-1b1030c57108.png)
![изображение](https://user-images.githubusercontent.com/44039577/84717696-4580d580-af7f-11ea

[2020-06-16 01:39] door-bell commented on #1360
From the `normalizeEmail` code:
[code]
It is intentional, the tests even require this behavior to pass (though I don't know why).

[2020-06-16 01:42] #1360 closed

[2020-06-16 01:42] MeloncholyShiro commented on #1360
Ok whis is feature :D

[2020-06-16 02:33] door-bell commented on #1341
@rodmirsantana What is the error `isEmpty` throws? In this codebase, `isEmpty` itself only throws an error if the first argument is not a string.

Maybe you could `console.log` whatever is in the `firstName`/`email` fields to be certain that it is an empty string and post that here instead of making a whole new example.
Either way, if it's not a `TypeError: Expected string but received (type)`, th

[2020-06-16 06:49] banjankri commented on #1208
@steida would you be able to provide some further details on this issue please? Like typescript version used, tsconfig, whether you are using typings for this library etc. I am using the very same imports in a TS project and it seem to be working fine. Also exact version of validator.js used could help to pinpoint the culprit.

[2020-06-16 19:06] steida commented on #1208
As I wrote, try this example https://github.com/validatorjs/validator.js#tree-shakeable-es-imports

[code]

[2020-06-17 11:12] Kitcat711 opened #1361 "isEmail should validate "+" in user part of the address"
Hello,

When validating user+that@domain.tld , the result is "invalid", but adresses with '+' are valid.
Please [read this](https://www.cs.rutgers.edu/~watrous/plus-signs-in-email-addresses.html)

It seems that you do so with the option
`if (options.domain_specific_validation && (lower_domain === 'gmail.com' || lower_domain === 'googlemail.com')) {`
(ligne 687 in validator.js)

see
`    var userna

[2020-06-18 10:31] banjankri commented on #1208
Using exatly this import in my project. Upgraded to pointed versions of `validator` and `@types/validator` and still cannot seem to reproduce the issue. All seems fine.

@steida  Could you share some more information re your typescript/tsconfig please? Or provide sample repository ideally.

[2020-06-18 15:42] rubiin commented on #1353
EAN is actually a type of gtin. Reference https://www.gtin.info/

[2020-06-19 05:30] Advaitva commented on #1361
Do you have the latest version? Check, because it's working fine for me, I validated user+that@domain.tld.
`const validator = require("validator");`
` module.exports = function validateRegisterInput(data) {`
`let errors = {};`
`if (!validator.isEmail(data.email)) errors.email = "Invalid email-id";`
`return {`
 `   errors,`
  `  isValid: isEmpty(errors),`
`  };
};`

`validateRegisterInput()` is the

[2020-06-19 09:17] Kitcat711 commented on #1361
Thank you for helping.

Actually, I am using validator through **express-validator**
Here is my installation dependencies regarding validator:
<img width="463" alt="Capture d’écran 2020-06-19 à 11 09 46" src="https://user-images.githubusercontent.com/13149618/85116357-77af6300-b21d-11ea-8709-f45f61404b5a.png">

Here is how use it:
[code]

and here are the results I got:
<img width="675" alt="Cap

[2020-06-19 12:22] Advaitva commented on #1361
**Firstly, this issue should have been raised over express-validator and not validator, both are different.**
Still I see that it's not the problem of version and I am able to get the correct status  using express-validator as well
Here is the code I tried.
[code]

![image](https://user-images.githubusercontent.com/43316329/85130649-f2df3c00-b252-11ea-93d8-3d7f694d9c03.png)

The code that you prov

[2020-06-19 23:10] steida commented on #1208
@banjankri https://codesandbox.io/s/magical-almeida-uw02b?file=/src/index.ts

![Screenshot 2020-06-20 at 01 09 51](https://user-images.githubusercontent.com/66249/85185099-ccd98c00-b292-11ea-9e87-0d777b796c49.png)

[2020-06-22 07:10] banjankri commented on #1208
Not sure if it helps, but removing the `strict` flag fixes the error. However should you want to enforce that you'd need to either amend the typings for the library or add a typing locally or a path mapping in your tsconfig.

The way to go would be amending the typings for the library or as mentioned before converting it to typescript altogether.

[2020-06-22 11:59] rodmirsantana commented on #1341
Hey, sorry for the late response. I actually managed do solve this by using ``notEmpty``, which is not currently listed on [validator docs ](https://github.com/validatorjs/validator.js). I managed to find it [here](https://express-validator.github.io/docs/validation-chain-api.html#notempty). Thanks.

[2020-06-22 23:45] steida commented on #1208
Remove 'strict' is nogo. Please, do not castrate TypeScript.

[2020-06-23 05:06] banjankri commented on #1208
Opened up a PR with DefinitelyTyped so castration should not be necessary :)

[2020-06-24 09:20] banjankri commented on #1208
@steida the PR got merged, please give it a go using the latest typings.

[2020-06-24 22:16] steida commented on #1208
@banjankri Great, TypeScript error is gone.

Unfortunately, tree shakable path still does not appear to be working.

![Screenshot 2020-06-25 at 00 15 17](https://user-images.githubusercontent.com/66249/85633203-12be9780-b679-11ea-913c-3c0ce471188e.png)

[2020-06-24 22:16] steida commented on #1208
But it's another error so I am closing this issue. Thank you.

[2020-06-24 22:16] #1208 closed

[2020-06-25 08:38] Mahagney opened #1363 "Invalid regexp group"
The following line of code from isMobilePhone gives "SyntaxError: invalid regexp group" on Mozila, IE and Edge but works fine on chrome " 'bs-BA': /^((((\+|0{2})3876)|06)[0-6])((?<=4)\d{7}|(?<!4)\d{6})$/, ".  It looks like this browsers doesn't support lookbehing egex.
Version:     "validator": "^13.1.0"

[2020-06-26 10:05] parasg1999 commented on #951
This issue seems to be resolved.

[2020-06-26 19:04] #951 closed

[2020-06-26 22:45] AtomicBorg opened #1365 "Israel (IL) postal code can be 5 or 7 digits - not just 5 digits"
isPostalCode only allows 5 digit postal codes for Israel (IL)
* Currently Israel officially uses 7 digit postal codes but also still accepts 5 digit codes in practice

I'd make the PR directly but I do not have permission to create Pull Requests on this repository.

I propose modifying the existing line for IL to:
`IL: /^(\d{5}|\d{7})$/,`

Background on Israel postal codes; fundamentally, although

[2020-06-27 18:21] profnandaa commented on #1365
Oh sure, please do a PR.

[2020-06-27 18:29] profnandaa commented on #1354
Forgot to close this, I think we should be good now? Let me know if there's anything further that needs to be done other than fixing our CI/CD scope.

[2020-06-27 18:29] #1354 closed

[2020-06-27 18:29] profnandaa commented on #1363
This was an issue with 13.1.0 please upgrade to 13.1.1 - https://github.com/validatorjs/validator.js/issues/1354

[2020-06-27 18:29] #1363 closed

[2020-06-27 18:46] profnandaa commented on #1341
Cool, thx

[2020-06-27 18:46] #1341 closed

[2020-06-27 21:20] profnandaa opened #1366 "chore: add browser-testing on CI/CD pipeline"
Following up from the conversation here - https://github.com/validatorjs/validator.js/issues/1354#issuecomment-643273433

We would like to have a way of testing this library against a number of browser versions to avoid issues such as #1354 in future.

[2020-06-27 21:21] profnandaa commented on #1366
@tux-tn -- you said you can look at this? Please check if we can also explore the offering by [BrowserStack](https://www.browserstack.com/open-source)

[2020-06-28 07:30] rubiin commented on #1365
if no ones taking it, i will do pr asap

[2020-06-28 16:39] #1365 closed

[2020-06-28 16:47] AtomicBorg commented on #1365
Thanks!

[2020-06-28 17:18] rubiin commented on #1298
@profnandaa i think we can close this issue

[2020-06-28 17:21] rubiin opened #1368 "chore: update dev deps"
I noticed many of the dependencies have depreciated deps. Why not upgrade those deps so as to minimize security concerns

[2020-06-28 17:29] #1298 closed

[2020-06-28 17:31] profnandaa commented on #1368
Sounds good with me, could you make a PR for this? All are dev-deps, so we should be good.

[2020-06-29 05:18] rubiin commented on #1368
ok sure, i will work on that asap

[2020-06-29 17:43] tux-tn commented on #1366
@profnandaa sorry i have been busy with work lately but i'll check it asap

[2020-06-29 18:00] profnandaa commented on #1366
sounds good, no worries.

./na

On Mon, Jun 29, 2020 at 8:44 PM Sarhan Aissi <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2020-07-07 22:09] ezkemboi commented on #1359
@profnandaa and @nadirabbas I will try to do an investigation on this issue.

[2020-07-08 20:01] viniciushvsilva opened #1374 "isMobilePhone - incorrect rule for pt-BR locale"
**Describe the bug**
The regexp in use is incorrect for mobile phones in Brazil, and it also has a few bugs as mentioned below:

**Bugs**

1. Second regexp group is useless as first group is always used
The second group ( `[6-9]{1}\d{3}\-?\d{4}` ) is included in the first one ( `\d{4}\-?\d{4}` )

2. There is an OR operator missing between the first and second group

3. The two digits that precedes

[2020-07-10 03:21] Arsikod opened #1375 "isURL validates true to 'myemail@mail.com'"
console.log(validator.isURL("mymail@123.com")) returns true.
But it is not a valid url.

[2020-07-10 08:17] profnandaa commented on #1374
Thanks for the suggestion, could you open a PR?

[2020-07-14 16:42] Kitcat711 commented on #1361
Hello,
Thank you for your answer.
I finally found what was wrong with my code and it was **not related to express-validator.**
I am using a query string through axios to GET my result. The query string was  wrong: the email section awas something like "`...&email=name toto@domaine.tld&...`" the **+ sign was omitted**.
I corrected that and it works just fine.
**Thank you again** for helping me - be

[2020-07-14 16:42] #1361 closed

[2020-07-14 18:38] Advaitva commented on #1361
Ok, great it worked!

[2020-07-14 20:49] #1342 closed

[2020-07-15 09:06] TarasVerbniak opened #1378 "Wrong german phone number validation"
Validation for german phone number is not working
I've checked real phone `+4930405044550` from one of Berlin stores with `de-DE` regexp and it gives me `false` (https://www.google.com/maps/place/The+Store+X+Berlin/@52.5280015,13.4141284,17.42z/data=!4m12!1m6!3m5!1s0x47a84e1c439e08bb:0x853b981aa9de358c!2sThe+Store+X+Berlin!8m2!3d52.5275889!4d13.4153528!3m4!1s0x47a84e1c439e08bb:0x853b981aa9de358c!8

[2020-07-15 18:11] rubiin commented on #1374
if its still available i will be working asap

[2020-07-15 18:27] viniciushvsilva commented on #1374
Done https://github.com/validatorjs/validator.js/pull/1379

[2020-07-15 19:17] viniciushvsilva commented on #1374
https://github.com/validatorjs/validator.js/pull/1381

[2020-07-16 06:25] profnandaa commented on #1378
@TarasVerbniak -- thanks for raising this. You can make a PR?

[2020-07-16 13:14] virginie-p opened #1382 "isFloat locale decimal separator only contains arabic and english separator"
I cannot use the locale option of isFloat because the only options for this locale is 'en-US' or 'ar' -  and I'd like to use the 'fr-FR' locale which is a comma.

![image](https://user-images.githubusercontent.com/40423317/87674935-00ff7a00-c777-11ea-9856-8949583c8085.png)

Could you please correct this ?

Waiting for you kind return :)
Best regards,

[2020-07-16 18:34] parasg1999 commented on #1382
Can I take this issue?

[2020-07-17 09:09] profnandaa commented on #1382
@parasg1999 -- for sure, please go for it!

[2020-07-17 21:28] parasg1999 commented on #1382
@virginie-p The decimal object that you are referring to has been updated below at `line 93` in `src/lib/alpha.js` to include the french-locale.

[code]

[2020-07-20 07:02] profnandaa commented on #1382
That's true.

[2020-07-20 07:02] #1382 closed

[2020-07-21 15:13] vlapo opened #1386 "IsBtcAddress not working with testnet addresses #639"
**Describe the bug**
Could you please check issue https://github.com/typestack/class-validator/issues/639 ? Cc @michaelcerne

**Additional context**
Issue in `class-validator` lib

[2020-07-22 10:14] stinkymonkeyph opened #1389 "Need to add support for Philippines mobile number."
**Describe the bug**
Need to add support for Philippines mobile numbers.
Already submitted a PR for this request https://github.com/validatorjs/validator.js/pull/1388

[2020-07-23 14:38] tux-tn commented on #1368
@rubiin are you still working on this?

[2020-07-25 02:52] heanzyzabala commented on #1378
Hi, I would like to work on this one. Thanks!

[2020-07-25 04:15] heanzyzabala opened #1390 "chore(isMobileNumber): Replace regex with AfterShip/phone to validate mobile numbers"
Given all the regex that the project maintains, I think its best to delegate the responsibility of curating the validation with:(https://www.npmjs.com/package/phone)

An excerpt from the library:
# What is phone?
phone is used to normalize mobile phone numbers into E.164 format.

A common problem is that users normally input phone numbers in this way:
[code]
We always want:
[code]

[2020-07-25 05:21] heanzyzabala commented on #1378
Hi @profnandaa, I made a PR for this: https://github.com/validatorjs/validator.js/pull/1391

[2020-07-25 06:29] #1378 closed

[2020-07-25 08:35] heanzyzabala commented on #1375
Hi @profnandaa & @Arsikod,

I checked the code. It seems like we have to modify the logic in line: 96

https://github.com/validatorjs/validator.js/blob/f67a57f65ba16f655db8abfb4628a7659739f03f/src/lib/isURL.js#L90-L99

The implementation fails to check if the url is in basic auth form without password, that looks like this:
[code]

For the fix, we just have to check if it's in the right form.
[cod

[2020-07-25 19:06] viliamzigo opened #1392 "isIBAN(str) validation fail on EG, SV, ... IBAN-s"
**Describe the bug**
IBAN from countries listed bellow are not validated correctly.

- Egypt
- El Salvador
- Malta
- Saint Lucia
- Seychelles

**Examples**

Example IBANs:

- SC52BAHL01031234567890123456USD
- LC14BOSL123456789012345678901234
- MT31MALT01100000000000000000123
- SV43ACAT00000000000000123123
- EG800002000156789012345180002

**Additional context**
Validator.js version: 13.1.1
Node.js

[2020-07-25 20:24] tux-tn opened #1393 "Adding Codecov app to the repo"
Hello,

Can someone with write access (i guess @chriso or @profnandaa ) to the repo add [Codecov](https://github.com/apps/codecov) app. The main goal of the app is to show detailed coverage info for every Merge Request and de facto simplify review process.

Example of codecov app output:
<img width="1030" alt="codecov example screenshot" src="https://user-images.githubusercontent.com/1423022/88465

[2020-07-27 02:28] heanzyzabala commented on #1392
I would like to work on this. Thanks!

[2020-07-27 03:16] heanzyzabala commented on #1392
Hi, I create a PR for this: https://github.com/validatorjs/validator.js/pull/1394

[2020-07-27 13:47] profnandaa commented on #1392
@heanzyzabala -- does the PR close all the issues listed here?

[2020-07-27 14:06] heanzyzabala commented on #1392
@profnandaa Yes. Thanks!

[2020-07-28 14:11] dcjha opened #1395 "Bug in Date validation, isDate() function"
**Incorrect date formats like  YYYY-MM/DD  and YYYY/MM-DD   which contains both hyphen ` - ` and forward slash ` / ` are being wrongly validated as `true`.**

[code]

*Expected Behavior*
I think in such cases, isDate() function should return `false`

**Additional context**
Validator.js version:^13.1.1
Node.js version:v12.16.1
OS platform: [windows]

[2020-07-28 16:16] kathawala commented on #1386
In addition to this, there are several issues with the current IsBtcAddress validator.

Currently the following addresses are all claimed to be valid by the IsBtcAddress validator but they are in fact invalid:

"17VZNX1SN5NlKa8UQFxwQbFeFc3iqRYhem" (any string with a lowercase 'L" will also be invalid but pass as valid)
"17VZNX1SN5NtKa8UQFxwQbFeFc3iqRYhemt"

There are probably others as well. Bitco

[2020-07-28 17:25] kathawala commented on #1395
I am not totally sure these are incorrect.... I mean, they can be parsed, and to a human eye these are readable dates...

If this is only supposed to accept ISO8601 dates, then slashes are not allowed at all. But if both are allowed, it makes sense to allow a mix of the two...

[2020-07-29 07:12] tomgrossman opened #1396 "isURL should have an option to not validate by length"
**Describe the bug**
The `isURL` function has a hardcoded validation:
[code]
The URL length should be an option to overwrite the length or to skip this validation.

**Additional context**
`validator` version: 13.1.1
2083 is the maximum URL length for IE, but not for the rest of the browsers and it isn't part of the RFC:
https://support.microsoft.com/en-us/help/208427/maximum-url-length-is-2-083-ch

[2020-07-29 12:35] profnandaa commented on #1396
PR welcome.

[2020-07-29 12:40] profnandaa commented on #1386
Thanks for raising. PR welcome!

[2020-07-29 12:41] profnandaa commented on #1392
closed by #1394

[2020-07-29 12:41] #1392 closed

[2020-07-29 13:03] profnandaa commented on #1393
I think @chriso can help with this; looks like I can't be able to add it, the org doesn't list on Codecov from my dashboard.

[2020-07-29 13:14] tomgrossman commented on #1396
@profnandaa done

[2020-07-29 15:17] stinkymonkeyph commented on #1389
PR https://github.com/validatorjs/validator.js/pull/1388 was merged, thanks guys for all the hard work

[2020-07-29 15:17] #1389 closed

[2020-07-30 10:00] chriso commented on #1393
Done: https://codecov.io/gh/validatorjs/validator.js

[2020-07-30 10:40] profnandaa commented on #1393
Thanks Chris! @tux-tn -- let me know if there's anything more to be done, else you can close the issue.

[2020-08-01 08:19] #1396 closed

[2020-08-01 12:43] tux-tn commented on #1393
Thanks Chris and Anthony. i'm closing the issue !

[2020-08-01 12:43] #1393 closed

[2020-08-02 07:36] kathawala commented on #1386
@profnandaa I'm working on a PR but it requires an external dependency, and I am having trouble installing any external dependency and getting rollup and babel to bundle it nicely.

I am having exactly the same issues which were described in #926. and I have tried all the suggested rollup plugins to no avail. If you could help at all, that would be appreciated. Is there a tried-and-true way to bun

[2020-08-02 07:45] profnandaa commented on #1386
Is the external dep a dev dep or a regular dep? If it’s the later, we will
have great hesitation since we have never had one...

./na

On Sun, Aug 2, 2020 at 10:36 AM Farhan Kathawala <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2020-08-02 18:41] kathawala commented on #1386
@profnandaa It's a regular dep :(

[2020-08-04 01:01] kstensberg-allrecipes opened #1399 "Feature request/contribution volunteering: return reason for the validation failure, not just a boolean"
**Describe the feature**
We are using validator.js for one of our backend systems, but we need a new feature.  We need to know why the validation failed, not just that it did.  We intend to add this feature, and we'd love to create a pull request, but we're looking for some guidance as to how to design that so it is accepted upstream.  Does it make sense to make a new API, or update the existing o

[2020-08-04 07:17] hamidmotamedi opened #1400 "problem in isAlpha( str ,['fa-IR']) not verify ح character"
"ح" character is the base of 32 character of persian language and not pass in follow code

if (!validator.isAlpha( str , ['fa-IR'] ) ){
          //some code ...
        }

[2020-08-04 11:04] ezkemboi commented on #1395
In my opinion, I will go with the version that has a `strict mode` and one without.
For instance, if we pass
[code]

Also, if you take keen consideration with `isDate()`, there is an option to pass `format`.
I am still open for more discussion on the same.

[2020-08-05 15:50] sushant4nt opened #1401 "Ability to import only a subset of languages and avoid encoding issues"
**Describe the bug**
With validator comes all the languages, but in a project, we might be using only a subset of it. Hence it would be really helpful if we can select a subset of languages.
It eventually leads to encoding issues when someone tries to download the packaged bundle of microapp which uses validator.

**Examples**
Attaching the screenshot, where you can see mixture of languages althou

[2020-08-06 12:43] profnandaa commented on #1399
Yup, this is a difficult one. No to backward incompatibility; to the second option, sounds doable but will be an uphill to write code for all the reasons, or how do you envision the generation of reasons, just taking the `isEmail` example?

[2020-08-06 12:45] profnandaa commented on #1400
PR welcome.

[2020-08-11 00:29] LuisAverhoff opened #1403 "Feature Request - Add Time Validator"
Similarly to how the documentation mentions of a Date and DateTime validator, it would be great if there was a validator for Time. Don't know how the api for this would look like but I don't think it would be too far off from how the Date and DateTime validator operate.

[2020-08-12 09:31] AberDerBart commented on #1239
The string "" is valid base64 (see first example https://tools.ietf.org/html/rfc4648#section-10) but isBase64("") returns false.

[2020-08-13 14:54] lacort commented on #1374
Hello my friends I'm having trouble sending to cell phones that the second number of cell 4, for example 11945555555, here in São Paulo / Brazil some phones are like this
Suggest :
/(?=^(\+?5{2}\-?|0)[1-9]{2}\-?\d{4}\-?\d{4}$)(^(\+?5{2}\-?|0)[1-9]{2}\-?[6-9]{1}\d{3}\-?\d{4}$)|(^(\+?5{2}\-?|0)[1-9]{2}\-?9[4-9]{1}\d{3}\-?\d{4}$)/

[2020-08-13 15:11] viniciushvsilva commented on #1374
@lacort Agreed, I was about to publish this but I realised that some numbers in São Paulo might start with 9 and be followed by a 4 (and apparently 3 too), it seems that those are new numbers given by certain ISP companies (like Vivo and Nextel) in São Paulo state (but mainly in São Paulo city). I should have a look at this by the end of the day.

[2020-08-14 00:44] mikeerickson commented on #1374
If anybody wants to tackle this as a PR, I would be most appreciative as it is beyond my immediate knowledge.

[2020-08-14 11:25] viniciushvsilva commented on #1374
https://github.com/validatorjs/validator.js/pull/1407

Opened a new PR, with changes I made

[2020-08-16 08:30] Mageek627 opened #1410 "Lebanese phone numbers are not correctly validated"
**Describe the bug**
The `isMobilePhone` validator doesn't work for (at least some) Lebanese phone numbers.

**Examples**
With `isMobilePhone('any', { strictMode: true })`, this phone number: `+96170072968` (which is the first example on https://en.wikipedia.org/wiki/Telephone_numbers_in_Lebanon) appears as invalid, but it's actually valid.

**Possible solution**
I would suggest using the [google-

[2020-08-18 02:24] Morev1993 commented on #1359
I found too this problem in 13.1.0. It fixed in 13.1.1.

[2020-08-18 08:25] profnandaa commented on #1359
Thanks

[2020-08-18 08:25] #1359 closed

[2020-08-18 18:10] bruno-liveclicker opened #1412 "validate_length not working for isURL()"
Hi Validator team,

Thanks for putting this great package together.

I've been recently testing the change introduced in this issue: https://github.com/validatorjs/validator.js/commit/ed86b0a19993fb51c136640f4ef54f3f38a78684

It's listed in the API docs so I believe it should be live:
`validate_length - if set as false isURL will skip string length validation (2083 characters is IE max URL length)

[2020-08-19 07:11] icyice0217 opened #1413 "Valid phone number from Bolivia"
Hello everyone, we need add 'es-BO' locale in `isMobilePhone.js` lib to do validation for Bolivia mobile phones.
Country code: +591
**format mobile phones**: ` ( [+591] )? [67] [XXXXXXX]`
[X] phone number: always 7 digits
I've made an initial expression as:
**/^(\\+591)?[67]\d{7}$/**
Please improve the expression and add it into lib
for more info about Libya phone codes see : [areaphonecodes](http

[2020-08-19 07:41] tomgrossman commented on #1412
@bruno-liveclicker I think that's because it wasn't released yet in 13.1.1.
This change was merged 20 days ago, and 13.1.1 was released over 2 months ago.

[2020-08-19 07:46] icyice0217 opened #1414 "Valid phone number from Lebanon"
Hello everyone, we need add 'ar-LB' locale in `isMobilePhone.js` lib to do validation for Lebanon mobile phones.
Country code: +961
**format mobile phones**: `( [+961] )? ( [3] | [7X] | [81] ) [XXXXXX]`
[X] phone number: 6 or 7 digits
I've made an initial expression as:
**/^(\\+?961)?(3|7\d|81)\d{6}$/**
Please improve the expression and add it into lib
for more info about Libya phone codes see : [

[2020-08-19 08:02] icyice0217 opened #1415 "Valid phone number from Georgia"
Hello everyone, we need add 'ka-GE' locale in `isMobilePhone.js` lib to do validation for Georgia mobile phones.
Country code: +995
**format mobile phones**: `( [+995] )? ( [5X] | [79] ) [XXXXXXX]`
[X] phone number: 7 or 8 digits
I've made an initial expression as:
**/^(\\+?995)?(5\d|79)\d{7}$/**
Please improve the expression and add it into lib
for more info about Libya phone codes see : [areapho

[2020-08-19 08:13] icyice0217 opened #1416 "Valid phone number from Peru"
Hello everyone, we need add 'es-PE' locale in `isMobilePhone.js` lib to do validation for Peru mobile phones.
Country code: +51
**format mobile phones**: `( [+51] )? [9] [XX XXX XXX]`
[X] phone number: always 8 digits
I've made an initial expression as:
**/^(\\+?51)?9\d{8}$/**
Please improve the expression and add it into lib
for more info about Libya phone codes see : [areaphonecodes](https://are

[2020-08-19 08:28] rubiin commented on #1416
taking this one @profnandaa

[2020-08-19 08:29] rubiin commented on #1415
taking this one @profnandaa

[2020-08-19 08:30] rubiin commented on #1410
@profnandaa i think i can work on the mobilenumber validation feature plus bug requests including this one

[2020-08-19 08:30] rubiin commented on #1413
taking this one too @profnandaa

[2020-08-19 08:31] rubiin commented on #1414
this one as well @profnandaa

[2020-08-19 08:36] icyice0217 opened #1417 "Valid phone number from Uzbekistan"
Hello everyone, we need add 'uz-UZ' locale in `isMobilePhone.js` lib to do validation for Uzbekistan mobile phones.
Country code: +998
**format mobile phones**: `( [+998] )? ( ( [6] ( [1] | [2] | [5] | [6] | [7] | [9] ) ) | ( [7] ( [1] | [2] | [3] | [4] | [5] | [6] | [9] ) ) | [88] | [9X] ) [XXX XXXX]`
[X] phone number: 7 or 8 digits
I've made an initial expression as:
**/^(\\+?998)?(6[125-79]|7[1

[2020-08-19 16:37] profnandaa commented on #1414
@rubiin -- sure, please go for them. Thanks for the help! 🎉

[2020-08-19 16:42] profnandaa commented on #1412
closed in #1397 -- we'll be doing a new release within the next 2 wks.

[2020-08-19 16:42] #1412 closed

[2020-08-19 16:48] bruno-liveclicker commented on #1412
Thanks for the clarification guys

[2020-08-19 16:54] profnandaa commented on #1412
Welcome!

[2020-08-19 16:55] rubiin commented on #1414
I will go through them asap

[2020-08-19 21:23] AberDerBart opened #1418 "isBase64("") returns false"
The string "" is valid base64 (see first example https://tools.ietf.org/html/rfc4648#section-10) but `isBase64("")` returns `false`. This is also errorneous in the tests (see https://github.com/validatorjs/validator.js/blob/master/test/validators.js line 4755).

_Originally posted by @AberDerBart in https://github.com/validatorjs/validator.js/issues/1239#issuecomment-672764860_

[2020-08-20 03:54] heanzyzabala commented on #1418
Hi, I'll be taking this one. Thanks!

[2020-08-20 06:28] profnandaa commented on #1418
Sure, please do, thanks! and check out the conversation in #1239 too.

[2020-08-20 06:30] #1307 closed

[2020-08-20 06:32] profnandaa commented on #1283
Ez, I think we can pack this one for now; perhaps to give a fresh look later.

[2020-08-20 06:34] #1037 closed

[2020-08-20 06:35] AberDerBart commented on #1418
I have already done it, see #1419

[2020-08-20 10:03] icyice0217 commented on #1417
@profnandaa can i take this one?

[2020-08-20 10:18] ezkemboi commented on #1283
No worries Prof. Nandaa

[2020-08-20 16:21] profnandaa commented on #1417
@icyice0217 -- sure, please go for it!

[2020-08-21 08:01] icyice0217 commented on #1417
PR has been created on #1420

[2020-08-21 18:40] genus1 opened #1421 "Validate base58"
Due to the rapid increase in IPFS I would recommend you add validation for base58.

[2020-08-23 00:06] smitpatelx opened #1422 "Conditional Validation"
Normally it works like this:

[code]
But for edit route, I just want to validate the params that are passed. For example if I supply **last_name** then I dont want to validate **first_name**. How can I implement this?

[2020-08-23 00:30] #1422 closed, assigned to nobody

[2020-08-23 19:46] genus1 commented on #1386
The reason this does not work is because it is only decoding the address to base58.
Once decoded you need to 256 hash the first 21 bytes and compare the 256 hash to the last four bites of the decoded address.
Rename this library to validate base58.

[2020-08-24 09:44] icyice0217 commented on #1417
PR #1420 was merged, thanks guys for all the hard work.

[2020-08-24 09:44] #1417 closed

[2020-08-24 10:42] profnandaa commented on #1417
Thank you too, and welcome to the project!

[2020-08-26 15:37] tplessas opened #1423 "Contribute: Support for more locales to isTaxID"
Hello everyone,

I would like to add support for EU member state & UK tax identification numbers to isTaxID based on this document: https://ec.europa.eu/taxation_customs/tin/specs/FS-TIN%20Algorithms-Public.docx

I see that PR #1409 has already paved the way, so I could fork and work from there once it's merged. Please let me know if that would be welcome!

[2020-08-28 08:37] pashidlos opened #1424 "isBase64 fails validation if string contains new line characters"
**Describe the bug**
After I'm converting image to base64 string the result contains new line characters after every 64 chars
it's seems a valid old format RFC 2045, while RFC 4648 is not
validation passes here https://base64.guru/tools/validator

is that possible to add support for this format?

**Examples**
https://codesandbox.io/s/modest-diffie-mmvdk?file=/src/index.js

**Additional context**
V

[2020-08-28 11:47] anay-kava commented on #1375
+1 - this is a serious issue.
Just checking if the fix would be included in the official release soon?

[2020-08-28 17:01] tux-tn commented on #1375
@anay-kava feel free to submit a PR concerning this issue

[2020-08-28 23:12] heanzyzabala commented on #1375
Hi. Please see https://github.com/validatorjs/validator.js/pull/1425.

[2020-08-31 07:25] profnandaa commented on #1375
closed in #1425

[2020-08-31 07:25] #1375 closed

[2020-09-01 07:43] profnandaa commented on #1424
@AberDerBart -- you can have a look at this too, after we merge the other PR?

[2020-09-01 08:36] AberDerBart commented on #1424
I hat a look at RFC 2045, where it sais in [section 6.8](https://tools.ietf.org/html/rfc2045#section-6.8):

So newline characters are not valid base64 but shall be ignored in MIME encoding. Therefore the correct solution for you would be to remove all newline characters before checking if it is base64.

[2020-09-01 09:00] pashidlos commented on #1424
@AberDerBart @profnandaa thank you for quick response!
and explanation!
I guess then it's not a bug and should be closed

[2020-09-01 09:00] #1424 closed

[2020-09-01 12:44] profnandaa commented on #1424
Thanks @AberDerBart

[2020-09-01 13:20] TimDaub opened #1426 "Allow validating string according to GSM-7 encoding"
See: https://en.wikipedia.org/wiki/GSM_03.38#GSM_7-bit_default_alphabet_and_extension_table_of_3GPP_TS_23.038_.2F_GSM_03.38

Are you interested in supporting an `isGSM7` validation function? If so, I could help to build it.

[2020-09-01 13:38] TimDaub commented on #1426
I've built a quick proof-of-concept over here: https://github.com/TimDaub/isgsm7

[2020-09-01 17:22] AberDerBart commented on #1424
Happy to help!

[2020-09-02 07:43] AberDerBart commented on #1239
I agree with @parasg1999. According to [section 4 of RFC 4648](https://tools.ietf.org/html/rfc4648#section-4) (at the bottom of page 5) the following case applies which implies, that `1111` is valid base64 (with each 1 representing 6 bits of the encoded data resulting in 24bits = 3 bytes of data):

I suggest closing this issue.

[2020-09-02 07:58] #1239 closed

[2020-09-03 14:16] neal-wilxite opened #1427 "Validator.js doesn't work on safari 12 - Invalid regular expression"
**Describe the bug**
Validator.js doesn't work on safari 12. Due to look behind in regular expression. Exact console error is:

[code]
**Screenshot**
![screenshot-app lambdatest com-2020 09 03-15_10_57](https://user-images.githubusercontent.com/51820165/92126644-59a6d700-edf8-11ea-8dbf-57455a40a012.jpg)

**Additional context**
Browser: Safari 12
Validator.js version: 13.1.1
Node.js version: n/a
OS

[2020-09-03 14:18] neal-wilxite commented on #1427
Same issue was raised before: [https://github.com/validatorjs/validator.js/issues/1354](https://github.com/validatorjs/validator.js/issues/1354)

[2020-09-03 14:26] #1427 closed

[2020-09-03 14:26] neal-wilxite commented on #1427
my mistake was using wrong version.

[2020-09-06 03:00] phanlyhuynh opened #1429 "[Update] Valid phone number from Viet Nam"
Hello everyone, we need add 'vi-VN' locale in isMobilePhone.js lib to do validation for Lebanon mobile phones.
Country code: +84
format mobile phones: ( [+84|0] )? [xx] [xxxxxxx]
[X] phone number: 10 digits
I've made an initial expression as:
(\+?84|0)([1-9]{2})+([0-9]{7})$
I can fix it
for more info about Viet Nam phone codes see : [areaphonecodes](https://areaphonecodes.com/vietnam/)
Best Regard

[2020-09-06 11:42] #1429 closed

[2020-09-07 09:41] TimDaub commented on #1426
Major Tom to ground control...

[2020-09-08 01:28] anay-kava opened #1431 "Next official release"
Hi Guys, just wondering when the next official release would be rolled out? Lots of new good commits seem to have gone in since the last release, so would be great to have a new official release soon. Apologies in advance if there's some release schedule I'm not aware of.

Thanks for the amazing work!

[2020-09-08 18:59] AberDerBart commented on #1418
As #1419 has been merged, I'm closing this

[2020-09-08 18:59] #1418 closed

[2020-09-09 08:32] zilahir opened #1432 "isURL method always returns false"
**Describe the bug**
A clear and concise description of what the bug is.

The `isURL` method *always* returns false, regardless what the input string is. Also ignores the `config` object.

**Examples**

[code]

[code]

**Additional context**
Validator.js version: `13.1.1`
Node.js version: `node/12.8.1`
OS platform: `macOS`

[2020-09-11 09:52] profnandaa commented on #1431
Hi @anay-kava -- we're in the process of preparing the next release. Expect this weekend. Afterwards, we will try maintain a cadence of 1 release in 2 months...

[2020-09-11 09:55] profnandaa commented on #1426
Thank for the suggestion. Could you give some example use cases for this feature?

[2020-09-11 23:55] OlllllllO opened #1433 "Validate thousand separator is displayed for numbers"
**Describe the bug**
I would like to verify that numbers displayed contain a separator. For example comma in the US. Validation will fail if I have a number without the separator.

**Examples**
1,000 ==> `true`
1000 ==> `false`

**Additional context**
Validator.js version: 13.1.0
Node.js version: v12.16.2
OS platform: macOS

[2020-09-13 19:17] ezkemboi commented on #1433
@OlllllllO can you be able to share the function/code you used in that case?
Or, are you trying to suggest a new functionality?

[2020-09-13 19:36] ezkemboi commented on #1432
@zilahir, I tried this on `MacOS, node/12.8.1 and validator.js 13.1.1` but it works fine.
[code]

I will need to do more investigations.

[2020-09-13 19:46] ezkemboi commented on #1421
@genus1, I totally agree with you.
I am working on this.
Let me hear the second thought of @profnandaa.

[2020-09-13 19:48] ezkemboi commented on #1403
I will work on this one.

[2020-09-13 21:52] evantahler opened #1434 "There should be a way to disable the "length" checks for `isEmail`"
**Describe the bug**

The `isEmail` validator checks that the user (part of the email address before the `@`) and the domain are under 64 and 254 bytes respectively via https://github.com/validatorjs/validator.js/blob/master/src/lib/isEmail.js#L121-L124.  This is a great default, but for internal email addresses or email-like identifiers, the lengths of these might be longer.  There is currently n

[2020-09-13 21:54] evantahler commented on #1434
Digging a little deeper, it does look like `ignore_max_length` is used, but only on the total length of the email's string... but the parts are still individually validated

[2020-09-14 09:02] anay-kava commented on #1431
Thanks @profnandaa ! Looking forward to the next release.

[2020-09-14 20:09] OlllllllO commented on #1433
I think this would be new functionality, but I don't have a suggestion as to where it should go. Would it make sense to add an option for `isNumeric()`? Perhaps something like this:

`validator.isNumeric('1,000', [{ thousands_separator: ',' }]` ⇨  `true`
`validator.isNumeric('1000', [{ thousands_separator: ',' }]` ⇨  `false`
`validator.isNumeric('1,000', [{ thousands_separator: ',' }, { no_symbols

[2020-09-14 20:38] ezkemboi commented on #1433
Since the American and British English agrees with `comma or space separator` for 1000 as a number, I will agree to the addition.
Let's hear from @profnandaa and @tux-tn thinking on this.

[2020-09-15 06:14] profnandaa commented on #1431
Will release on Friday 9/18, sorry for the delay.

[2020-09-15 19:00] tplessas commented on #1423
Still very much interested in contributing to the project. I have implemented support for many new TINs here, all ready to be pulled once I update the readme: https://github.com/tplessas/validator.js/tree/refactor-isTaxID

[2020-09-16 15:13] zilahir commented on #1432
@ezkemboi hmmm interesting. i will create a demo project soon! thanks for the reply.

[2020-09-16 17:51] saidfagan opened #1438 "Generated files should be gitignored."
When I run `npm test` lots of files get modified. Excluding these files from commit is unnecessary work. I think, these files should be placed in some directory (e.g. `build`) and gitignored.

[2020-09-18 20:42] profnandaa commented on #1431
v13.1.17 is out now :tada:

[2020-09-18 20:42] #1431 closed

[2020-09-18 21:03] #1434 closed

[2020-09-19 01:23] anay-kava commented on #1431
Woohoo ! Thank you !

[2020-09-19 03:47] Delta456 opened #1441 "vlang logo used for organisation logo!?"
Why is [V](vlang.io) Programming Language logo used for this organisation's logo!?

 It is not related to V at all and it can cause confusions.

[2020-09-19 09:08] profnandaa commented on #1441
I see, we can fix that. I'd never heard about vlang, just seen it now :) Thanks for the heads-up! /cc. @chriso

[2020-09-19 21:40] chriso commented on #1441
It's a generic V logo that I pulled from Wikimedia commons: https://commons.wikimedia.org/wiki/File:V-logo.svg

vlang obviously did the same thing. I'm happy to change it, but FYI the logo doesn't belong to the vlang project.

[2020-09-20 05:28] medvednikov commented on #1441
We pulled the logo from Wikipedia? No :)

This is the official logo of the V programming language. Though we don't have trademarks yet, it's better not to use it to avoid confusion.

[2020-09-20 08:38] Terisback commented on #1441
First V-logo commits was on 12 October 2019
![image](https://user-images.githubusercontent.com/26527529/93707265-4ad55980-fb46-11ea-8e2b-0443df99b575.png)
Logo was uploaded on wikimedia on 29 October 2019
![image](https://user-images.githubusercontent.com/26527529/93707305-853ef680-fb46-11ea-90c9-029f44c55f40.png)

[2020-09-20 09:11] chriso commented on #1441
Ok, very sorry! I'll remove it.

The logo is listed on Wikimedia Commons with a permissive license. I found it via a Google image search for V logos with a permissive [Creative Commons License](https://creativecommons.org/licenses/):

<img width="793" alt="Screen Shot 2020-09-20 at 7 07 04 PM" src="https://user-images.githubusercontent.com/364903/93707749-9a327e80-fb74-11ea-8ee9-db7d731d0bb5.png">

[2020-09-20 09:11] #1441 closed

[2020-09-20 10:43] tplessas commented on #1423
...any news on interest? I have added all countries from the document, added tests and updated the readme.

[2020-09-20 14:31] leahlundqvist commented on #1441
Quick note: While the V logo is under Creative Commons as it's open source ([link](https://github.com/vlang/v-logo)), there'd probably be a lot of confusion from two large open source projects having the same logo 😅 Glad this got cleared up 👍

[2020-09-20 16:49] profnandaa commented on #1423
@tplessas -- oh, sure, this is very much welcome. Let me fast-track closing on #1409 -- you can help with any clean-ups needed there in case the author is a bit held up?

[2020-09-20 17:06] #1395 closed

[2020-09-20 17:17] tplessas commented on #1423
@profnandaa Of course, keeping an eye on it.

[2020-09-21 19:28] profnandaa commented on #1423
@tplessas -- over to you now 👍 #1409 merged.

[2020-09-25 14:37] TimDaub commented on #1426
See: https://github.com/TimDaub/http-sms-gateway/blob/master/src/api/v1.js#L25-L29

[2020-09-25 19:26] profnandaa commented on #1300
I can close this now?

[2020-09-27 15:23] gyudisanyi commented on #796
If only we could pass an array containing characters we want to allow.

[2020-09-28 09:30] rubiin commented on #1438
@profnandaa should we check this?

[2020-09-28 15:24] profnandaa commented on #1438
@rubiin -- open to ideas.

[2020-09-29 08:56] shubhamguptaji opened #1448 "Add a new function to validate HTML"
Create a new function to validate if the HTML written as the text is valid HTML or not.

[2020-09-30 13:49] rubiin commented on #1438
i think i can spare a time for these

[2020-09-30 13:54] rubiin commented on #1438
I have created a pr for this https://github.com/validatorjs/validator.js/pull/1450

[2020-10-01 17:51] tux-tn commented on #1438
I strongly agree with this 👍

[2020-10-02 05:46] ezkemboi commented on #1438
I also agree

[2020-10-02 05:55] ezkemboi opened #1451 "Hacktoberfest is here!!!"
@profnandaa and @tux-tn, any plans to add the project as part of `Hacktoberfest Challenge`?

[2020-10-02 05:55] #1451 closed

[2020-10-02 05:56] ezkemboi opened #1452 "Hacktoberfest is here!!!"
@profnandaa and @tux-tn, any plans to add the project as part of the `Hacktoberfest Challenge`?

[2020-10-03 11:41] tux-tn commented on #1452
Looks like many Open Source projects are struggling with spam PRs because of Hacktoberfest :sweat_smile:

[2020-10-03 12:54] ezkemboi commented on #1452
I have also got that comment from many people.
We experienced some spam PR's last here.
People opened PR and issues that were not helpful or outside the project scope.
Since there has been that complaint, we might need to ignore it on the project.
Maybe we hear from other people.
Cc. @rubiin

[2020-10-03 12:57] profnandaa commented on #1452
I’m all for it, if this becomes entry to opensource for folks. We can deal
with the “collateral damage” :)

./na

On Sat, Oct 3, 2020 at 3:54 PM Ezrqn Kemboi <notifications@github.com>
wrote:

Sent from a tiny device while on the move.

[2020-10-03 13:14] rubiin commented on #1452
@profnandaa i have sent some prs , check them out. the rest are on the way

[2020-10-03 13:20] profnandaa commented on #1452
Sure, will be on them.

./na

On Sat, Oct 3, 2020 at 4:14 PM Rubin Bhandari <notifications@github.com>
wrote:

Sent from a tiny device while on the move.

[2020-10-03 21:05] rubiin commented on #1452
@profnandaa can you join class-validator on the hacktoberfest repo list so we can get more prs

[2020-10-03 21:14] rubiin commented on #1452
To get more hands on deck, I think the repo should opt in to hacktoberfest to get most out of the event.
https://hacktoberfest.digitalocean.com/hacktoberfest-update @profnandaa

[2020-10-04 16:25] profnandaa commented on #1452
I have added the topic to the repo, I think we're good now. Looks like there's no need to add:

Submitted in a repo with the hacktoberfest topic AND
during the month of October AND (
  The PR is merged OR
  The PR is labelled as hacktoberfest-accepted by a maintainer OR
  The PR has been approved
)

[2020-10-04 16:26] #1452 closed

[2020-10-04 16:34] profnandaa commented on #1448
XML/HTML validation I think will be beyond the scope of this project, IMHO...

[2020-10-05 02:22] fakhrip commented on #1400
I will try to work on this one...

[2020-10-05 12:30] parasg1999 commented on #1421
I think this issue can be closed now

[2020-10-05 12:54] parasg1999 commented on #1414
Hey, can I take this issue since there hasn't been any activity here for a while?

[2020-10-05 13:33] rubiin commented on #1414
This is in queue, waiting for the last pr to be merged

[2020-10-05 15:06] raxraj commented on #654
Is this issue still open? I want to contribute to this.

[2020-10-05 15:10] profnandaa commented on #654
Sorry #1449

[2020-10-05 15:12] profnandaa commented on #1414
@rubiin -- BTW, you can just raise the PR separately, you don't have to wait for the other since it's not depended on it. Just make sure you branch off from the latest `master` and not your previous.

[2020-10-05 15:17] profnandaa commented on #1421
Thanks!

[2020-10-05 15:17] #1421 closed

[2020-10-05 15:17] raxraj commented on #654
Oh I see thanks @profnandaa

[2020-10-05 15:27] profnandaa commented on #1403
@ezkemboi -- let me know if this on the way.

[2020-10-05 15:28] profnandaa commented on #1403
Could you also post here the spec or how you are looking to tackle it; I see several variations, 12-hr, 24-hr, will we add seconds section, etc?

[2020-10-05 15:45] rubiin commented on #1414
let me try

[2020-10-05 17:23] josecarlosweb commented on #795
In Wikipedia says `" "@example.org (space between the quotes)`. And i tested:
[code]
and works fine.

[2020-10-06 01:15] rubiin opened #1464 "Add isCSV(commab separated values)"
If approved, i will work on a pr

[2020-10-06 01:49] rubiin opened #1465 "Add isDirectory"
This is to validate whether a string is valid directory or not. Possible cases for Linux and Windows
Happy to work on a pr

[2020-10-06 11:08] rubiin commented on #1448
yes, it will be beyond the scope

[2020-10-06 20:07] gibson042 commented on #1253
There's nothing special about underscore, lone or otherwise. Domain names in common display format are composed of dot-separated labels, and each label may contain any octet in any order (including not just underscore, but also ASCII control characters like 0x00 and 0x7F and non-ASCII values like 0xA0). The subset of domain names that are "host names" limit label octets to ASCII letters, digits, a

[2020-10-07 00:35] yomed commented on #1036
This should be fixed now by https://github.com/validatorjs/validator.js/pull/1435

[2020-10-07 05:41] profnandaa commented on #1036
Sure, thanks.

[2020-10-07 05:41] #1036 closed

[2020-10-07 07:19] arnabuchiha opened #1472 "IPv4 and IPv6 validator"
**Describe the bug**
IPv4 and IPv6 validator needs to be implemented.(Not a bug but feature demand)

**Examples**
204.120. 0.15 is a valid IPv4 address
125.512.99.1 is not a valid IPv4 address

I would like to implement these and make a PR if approved.

[2020-10-07 08:19] NeeEoo commented on #1472
I believe there already exists a IPv4 and IPv6 validator. https://github.com/validatorjs/validator.js/blob/master/src/lib/isIP.js

[2020-10-07 13:55] #1472 closed

[2020-10-07 17:09] #1413 closed

[2020-10-07 17:35] profnandaa commented on #1464
Trying to understand if there's actual usecase; though will leave it for discussion.

[2020-10-07 17:43] rubiin commented on #1464
It could be useful for validating csv strings

[2020-10-07 17:48] shubhamguptaji commented on #1448
As validator.js is used at both frontend and backend nowadays for validation purposes. So, i was thinking adding this functionality will help many developers to do their HTML/XML validations easily. Else they need to use some other library or something.

[2020-10-07 17:49] rubiin commented on #1448
By html validation, @shubhamguptaji do you mean tag validation?

[2020-10-07 17:54] shubhamguptaji commented on #1448
Yes

[2020-10-07 23:23] michaeljota commented on #1413
Thanks for the hard work! Do you think this will be in a release soon?

[2020-10-08 04:14] rubiin commented on #1413
@profnandaa can fill you on this

[2020-10-08 14:07] profnandaa commented on #1413
Sure, we should do a release somewhere mid next month in our bi-monthly cadence.

[2020-10-08 14:25] profnandaa commented on #795
For emails in particular, we opted to lean more on the pragmatism side than text-book/RFC purity... Coz most of our users are just trying to catch bogus emails that they get in their input...

[2020-10-08 14:25] #795 closed

[2020-10-09 07:44] #1400 closed

[2020-10-09 08:03] profnandaa commented on #1464
Please go ahead and do the PR, we can continue deliberating when the PR is ready. Would like to hear what the rest think.
/cc. @ezkemboi @tux-tn

[2020-10-09 08:05] profnandaa commented on #1465
/cc. @ezkemboi @tux-tn

[2020-10-09 12:54] rubiin commented on #1416
@profnandaa  these three issues for which i sent pr can be closed

[2020-10-09 12:55] #1416 closed

[2020-10-10 01:54] jmartin4563 commented on #1266
@profnandaa: It looks like the documentation side of things has already been handled from looking at the README, so is this issue now for removing instances of `countryCode` as parameter names and replacing them with `locale`?

From doing a quick search through the code base, it looks like we could rename the remaining parameters without causing backwards compatibility issues, and I'll be happy to

[2020-10-10 07:42] #1438 closed

[2020-10-10 07:47] profnandaa commented on #1266
@jmartin4563 -- sure, the issue will be mainly dealing with backward compatibility. I'm more of the idea that we go for CC for stuff that's territorial, and I know this contradicts with what we've done already with stuff like PostalCode, PhoneNumber, etc... what would be your suggestion?

[2020-10-10 12:05] rubiin commented on #1464
Sure

[2020-10-17 17:04] adrienv1520 commented on #1432
It should not, `google.com`, `index.hu` and `www.index.hu` are all domain's names not URIs based on RFC-3986.

I was facing the same issues with your module and `valid-url` so I decided to build a module as reliable as possible strictly based on RFC-3986: https://github.com/adrienv1520/node-uri

You can:
- parse any URI (URNs, URLs, URIs with IDNs support, etc.);
- get the safe Punycode ASCII or U

[2020-10-18 12:13] firlus commented on #1266
@profnandaa Started work on adding 'DE' locale for `isIdentityCard`.

[2020-10-18 14:23] firlus commented on #1423
Included german version.

#1489

[2020-10-18 14:26] firlus opened #1490 "Add isLicensePlate()"
License plate are easily validatable in many countries / regions and I can see a lot of use cases here.
I'd be happy to contribute with this feature and would offer to implement a few european locales right away.

[2020-10-18 16:31] firlus opened #1491 "Inconsistency in international phone number prefixes"
For some countries, you can use `00` as an international prefix instead of `+`, for some you can't.
From my understanding, you should always be able to replace those two at the beginning of a phone number.

[2020-10-18 16:31] firlus commented on #1491
I'd be happy to contribute by fixing this issue if wanted.

[2020-10-19 06:43] lin826 commented on #572
Like the question from @Haroenv, we do need a complete list of [IANA Language Tags](https://github.com/mattcg/language-subtag-registry).
Using their [JS API](https://github.com/mattcg/language-tags) might be a compromised solution.

I propose this:
Step 1. npm install their API, which has no string assertion.
Step 2. Add a file of `isLanguageTag.js`:
[code]
Step 3. Add some tests from [RFC 5646](h

[2020-10-19 09:52] Haroenv commented on #572
the project you linked still uses a full list of all languages, here: https://github.com/mattcg/language-subtag-registry

[2020-10-21 13:23] profnandaa commented on #1374
closed in #1407

[2020-10-21 13:23] #1374 closed

[2020-10-21 13:30] profnandaa commented on #1491
Cold you give some examples, I've tried the same with my KE number but fails to make the dial:
[code]
Or am I getting it wrong?

[2020-10-21 13:34] profnandaa commented on #1490
Sure, go for it!

[2020-10-21 16:34] yhau1989 commented on #1465
I would Like help you, We can use [Node Module existsSync](https://nodejs.org/api/fs.html#fs_fs_existssync_path)

[2020-10-21 20:20] firlus commented on #1491
Maybe this rule is not as universal as I thought... I will try to find some resources on this

[2020-10-21 20:48] firlus commented on #1491
It is in fact not universal. There are countries where you can make this replacement, but not everywhere. This makes this issue obsolete.

[2020-10-21 20:48] #1491 closed

[2020-10-24 14:20] cdekkers opened #1497 "Slug regex allows special characters"
https://github.com/validatorjs/validator.js/blob/bab507ad4a33156ece15582268b2fe0ab3bbca1d/src/lib/isSlug.js#L3

This regex validates slugs that start with a special character. For example, `€test` is allowed as a slug.
Perhaps this one is a better solution:

`^[a-z0-9]+(?:(-|_)+[a-z0-9]+)*$`

More info and tests: https://regexr.com/5eqe6

[2020-10-24 19:56] profnandaa commented on #1497
PR welcome.

[2020-10-24 21:17] cdekkers commented on #1497
On a related note, the current expression does not allow for slugs with 1 to 2 characters.

[2020-10-27 06:37] shahnawaz-dev opened #1503 "Missing validation for Oman mobile numbers"
We have been using this library in our product for multiple years and needed mobile number validation for Oman.
https://github.com/validatorjs/validator.js/blob/master/src/lib/isMobilePhone.js

"ar-OM"

Valid mobile numbers:
+968 91xxxxxx
+968 92xxxxxx
+968 93xxxxxx
+968 94xxxxxx
+968 95xxxxxx
+968 96xxxxxx
+968 97xxxxxx
+968 98xxxxxx
+968 99xxxxxx

[2020-10-27 08:08] shahnawaz-dev commented on #1503
Closing this issue and opening from my official account.

[2020-10-27 08:08] #1503 closed

[2020-10-27 08:08] dev-sna opened #1504 "Missing validation for Oman mobile numbers"
We have been using this library in our product for multiple years and needed mobile number validation for Oman.
https://github.com/validatorjs/validator.js/blob/master/src/lib/isMobilePhone.js

"ar-OM"

Valid mobile numbers:
+968 9[1-9]xxxxxx
009689[1-9]xxxxxx

[2020-10-27 09:50] dev-sna commented on #1504
Pull request for the Oman mobile number validation support.
https://github.com/validatorjs/validator.js/pull/1506

[2020-10-28 03:50] luiscobits opened #1507 "[proposal] add CDN option in readme"
Hi, I want to proposal to add cdn instructions in the readme, we can use https://unpkg.com/
In that way, we will have a cdn method to add validator.js in client-side.

Can I make a PR?

[2020-10-28 14:26] joeberetta opened #1508 "isCurrency validator: Invalid regular expression"
**Describe the bug**
```validator/lib/isCurrency``` throws ```SyntaxError: Invalid regular expression```

**Examples**
[code]
[code]
**Expected RegExp**
[code]

**Additional context**
Validator.js version: 13.0.0
Node.js version: 12.19.0
OS platform: [linux]

[2020-10-29 19:45] purell opened #1510 "Add fr-CA (french Canada) localization"
Add fr-CA (french Canada) localization

[2020-10-31 05:25] redbmk commented on #1508
This seems to be fixed now.

Working using validator 13.1.17: https://stackblitz.com/edit/js-psund1
Failing using validator 13.0.0: https://stackblitz.com/edit/js-svxrnl

[2020-10-31 10:16] joeberetta commented on #1508
Yay! It's cool. In this case, I close this issue

[2020-10-31 10:16] #1508 closed

[2020-11-05 05:00] shahzaibahmad3 opened #1516 "add isSubsequence() functionality"
add isSubsequence(a, b) function to check if String b is a subsequence of String a.
it returns true if a is subsequence of b else false.

example:
1.)
a="aidkemsd"
b="aesd"

returns true.

2.)
a="aidkemsd"
b="ajd"

returns false.

[2020-11-05 05:39] shahzaibahmad3 commented on #1516
i have implemented the function.
![isSubsequence()](https://drive.google.com/file/d/11bAFkqKwCRL0ElQYyn5H9LPYSfkZAYWK/view?usp=sharing)

[2020-11-05 05:45] shahzaibahmad3 commented on #1516
I have implemented the function.
![isSubsequence](https://user-images.githubusercontent.com/47607565/98202532-39aaa580-1f58-11eb-9c64-335b44cd3b61.png)

[2020-11-05 05:47] shahzaibahmad3 commented on #1516
I have implemented the function.
![isSubsequence](https://user-images.githubusercontent.com/47607565/98202691-82faf500-1f58-11eb-8bdf-fe0dfcdcf616.png)

[2020-11-05 08:45] shahzaibahmad3 commented on #1516
#1517

[2020-11-05 08:46] shahzaibahmad3 commented on #1516
#1517 added isSubsequence() function.

[2020-11-10 14:55] profnandaa commented on #920
@DCtheTall -- I'm very sorry I missed on this reply... Perhaps we just add an enhancement/option on `isURL` to support this?

[2020-11-12 05:12] andrefedev opened #1519 "The regular expression to detect phone numbers for es-CO must be changed"
My cell phone number starts like this + 573011140XXX, the regex must be changed to admit after the fourth number values from 0-9 and not 2-9. I don't suppose it would work for national landlines either.

[2020-11-12 14:33] rubiin opened #1520 "feat: Add isFcmKey"
Alot of times we are saving fcm key mostly in backend for push notifications and fcm is the most widely used for sending push notification from backend to mobile devices. It would be great to add a fcm key validator
cc: @profnandaa  @ezkemboi

[2020-11-15 11:37] ezkemboi commented on #1433
Also, as an opinion, there could be cases where in the future we need to allow users to validate both numeric with and without separators, e.g whether a user passes
`1000, 1,000 or 1 000` and an option like `accept_with_without_seperator as true` then all of these passes
I don't know what are your thoughts @profnandaa, @OlllllllO, @theerapatcha, @tux-tn, and @rubiin.

[2020-11-15 14:55] rubiin commented on #1433
I think adding option accept_with_without_seperator will be useful for people

[2020-11-15 22:32] profnandaa commented on #1520
Sorry this is vendor specific (Firebase) and therefore not a good candidate for the general-purpose lib...

[2020-11-15 22:42] #1282 closed

[2020-11-16 17:05] Savagemikey92 opened #1523 "A:B:C="
String str = new String(data);

[2020-11-16 17:06] #1523 closed

[2020-11-18 03:57] zoxon commented on #934
Why `isMobilePhone` validator is used language codes instead of country codes?

[2020-11-19 01:50] profnandaa commented on #934
Ideally it should be country codes but for backward compatibility, we continued with the initial approach.

[2020-11-19 07:34] dedpnd opened #1524 "ignore options in "isAlpha" don't work"
**Describe the bug**
"Ignore" options in "isAlpha" don't work.
This parameter is not present in the source code.

**Examples**
`validator['isAlpha']('en-US', 'en-US', { ignore: '- /' }) //false`

![image](https://user-images.githubusercontent.com/18037236/99634881-3df3ba00-2a52-11eb-8920-2fb54a6f5e5f.png)

**Additional context**
Validator.js version: 13.1.17
Node.js version: 12.13.1
OS platform: l

[2020-11-19 11:41] #1520 closed

[2020-11-19 12:44] jonadeline commented on #1524
It seems that the code adding the ignore option hasn't been released yet.
It has been merged to master 4 days ago :
https://github.com/validatorjs/validator.js/commit/b569296c80b45387d3fddfd7aaf497f20848ef55#diff-6935351e4d8a0e14b9cf14c901b98163e0dc06bbf5c6af560c31a488c704d80d

[2020-11-20 16:06] ezkemboi commented on #1524
@dedpnd and @jonadeline, we are working on making a release this weekend.
cc. @profnandaa.

[2020-11-20 16:06] ezkemboi commented on #1519
@andrefedev, I will take a look at this one.

[2020-11-22 21:10] royeradames commented on #305
isAlpha(str [, locale, options])
 options is an optional object that can be supplied with the following key(s): ignore which can either be a String or RegExp of characters to be ignored e.g. " -" will ignore spaces and -'s.

[2020-11-22 21:17] royeradames commented on #1524
Same
![image](https://user-images.githubusercontent.com/16887907/99917423-2df00a80-2cde-11eb-86c7-cb90e1df3108.png)

[2020-11-23 02:30] profnandaa commented on #1524
Didn't make to release in the weekend but should be out today, all factors
constant.

./na

On Mon, Nov 23, 2020 at 12:17 AM Royer Adames <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2020-11-23 09:04] dedpnd commented on #1524
Thank you, waiting for updates.

[2020-11-24 03:16] #1423 closed

[2020-11-25 08:39] rkristelijn commented on #1524
I confirm that it doesn't work yet, for now I use:

[code]

[2020-11-26 12:18] zwzw911 opened #1531 "Add additional options min/max for isCurrency"
Is is possible add additional options **min/max** for isCurrency, just like isInt/isFloat .......

[2020-11-27 12:41] timo92 opened #1532 "Incorrect validation result when passing explicit undefined in options to isInt"
**Describe the bug**
Due to my use case I'm currently wrapping the isInt validator and passing the options object as required. In conformance with the typescript type definitions I'm explicitly passing undefined for `options.max`. Because [isInt uses hasOwnProperty](https://github.com/validatorjs/validator.js/blob/7ef0f2590682a71f8e7195209cfedf00bb26d88e/src/lib/isInt.js#L19) to check for the pres

[2020-11-27 18:40] rsdavis opened #1533 "isStrongPassword not there"
**Describe the bug**
I am trying to use the method "isStrongPassword" but it is not present. I can use others just fine, but this one gives an error "validator.isStrongPassword is not a function". I've tried importing the function different ways, but when I checked in the node modules I can see that there is no file for /lib/isStrongPassword.js.

Judging from the commit history, it looks like this

[2020-11-27 19:43] fedeci commented on #1531
I'll submit a PR

[2020-11-27 20:00] fedeci commented on #1533
It has not been released yet :)

[2020-11-27 20:14] fedeci commented on #1532
This also checks for `truthy` values:
[code]
@profnandaa what do you think? Should I submit a PR?

[2020-11-27 21:30] timo92 commented on #1532
That would however fail for
`isInt("-2", { min: 0 })`
as 0 is falsy.

A parseInt or typeof may be sufficient.

[2020-11-28 07:18] fedeci commented on #1532
Right, I haven't thought about that. However `parseInt` would only work for integers, so it is not applicable to strings or whatever other type the option is. I excluded `typeof` because it is unable to check for `null`, but a strict equality can.

[code]

[2020-11-28 10:28] tux-tn commented on #1533
The next version (containing `isStrongPassword`) will be released very soon

[2020-11-28 18:08] rsdavis commented on #1533
Sounds good. I saw it in the readme and assumed it was already available.

[2020-11-29 03:24] profnandaa commented on #1524
Sorry for the delay, we should be making the release today.

[2020-11-29 03:25] #1524 closed

[2020-11-29 03:31] profnandaa commented on #1533
release going out today, thanks for asking!

[2020-11-29 03:31] #1533 closed

[2020-11-29 03:38] profnandaa commented on #1465
I think we don't need this validator...

[2020-11-29 03:38] #1465 closed

[2020-11-29 03:39] profnandaa commented on #1465
I don't see a practical application for this (general purpose usage)

[2020-11-30 03:42] isik-kaplan commented on #1193
Hello! I'm writing a very small service to allow users to scrape some data from websites they enter.

I'm trying to use `isURL` and then `fetch` it, but I'd prefer to just trust that it is a valid url and send requests to valid urls instead of fetching a bunch of random tlds.

I can write a ts decorator or a hoc to simply disregard errors in fetch but I'd rather not sending the request if it is *d

[2020-11-30 13:14] nsisodiya opened #1537 "[fixed] code breaking - No ES support in 13.5.0"
My code is using following syntax like
[code]
and the reason is - lib or es folder is missing in 13.5.0 release.

![image](https://user-images.githubusercontent.com/333455/100614245-d97f0780-333b-11eb-82e6-2c9c3787354b.png)

![image](https://user-images.githubusercontent.com/333455/100614388-13e8a480-333c-11eb-8b9d-7be8c603e567.png)

[2020-11-30 13:27] kevoj opened #1538 "Bug version 13.5.0 with webpack"
Bug version 13.5.0 with webpack (version 13.1.17 works fine)

![image](https://user-images.githubusercontent.com/2652129/100615435-9abe6280-32e5-11eb-8fb6-cbe4ef602cc3.png)

webpack: 5.9.0
Validator.js version: 13.5.0
Node.js version: 10.21.0
OS platform: [linux]

[2020-11-30 13:30] fedeci commented on #1538
This is also happening to me, I believe it is due to the deletion of `index.js` in #1528

[2020-11-30 13:37] smart-apeha commented on #1538
Same for me! rename validator.js to index or change "main" entry in package.json

[2020-11-30 13:39] fedeci commented on #1538
I am opening a PR hoping it will be accepted soon.

[2020-11-30 13:45] profnandaa commented on #1538
On it, fixing. Sorry about that.

[2020-11-30 13:54] profnandaa commented on #1538
Please check if 13.5.1 patch is good; really sorry for breaking you folks, we do our builds on local machine for now, but we will try and automate.

[2020-11-30 13:56] profnandaa commented on #1537
Must be related to #1538, sent in a patch 13.5.1, pls confirm if all is ok. Sorry for that!

[2020-11-30 13:57] kevoj commented on #1538
13.5.1 works fine!  Thanks for your help, somehow we are testers in other environments :)

[2020-11-30 13:58] #1538 closed

[2020-11-30 13:59] profnandaa commented on #1538
Nice, thanks! We'd ignored the `index.js` but I think we will just bring it back to prevent such slips.

[2020-11-30 14:12] joe511230 commented on #1537
![image](https://user-images.githubusercontent.com/11251971/100620129-068de300-3359-11eb-91bc-7ae4a6f13c24.png)
lib or es folder is still missing in 13.5.1
@profnandaa

[2020-11-30 19:00] profnandaa commented on #1537
@nsisodiya -- let me know if this issue is fixed so we close this, thanks!

[2020-11-30 19:22] ezkemboi commented on #1519
@andrefedev please take a look at [this wikipedia material](https://en.wikipedia.org/wiki/Telephone_numbers_in_Colombia) and update these changes. It will help others.
I have made a PR to make the updates.

[2020-11-30 19:30] ezkemboi commented on #1532
@fedeci are you still willing to open a PR for this use-case/fix?

[2020-11-30 19:32] nsisodiya commented on #1537
@profnandaa - Yup, it is fixed.

[2020-11-30 19:32] #1537 closed

[2020-11-30 19:34] fedeci commented on #1532
Sure

[2020-11-30 19:45] ezkemboi commented on #1532
Go ahead and raise a Pr for this fix and tag the issue.
I will be checking on a similar issue on #1531

[2020-11-30 20:41] AubreyHewes commented on #1193
@isik-kaplan You are wanting to push your application logic in to a library. This is not the way.

A valid URL is already tested. You want to test a valid URL also has a registered/known TLD. This can only be tested by validating against the IANA list (which can change). Including this list in the library is pure unnecessary bloat; bloat for all consumers. Introducing an unnecessary maintenance bu

[2020-11-30 21:02] AubreyHewes commented on #1497
That this library even wants to validate a slug; it is overreaching it's initial domain; validation of known quantities.

A slug can be implemented differently per cms/site and one may not match another. The case in hand `€test` is a valid slug, and should always be a valid slug. It may not be a compatible with your cms slug; but it is valid.

[2020-12-01 03:13] isik-kaplan commented on #1193
Of course it can do it itself, it can also simply not use a library. That's not the point, though.

I imagine people who validates urls don't validate them for the sake of validating them. They most probably are using the urls somehow after validation, and I am willing to bet that most of the usage after validating is to send a request to validated urls.

If libraries stopped including features be

[2020-12-01 03:49] ezkemboi commented on #1516
This needs to be closed.
cc. @profnandaa

[2020-12-01 04:55] #1516 closed

[2020-12-01 05:50] profnandaa commented on #1193
I'm a little at home with the idea of a user supplying a today list, better
than the overhead of us maintaining such... I don't know what the rest
think?

./na

On Tue, Dec 1, 2020 at 6:13 AM Işık Kaplan <notifications@github.com> wrote:

--
Sent from a tiny device while on the move.

[2020-12-01 08:48] andyli9449 opened #1543 "Validator 13.5.1 doesn't support 163/126 format email"
**Describe the bug**
A clear and concise description of what the bug is.
validator 13.5.1 doesn't support 163/126 format  email such as hello@163.com or hello@126.com
163/126 is Netease email service。It is very popular in China
validator 13.1.1  can support 163/126

**Examples**
If applicable, add screenshots to help explain your problem.
code: validator_mail.js
[code]

13.5.1 test case:
[code]
13

[2020-12-01 10:31] rubiin commented on #1532
I think this should be fixed as well

[2020-12-01 18:04] josephtannenbaum commented on #1543
We're also seeing this issue-- emails where the domain name is just numbers are now considered invalid.

[2020-12-01 18:27] josephtannenbaum commented on #1543
Here's the problem I think: https://github.com/validatorjs/validator.js/pull/1474/files#diff-3b6763f98d8f87da73f519e2f3e4c0adea82d001683f51e1c7beba87f6782b0eR26-R37

@CristhianMotoche is not testing the TLD because it was `pop`ed on line 26 😅

[2020-12-01 20:11] profnandaa commented on #1543
@CristhianMotoche -- can look into this?

[2020-12-01 20:19] CristhianMotoche commented on #1543
Hi! I'll try to take a look at it later today.

[2020-12-01 20:24] profnandaa commented on #1543
Cool, thanks!

[2020-12-03 03:08] CristhianMotoche commented on #1543
I'm sorry, but I haven't had the time to check this. 😞
I hope to have some time to review it on the weekend.

[2020-12-03 03:43] profnandaa commented on #1543
No worries, it's alright.

[2020-12-03 03:44] #1519 closed

[2020-12-03 13:38] mbalaam opened #1544 "Regression 13.5.1: isURL() fails for number urls, e.g. 1234.com"
**Describe the bug**
Using `13.1.17` we have a test for the url `http://1337.net` (yes, very much lols) which passed, and as far as I can see appears to be a valid url.

This is now failing on `13.5.1`, if I try changing to `http://l337.net` or `http://133t.net` then the tests pass.

**Additional context**
Validator.js version: 13.5.1
Node.js version: v12.18.2
OS platform: macOS

[2020-12-04 04:36] niftylettuce opened #1545 "isFQDN returns false for a valid FQDN"
**Describe the bug**

Expected result is `true` but it returns `false`.

**Examples**

[code]

**Additional context**
Validator.js version: Latest
Node.js version: LTS
OS platform: macOS

[2020-12-04 20:52] OlllllllO commented on #912
@profnandaa - hello. any update on when this feature will get merged in? thanks.

[2020-12-05 01:17] Maxim-Mazurok commented on #912
IDK why this PR wasn't merged: https://github.com/validatorjs/validator.js/pull/1084
It looks like a totally valid approach to me. There's no such thing as too many options, especially when people asked for this option...

[2020-12-05 15:14] CristhianMotoche commented on #1543
Hi! I was checking the issues and PRs and I think I'm a late to fix this. It seems PR #1546 will address this and some additional fixed for `isFQDN`.

[2020-12-05 15:57] viliamzigo opened #1547 "isIBAN does not validate MT ibans correctly"
**Describe the bug**
isIBAN function returns false on valid Maltian IBAN

**Examples**
Example: MT31MALT01100000000000000000123

**Additional context**
Validator.js version: 13.1.17
Node.js version: v15.3.0
OS platform: Linux, Chrome 87

[2020-12-06 10:28] tux-tn commented on #1510
@profnandaa can be closed. Added in #1528

[2020-12-06 10:30] tux-tn commented on #1543
Sorry @CristhianMotoche i didn't see this issue and that you were assigned to fix it 😅

[2020-12-06 13:39] CristhianMotoche commented on #1543
No worries. Actually, thanks for solving it. :smile:

[2020-12-08 01:56] andrefedev commented on #1519
Great job my brother @ezkemboi.

[2020-12-08 19:06] ezkemboi commented on #1547
@viliamzigo I have not been able to replicate this one even after testing on all of the above, except for Linux.
Though, I have decided to add more tests for isIBAN.

[2020-12-08 19:09] ezkemboi commented on #1504
@profnandaa this can be closed.

[2020-12-08 20:25] #1545 closed

[2020-12-08 20:27] profnandaa commented on #1545
Fixed in #1546 -- will release this patch as a hotfix due to the regression.

[2020-12-08 20:27] profnandaa commented on #1543
Fixed in #1546 -- will release this patch as a hotfix due to the regression.

[2020-12-08 20:27] #1543 closed

[2020-12-08 20:28] profnandaa commented on #1544
Fixed in #1546 -- will release this patch as a hotfix due to the regression.

[2020-12-08 20:28] #1544 closed

[2020-12-08 20:28] #1504 closed

[2020-12-08 20:29] #1510 closed

[2020-12-08 21:03] ezkemboi commented on #1386
I am working on this one and I will raise a PR.

[2020-12-09 09:13] viliamzigo commented on #1547
@ezkemboi I will try to replicate it once more in my conditions and then I will try to add more information

[2020-12-09 09:26] ezkemboi commented on #1547
Also, some screenshots could be better @viliamzigo.
Thanks. Looking forward to hearing from you.

[2020-12-09 11:42] ezkemboi commented on #1403
This has been worked on #1479 and I will do a review on the same @profnandaa

[2020-12-09 14:59] #1386 closed

[2020-12-10 00:57] OlllllllO commented on #912
#1084 was closed without getting merged and it seems that this feature just got lost in the mix. Any chance of revisiting?

[2020-12-10 01:32] JuanFML commented on #920
Hi @profnandaa I am new here, and I see this hasn't been resolved yet, could I try to fix it? I will use the suggestions mentioned already.

[2020-12-10 11:47] seyfer opened #1549 "Valid phone number from Switzerland"
When validator used like that
`isMobilePhone(value, 'any', { strictMode: false })`

For the valid phone number from Switzerland `+411122112211`

it returns `false`. expected `true`.

on the other hand, our BE uses simple regex for Phone validation `'/^\+([0-9]){8,16}$/'` and it pass.

[2020-12-11 00:11] profnandaa commented on #1549
PR welcome.

[2020-12-11 23:35] AubreyHewes commented on #1193
@isik-kaplan I must have completely understood you, sorry about that!

Including a TLD list _within_ the library is pure unnecessary bloat and an extra maintenance overhead. The current validation itself is an URL validation.. i.e. You know the URL is a valid URL (as it is tested according to the the spec; spec has no place for specific tlds).
My proposal was to allow adding an array of tlds to th

[2020-12-14 22:13] JuanFML commented on #1288
Hello, I see this hasn't been worked on, I could add Mexico, Kazakhstan, Liechtenstein, Malaysia, Thailand, New Zeland and Jamaica.

[2020-12-14 23:24] profnandaa commented on #1288
Nice, please go ahead, thanks :)

./na

On Tue, Dec 15, 2020 at 1:13 AM JuanFML <notifications@github.com> wrote:

--

*___Nandaa *Anthony
*@profnandaa <https://github.com/profnandaa>*

[2020-12-15 14:10] tux-tn commented on #1507
Many people are using unpkg to load JS libraries. I really think it's a great idea to add instructions  for that purpose specially that `validator.min.js` will be removed from the repo
@ezkemboi @profnandaa any feedback on this?

[2020-12-17 01:47] JuanFML commented on #1046
Hello I was looking into this issue, although looking into the ISO8601 format and the library, I have the following concerns:
- `20190302` should actually go through as it is a valid format for the ISO8601 (basic format), or can somebody explain me why it sohuldn't?
- for the second problem mentioned here where `2020-03-24 08:16:47.297Z` without the T and `2020-03-24` passed are also valid with th

[2020-12-17 04:21] #1549 closed

[2020-12-17 04:26] profnandaa commented on #1507
Sounds good to me, let's do that. Thanks!

[2020-12-19 23:29] molaycule opened #1557 "Sierra Leone phone number validation incorrect"
Describe the bug
The isMobilePhone validator doesn't work for Sierra Leone phone numbers.

Examples
This phone number: +23274560591 appears as invalid, but it's actually valid.

Additional context
Validator.js version: 13.5.2

[2020-12-20 05:23] ezkemboi commented on #1557
@moodele I am sorry about this.
I can admit that the `Sri Lanka locale` was added as `Sierra Leone locale.`
I am working to fix this and add `Sierra Leone locale has en-SL`

[2020-12-23 10:35] dspinellis opened #1559 "Some valid payment card numbers are not accepted"
The performed check is overly stringent (and sometimes wrong) regarding the accepted formats.  The following illustrates two cases derived from [this site](https://www.freeformatter.com/credit-card-number-generator-validator.html).

[code]

More details on number formats are available [here](https://baymard.com/checkout-usability/credit-card-patterns), [here](https://en.wikipedia.org/wiki/Payment_

[2020-12-23 14:22] rubiin commented on #1531
I think adding the option would deviate from the meaning of the validator

[2020-12-23 14:23] #1464 closed

[2020-12-24 08:45] VasTrp opened #1560 "Option for more than one locale"
I would like to suggest to add the option of more than one locales to isAlpha (and not only) such as:
`isAlpha(string, 'en-US,fr-FR,de-DE', {ignore:' /'})`

[2020-12-25 15:09] bakyazi commented on #1531
hi i send pr if you review and approve it, it can be merged. i am new at open source community, i hope i did not make mistake.

[2020-12-26 14:39] fedeci commented on #1560
@VasTrp In my humble opinion this is not a necessary feature because that result can be easily achieved using an `||` operator.

[2020-12-27 08:28] VasTrp commented on #1560
I am building a registration form and I need to fill in the input, which is possible to contain to languages. With the or operator I think that the validator allows the one or the other language, not both of them.

[2020-12-27 10:43] fedeci commented on #1560
The `or` operator returns true if one or more of the conditions is true.
Truth table:

| A     | B     | A \|\| B |
|-------|-------|----------|
| false | false | false    |
| false | true  | true     |
| true  | false | true     |
| true  | true  | true     |

[2020-12-28 09:04] VasTrp commented on #1560
Thank you for your reply @fedeci .
I think that your example could work only if we were trying to get every character (letter) of the string.
The function isAlpha testing all the string.
I try the following:
`if ((validator.isAlpha(ev.target.value, 'en-US', {ignore:' '}) === false) || (validator.isAlpha(ev.target.value, 'ru-RU', {ignore:' '}) === false)){
errorhandler(false,ev.target);
        }`

[2020-12-28 09:38] fedeci commented on #1560
@VasTrp I did not understand correctly what you were trying to do :)
In this case we should join multiple regex in one, but I don't know how complicated it would be.

[2020-12-28 10:00] VasTrp commented on #1560
My suggestion is to get the locate as an array, with exactly the same way as the function .isMobilePhone.
Theoretically, this will allow us to use multiple languages inside the string.

[2020-12-29 05:31] iptq opened #1562 "isInt doesn't accept numbers."
**Describe the bug**
I encountered this from `class-validator`'s use of isPort, but I don't see why `isInt` must take in a string. It's so mind-boggling seeing

[code]

throw an exception. For numerical types, I would expect it should discern between numbers with fractional parts vs. numbers without. In the worst case scenario, you could convert the number to a string and run the usual check.

**E

[2020-12-29 05:45] iptq commented on #1562
Just read the first line of the readme and realized my question is out-of-scope given the crippling limitation of only validating strings. I'll close it for now and coerce the data to string myself.

[2020-12-29 05:45] #1562 closed

[2020-12-29 11:09] Kpal22 opened #1563 "@ is not considered as A Special Character in "isStrongPassword" function"
**Description**
**isStrongPassword** function is not considering '@' as a Special Character

**Example**
[code]

Output ---
[code]

[2020-12-31 03:14] MatthewHerbst commented on #1106
Bump on this please. It's really unclear if upgrading to v13 is safe or not. cc @profnandaa @chriso

[2020-12-31 03:42] profnandaa commented on #1106
Thanks for the heads-up, we'll clarify.

./na

On Thu, Dec 31, 2020 at 6:14 AM Matthew Herbst <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2020-12-31 19:25] thegrandpoobah commented on #1386
I just want to point out that I don't think that @ezkemboi 's PR fixes the described issue with `testnet` addresses. As far as I am aware, Testnet addresses start with `m` and that is not captured in the regex currently in use. Arguably you would want another method named `isBTCTestnetAddress` or something to distinguish between the two since you (maybe?) don't want to use testnet and mainnet addr

[2021-01-01 01:10] chriso commented on #1106
https://github.com/validatorjs/validator.js/pull/1267 was the breaking change for v13. I was strictly following semver, and the contract on an existing validator was weakened by that change.

[2021-01-01 02:00] danmama commented on #304
https://github.com/validatorjs/validator.js/commit/9b672c69ee1a485904f6f8d176f2b36f2c7e79c8[https://github.com/validatorjs/validator.js/commit/9b672c69ee1a485904f6f8d176f2b36f2c7e79c8](https://github.com/validatorjs/validator.js/commit/9b672c69ee1a485904f6f8d176f2b36f2c7e79c8)

[2021-01-01 02:01] danmama commented on #304
https://github.com/validatorjs/validator.js/commit/9b672c69ee1a485904f6f8d176f2b36f2c7e79

[2021-01-01 10:04] AnandChowdhary opened #1567 "Add support for IPv6 in isIPRange(str)"
**Describe the bug**
Currently, the `isIPRange()` method only supports IPv4 addresses. It should be extended to support IPv6 addresses as well.

**Examples**
[code]

**Additional context**

- https://github.com/typestack/class-validator/issues/727

[2021-01-01 20:43] bakyazi commented on #1567
I suppose "isIPRange" check the string before '/' is valid IP or not. Maybe you should use valid ipv6 instead of "2001:db8::"

[2021-01-01 21:48] bakyazi commented on #1567
@AnandChowdhary  I opened a PR. after they review, it can be merged

[2021-01-02 15:58] adarshmadrecha opened #1569 "isCurrency does not honour digits_after_decimal config"
**Describe the bug**
`isCurrency` validation function does not honour `digits_after_decimal` config

**Examples**

[code]

**Additional context**
Validator.js version: 13.5.2
Node.js version: 14.x
OS platform: All (This behaviour is platform Independent)

[2021-01-02 16:02] adarshmadrecha commented on #1569
Created codesandbox to showcase the issue replication.
https://codesandbox.io/s/boring-buck-y387q?fontsize=14&hidenavigation=1&theme=dark

[2021-01-02 16:39] fedeci commented on #1569
@adarshmadrecha
Hi, in your example options are not added to the validator because round brackets close before :)
[code]

[2021-01-02 18:21] adarshmadrecha commented on #1569
My bad. Thanks for pointing out.

[2021-01-02 18:21] #1569 closed

[2021-01-03 06:21] profnandaa commented on #1386
Other than have a different validator, we could go with a `isTestnet` in
the options object.

./na

On Thu, Dec 31, 2020 at 10:26 PM Sahab Yazdani <notifications@github.com>
wrote:

--

*___Nandaa *Anthony
*@profnandaa <https://github.com/profnandaa>*

[2021-01-04 08:52] Poky85 opened #1570 "Can we export IBAN countries to check if the country implements IBAN?"
**Issue**
`isIBAN()` validator allows user to validate IBAN and it contains IBAN definitions as used in many countries world-wide. In my current project I validate account numbers and not all of them implement IBAN. So I need to check if the country implements IBAN or not.

In `isIBAN()` [there are IBAN definitions per countries](https://github.com/validatorjs/validator.js/blob/master/src/lib/isIB