[2017-03-06 21:21] chriso commented on #634
An empty string isn't an email :smile:

If you want to allow empty strings, try this:

[code]

[2017-03-06 21:21] #634 closed

[2017-03-06 21:22] chriso commented on #631
I'm not sure if there's a Java library that implements the same validator. You're welcome to inspect [the code](https://github.com/chriso/validator.js/blob/master/src/lib/isEmail.js) and port it to Java however, since most of the heavy lifting is via regular expressions.

[2017-03-06 21:22] #631 closed

[2017-03-07 20:14] scippio opened #636 "Bad e-mail validator"
isEmail() gives me this e-mail address valid: ".juesttest@gmail.com" ... but I think is not with dot at start.

[2017-03-09 04:45] demongaorui commented on #631
@chriso Thanks for your reply. The code could be ported to java, while in my imagination, isEmail() function in validator.js may implement some particular email address rules, like some RFC specification. Then it will be easy to find the java version which implemented the same rules/RFC specification.  So, is the function isEmail() in validator.js implement based on some RFCs?

[2017-03-09 21:06] agauniyal opened #638 "Add normalizeURL() method"
Probably based on something like this - https://github.com/sindresorhus/normalize-url

Would be handy in lots of situations :D

[2017-03-10 13:13] thomja opened #639 "Combining with google recaptcha"
Hello

So I have a form with some required fields, and at the end a google captcha.

I want the form complete button to keep being disabled after all of the required fields have been field and the google captcha is still unfinished. So I want the captcha to also be required in order to enable the button.

Any ideas?

Thanks

[2017-03-10 22:07] dotcarls commented on #636
That is indeed a valid email... Gmail specifically ignores periods.
![Example](https://cloud.githubusercontent.com/assets/3665763/23815034/e29e73dc-059a-11e7-82f4-a1ae47afab90.png)

[2017-03-10 22:13] chriso commented on #636
The email is valid. You may want to use `normalizeEmail()` to check if it's the canonical version.

[2017-03-10 22:13] #636 closed

[2017-03-11 02:42] chriso commented on #639
Hey, you might want to try [StackOverflow](http://stackoverflow.com) for those sorts of questions.

[2017-03-11 02:42] #639 closed

[2017-03-11 09:30] scippio commented on #636
ok, thanks for the normalizeEmail hint...

[2017-03-22 22:08] src-code opened #641 "URLs with more than 2 slashes after protocol incorrectly considered valid"
Currently (as of 7.0.0) validator `isURL()` considers an URL such as the following to be valid:

http:///mashable.com/category/kim-kardashian

Note the triple-slash after the protocol.  Adding more slashes also passes `isURL()`.  According to spec, only two slashes should be used in a valid URL.

Chrome (as of v57) and Firefox (as of v52) and Safari for iOS will still navigate to the URL with the

[2017-03-23 22:27] src-code opened #642 "isURL() incorrectly claims http:// is valid url"
[code]

I understand that I could set `require_host: true` to get the right result, but then if the test string is a relative url (`/example/foo.html`), it won't validate.  And I can't just `||` two executions of `isURL()` to cover both cases ([as suggested for a similar issue](https://github.com/chriso/validator.js/issues/635#issuecomment-284530255)), because it will lead to an incorrect result b

[2017-03-25 21:43] gregorskii commented on #511
For anyone who comes across this, make sure you check out the Mongoose docs, this can be solved simply:

[code]

http://mongoosejs.com/docs/validation.html#async-custom-validators

[2017-03-27 14:16] lkashyap4th opened #643 "dropdown select required"
if dropdown select state then required city if not select state then not required city

[2017-03-28 12:45] tezmaster opened #645 "Node.js require() time >30ms"
With a quick change to rollup the code into one file require('validator') can be sped up from >30ms to <10ms when using Functions as a service these sort of times add up.

I've created a pull request https://github.com/chriso/validator.js/pull/644 where I've basically just changed the package.json to use validator.js instead of index.js you might want to fix this another way or perhaps you aren't

[2017-04-05 10:34] chriso commented on #643
I'm not sure what you're asking here, but this sounds outside the scope of the library. If you need help with input validation, try stackoverflow.com

[2017-04-05 10:34] #643 closed

[2017-04-05 10:47] chriso commented on #645
Sorry, I'm not interested in micro-optimizing the start times.

It's very unlikely that you're using all validator functions from the library. The README has an example that shows you how to import specific validator functions.

[2017-04-05 10:47] #645 closed

[2017-04-05 19:30] fanatid opened #648 "isHexadecimal ignores length"
Why `isHexadecimal` not check that string length can be divided on 2 without reminder?

[2017-04-05 19:43] tezmaster commented on #645
Hi I'm not using the validators at all it's part of the sequelize package and yours is one of three packages I found taking up 80% of the startup time on AWS lambda time === money and for such a simple change I don't see the problem.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: chriso <notifications@github.com>
Sent: Wednesday, April 5, 2017 11:47:57 AM
T

[2017-04-05 20:28] chriso commented on #645
I see your sequelize PR.

You say that:

Then say that:

[Lambda pricing](https://aws.amazon.com/lambda/pricing/) is $0.00001667 per GB/second.

The cold start happens only once right? And then the cost of the warm <100ms of startup time after that is $0.0000008335 per invocation (@ 512MB).

I think you're optimizing the wrong thing :wink:

[2017-04-05 20:32] chriso commented on #645
The library already provides a way to reduce load times by letting specific validator functions without pulling in the whole library. If sequelize is pulling in the whole validator library then maybe that's a good place to start; breaking it up so that you don't have to load the whole sequelize library.

[2017-04-05 20:48] chriso commented on #648
[Hexadecimal](https://en.wikipedia.org/wiki/Hexadecimal) is a way of encoding numbers in base 16. There's nothing to say that the length of a hexadecimal string has to be divisible by 2. For example, `A` is a valid hexadecimal digit (equal to 10).

You're probably using hexadecimal as an encoding for binary data, in which case each byte would require two hexadecimal digits. If this is the case, us

[2017-04-05 20:48] #648 closed

[2017-04-06 12:57] tezmaster commented on #645
The cold start is once per server so let's say I have a busy site and have 10,000 concurrent user's that's 10,000 cold starts so while yes you are correct the cold start is only once that is once per concurrent user. There is also no guarantee from AWS that the cold start will not re-occur and the longest the server will hang around for is 15 minutes.

The reason your package is slow is that it's

[2017-04-12 02:59] MeganChen5 opened #650 "isEmail fails to exclude slash /"
Step to reproduce:
validator.isEmail("example/email@company.com")
It returns true, instead of false.

Please help to fix this issue: to exclude slash

[2017-04-14 02:13] stevenjlho opened #651 "Currency validator rule"
isCurrency is only accept two digits after decimal_separator. For example, 100.50 is valid, but 100.5 is not valid.
I think this rule do not force one digit or two digits after decimal_separator.

[2017-04-14 02:56] regularmike commented on #651
I believe it currently accepts 0 or 2 places. One place seems to be extremely rare as a standard, although it may exist (Macanese pataca?). Also, there seem to be plenty of examples of 3-decimal-place standards. Maybe this should be a new option that is an array of acceptable numbers of decimal places, defaulting to `[0, 2]`. I could add this in the next few days unless someone else wants to tackl

[2017-04-14 03:13] stevenjlho commented on #651
I agree with you. Add a new option is a good point.

[2017-04-15 15:08] regularmike commented on #651
@chriso does this sound reasonable? It should definitely support 0 to 3 places according to the ISO standard. I'm not sure if any country officially allows more than one number of decimal places (e.g. 0 or 2) but I can imagine users of this library may want that option.

[2017-04-17 05:04] omegdadi opened #652 "isURL not checking for unsafe characters"
URLs should not container any of the following characters. isURL returns true for URLs that contain these characters. They should be encoded within the URL:

[code]

[2017-04-18 06:23] MeganChen5 opened #653 "isEmail fails to exclude Chinese characters"
Step to reproduce:
validator.isEmail("测试@company.com")
It returns true, instead of false.

Please help to fix this issue:  to exclude Chinese characters

[2017-04-19 13:34] grelas opened #654 "Ability to pass blacklisted characters for isEmail()?"
For the app I'm building, we do not allow single quotes `'` in the user's email address (same reasoning from this [SO post](http://stackoverflow.com/questions/4816424/are-single-quotes-legal-in-the-name-part-of-an-email-address/9704218#9704218)). Although according to the spec, single quotes are allowed, is there a way to not allow that specific character?

[2017-04-20 14:00] hkwu commented on #653
Set the `allow_utf8_local_part` option to `false`.

[code]

[2017-04-20 14:02] hkwu commented on #650
That's because a slash is a valid [local part character](https://en.wikipedia.org/wiki/Email_address#Local-part).

[2017-04-20 23:27] MeganChen5 commented on #653
I see. Thanks.

[2017-04-20 23:32] MeganChen5 commented on #650
Hi @hkwu,
Thanks for your reply, however even Google registration doesn't allow special chars in its email.
Google's error: "Please use only letters (a-z), numbers, and periods."
Thanks,

[2017-04-20 23:33] #653 closed

[2017-04-21 00:13] hkwu commented on #650
Mail providers might choose to be more strict in validating emails. `isEmail()` must be based on the RFC spec so it wouldn't check for things like these. Best to wait for #654 to be implemented.

[2017-04-21 00:15] MeganChen5 commented on #650
Thanks. Will watch #654 too.

[2017-04-26 21:51] michaeljota opened #655 "What is the right domain length?"
According to [this guy](http://dalibornasevic.com/posts/63-email-address-validation-and-encodings) the domain length should be 254 chars at most, but the [isEmail function](https://github.com/chriso/validator.js/blob/9478d91b86d1d0a1e3741fb2001181dc8409bdfd/validator.js#L196) it's checking for a 256 chars length, that is was once considered ok, but it seems like it was an [errata](http://www.rfc-e

[2017-04-28 10:16] ProfNandaa opened #656 "Add KE locale on `isMobilePhone.js`"
Don't worry, I'll do a PR on this by tomorrow for KE and few other SS African countries.

[2017-04-30 11:56] calidion commented on #561
:astonished:  to know that isDate has been removed.

[2017-05-03 03:55] mikereinhold opened #657 "Provide export of supported locales and/or a 'isLocaleSupported' function"
When trying to write validations for multiple locales, it would be nice to be able to check if validation is supported for the locale in question. Currently the locale specific validation functions just return false if an unsupported locale is provided, so if I want to differentiate between a failed validation and an unknown locale then I have to cross-reference the list of supported locales for t

[2017-05-03 07:46] mtziyo opened #658 "isEmail validation fails for strings which contain common unicode symbols"
The scenario I checked was this.

1. Use flag isEmail validation for field
2. Use email addresses with the following strings: Ω≈ç√∫˜µ≤≥÷@email.com or åß∂ƒ©˙∆˚¬…æ@email.com
3. Validation fails

I checked as reference on gmail create an account and both the above mentioned strings, they are marked as invalid as I expected (e.g. message : Please use only letters (a-z), numbers, and periods.).

If we

[2017-05-04 21:18] AS400JPLPC commented on #561
dommage car pour les date YYYY/MM/DD or DD/MM/YYYY  en entreprise je garde cet API personnellement car elle m'est obligatoire
pas important merci pour votre information et suivi .

[2017-05-08 19:39] veeto620 opened #659 "React.PropTypes deprecated; Need to implement PropTypes package"
In React v15.5.0, accessing PropTypes directly via the React package has been deprecated. In the v16 release, this will cause errors and crashes in production. See blog post: https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html

The validation.js file currently uses the deprecated way and throws warnings into the console in projects implementing the validator package.

[2017-05-08 19:40] #659 closed

[2017-05-10 01:17] wstallard-gobalto opened #661 "isISO8601 is not exposed as standalone function in same way as other functions"
[code]
gives:

workaround:

[code]

[2017-05-16 16:15] Jujunol opened #662 "Typescript issue with .isAfter()"
The typescript definition file shows that `.isAfter()` takes a `Date` as an argument but it seems that it really wants a string. After passing it a date using the following:
[code]
I get the following error:
[code]

[2017-05-19 19:28] denjaland commented on #611
Maestro isn't a credit card, but a debet card.
I would prefer second method isDebetCard() and optionally a validator isPayCard() or somthing which would allow for both credit or debet cards in the validation.

Please do not include maestro in credit card by default though; that way the name of the method does not longer reflect the actual validation.  Thanks very much!

[2017-05-19 19:38] sazarkin commented on #611
Technically you correct, but your cannot judge credit/debit only by card number. A lot of visa/master cards are debit and valid according to this validator.

[2017-05-19 20:09] denjaland commented on #611
Fair enough. I would prefer another validator name in that case though.

[2017-05-24 14:56] hkwu commented on #662
I think you're looking at the wrong repo? There aren't any TypeScript definitions included in this package.

[2017-05-24 15:00] hkwu commented on #661
That's expected. The individual functions are exported as ES6 default exports, so if you use `require()` you have to add `.default` to it. If you use

[code]

it will do what you expect.

[2017-05-24 16:44] Jujunol commented on #662
Looking at the issue having `req.assert` I'm presuming that this was meant for `express-validator`.

[2017-05-24 16:44] #662 closed

[2017-05-25 20:00] wstallard-gobalto commented on #661
Thanks Kelvin - appreciate the response!

On Wed, May 24, 2017 at 8:00 AM, Kelvin Wu <notifications@github.com> wrote:

--
Will Stallard
architect
o  415.737.6044
f   415.520.0463
[image: goBalto] <http://www.gobalto.com>
accelerating clinical trials

[image: twitter] <https://twitter.com/gobalto>  [image: goBalto Chromosome
Blog] <https://www.gobalto.com/blog>  [image: goBalto LinkedIn group]
<ht

[2017-05-28 10:27] roydondsouza opened #664 "Feature Request - isLatLong(lat-long-pair)"
**Support for isLatLong:**

[code]
[code]

Libraries that currently validate and return lat,long coordinate pairs:
@markstos has forked [to-coordinates](https://github.com/eivindfjeldstad/to-coordinates) [_that was lacking stricter parsing which he has raised in the issue here: [Wish: stricter parsing of lat/long coordinates pairs #2](https://github.com/eivindfjeldstad/to-coordinates/issues/2)_] t

[2017-05-28 11:42] markstos commented on #664
parse-coordinates already works directly as a validator because a coordinate array casts to a "true" boolean value, while the `null` returned on a parsing value casts to a "false" boolean value.

The value of adding it to or `validator.js` would be that it is more convenient to find.

[2017-05-28 13:24] roydondsouza commented on #664
@markstos thanks for replying. Yes, that was the intention; to use it as an internal dependency within `validator.js` and make it available for convenience

[2017-06-02 16:50] littlee opened #666 "Is there isPrice() method?"
I would like a isPrice() method to validate a price string

[2017-06-02 17:12] regularmike commented on #666
There is an isCurrency validator with many options. Check the readme.

On Fri, Jun 2, 2017, 12:50 PM Littlee <notifications@github.com> wrote:

[2017-06-05 10:10] ibratoev commented on #629
After this is fixed, it would be great to reopen #359 .

[2017-06-07 11:49] Haroenv commented on #591
I’d like to have this for language codes too, but I don’t see a way of providing this without immensely bloating the library. Maybe just the format and not if the language actually exists?

[2017-06-07 11:51] Haroenv commented on #572
How could this be done without having a complete list of languages in the library?

[2017-06-08 08:21] chriso commented on #658
Have you tried the `allow_utf8_local_part` option? See [the README](https://github.com/chriso/validator.js#validators) for more info.

[2017-06-08 08:22] chriso commented on #658
Or are you asking whether it's possible to provide a whitelist of characters?

[2017-06-16 15:17] jcheroske opened #669 "FP version of the library?"
I'm getting into lodash/fp, and couldn't help but wonder there exists a curried/data-last version of this lib?

[2017-06-22 02:34] #650 closed

[2017-06-22 02:35] chriso commented on #656
Thanks, please submit via PR.

[2017-06-22 02:35] #656 closed

[2017-06-22 02:39] chriso commented on #657
I think this is the way to go, and I'd be happy to accept a PR with this change. It'd be a breaking change but I can bump the major as necessary.

[2017-06-22 02:41] chriso commented on #654
It's not currently possible to whitelist or blacklist characters in the local part of the email address. This would be a trivial addition though I imagine. Happy to accept a PR :smile:

[2017-06-22 02:43] #666 closed

[2017-06-22 02:43] #661 closed

[2017-06-22 02:44] chriso commented on #669
Not that I'm aware of. I'd be happy to link to one in the README if it exists though.

[2017-06-22 02:44] #669 closed

[2017-06-22 02:45] chriso commented on #658
I think you're asking whether you can whitelist or blacklist characters in the local part of the email, in which case it's a duplicate of https://github.com/chriso/validator.js/issues/654

[2017-06-22 02:45] #658 closed

[2017-06-22 02:47] chriso commented on #655
It sounds like it should be 254.

[2017-06-25 21:03] ProfNandaa commented on #656
@chriso - sorry for the delay on this one, done.

[2017-06-26 13:25] ProfNandaa commented on #652
@omegdadi -- I want some clarification on this. Don't we have URL's with `#` e.g. https://github.com/chriso/validator.js/issues/652#issue-222066343, and `%20%` (url-encoded `space`), etc. What's really the valid list of "unsafe" characters?

[2017-06-27 07:24] hbakhtiyor opened #675 "isURL() does not respect `require_tld: true` when validating `http://localhost`"
version: 7.1.0

i also set require_tld to true, neither work

[code]

[2017-06-28 14:44] hbakhtiyor commented on #675
any updates?

[2017-06-29 02:34] chriso commented on #675
`localhost` is currently whitelisted as a valid hostname: https://github.com/chriso/validator.js/blob/c5037eff17a5a8884959eeac6689264333450af0/src/lib/isURL.js#L103. The whitelisting predates the `require_tld` option.

[2017-06-29 02:39] hbakhtiyor commented on #675
how to add it to blacklist?

[2017-06-29 04:45] sachinavinaw opened #678 "isIP is not working"
hi there.
 I am using

[code]

I tested the result for IP :
2.2.22222222222.2
10.10.10.10.
0.0.0.0
233333.222222222
It always returns 'false'.

Please help me solving this issue.

[2017-06-29 09:23] chriso commented on #678
You're passing in an array as the second argument but the function expects a string, either `'4'` or `'6``.  Omit the second argument to check for either IPv4 or IPv6: `validator.isIP(ip_address)`

[2017-06-29 09:23] #678 closed

[2017-07-06 12:34] ntarandek opened #680 "Multiple warnings"
Hello,

we're getting a lot of warnings when used in ReactJS application.
Can this be somehow ommited or fixed?

Extract of the warnings (there are a lot more ;)):

[code]

[2017-07-06 19:20] chriso commented on #680
Shouldn't you be excluding `node_modules` from your lint script? We have a linter in place here (`eslint`) with the following configuration and suppressions: https://github.com/chriso/validator.js/blob/master/.eslintrc.json. Your linter seems to be picking up the compiled JS in `./lib`. We lint the `./src/lib` folder rather than the compiled `./lib` folder; fixing some of the warnings you've liste

[2017-07-06 19:20] #680 closed

[2017-07-07 09:47] #675 closed

[2017-07-07 09:48] chriso commented on #675
This is fixed in an upcoming release.

[2017-07-07 09:53] #642 closed

[2017-07-07 09:53] chriso commented on #642
This is fixed in an upcoming release.

[2017-07-07 09:57] chriso commented on #641
What options are you using? On the latest release this is considered an invalid URL:

[code]

It's considered a valid URL if `require_host` is `false` since the path is `/mashable.com/category/kim-kardashian`, which is valid:

[code]

[2017-07-07 09:57] #641 closed

[2017-07-07 10:08] chriso commented on #657
Fixed by 56e7d33356dc93fd1964af3f4c4ccf323bebd67c. This will be out in the next major release.

[2017-07-07 10:08] #657 closed

[2017-07-07 10:09] chriso commented on #632
This is outside the scope of the library.

[2017-07-07 10:09] #632 closed

[2017-07-07 10:10] chriso commented on #592
Closed based on the feedback in https://github.com/chriso/validator.js/pull/597

[2017-07-07 10:10] #592 closed

[2017-07-11 06:49] kk0829 opened #681 "Object.values is not a function"
node version: v6.10.0

[code]

[2017-07-12 14:31] landsman opened #682 "Postcode"
Hello,

thank you for your awesome lib!
Can you add postcode validation too, please?

thanks

[2017-07-14 12:43] mrtnbroder opened #683 "use "export default as" syntax for easier ES6 imports and tree shaking purposes"
Currently, you can only use the `import isEmail from 'validator/lib/isEmail'` syntax to only grab the validators you want, and you have to repeat this for every validator you need in your file.

Easier would be `import { isEmail, isNumeric } from 'validator'`.

Using `export { default as isEmail } from './lib/isEmail'` within the `index.js` file and exporting everything with `export default { isEm

[2017-07-17 02:21] hkwu commented on #681
Looks like a regression in 7.2.0. @chriso I guess this should be patched for 7.2 and merged back into master?

[2017-07-17 22:42] Charliekenney23 commented on #682
I would like to have this too, but seeing as how there isn't much of a standard, it would bloat the library. I found an xml of postal code data in Unicode's CLDR repo for 2013, [here](http://unicode.org/cldr/trac/browser/tags/release-26-0-1/common/supplemental/postalCodeData.xml). Maybe we could agree on making a validator that works for a subset of the countries?

[2017-07-19 14:10] Ratniex opened #685 "add option to check number of digits after decimal point in "isDecimal""
I appreciate the simplicity of the current version of the function, however I need to check imported numbers before writing them to DB. It will make error handling more consistent for me and I believe this option could be useful for others as well.

[2017-07-20 19:59] landsman commented on #682
Xml looks good.
I think that everyone can use only libs what really need (to own uglified version), size not will be a problem.

[2017-07-27 09:27] tphan18 opened #688 "isISO8601 is not a function when import a subset"
### Description
[code]

`validator.isISO8601(str)` works fine.

[2017-08-07 18:55] PauloLira commented on #681
+1

[2017-08-07 19:14] hkwu commented on #688
Make sure to do `require('...').default` if you aren't using `import`.

[2017-08-07 19:15] galtalmor commented on #688
It doesn't work with import either for this validator, unlike other validators.

[2017-08-07 19:17] tphan18 commented on #688
I haven't tested the solution from @hkwu, but if it works, the behavior is not consistent with the rests.

[2017-08-07 19:53] hkwu commented on #688
Hmm, yeah must be the `add-module-exports` plugin. Personally think it shouldn't be doing this at all, now we have some files that require `.default` and some that don't.

[2017-08-09 06:42] danieleleoni opened #689 "Support for italian isAlpha and isAlphaNumeric"
Hi guys,

I was wondering why it-IT locale is missing into isAlpha and isAlphaNumeric Validators
It is possible to integrate it?

Thanks

[2017-08-09 11:25] lukyth opened #691 "Some character is missing in unescape function"
`\` is in a list of characters to be escaped by `src/lib/escape.js` but it isn't in `src/lib/unescape.js`. So when it escapes a string which contains `\` and unescapes it back, `&#x5C;` will still remain in the unescaped result. I don't think that's the desired behavior.

[2017-08-15 03:57] ejwaibel commented on #407
Glad I searched through the closed Issues to find this, but I have another comment on this in regards to the functions that return a string vs. boolean. I think it should definitely be possible to chain the methods that return a string since it would just apply a new string function to each modified string. 👍

[2017-08-21 06:57] AnkurThakur opened #697 "Exception while using any for isMobilePhone validation"
Hi,

When I'm trying to use **any**(#663) in the isMobilePhone validation, it throws me a TypeError. Please see the example below:

`var validator = require('validator');
console.log("Mobile Valid", validator.isMobilePhone("+16173324656", "any"));`
It throws a TypeError:
[code]

But, individually when you will try **en-US** in place of that, it works.

**Windows with Node 6.11.0:** Doesn't work
**

[2017-08-22 07:55] #629 closed

[2017-08-22 08:00] #691 closed

[2017-08-22 08:00] chriso commented on #689
Nobody has added it yet. PRs are welcome!

[2017-08-22 08:01] chriso commented on #697
Dupe: https://github.com/chriso/validator.js/issues/681

[2017-08-22 08:01] #697 closed

[2017-08-22 08:04] chriso commented on #683
PRs are welcome! If you can do it in a backwards-compatible way then I'd be happy to accept the change.

[2017-08-22 08:18] chriso commented on #688
So this appears to be due to multiple `exports` in the same `./src/lib/` file:

Notice how the `isEmail` validator [doesn't export its regular expressions](https://github.com/chriso/validator.js/blob/master/src/lib/isEmail.js#L16), while `isISO8601` [does](https://github.com/chriso/validator.js/blob/master/src/lib/isISO8601.js#L5):

[code]

It's an easy fix.

[2017-08-22 08:20] #688 closed

[2017-08-22 08:25] #681 closed

[2017-08-22 10:28] #682 closed

[2017-08-22 10:28] #664 closed

[2017-08-22 14:16] landsman opened #698 "sk_SK phone validator"
Please,
can you add this country, Slovakia?

Thank you!

[2017-08-23 20:45] linkinmedo commented on #689
@chriso this has been fixed.

[2017-08-23 21:17] chriso commented on #689
Fixed by #700

[2017-08-23 21:17] #689 closed

[2017-08-26 12:02] kachkaev opened #704 "Impossible to validate host (domain name or IP)"
Hi guys,

Just came across your library this morning and was quite surprised with the richness of it. Super nice!

Here's one one observation from a newbie: I've been trying to validate hosts and have noticed that the combination of `isFQDN` and `isIP` does not work as I've been expecting in call cases.

Check this out:
[code]

The function is supposed to check environment variables in a microserv

[2017-08-26 19:21] roydondsouza commented on #664
Thanks @Charliekenney23, @markstos and @chriso

[2017-08-26 19:40] roydondsouza commented on #611
Do we use [Luhn Algorithm](https://en.wikipedia.org/wiki/Luhn_algorithm) to validate credit card numbers here within this library or something else?

[2017-08-26 19:48] roydondsouza commented on #611
@denjaland as far as I know only an issuing bank can tell you if a card is debit or credit, you cannot determine type just from the numbers; that being said, [binlist lookup](https://millionmilesecrets.com/2014/09/14/is-there-a-way-to-tell-if-a-card-number-is-debit-or-credit/) - identifies some card types for US and Canada;

[2017-08-26 23:29] chriso commented on #704
I'd be ok with making `isFQDN` more strict and would be happy to accept a PR. Ideally the validator would check TLDs against a list of known values, however the addition of [gTLDs](https://en.wikipedia.org/wiki/Generic_top-level_domain) mean that the list would be long and ever-growing. I'm not interested in bloating the library or keeping the list up to date.

An alternative might be to disallow

[2017-08-26 23:50] mika-s commented on #704
I guess you could do a check for IP address in `isFQDN` and return false if it is one. Not as an option but more as a guard clause.

The proposed `isHost` is pretty much the same as `isURL` I think, when you set `require_valid_protocol = false` and `require_tld = false`.

[2017-08-27 22:42] linkinmedo opened #705 "README beautification"
@chriso I'm opening this issue to ask you and others if it's a good idea for me to cleanup the README with tables and stuff?

[2017-08-28 01:58] chriso commented on #705
That'd be great!

[2017-08-28 06:53] linkinmedo commented on #705
awesome, I'll work on it this friday, and please let me know if you have any suggestions.

[2017-08-29 21:34] denjaland commented on #611
@roydondsouza you are right, which is why I still would prefer a method "isPayCard" ;-)
a method "iscreditcard" does not do what it promises :-)

[2017-08-30 12:44] kristijan-ujevic opened #706 "Feature request: Twilio test numbers should pass isMobilePhone validation"
Hello, I'm using sequelize model validations which use this validator.

It would be nice if you could add Twilio test numbers as valid phone numbers, here is a list of them:

https://www.twilio.com/docs/api/rest/test-credentials

That would greatly help with the testing.

Thank you!

[2017-08-31 12:54] iamjochem opened #707 "isURL - email addresses validate as URLs"
hi,

most people would guess that the string `john@doe.com` is an email address, but technically it is also a valid URL (an "auth" segment and a "hostname" segment).

`isURL` validates the above string, it would be nice if a option existed, e.g. `allow_auth`, whereby  we could specify that URLs with an auth are invalid.

In my particular case would allow me to invalidate email-addresses that peopl

[2017-09-04 20:40] #705 closed

[2017-09-05 14:58] arcifius opened #709 "Email validation"
i've tried to validate an email but got:
TypeError: this._next is not a function

Any idea of what could be happening?

[2017-09-05 20:42] chriso commented on #709
You're probably using a wrapper library. There's no `_next` function in this library. Are you using [express-validator](https://github.com/ctavan/express-validator) by any chance?

[2017-09-05 20:42] #709 closed

[2017-09-06 07:32] muhammadfaizan opened #710 ""any" is not working in mobile phone validation"
version 6.0
[code]

[2017-09-06 08:00] chriso commented on #710
[The feature was added in v7.2](https://github.com/chriso/validator.js/blob/master/CHANGELOG.md#720). The README always reflects the latest version. If you're after docs for v6, try https://github.com/chriso/validator.js/tree/6.0.0

[2017-09-06 08:00] #710 closed

[2017-09-07 07:04] victorbadila opened #712 "support for Swedish language locale in isAlpha and isAlphanumeric"
[Feature request] It's a little weird that Norwegian and Danish locales are supported, but not Swedish ones sv-SE :)

[2017-09-08 02:50] #698 closed

[2017-09-08 02:52] #712 closed

[2017-09-08 06:27] heiba opened #717 "Add UAE and Egypt to isMobilePhone please"
Well done on developing this amazing npm package!

Could you please add Egypt and UAE mobile phone validation to the isMobilePhone.js file please ?

UAE mobile phones are always +9715 followed by 8 digits
+97150xxxxxxx
+97152xxxxxxx
+97154xxxxxxx
+97155xxxxxxx
+97156xxxxxxx
+97158xxxxxxx

Reference: https://www.numbers.ae/mobile

Egypt mobile phones are always +201 followed by 9 digits
+20100xxxxx

[2017-09-08 18:16] jeremywiebe opened #719 "`isPostalCode` validator: No way to know if locale is supported"
We've started using the `isPostalCode` validator which is great, but there's no way to know if a given country is supported at runtime. It would be useful to have the list of supported countries exported from the module so that you could check if the locale you are wanting to validate is in the list and if not, avoid calling the function.

Something like:
[code]

[2017-09-08 18:45] dsacramone commented on #642
Was this actually fixed, I am seeing this as a validURL, and I can't see how it is:

validator.isURL('http://www.te');

[2017-09-08 19:55] src-code commented on #642
.te isn't a valid country code domain AFAIK, but if it were, www.te would
technically be a well-formed and valid URL.  (eg www.com exists.)

On Fri, Sep 8, 2017 at 11:45 AM, Dean S. <notifications@github.com> wrote:

--
Steve Carlson
yasteve@oath.com

[2017-09-09 05:37] #651 closed

[2017-09-09 05:39] #717 closed

[2017-09-09 05:42] chriso commented on #719
Fixed by #720.

[2017-09-09 05:42] #719 closed

[2017-09-09 05:43] chriso commented on #606
Fixed by #711.

[2017-09-09 05:43] #606 closed

[2017-09-12 07:06] chikochavda opened #722 "Improvement in postcode validation"
Hello Right now we have only 34 country  for postcode validation, Can we add more country support for post code validation,

I found link which has postcode validation with different country

Original SO question
https://stackoverflow.com/questions/578406/what-is-the-ultimate-postal-code-and-zip-regex

Link for postcode regex source
http://unicode.org/cldr/trac/browser/tags/release-26-0-1/common/s

[2017-09-12 08:24] noinkling opened #723 "Validation phase of normalizeEmail lacks flexibility"
`normalizeEmail` currently starts by calling `isEmail`. This might make sense as a guard, but there is currently no way to pass in options, which may result in false negatives for people who make use of the options, particularly `require_tld`. Additionally it's simply not obvious that `normalizeEmail` also validates unless you look at the code; this might be resulting in people doing unnecessary d

[2017-09-12 21:52] linkinmedo commented on #722
I'll look into it tomorrow.

[2017-09-12 21:58] linkinmedo commented on #723
I agree with you that option 3 is the logical one, if @chriso  agrees I'll work on it.

[2017-09-12 22:04] chriso commented on #723
Yeah agreed, we should remove validation and add a caveat to the README that says that the result is undefined unless the input is an email.

[2017-09-13 10:12] chikochavda commented on #722
Thanks,

You can additional missing post code from

https://unipaygateway.info/countries

https://en.wikipedia.org/wiki/List_of_postal_codes

I am working on complete list for my own work, If i finish it then i will post it here , Thanks.

[2017-09-13 11:43] mika-s opened #724 "Comments after minifying"
For some reason the comments remain in validator.min.js when I build with the default settings (which are `--comments '/Copyright/'`).

If I remove the quotes to make it `--comments /Copyright/`, which is a regexp instead of string with regexp, it works fine. Only the copyright comment is kept.

Has anyone else had the same issue? From the source it looks like uglify should support both.

I am run

[2017-09-13 21:21] linkinmedo commented on #722
dude this will take too much time specially because I can't just take the list above and use it since when I tried the GB regex from the links above the tests failed which means that I'll have to go over them one by one.
sorry but I can't spend that much time on it.

[2017-09-13 21:30] linkinmedo commented on #724
seems to work fine here on both macOS and linux.

[2017-09-14 09:18] chikochavda commented on #722
I completed postcode validation for my work , May be i can pull and add related post code in list.
Thanks.

[2017-09-14 14:35] mika-s commented on #724
Seems like Windows doesn't handle single quotes when using npm. Double quotes worked fine. Changing to bash didn't help. [Related](https://github.com/mishoo/UglifyJS2/issues/2200).

[2017-09-14 15:49] linkinmedo commented on #722
@chikochavda that would be great, thank you in advance.

[2017-09-15 12:28] chikochavda commented on #722
Hello, You were right some of the test cases were failing in the list,

This is working list for all pincodes regex with test cases,

[https://jsfiddle.net/ys7mtjsr/](https://jsfiddle.net/ys7mtjsr/)

I skipped few of the countries which belongs to your implementation (34 in total).  I skipped few of those country which support only digits as pincodes as it not that complex (4 digit, 5 digits, 6 di

[2017-09-16 03:08] steida opened #726 "This is the only sane validation library I ever saw."
Thank you. 🙏🏻💕

[2017-09-16 03:09] #726 closed

[2017-09-16 22:12] linkinmedo commented on #722
@chikochavda man you don't use ^  and & which result in alot of false positives, you also don't surround your or statement in brackets which also results in false positives.
and in the case of  (BH, AR, BB, EC, HN, LB, MU, NI, NG, FM) you surround the whole thing then use ? which makes it always true since there is no way to fail.

That's what it found just by quickly running some test, so I can't

[2017-09-19 10:43] milinmestry opened #727 "isISO8601() says invalid date"
I am trying to validate the date of birth provided from user input in the format **YYYY-MM-DD**, and validator says it is an invalid date. The user provided date is a valid date _1920-01-02_, but still, I'm getting the error message.

I'm using
"express-validator":  "4.1.0",
    "validator": "8.1.0"

[2017-09-21 03:24] gustavohenke commented on #727
Hi @milinmestry, are you sure that this is the right input?

I tested it against express-validator and validator directly. Both handle it properly.

[2017-09-21 09:52] milinmestry commented on #727
Thanks, @gustavohenke for your reply. If possible for you, can you please take a look at my code where I have called this ISO8601() function to validate the date. This will help me to understand where I am doing wrong in my code.

https://github.com/milinmestry/tutorial-mozilla-express/blob/master/local-library/controllers/authorController.js

Line numbers are 155, 156 in the above authorControlle

[2017-09-21 12:24] gustavohenke commented on #727
Hi @milinmestry, I see where this is coming from! It's an express-validator bug.
I created an issue there: ctavan/express-validator#431

You may close this issue, as it's not related with validator 😃

[2017-09-21 20:38] #727 closed

[2017-09-21 20:39] chriso commented on #727
Thanks @gustavohenke :smile:

[2017-09-25 13:04] milinmestry commented on #727
Thanks @gustavohenke

[2017-09-29 02:57] #724 closed

[2017-09-29 03:03] #723 closed

[2017-09-29 03:07] #547 closed

[2017-09-29 03:07] #685 closed

[2017-10-03 23:32] gabovanlugo commented on #407
Thanks a lot for elaborating @chriso.

[2017-10-24 20:39] simison commented on #707
+1

Meanwhile:

[code]

[2017-10-25 20:54] Tommytrg opened #740 "Feature request: Spanish document id validate"
Hello!

The document id in Spain is called DNI. It would be nice if ``` isDNI ``` method will be added. DNI is compose by 8 numbers and 1 letter at the end. Letter is calculated with module operation of numbers sum.

Can I implement it?

[2017-10-27 19:15] dsacramone commented on #642
validator.isURL('www.bro', { require_tld: true }) <-- WHY is this returning true.  I clearly do NOT have a TLD here, yet, it is saying 'a-ok', why?

[2017-10-27 21:31] chriso commented on #642
@dsacramone see #623, #428, #429, https://github.com/chriso/validator.js/issues/704#issuecomment-325167598.

`www.bro` is a syntactically-valid URL string, and `bro` is a syntactically-valid generic TLD. There is nothing special about the `www` subdomain, e.g. [www.com](http://www.com) is a valid hostname that resolves – there doesn't have to be anything between `www` and the TLD. Checking whether

[2017-10-27 22:15] simison commented on #590
This one might be handy here:
https://github.com/Automattic/node-phone

[2017-10-31 19:36] henrikra opened #741 "How to validate country code is always on mobile phone?"
At the moment looks like the country codes are optional on `isMobilePhone`. How can I validate that the phone numbers I validate always have country code with them?

[2017-11-10 15:20] victorsokyrko opened #744 "dots in email username not allowed"
[code]
does not allow user.name though it's widely used

[2017-11-11 18:24] daKmoR opened #745 "browser es module support (+ include src in release)"
hey,

as "es modules" soon going to be available in every mayor browser[1] it would be nice if we could use them directly in this package.

Luckily not much has to be changed as relative paths are already used so the only change needed would be to add ".js" to the imports. (which is supported by Node and Browser)

However it seems that the src folder is not included in the npm release? so could we

[2017-11-12 14:04] mika-s commented on #744
Judging from the code, `isEmail()` will split the username part of the address into smaller parts, with `.` as the split character. It will then run the regexp on the different parts. So it should work.

The unit tests also cover email addresses with periods in them.

[2017-11-14 06:24] chriso commented on #744
They're allowed. See https://github.com/chriso/validator.js/blob/master/test/validators.js#L43-L62

[2017-11-14 06:24] #744 closed

[2017-11-14 06:24] chriso commented on #741
That's not currently possible AFAIK. You might be able to check whether the string starts with a `+` symbol.

[2017-11-14 06:25] chriso commented on #740
Sure, I'd be happy to accept a PR.

[2017-11-14 06:26] chriso commented on #745
I'd be happy to accept a PR as long as it doesn't break existing code that depends on the library.

[2017-11-14 06:40] henrikra commented on #741
Yeah I have done it that way for now :P Feels like tho this should belong to this library since it is doing the validation :)

[2017-11-16 09:34] ZooeyMiller opened #747 "isEmpty returns true for whitespace only strings"
since `isEmpty` just checks if the string's length is zero, it still returns `true` given a string of only whitespace, which I feel, for most implementations is not what people need when checking if a string is empty.

Perhaps implementing `.trim()` on the string before checking if it's empty is worthwhile? Perhaps, if the original behaviour is to be maintained, and not break existing code the fun

[2017-11-18 08:40] feira opened #749 "How to validate full name?"
full name contains a space only in the middle

[2017-11-20 23:17] TallOrderDev commented on #749
@feira  While I don't know of a way with this library, (Maybe open a PR to add that validation) you can do something like:

`let fullName = "John Gill"
return  (fullName ? fullName.split(" ").length : 0) === 2;
console.log(check === 2);`

This will take care of double spaces leading and trailing spaces as well. You will have issues when it comes to "John Gill III" or other weird names that may be

[2017-11-21 22:14] TallOrderDev opened #750 "Name Convention for phone numbers"
'isMobilePhone' seems like a incorrect name as it's not only checking mobile numbers. This could be confusing, and there are a few ways to determine/guess if a number is Mobile, so it indicates that it's doing something that it is not.

isPhoneNumber
isPhone
isPhoneNum

[2017-11-23 13:36] robberfree opened #751 "'-' or '+' will pass test of isFloat?"
I found
[code]
but
[code]
maybe it's a bug?

[2017-11-24 01:37] #751 closed

[2017-11-24 01:58] robberfree commented on #751
@linkinmedo thanks a lot.
maybe better to promote this line
[code]
then we can tell user the test result quickly without building a new `RegExp`.
thanks again.

[2017-11-24 08:53] #749 closed

[2017-11-24 12:13] rmuchall opened #754 "IsURL fails validation for localhost with default options (require_tld = true)"
IsUrl() fails validation for URLs that use localhost. This is due to the validation performed when the IsUrl option require_tld is set to true.

Example URL that fails validation:
http://localhost:3000/

[2017-11-24 13:14] rmuchall commented on #754
Please disregard. I just found this in the changelog.
"isURL() now requires the require_tld: false option to validate localhost"
https://github.com/chriso/validator.js/issues/675

[2017-11-24 13:14] #754 closed

[2017-11-26 11:17] agt-the-walker commented on #511
Another possibility (synchronous instead of asynchronous):

    validate: {
      validator: email => validator.isEmail(email),
      message: '{VALUE} is not a valid email'
    }

[2017-11-27 21:52] mncrff commented on #635
I am having a similar issue. For me it seems that `require_tld: true` isn't working at all. The following code block will return true:

[code]

I am using version 9.1.2, and have tested it both locally (node 8.7.0) and on [https://npm.runkit.com/validator](https://npm.runkit.com/validator)

[2017-11-27 22:20] TomMettam opened #756 "isUUID(uuid, 4); is incorrect"
Hello!

A v4 UUID looks like:

de527f16-4d91-4c89-a1db-b8332500430b

but the regex in isUUID seems to be looking for a v5 UUID.

The v4 regex should match "all", i.e

`/^[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}$/i`

[2017-11-28 06:27] abhishek-ty opened #757 "localhost URLs should be validated by the validator.isURL function"

[2017-12-02 19:23] Ilshidur opened #758 "Feature request : new validator - isMimeType(str)"
This is a feature request for the following validator : `isMimeType(str)`.
This function would check if the passed string matches to a correct [MIME type](https://en.wikipedia.org/wiki/Media_type).

Examples :

* `isMimeType('application/json')` returns `true`
* `isMimeType('application\json')` returns `false`
* `isMimeType('application/json/text')` returns `false`
* `isMimeType('')` returns `fals

[2017-12-02 21:32] zacacollier opened #759 "unexpected `isFloat` behavior"
Hi, first off, thanks for this excellent library

maybe it's just me, but this is not the behavior I expected out of `isFloat`:
[code]
☝️ [jsbin](http://jsbin.com/lufagiy/edit?html,js,console)

In the documentation, I took:

to mean:

i.e. `isFloat('1')` should return `false`, since `1` is an integer and *not* a float

In my particular implementation, I was trying to use `isFloat` to validate doll

[2017-12-03 10:37] fupslot commented on #757
@abhishek-ty Check out #754.
Seems like `{ require_tld: false }` will do the trick.

[code]

[2017-12-03 10:47] chriso commented on #756
I'm not sure what you're asking here. The [v4 regex pattern](https://github.com/chriso/validator.js/blob/85d40ade5e2336d82d8b4d2f78aea685c83d3a85/src/lib/isUUID.js#L5) matches all v4 (variant 1) UUIDs, including the string you provided:

[code]

[2017-12-03 10:50] #756 closed

[2017-12-03 10:51] #757 closed

[2017-12-03 10:51] chriso commented on #758
Good idea. Happy to accept a PR :smile:

[2017-12-04 18:22] linkinmedo commented on #759
isDecimal with force decimal option, is what you are looking for.

[2017-12-04 22:21] zacacollier commented on #759
@linkinmedo Ah thank you :clap:

[2017-12-04 22:21] #759 closed

[2017-12-05 06:55] ProfNandaa commented on #750
It never hit me! Though this will be serious breaking changes, I'd suggest that we have `isPhoneNumber` as alias...

[2017-12-05 07:01] ProfNandaa commented on #747
I'm 50-50 on this one, just because we can't "see" the space character, doesn't mean it's not there (empty)... On the other hand, having this as a choice with `allowOnlyWhitespace` sounds like a good idea to me, not just for b/c.

[2017-12-06 18:56] RayLLiu opened #761 "isEmail return false when the string length before `@` is long"
`var validator = require('validator')
var validEmail = 'blah@11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111.com'
var invalidEmail = '11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111@gdsddail.com'
var a = validator.isEmail(validEmail)
var b = validator.isEmail(invalidEmail)

[2017-12-06 19:52] #761 closed

[2017-12-06 19:52] RayLLiu commented on #761
refer to this https://www.rfc-editor.org/errata_search.php?eid=1690

[2017-12-07 11:35] samirkutty opened #762 "xyz.xyz is a valid URL ?"

[2017-12-08 10:48] mika-s commented on #762
Why don't you try?

[2017-12-09 21:56] chriso commented on #758
Fixed by #760.

[2017-12-09 21:56] #758 closed

[2017-12-09 22:01] chriso commented on #762
It might be. See https://github.com/chriso/validator.js/issues/623#issuecomment-278857682 for more info.

[2017-12-09 22:01] #762 closed

[2017-12-09 22:06] chriso commented on #750
The validator *should* only be checking whether a string is a mobile phone number. The lines are obviously blurred in some locales, and/or people have snuck in general phone validation.

This library will never have general international phone validation. It's too hard; just use [libphonenumber](https://github.com/googlei18n/libphonenumber).

For more info, see:
- https://github.com/chriso/validat

[2017-12-09 22:06] #750 closed

[2017-12-10 19:47] ProfNandaa commented on #706
@chriso -- what's the direction on this one? Is it to expand [this `en-US` regex](https://github.com/chriso/validator.js/blob/master/src/lib/isMobilePhone.js#L27) to accommodate this too?

[2017-12-10 19:57] ProfNandaa commented on #469
Quick question on this one, yes the spec allows these kind of emails, but which emails are actually used in practice? I'm yet to meet some of these emails, would like people to point me to some examples...

Does it mean that we might need to introduce some `strict-mode` of sorts to create a difference?

[2017-12-12 16:46] iamdubx opened #765 "Where examples? Sanitizers doesn't work."
You didn't provide any examples and Docs are about nothing.

I am using with Node server and sanitizers doesnt work

[code]

Please provide basic examples, so you can save yourself from issues like this.

[2017-12-13 14:24] philiiiiiipp opened #766 "isEmail validation accepts gmail accounts with a trailing ."
Hey,

in the email validation for gmail, it is assumed that gmail ignores "." characters but I do not think that this is true.

![screen shot 2017-12-13 at 15 17 16](https://user-images.githubusercontent.com/1035746/33943207-ba5864e2-e018-11e7-8a82-3d05b9d896e2.png)
![screen shot 2017-12-13 at 15 22 30](https://user-images.githubusercontent.com/1035746/33943471-8162dc8e-e019-11e7-9f5f-8af639a54c44

[2017-12-13 20:02] edant92 opened #767 "Error installing validator using npm"
I'm getting the following error when trying to install validator using `npm install validator`.

`npm ERR! Unexpected end of JSON input while parsing near '...","tarball":"https://'`

All other npm packages install correctly and without issue. Any ideas what might be causing this?

[2017-12-13 20:22] mika-s commented on #765
There are 36 lines related only to that function. How is that lack of documentation?

If you claim that something doesn't work then you have to provide some information about what's not working.

[2017-12-13 20:38] chriso commented on #765
Thanks for submitting the issue, but unfortunately I cannot help you if you don't describe the problem.

`normalizeEmail` is a function that accepts an email address (and optional set of options) and returns the normalized email address. From the snippet of code you pasted, I assume that you're not using the return value but rather assuming that the function normalizes the email address in place.

[2017-12-13 20:38] #765 closed

[2017-12-13 20:52] chriso commented on #767
I can't reproduce this. Try `npm cache clean --force`

[2017-12-13 22:29] edant92 commented on #767
Thanks for the quick response!

I'd tried npm cache verify as that had solved similar issues before but didn't think to go as far as `npm cache clean --force'.

That did the trick. Thanks!

[2017-12-13 22:29] #767 closed

[2017-12-23 00:56] ZooeyMiller commented on #747
@ProfNandaa I think that having an option for not allowing whitespace, as mentioned, is a good choice, so will make a PR to reflect this, and allow any other opinions to come up in PR review.

[2017-12-26 09:51] ProfNandaa commented on #740
@Tommytrg - can expound on this?

Any documentation that we can go through?

[2017-12-26 20:33] Tommytrg commented on #740
Sure, you can found more infomation about it in the official government page.

http://www.interior.gob.es/en/web/servicios-al-ciudadano/dni/calculo-del-digito-de-control-del-nif-nie

[2017-12-31 19:38] LordSputnik opened #772 "isISO8601 allows non-existent dates"
isISO8601 currently passes non-existent dates such as "2017-06-31" and "2017-02-29".  If the day of the month is provided, it should be checked to make sure it's actually valid for the supplied month and year.

[2018-01-08 13:58] DracotMolver opened #773 "Dynamics elements with same name attribute"
It would be great to validate against dynamics elements that has the same `name` attribute. When I have more than one element with the same name attribute, the form is sent, overlooking all the validations.

### Edited
This behavior happens neither dynamics elementos or not

[2018-01-08 14:24] #773 closed

[2018-01-08 23:20] omegdadi commented on #652
That's a good question. The hash (#) seems to be okay only separate the URL from a fragment identifier, which is not considered part of the URL (e.g. what if your URL has 2, is it valid?). An encoded space is okay, but if you're testing a URL that has a literal space in it, it should fail.

See Character Encoding Chart in this post: https://perishablepress.com/stop-using-unsafe-characters-in-urls/

[2018-01-11 09:50] galki opened #775 "isDate validator"
ive noticed its in the [lib](https://github.com/chriso/validator.js/blob/master/lib/isDate.js) - why isnt this available as a validator?

[2018-01-13 00:42] ertsaas opened #776 "Email validation is nullified when email address begins with a double quote"
Our platform uses validator.js as our email validator and I have noticed that when I add a double quote in front of an email address with the following forbidden characters ()[]\",:;<>@, that the validation becomes nullified.

For example, when I add the following email address **wrong()[]\",:;<>@@gmail.com** then I receive an error. But when I add a double quote in front of the email address, as

[2018-01-15 05:03] iamgoangle opened #778 "When I tested with Thai language in isEmail() is always return true"
if i have the payload like this

[code]

so I epxected thay it should validate as false case, but actually it always return true

[2018-01-22 23:18] dsacramone commented on #635
@mncrff I am having the same issue... Why is "http://www.ddd" valid when I pass in {require_tld: true} ???

validator.isURL('http://www.ddd', {
    require_tld: true
});

that should fail, but doesn't. Any fix or reason why it's returning true?

[2018-01-23 13:53] Abgaryan opened #780 "validator.isPostalCode is not a function"

[2018-01-24 02:20] TallOrderDev commented on #750
@chriso could you give some clarity between a mobile number and house or work number? As in the US these are all the same format so there is no checkable difference between any of the three.

[2018-01-25 12:00] xujif opened #781 "numeric does not contains float values?"

[2018-01-26 03:36] chriso commented on #778
Try the `allow_utf8_local_part` option:

[code]

[2018-01-26 03:36] #778 closed

[2018-01-26 03:39] chriso commented on #775
Ah it looks like the compiled version is still around. I'll remove it.

See https://github.com/chriso/validator.js/commit/095509fc707a4dc0e99f85131df1176ad6389fc9 for the explanation as to why the validator was removed.

[2018-01-26 03:39] #775 closed

[2018-01-26 03:41] chriso commented on #780
Are you using the latest version? It's definitely there and exported correctly:

[code]

[2018-01-26 10:32] Abgaryan commented on #780
@chriso  yes i am using the latest version.

[2018-01-26 17:25] ravishivt commented on #775
I suggest this goes into the changelog.  I was still referencing isDate when upgrading from 9.2.0 to 9.3.0.

[2018-01-26 19:40] chriso commented on #775
@ravishivt see https://github.com/chriso/validator.js/blob/master/CHANGELOG.md#700

[2018-01-29 13:53] jimmyko opened #784 "Customise postcode validation"
I can see there is a pattern list for the postal code of different countries embed in this library. And I find some other issue raised to update the list. I faced a similar issue in my project that some of the patterns there does not meet the requirement. It would be great if we can override some of the patterns.

[2018-01-29 23:49] jimmyko commented on #784
@chriso Thanks for the quick feedback :) I want to use the custom post code doesn't mean the pattern currently using is wrong. The requirement of my project is to only accept one space within the UK's postcode, but some case might want to keep it optional.

[2018-01-30 04:22] #741 closed

[2018-01-31 22:22] dsacramone commented on #635
bueller bueller?

[2018-01-31 22:56] chriso commented on #635
@dsacramone read https://github.com/chriso/validator.js/issues/642#issuecomment-340093671

[2018-02-05 13:58] jfhs opened #787 "isFQDN is not checking parts length"
Per [RFC 1034](https://tools.ietf.org/html/rfc1034) each part in domain should be at most 63 octets long. This is not being checked by isFQDN and all functions dependent on it (i.e. `isEmail`):
[code]

[2018-02-07 15:07] RPDeshaies opened #789 "Add Typescript typings"
The project doesn't contains the Typescript typings and it seems like there's no project created by DefinitlyTyped under the npm namespace `@types`

So I'm suggesting that the typings should be added to the projects.

I did a quick fix in my project to have typing by converting what was inside the `README.md` but it can definitly be enhanced as I don't really know the project and I'm only using 3

[2018-02-10 05:09] mkay581 opened #790 "Getting global is undefined when running in browser"
Hey, great lib!
This works great in node environment, but I seem to be getting an error when trying to run the validator.js in the browser. It seems to be throwing `Cannot set property 'validator' of undefined` error on [this line](https://github.com/chriso/validator.js/blob/master/validator.js#L26). I suspect its because `global` is not a variable in browser? Perhaps this should use `window` inst

[2018-02-10 05:55] mkay581 commented on #790
After looking into this more, it looks like when I `src` the package as a `<script>`, like this

[code]
No error.

But when I import the JS file using es6 import, like this

[code]

I get the error.

I'm using `import`s because I am using Polymer.

So looks like this package just doesn't yet support es6 imports natively, but it may be a good idea to eventually. In the meantime, I was able to worka

[2018-02-10 05:55] #790 closed

[2018-02-10 22:39] johnpmitsch opened #791 ".co tld is not considered valid"
I am trying to validate the url `https://www.nanode.co/account/xrb_3t6k35gi95xu6tergt6p69ck76ogmitsa8mnijtpxm9fkcm736xtoncuohr3` and it is not considered valid despite being a legitimite url. I am able to workaround by setting `require_tld` to false, but could .co be added as a tld so I don't have to use this workaround?

[2018-02-12 19:15] mika-s commented on #791
I couldn't reproduce your problem when using this minimal example:

[code]

There's no list of allowed tlds. Validator uses regular expressions.
It prints `true`.

Unfortunately, I also managed to get it to print true when I removed `.co`, while still requiring the tld. That's because www is considered to be the hostname and nanode the tld. It might be a "bug" that's already reported though.

[2018-02-20 15:30] builtinnya commented on #789
There is [third-party (DefinitelyTyped) pakage for validator](https://www.npmjs.com/package/@types/validator) but it is outdated (v6.3) and has many bugs.
I've submitted a PR (DefinitelyTyped/DefinitelyTyped#23784) to fix and update the type definitions.
Still, it may be better to add native type definitions.

[2018-02-21 12:43] sushmit-oodles opened #793 "How do i make isEmail to validate email so that it doesn't accept email if there are special symbols other than "@" and "." ?"
How do i make isEmail to validate email so that it doesn't accept email if there are special symbols other than "@" and "." ? Also it doesn't accept if there are numbers in series example: 1234@abc.com

[2018-02-22 19:48] AlexisLeon opened #794 "isMobilePhone for Mexico phone numbers"
I'd like to use isMobilePhone for `es-MX` México phone numbers.

I'm currently using `.matches(/^(\+?52)(1|01)?[0-9]{2,3}\d{8}$/)`

Country code -> `/^(\+?52)(1|01)?`
[Area codes by state](http://www.areacodehelp.com/mexico/mexico_area_codes.shtml) -> `[0-9]{2,3}`
The number -> `\d{8}$/`

[2018-02-22 23:52] ecksun opened #795 "Wikipedia test-cases"
I just ran the validator through the valid and invalid emails listed on [wikipedia](https://en.wikipedia.org/wiki/Email_address#Examples)

There were two incorrectly classified results:

# Valid

    "very.(),:;<>[]\".VERY.\"very@\\ \"very\".unusual"@strange.example.com

# Invalid

    " "@example.org

I do not understand email-addresses well enough to comment on why they are/aren't valid, more th

[2018-02-23 17:10] jamesjara commented on #780
Weird, I'm currently having the same issue

[2018-02-27 12:56] pawelotto opened #796 "Why I can't configure isAlpha or isAlphanumeric to also include spaces?"
What's the reason for not being able to include spaces as valid input to these methods?
How can I validate an alpha string that also includes spaces?

[2018-02-27 22:13] IIimanII commented on #796
if you want to validate a string with alpha and space, we can use 'matches' method. The first param is your string and the second can be a RegExp object.

[2018-02-28 06:50] pawelotto commented on #796
What's the point of using your validator then when I can just use JS-builtin RegExp?

[2018-02-28 07:10] chriso commented on #796
A space character is not alpha or alphanumeric, that's why the validators don't allow it. We don't have validators for every possible combination of characters. You might need alpha + space while another user might need alphanumeric + space + apostrophe.

You're free to use regular expressions if that's all you need, but if you use the library you get:
- functionality that goes beyond what's possi

[2018-02-28 07:10] #796 closed

[2018-02-28 07:23] pawelotto commented on #796
Funny how you've just closed the thread before even considering adding this functionality when a user expresses a genuine interest in that...

[2018-02-28 07:37] chriso commented on #796
When validating credit card numbers, [we ignore spaces and hyphens](https://github.com/chriso/validator.js/blob/e8eef94282523072ecf5b7d7934025ca047a323f/lib/isCreditCard.js#L20), e.g. both `4012888888881881 ` and `4012 8888 8888 1881` are valid. Both are common formats and so this is not configurable.

Are you suggesting that we do the same with `isAlpha` and `isAlphanumeric` and allow something l

[2018-02-28 07:45] pawelotto commented on #796
Exactly that I'm suggesting. For example your other method` isCurrency(str [, options])` accepts the `allow_space_after_symbol`option which is great.

I'm validating tons of requests when I want a user to type e.g. a city name which can contain space(s) but must not contain any digits. I want them to be able to type "New York" and validate using the isAlpha method but with the option of accepting

[2018-02-28 07:56] chriso commented on #796
Why not split by word and validate each separately?

[code]

This has the added benefit of rejecting input with extra spaces:

[code]

[2018-02-28 07:57] pawelotto commented on #796
Sure, I can do anything in vanilla JS, just like I did for my project because your validator wasn't usable in my case. I'm just signalling a missing option in your software, I'm not looking for programming advice.

[2018-02-28 07:58] chriso commented on #796
Well thanks for the suggestion and sorry we couldn't be of more help.

[2018-02-28 08:01] pawelotto commented on #796
No problems, thanks for your time and I wish you much success.

[2018-03-02 07:19] builtinnya commented on #789
DefinitelyTyped/DefinitelyTyped#23784 has been merged.
You can `yarn add -D '@types/validator'` or `npm install -D '@types/validator` to install the updated type definitions.

[2018-03-06 16:26] kub1x opened #797 "Add support for validating EAN/GTIN barcodes"
Since even ISBN is supported, why not support validating barcodes like `isEAN()`? Maybe using [barcoder](https://github.com/dominiklessel/node-barcoder).

[2018-03-08 07:17] tanvir23 opened #800 "email validation doesn't work when using ip address"
false

false

according to this article https://blogs.msdn.microsoft.com/testing123/2009/02/06/email-address-test-cases/ ip address passing is valid
any solution??

[2018-03-09 00:57] johnpmitsch commented on #791
You are right, I can't reproduce outside of my code, I must have something wrong elsewhere in my code or in the configuration, thanks for testing this out!

[2018-03-09 00:57] #791 closed

[2018-03-13 01:39] AndyBarron commented on #800
We are running into this issue as well.

(Side note: Who actually has an email like that?! 😐)

[2018-03-16 03:33] zysc8313 opened #802 "Email validation give me a wrong result when a Zero-width space character(e.g. u200B) in the string"

[2018-03-17 09:01] ProfNandaa commented on #802
@zysc8313 - could you provide the actual example of what you did on the description?

[2018-03-17 09:12] ProfNandaa commented on #800
We might want to stick to the general-purpose (e.g. [see here](https://www.mailboxvalidator.com/resources/articles/acceptable-email-address-syntax-rfc/), and the additional RFC references) use other than make the lib one-size-fits-all.

However, if we have strong enough reasons to move down this path, I'd suggested that we add an optional `allowIP` key on the `options` object? So as to give provis

[2018-03-17 09:13] ProfNandaa commented on #794
@AlexisLeon - Sounds good, PRs are welcome! 👍

[2018-03-19 16:08] deniercounter commented on #772
Ah yes, I was surprised too, that 31. February 2012 became "Fri Mar 02 2012 00:00:00 GMT+0100 (Mitteleuropäische Zeit) {}"

[2018-03-21 10:44] Thilagm opened #804 "IsMobilePhone does not include swedish mobile code"
Hi,

The swedish extension +46 is not included in the isMobilePhone and hence throwing not valid mobile phone.

[2018-03-25 18:29] keyndark opened #806 "isIP not work as expected for IPv6"
Hi.

Function return true for:
`validator.isIP('2a00:1450:4010:c0b::5f:8080')`

Even for:
 `validator.isIP('2a00:1450:4010:c0b::5f:8080:5555')`

**Validator.js version:** 9.4.1

[2018-03-26 08:33] keyndark commented on #806
I`m read the docs about ipv6 adress. No issue in this case. Closed.

[2018-03-26 08:33] #806 closed

[2018-03-27 15:38] michaelwclark commented on #780
@chriso I didn't realize I was on such an old version. I updated to 9.4.1 and it fixed the issues I was having.

[2018-03-28 11:43] akkie opened #808 "isFloat should use the English number format to validate min, max, lt and gt"
If a locale like `de-DE` is used with `isFloat`, then floating point numbers will be passed with a comma as decimal separator. So if someone tries to validate also against `min` and `max` as example, then the validator fails, because `min` and `max` are passed normally in the computer based numeric format which uses a dot as decimal separator.

Doesn't work:
[code]

Works:
[code]

In the working c

[2018-04-05 15:55] antonio0 opened #811 "isEmail validate email with from emoji domains"
Is it possible to validate the email containing emojis in the domain part?

Example: hello@🐾🐕.ws

it looks like a domain that was registered with https://xn--i-7iq.ws/

[2018-04-09 08:20] ultraviolet opened #812 "isLength for phone number length gives different results"
Sorry, my mistake

[2018-04-09 08:24] #812 closed

[2018-04-12 02:36] tanmynguyen opened #813 "isMobilePhone not valid number phone in VietNam"
Hi @chriso .
I tried validator with number phone on VietNam with locate code `vi-VN`. But Number Mobile Phone changed on VietNam. With start number phone `08` so `isMobilePhone` not working with number phone `"0868891902"`. You can help to check Regex of isMobilePhone.
Example:
`validator.isMobilePhone("0868891902", "vi-VN")` --> false
`validator.isMobilePhone("01646545327", "vi-VN")` --> true
Tha

[2018-04-12 03:06] tanmynguyen commented on #813
I test with regx `^(\+?84|0)?((1(2([0-9])|6([2-9])|88|86|99))|((8|9)((?!5)[0-9])))([0-9]{7})$` everything ok!
`// viettel`
[code]

`// Mobile`
[code]

`// Vina`
[code]

`// GMobile`
[code]

`// Vietnam Mobile`
[code]

[2018-04-13 18:44] carrickjason opened #814 "Not tree shaking with webpack 4"
When I `import { isEmail } from 'validator'`, It still shows the entire `lib` with no tree shaking when using webpack 4 for my production build.  Could this be solved by adding `"sideEffects": false` to the `package.json` as per [webpacks docs](https://webpack.js.org/guides/tree-shaking/)?

[2018-04-14 06:18] dantman opened #815 "Export the list of supported countries for isPostalCode, locales for isMobilePhone, etc..."
I would like to use `isPostalCode` for form validation in a situation where the country code may be input by the user. I want to validate all the common countries (Canada, US, UK, etc...) that validator supports but if validator doesn't know how to validate a country's postal code I just want to consider all input valid.

The problem is that `isPostalCode` will throw a generic Error instance if th

[2018-04-18 11:38] abel-masila opened #817 "Select box validation"
How do i validate select  box with validator?
here is my react js code snippet
![image](https://user-images.githubusercontent.com/7681686/38930900-20eb70a0-431a-11e8-94c6-9593d2910fc2.png)

[2018-04-20 18:46] rathboma opened #818 "Invalid gmail addresses with multiple dots are marked as valid and the dots are normalized out"
Validator sees this email as valid: `example..email@gmail.com`. It is in fact not valid and would bounce, even if `example.email@gmail.com` is a valid email address.

While gmail DOES ignore single dots in an email name, it does not ignore multiple dots, but rather the address is actually invalid.

more examples to illustrate:

valid: `matthew.example@gmail.com`
invalid: `matthew..example@gmail.co

[2018-04-23 13:35] AmirSasson commented on #781
see #810

[2018-04-26 20:59] stevula commented on #815
I am facing the same issue. I have a list of supported countries where not all are supported by `isPostalCode`. It seems my only options are to check against the list from the README (not maintainable) or specify the path to `src/lib/isPostalCode.js` (brittle).

[2018-05-01 12:31] oshihirii opened #821 "How to add a method?"
Hello,

I would like to add:

`isNotEmpty(str)`

I think I can add in `validator.js` like this:

[code]

and later:

[code]

but is there anyway I can create it "on the fly", so that I could still use CDN version of `validator.js`?

Thank You.

PS For context, I am creating a way of chaining methods, and using input data attributes to list multiple validations (and calling the validations dynamica

[2018-05-01 14:42] oshihirii opened #822 "How to pass values to isLength() from an input data attribute?"
Hello,

I am looking at https://github.com/chriso/validator.js/blob/master/validator.js#L737:

[code]

and read:

I can do this in the console:
[code]

but I am grabbing data attributes from the input to determine what validations to run dynamically, eg:

`<input data-validation="isLength({min:1, max:undefined})">`

and `validator.js` doesn't seem to want the "object" as a string).

I've tried `JS

[2018-05-01 14:43] oshihirii commented on #822
Solution was to define data attributes in single quotes to keep double quotes around the key names, eg:

[code]

[2018-05-01 14:58] #822 closed

[2018-05-01 15:00] oshihirii opened #823 "validator.isAfter("2","22 Apr 1955") === "true""
Re:

What format should the date string be in?

Thank You.

[2018-05-01 15:17] oshihirii commented on #823
Looking at:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date

Is this the right way to do it:

[code]

[2018-05-01 15:29] #823 closed

[2018-05-02 00:24] oshihirii commented on #407
Probably not the best design, but here is a demo with "chaining" using input data attributes:

https://codepen.io/oshihirii/pen/xjqmdw

Thanks for providing general example of `errors.push()` @chriso.

[2018-05-02 12:09] christiaanwesterbeek commented on #609
This is the simplified assertion I'm using currently:

assert.ok(/^[a-zA-Z0-9\-_]+\.[a-zA-Z0-9\-_]+\.[a-zA-Z0-9\-_]+$/.test(thing), 'is a valid jwt token')

[2018-05-02 16:13] osazemeu opened #824 "Feature request: Add generic regex validator"
Awesome package, thanks for sharing.
Could you add a method that supports any custom regex expression? It could be useful to support niche related validations.

Thanks

[2018-05-02 22:41] chriso commented on #824
Try `matches(string, regexPattern)`:

[code]

[2018-05-02 22:41] #824 closed

[2018-05-03 04:34] #818 closed

[2018-05-03 04:44] chriso commented on #766
Fixed by https://github.com/chriso/validator.js/pull/820

[2018-05-03 04:44] #766 closed

[2018-05-03 04:46] chriso commented on #781
Fixed by #810.

[2018-05-03 04:46] #781 closed

[2018-05-03 04:54] chriso commented on #793
If you want to reject valid but odd looking emails, your best bet is to use a regular expression:

[code]

Same with disallowing numeric user parts:

[code]

[2018-05-03 04:54] #793 closed

[2018-05-03 04:57] chriso commented on #815
I'd be happy to accept a PR that exports the list.

[2018-05-03 04:57] chriso commented on #811
This is supported:

[code]

[2018-05-03 04:57] #811 closed

[2018-05-03 05:02] #787 closed

[2018-05-03 05:03] #780 closed

[2018-05-03 05:04] chriso commented on #814
I'm not sure, but happy to accept a PR with a fix.

[2018-05-03 05:05] chriso commented on #817
You're probably better asking this question over at https://stackoverflow.com/. There might be some wrapper libraries you could use.

[2018-05-03 05:05] #817 closed

[2018-05-03 05:19] #808 closed

[2018-05-03 05:32] chriso commented on #591
See https://github.com/chriso/validator.js/pull/734 for 2 letter country code validation.

3 letter country code validation is incoming: https://github.com/chriso/validator.js/pull/809

[2018-05-03 05:32] #591 closed

[2018-05-03 16:42] rathboma opened #825 "Discrepancies between isValid and normalizeEmail"
So there are situations where isEmail will return `true`, but normalizeEmail will return false.

For example:

`+123456789@gmail.com` -> isEmail returns true, normalizeEmail returns false.

Really this comes down to a behavior that I think the library should enforce:

Currently `normalizeEmail` can return `false`, which seems wrong. It feels like if `normalizeEmail` can't do what it needs to it sh

[2018-05-03 18:15] Kiran-N opened #826 "isMobilePhone fails ###-###-#### format"
validator.isMobilePhone("###-###-####",'en-US') fails as a valid number.

[2018-05-04 04:50] chriso commented on #826
I'd be happy to accept a PR that relaxed the format to allow hyphens. Some of the other patterns already allow this. In the mean time, you can validate the results of `phone.replace(/-/g, '')` or use a custom regular expression pattern.

[2018-05-04 23:02] takion opened #827 "missing isISO31661Alpha3 in npm package"
Hello,
First thank you for this great library,
I have this problem:
Can't resolve 'validator/lib/isISO31661Alpha3'
and indeed, the file doesn't exists in the installed package (version 10.0.0)

[2018-05-04 23:10] chriso commented on #827
It was only [added yesterday](https://github.com/chriso/validator.js/blob/master/CHANGELOG.md); I haven't published it yet :smile:

[2018-05-04 23:12] chriso commented on #827
I just published `10.1.0` with the new function.

[2018-05-04 23:12] #827 closed

[2018-05-04 23:14] chriso commented on #825
Agreed, this is confusing behavior of `normalizeEmail()`. It should always succeed, provided the input email is valid. It should be `isEmail()` that rejects those particular emails (starting with `+`). We could add domain-specific validation to `isEmail()`, but I wonder if `+123456789@example.com` is even valid (in the general case)?

[2018-05-05 09:26] takion commented on #827
OK, thanks

[2018-05-07 09:36] siddhartharora02 opened #828 "Still getting - User validation failed: email: Invalid Email, Custom Error Needed"
https://stackoverflow.com/questions/50210843/user-validation-failed-email-invalid-email-custom-error-needed

[2018-05-08 03:51] chriso commented on #828
This library doesn't have error messages, it just returns true or false if something is an email address. Try submitting an issue here: https://github.com/Automattic/mongoose/issues

[2018-05-08 03:51] #828 closed

[2018-05-09 18:32] raghu7k opened #829 "How do I use the Validation.JS in my Angular 4 Project ?"
Please let me know how to integrate this library in my Angular 4 Project.

[2018-05-11 05:12] chriso commented on #829
I'm not familiar with Angular. You might have some more luck posting your question over at https://stackoverflow.com/

[2018-05-11 05:12] #829 closed

[2018-05-14 02:30] chriso commented on #825
@tux-tn +123456789@gmail.com is an invalid gmail address. I think we should add domain-specific validation given how ubiquitous gmail addresses are.

[2018-05-16 20:38] maikelmclauflin commented on #704
this also fails. is this expected?
[code]

[2018-05-16 21:35] chriso commented on #704
@maikelmclauflin try `require_tld`:

[code]

[2018-05-23 13:09] henrikra commented on #789
Good to have types! I think this issue can be closed now :)

[2018-05-25 07:50] Gamehu opened #837 "isUrl"
the value is "http://localhost/riil-biz-frontend " ,but result is  unverifiable

[2018-05-27 00:37] shirbr510 commented on #707
+1

[2018-06-05 07:38] chriso commented on #821
This isn't supported, sorry. Your best bet would be to create a shim (between your code and the library) that checks for overrides or custom validators, and passes the remaining calls on to the library.

[2018-06-05 07:38] #821 closed

[2018-06-05 07:40] chriso commented on #837
Your URL is invalid because of the trailing whitespace. You can also allow through `localhost` by setting `require_tld` to `false`:

[code]

[2018-06-05 07:40] #837 closed

[2018-06-18 06:49] tux-tn commented on #258
@frontendmonster florian_hartmann@gmail.com is not a valid gmail address.
Only letters, numbers and dots are authorized in gmail

[2018-06-18 09:41] joe-mojo commented on #258
@tux-tn @frontendmonster  You forgot '+'. The + character is totally valid in gmail address.

[2018-06-18 10:01] tux-tn commented on #258
it's a special character for sub addresses and yes it's a valid character in validator.js

[2018-06-19 06:27] Gamehu opened #850 "validate ip"
There's a problem with the method isIp

check  "www.aa.sssssss" is right

[2018-06-19 10:08] frontendmonster opened #851 "isEmail return false for valid google mail"
## Current Behaviour
[code]

## Expected Behaviour
[code]

[2018-06-19 16:07] jvsoares commented on #851
I don't believe that gmail will allow for an underscore in the address.  I know that periods are ignored.  If I change your email to justen.kautzer@gmail.com, it validates perfectly.

[2018-06-20 06:34] frontendmonster commented on #851
True!
Gmail only accepts periods.
Thanks.

[2018-06-20 06:34] #851 closed

[2018-06-20 06:48] hitbits opened #852 "Feature Request: VAT identification number validation"
Hi!

I'm using validator.js in a personal project. Sometimes I need to validate [VAT identification numbers](https://en.wikipedia.org/wiki/VAT_identification_number)(1) from users' input and I think it can be useful for more people.

If you think it's a good idea I can send a pull request with the implementation

(1) [https://en.wikipedia.org/wiki/VAT_identification_number](https://en.wikipedia.or

[2018-06-20 09:38] towc opened #853 "isEmail should check specific gmail case only under option"
I think it's weird to only have some rules about gmail, which might require more maintenance, create bugs, and in my case, a bit of confusion.
I was writing some tests, and one of them used the email "user@gmail.com", but the test didn't pass. It took me a bit to figure out that the problem was actually with validator not allowing gmail usernames to be outside of the 6-30 range length.
It's still

[2018-06-20 09:50] towc opened #854 "isMobilePhone locale should default to 'any'"
currently, if you don't pass a second argument, it fails with `invalid locale 'undefined'`, which means you have to look at the docs/source code to figure out what to do, while it's very likely you just want any locale.

setting the default locale to any shouldn't break any code, because if there's no second argument, it just fails.

Agree or disagree?

[2018-06-21 06:01] gauravnewton opened #855 "How to integrate it with my local host project"
i had tried it with my local host project but unable to access validator. could you pease provide any smal working validator example...

[2018-06-23 20:16] tux-tn commented on #853
Hello towc

I am the person who added gmail validation to isEmail.
 I disagree with you on this, user@gmail.com is an invalid email address (you can't send an email to user@gmail.com or create an address with user@gmail.com), why would you want your test to pass with an invalid email address?

[2018-06-23 20:34] towc commented on #853
as mentioned:

And if the idea is to allow gmail, why stop there and not add other common providers? If you actually want specific validation, it means that the code that uses `validator` would need separate cases for the other common providers, and then it will be confusing because you won't see gmail in there unless you want to duplicate validations unnecessarily, which means now there are unnec

[2018-06-23 20:45] tux-tn commented on #853
I think you'll understand better why gmail validation has been added to isEmail by taking a look at #825

[2018-06-23 20:50] towc commented on #853
oh, thanks, I hadn't read that. Either way, `normalizeEmail` uses options. I think we should also use options in `isEmail`

[2018-06-25 03:05] webmastervishal commented on #749
How about adding this as a new validator in the package? This is must needed validation for any web project.

[2018-06-25 04:10] webmastervishal commented on #749
I came with this solution and it validates the full name of first name and last name.

[code]

[2018-06-25 09:58] U-4-E-A opened #857 "Feature request - validation for containing upper and lowercase characters"
I think it would be useful if you could validate on whether or not a string contains upper and lowercase characters (as opposed to validating if the entire string is upper or lowercase). Would be useful for password strength validation.

[2018-07-01 07:54] arun19091998 commented on #851
isEmail returns false for admin@gmail.com, abcd@gmail.com. But for admin1@gmail.com, abcd12@gmail.com, admina@gmail.com it returns true. Only gmail usernames are making this. admin@live.com, foo@bar.com works fine.

[2018-07-02 22:58] wubies opened #859 "NZ Mobiles REGEX needs to accept 02 and 08 numbers"
Some Spark M2M sims are being released on the 08 range.

Suggest updating the regex from
`/^(\+?64|0)2\d{7,9}$/`
to
`/^(\+?64|0)[28]\d{7,9}$/`

[2018-07-04 12:04] linkenneth opened #860 "isURL allow_protocol_relative_urls intended behavior?"
What is the intended effect of allow_protocol_relative_urls? It seems to me that there might be a bug, but I'm also not clear on the flag's intended effects. For example:

[code]

The source just seems to offset the rest of the parsing by the protocol, and there doesn't seem to be any way that explicitly fails when protocol-relative URLs are used.

https://github.com/chriso/validator.js/blob/maste

[2018-07-09 13:53] twelve17 commented on #825
According to [this post|https://www.quora.com/Is-it-currently-possible-to-establish-a-gmail-email-account-shorter-than-6-characters], there are gmail addresses out in the wild that have a username part less than six characters. It's an edge case, but it's possible we ran into one of these today, and now I am faced with having to disable email validation altogether because it is trying to be too cl

[2018-07-15 04:01] abdourahimjallow commented on #859
T

[2018-07-17 21:17] ryannealmes commented on #574
Have you guys removed the functionality for `isNull` completely from this library?

e.g. `validator.isEmpty(null)` throws an exception now, so if I wanted to validate if something is empty I would have to do `validator.isEmpty(test || "")` if I wanted to cater for nulls as well. Is this intentional or am I missing something?

Thanks.

[2018-07-18 09:37] fsmedberg-tc opened #865 "isEmail fails with valid gmail address"
isEmail returns false for this address: Ulises_Morar20@gmail.com

[2018-07-19 04:10] leninsx opened #866 "_isMobilePhone unable to match the number at the beginning of 166（‘zh-CN’）"
![image](https://user-images.githubusercontent.com/30428821/42921059-671f9d7e-8b4c-11e8-8871-9648c80b594c.png)
My phone number is China Unicom 166********

[2018-07-19 05:37] anthonygore commented on #851
Faker is the package in the wrong, but if you need an immediate fix go back to validator v9

[2018-07-19 07:46] Y0hy0h opened #867 "isUrl() has bad feedback when invalid"
The `isUrl()` method simply [returns false](https://github.com/chriso/validator.js/blob/fdea1d79e6ab0fb256f29dd651641dcf7c46012e/lib/isURL.js#L84) whenever a requirement is violated. As noted in [an issue on another project](https://github.com/typestack/class-validator/issues/223#issuecomment-406068834) this means that the user cannot get feedback as to how they might correct the issue.

Is it pos

[2018-07-20 15:35] RobertFischer commented on #747
@ProfNandaa @ZooeyMiller Did this PR ever get written/merged in? If not, I'm happy to write it. I was literally just looking for this functionality, although I expected it to be under the name `isBlank` (coming from Rails).

[2018-07-20 15:43] RobertFischer commented on #814
@chriso -- Are there any files you're aware of which cause side effects (eg: assign to global variables, etc.)? I'm not seeing anything, but I can look again.

If the modules really are all pure, then we can do what the original user suggested and enable tree shaking by adding `"sideEffects": false` to the `package.json`, and I'll submit a PR.

[2018-07-20 15:52] RobertFischer commented on #865
Confirmed.

[code]

Confirmed.

See also: #825 and #853.

Looks like it's because the Gmail user validation doesn't allow underscores:  https://github.com/chriso/validator.js/blob/9ad2034dceb340ac2f9d9103d392a19f4cffa785/src/lib/isEmail.js#L18  A quick trip around the internet confirms that this is, in fact, the case: Gmail doesn't let you create a username with an underscore. So that is, in fact,

[2018-07-20 16:41] hashharvest opened #869 "Validator matches() check fails on second match check"
I'm using this pattern:

`/^(\d{5}[,]?)+$/igm`

Basically, it accepts a list of 5 digit numbers with a comma-delimiter (ie 73111,85111,98222,08881...).

When I run the following code the first time (after reload):

`matches('73111,85111,98222,08881', /^(\d{5}[,]?)+$/igm);`

It runs fine and get a true, as expected.  However, if I run the code again (without reloading), I get a false, even though t

[2018-07-20 17:02] hashharvest commented on #869
After looking at the source code for matches, it is using the `test` method on a regex pattern.

Here is the reason this is happening:

[2018-07-20 19:29] tux-tn commented on #865
@agsdtm7 your email is not valid, minimal address length for gmail is 6 characters.

[2018-07-20 19:32] agsdtm7 commented on #865
you are correct now it worked with 6 characters (or more) gmail addresses. Thanks for speedy reply

[2018-07-20 22:43] ProfNandaa commented on #867
@Y0hy0h - what would you suggest? 🤔

[2018-07-20 22:48] ProfNandaa commented on #866
Sure, this can be updated. Do you mind doing a PR on this?

[2018-07-20 23:33] ProfNandaa commented on #555
@chriso - ~2 yrs later, is there still a compeling need for this? I could go ahead and do a PR.

[2018-07-20 23:36] ProfNandaa commented on #561
Now that `isDate` was removed, what's the way forward on this?

[2018-07-21 10:05] Y0hy0h commented on #867
@ProfNandaa, you mean how to implement this?

I've had a quick look at the code and it seems that this project consistently only return false or true for any validator. So it would be inconsistent to have one validator return something different. I can only come up with breaking changes anyway.

So I asked the question this openly on purpose, because I want to know whether this kind of change is s

[2018-07-26 09:23] Skraizor opened #871 "isMobilePhone incorrectly matches JP numbers"
According to https://www.livinglanguage.com/blog/2012/09/30/japanese-phone-numbers/, japanese numbers may wary, your regular only recognizes one type.

[2018-07-28 03:46] xlchurch commented on #853
ran into the same issue as @towc.

I think it make's sense to have provider specific validation enable by default but it would be nice to pass options to disable the additional validation for all providers or specific providers if required.

[2018-07-28 03:50] xlchurch commented on #853
even updating the isEmail description in the Validators list to detail what validation is occurring for each provider would be a step in the right direction... opposed to finding this out during implementation.

[2018-07-28 05:54] patelnav commented on #865
@RobertFischer
I ran into the same issue when testing things internally. Turns out gmail doesn't **usually** allow underscores, which it seems was added on [this commit](https://github.com/chriso/validator.js/commit/58cd58c963f7d4a030fe262757aa36d18c97e00c#diff-de3207ae9622cc17945c31234dfd8f51).

@tux-tn:
2 reasons why this shouldn't be enforced:

1. Google doesn't specifically say this is enforce

[2018-07-31 04:52] chriso commented on #826
Fixed by #872

[2018-07-31 04:52] #826 closed

[2018-07-31 04:59] chriso commented on #800
Fixed by #845

[2018-07-31 04:59] #800 closed

[2018-07-31 05:04] chriso commented on #850
That's not an IP address:

[code]

[2018-07-31 05:04] #850 closed

[2018-07-31 05:12] chriso commented on #855
There'd be a variety of ways of incorporating the library into your project. You could try posting your question over at https://stackoverflow.com

[2018-07-31 05:12] #855 closed

[2018-07-31 05:48] chriso commented on #865
@patelnav see https://github.com/chriso/validator.js/pull/832#discussion_r188578415 for an example of gmail restricting usernames to [6,30] chars. Admittedly though, I don't know if this was always the case, or if there are valid, internal gmail addresses with < 6 chars.

Either way, this has caused too many issues. I'll add a flag to control the behavior and default to the previous implementation

[2018-07-31 05:59] #853 closed

[2018-07-31 06:00] #865 closed

[2018-07-31 06:01] chriso commented on #854
Agreed. Happy to accept a PR with the change.

[2018-07-31 06:03] chriso commented on #857
You could combine the primitives: `validator.isUppercase(str) || validator.isLowercase(str)`, or use a regular expression: `validator.matches(str, /^[a-z]+$/i)`

[2018-07-31 06:03] #857 closed

[2018-07-31 06:07] #859 closed

[2018-07-31 06:07] chriso commented on #859
Thanks for the report.

[2018-07-31 06:08] chriso commented on #867
I think this is outside the scope of the library. The same case could be made for any of the other validators, and returning something other than true/false would bloat the library.

[2018-07-31 06:08] #867 closed

[2018-07-31 06:08] chriso commented on #869
Yeah this how `g` works rather than a bug in the library. You'd have the same behavior calling `/../.test()` multiple times.

[2018-07-31 06:08] #869 closed

[2018-07-31 06:09] chriso commented on #871
Happy to accept a PR with a fix.

[2018-07-31 06:10] chriso commented on #860
Thanks, that is indeed a bug.

[2018-07-31 06:15] #860 closed

[2018-07-31 07:56] chriso commented on #706
These pass now:

[code]

[2018-07-31 07:56] #706 closed

[2018-07-31 09:37] towc commented on #854
1 PR and a soda coming up

[2018-07-31 11:02] chriso commented on #854
Fixed by #874. This will go out in the next release.

[2018-07-31 11:02] #854 closed

[2018-08-02 13:16] oliviertassinari commented on #865
Does is mean Larry (Page) can't signIn in my application using validator.js?

[2018-08-03 04:18] imranismail opened #875 "Can't find 10.5.0 on npm"

[2018-08-03 04:21] #875 closed, assigned to nobody

[2018-08-09 13:59] irazasyed opened #877 "Magnet URI Validation?"
Trying to get magnet validation. I'm able to do it with regex but would rather have it supported by `isURL()`.

One of my use cases is to let the user input either a full URL with HTTP/S protocol or accept Magnet URI like: `magnet:?xt=urn:btih:<HASH>`

Is this already supported or if not, can we please add? If not within the isURL, then maybe another function. Thanks!

[2018-08-15 17:29] ftrevo commented on #794
@AlexisLeon can you please validate if my pull request will do the trick?

[2018-08-15 20:04] ftrevo commented on #747
Credits to @ZooeyMiller for the pull request :)

[2018-08-17 00:39] chriso commented on #747
Fixed by #880.

[2018-08-17 00:39] #747 closed

[2018-08-17 19:02] ferhatelmas opened #882 "Meta: make github links in package.json https"
Was running `yarn outdated` and everything was https except `validator`.

GitHub already handles but, IMHO, making default https would be better.

[2018-08-21 04:00] erichsu opened #883 "TypeError: Attempted to assign to readonly property - While chaining validator as callback without arguments"
I am using `validator.isEmail` to check array inputs in browser.
And facing a TypeError here...

## Env
Version: 10.6.0
OS: macOS High Sierra
Browser: Chrome 68

## Working Case
[code]

## Failed Case
[code]

Exception in `util/merge.js`
[code]

CodePen (https://codepen.io/anon/pen/OoJwNm?editors=1011)

Any suggestion?

[2018-08-21 04:08] chriso commented on #883
The `Array.find()` callback receives the index as param 2 (see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find), but `isEmail()` expects an `options` object.

[2018-08-21 04:14] erichsu commented on #883
Oops, sorry for overlooking the `isEmail` function arguments.
I will keep using the 1st case to avoid sending param 2.

Thanks for your reply quickly.

[2018-08-21 04:14] #883 closed

[2018-08-21 23:37] chriso commented on #877
Fixed by #884

[2018-08-21 23:37] #877 closed

[2018-08-24 05:38] #609 closed

[2018-08-31 23:45] felpel opened #887 "isUrl - Host and scheme should be case insensitive"
Given I use `https://www.yahoo.com`, `HtTPs://WwW.YaHoO.cOm` or `HTTPS://WWW.YAHOO.COM`, it would still be resolved to `https://www.yahoo.com`.

The user tried to type `HTTPS://TEST.COM` and was given an error by the validator **with the default options**, even though `https` is valid by default. With `https://TEST.COM`, it was no longer failing the validation.

Following [this article](https://ww

[2018-09-01 16:35] ProfNandaa commented on #815
@chriso - should this be now closed because of #830 ?

[2018-09-01 17:42] ProfNandaa commented on #555
Looks like the [semver lib](https://www.npmjs.com/package/semver) is already doing quite a good job on this (with >11 M downloads/week on NPM); I'd recommend that we have it closed. @chriso

@steve-gray - what do you think?

[2018-09-01 20:13] #887 closed

[2018-09-01 20:15] chriso commented on #887
Thanks. This looks like a regression introduced by f9be99fc355ffb0ff96e3fa54fbbdcd3606c434e.

[2018-09-01 20:17] chriso commented on #815
@ProfNandaa I don't think the list of mobile phone locales is being exported currently.

[2018-09-01 20:17] chriso commented on #802
@zysc8313 do you have a test case available?

[2018-09-01 20:18] chriso commented on #555
Agreed.

[2018-09-01 20:18] #555 closed

[2018-09-02 08:43] MatanBobi opened #888 "isMobilePhone missing $ sign at end of he-IL locale"
Hi,
looks like the regex: ` 'he-IL': /^(\+972|0)([23489]|5[012345689]|77)[1-9]\d{6}/,` is missing the `$` sign at the end which causes a validation problem when not specifying locale as it will pass any string that only contains a valid (Israeli) phone at the start and not is a valid phone.
A permalink for the code [here](https://github.com/chriso/validator.js/blob/6ce306093b33a7c22fdb6237802fd21c

[2018-09-02 10:45] ProfNandaa commented on #815
@chriso -- ooh, got it. Let me be on it.

[2018-09-02 11:05] ProfNandaa commented on #815
^^Let's separate this into #722

[2018-09-02 11:40] chriso commented on #888
That's definitely a bug. Happy to accept a PR :smile:

[2018-09-02 11:52] MatanBobi commented on #888
Sure.
Here it is: https://github.com/chriso/validator.js/pull/889

[2018-09-02 11:55] MatanBobi commented on #888
#889

[2018-09-02 11:56] #888 closed

[2018-09-02 12:11] #815 closed

[2018-09-02 12:16] ProfNandaa opened #891 "#890 follow-up: exporting locales for isFloat"
For my #890 PR, I intentionally left out `isFloat` since I noticed that it does not throw an error for "unsupported" locales but rather falls back on a default.

https://github.com/chriso/validator.js/blob/master/src/lib/isFloat.js#L7

Should we add throwing an error now since that has been the pattern for the rest, or will we be risking backward incompatibility (before line 7)?

[code]

OR

Shoul

[2018-09-02 12:17] ProfNandaa commented on #891
@chriso ^

[2018-09-02 17:24] ganeshdeshmukh1612 opened #893 "How to validate if password is alphanumeric, with capital+small letters?"
I have read the documentation,
but I can't understand how to apply this function

`isAlphanumeric(str [, locale])`, to check my input contains alpanumerics?

I have tried it as my input is `data.password`,
[code]

but it throws err as  `TypeError: This library (validator.js) validates strings only`, though data.password is string value.

my repository of code is [here](https://github.com/ganeshdes

[2018-09-02 17:55] dantman commented on #722
CLDR's postcode list is not maintained and was removed.

I actually ditched validator's post code validation and implemented validation using data from Google's [libaddressinput](https://github.com/googlei18n/libaddressinput/wiki/AddressValidationMetadata). Which provided me with validation for zip/postal/eircode/pin codes from countless countries.

[2018-09-05 04:53] hitbits commented on #852
@ProfNandaa - pong!

Can I help you with something?

[2018-09-05 12:47] twelve17 commented on #853
@tux-tn it’s possible there are some gmail users who have addresses that were valid at the time that wouldn’t be allowed today. Perhaps the more strict validation was added later, but we are still left with the possibility that these emails exist legitimately.  See my comment here for more info
https://github.com/chriso/validator.js/issues/825#issuecomment-403487002

I hope an option can be added

[2018-09-05 17:29] tux-tn commented on #853
@twelve17 check #873 the flag `domain_specific_validation` has been added

[2018-09-05 17:30] twelve17 commented on #853
@tux-tn ah, thank you!  Sorry for the trouble.

[2018-09-07 11:12] ShivaShankerReddy commented on #893
@ganeshdeshmukh1612 r u using any special characters in password.

[2018-09-07 15:55] #893 closed

[2018-09-11 05:30] chriso commented on #891
Fixed by #892.

[2018-09-11 05:30] #891 closed

[2018-09-13 16:30] DCtheTall opened #894 "Have the TypeError thrown by assertString.js include the incorrect type provided"
`assertString.js` throws a TypeError when the type of the argument is not a string, I was wondering if people thought it would be useful to include the incorrect type of the object that caused that error?

This might be helpful for other developers using this library who are debugging their own code.

I would also be happy to provide a PR for this if that is something other people may find useful.

[2018-09-17 04:46] chriso commented on #894
Sure, that sounds useful. Happy to accept a PR.

On Fri, 14 Sep 2018 at 2:31 am, Dylan Cutler <notifications@github.com>
wrote:

[2018-09-23 00:03] ProfNandaa opened #897 "request: volunteering as a maintainer"
Hi @chriso - I would like to volunteer as a maintainer for this project. If this is good with you, you can add me in as a contributor with `read` rights (for now). Will mostly help with moderation and backlog grooming. You should still handle releases.

-na

[2018-09-23 10:18] chriso commented on #897
Email sent.

[2018-09-23 10:18] #897 closed

[2018-09-24 00:41] ProfNandaa commented on #897
@chriso -- Received and accepted. Thanks so much for the honor! 🙏

[2018-09-24 23:05] #740 closed

[2018-09-24 23:17] chriso commented on #894
Fixed by #895.

[2018-09-24 23:17] #894 closed

[2018-09-25 13:34] ProfNandaa commented on #469
Please place a 👍 vote on this comment if you need this feature for your project.

[2018-09-25 13:41] ProfNandaa commented on #572
@jsamr - you can help here?

[2018-09-25 13:44] jsamr commented on #572
@ProfNandaa Sorry don't have the time for this. Perhaps later this year.

[2018-09-25 13:47] ProfNandaa commented on #611
Anyone still needs this?

[2018-09-25 13:54] ProfNandaa commented on #590
@simison - this is the original one, that's maintained regularly - https://github.com/AfterShip/phone

For this issue, might it be prudent to advise people to go for ^ instead? I believe adding this here would be unnecessary bloat with maintenance overhead.

Let me know what you think @schang933

[2018-09-25 13:58] ProfNandaa commented on #635
@tsx - remember that that work still has to be done by the end of the day, either by the library or library's end-user. I don't see any perf gains here.

[2018-09-25 14:04] ProfNandaa commented on #652
@omegdadi - happy to accept PR! 👍

[2018-09-25 14:10] ProfNandaa commented on #707
@simison - happy to accept PR! 👍

[2018-09-25 14:21] ProfNandaa commented on #852
@hitbits -- oh, was pinging to ask if you can raise a PR on this :)

[2018-09-25 14:34] ProfNandaa commented on #572
No worries :)

On Tue, Sep 25, 2018 at 4:45 PM Jules Sam. Randolph <
notifications@github.com> wrote:

--
Sent from a tiny device while on the move.

[2018-09-26 12:31] rpk-red opened #900 "Azure problem"
When I updated Validator from version 8.2.0 to latest 10.8.0 my application worked normally on local host but after deploy on azure I got error:

 `Uncaught SyntaxError: Invalid regular expression: /^[Î‘-Ï‰]+$/: Range out of order in character class
    at Object.<anonymous> (main.eb8e15138060192e8836.js:24)
    at n (main.eb8e15138060192e8836.js:1)
    at Object.<anonymous> (main.eb8e15138060192e

[2018-09-26 15:32] hitbits commented on #852
@ProfNandaa - I'm working in this request. Comming soon.

[2018-09-28 06:08] ProfNandaa commented on #900
@rpkRED - which Node version is your Azure VM running?

[2018-10-02 09:05] oshihirii commented on #765
In the README, there is an example for validators:

    validator.isEmail('foo@bar.com'); //=> true

Do all the sanitizers work the same way, ie:

    var dirty = "<html> & ' " /";
    var clean = validator.escape(dirty);  //=> &lt;html&gt; &amp; ' &quot; /

Also, where is the "REPL" please?

Thank You.

[2018-10-02 18:37] ProfNandaa commented on #900
@rpkRED - ping!

[2018-10-03 20:46] chriso commented on #776
Fixed by #902.

[2018-10-03 20:46] #776 closed

[2018-10-04 07:49] rpkRED commented on #900
WEBSITE_NODE_DEFAULT_VERSION : 8.9.0

[2018-10-04 07:52] navata commented on #813
VietNam is change 11 number to 10 number phone. I think validator should update for new phone.

[2018-10-08 11:32] norayr93 opened #905 "isEmail doesn't validate properly"
I am trying to validate email addresses with this package , but something doesn't work properly . So when i try to validate such kind of addresses like  `example@gmail.commmmmm` ,  it passes the validation . Any considerations ?

[2018-10-10 00:56] ItalyPaleAle commented on #905
This is by design. The library has no way to test if an email address is active; it only tests if the email address was correctly formatted. As far as we know, "commmmm" could be a valid TLD (especially now that there are gTLD's).

[2018-10-10 01:00] ItalyPaleAle commented on #900
Somehow, it sounds like it could be an encoding issue.

@rpkRED are you using Web Apps on Linux or Windows?

[2018-10-10 06:06] norayr93 commented on #905
As i understand there is no sense to validate TLD  , is it ?

[2018-10-10 06:11] ItalyPaleAle commented on #905
If you *really* wanted to validate the TLD, you could check against the list of all TLDs from the [ICANN](http://data.iana.org/TLD/tlds-alpha-by-domain.txt). You'd have to periodically refresh this to ensure your code is using the latest list. You decide if it's worth the hassle. This won't guarantee that the email address is valid and active, however.

Another way could be running a DNS query to

[2018-10-10 07:03] norayr93 commented on #905
This already makes sense now . Thank you for your help , now i can close this issue

[2018-10-10 07:03] #905 closed

[2018-10-11 05:03] #707 closed

[2018-10-11 13:11] DerKnerd opened #908 "IsEmail validates non RFC compliant"
We are using sequelize which uses this library for email validation. Currently we experiencing the issue, that the valid email addresses we provide are taken as invalid. A few examples:

* admin@admin
* admin@admin.x
* admin@admin.de2

And probably more. Can you please fix that, it causes major issues in business use cases, cause local domain addresses with no tld, a number in the tld or just one

[2018-10-11 17:19] justinkalland commented on #908
You can use the option _require_tld_ and each of your cases passes.

Here is an example:

[code]
Output:
[code]

[2018-10-11 18:06] DerKnerd commented on #908
Ok, it actually doesn't solve the problem, but that lies in sequelize. Apart from that, I think it would be better that the default case is RFC compliant and not non compliant.

[2018-10-12 08:50] rpkRED commented on #900
on Windows,  encoding is UTF-8 in my solution.

[2018-10-12 09:31] DenisBubnov opened #909 "Mixing Russian and English symbols inside of email address"
Why mixing Russian and English symbols is valid inside of email address? For example next email address is valid: `denis.фыйцук@ьфшд.ru`. I think it is not very well. Thanks.

[2018-10-12 17:20] eudson commented on #908
This solution only works for the e-mails provided by @DerKnerd but e-mails from google with username part that has a length less than six don't work. And the bug is here

`if (!isByteLength(username.replace('.', ''), { min: 6, max: 30 })) {
      return false;
    }`
[https://github.com/chriso/validator.js/blob/master/src/lib/isEmail.js#L65](url)

would be good if you could fix this or I can submi

[2018-10-12 17:36] justinkalland commented on #908
Can a gmail address be shorter than 6 characters? Do you have an example? I just tried:
<img width="445" alt="screen shot 2018-10-12 at 11 29 16 am" src="https://user-images.githubusercontent.com/43973143/46884533-7572ef80-ce12-11e8-9a4a-5147263fb525.png">

[2018-10-12 18:37] DerKnerd commented on #908
But is still a valid email address, the name of the function is misleading, cause it does vendor specific checks.

[2018-10-12 18:41] justinkalland commented on #908
It doesn't do vendor specific checks unless you specify the option `domain_specific_validation` when calling `isEmail()`

I don't feel the function is misleading at all, it is well documented and works great.

[2018-10-12 20:08] DerKnerd commented on #908
Ok, I didn't see that part in the code. But still it doesn't work great, it is wrong in the default case. The RFCs very clearly defines how a valid email address should look like. Here is an article explaining it very thourgly https://haacked.com/archive/2007/08/21/i-knew-how-to-validate-an-email-address-until-i.aspx/

Here are all relevnt RFCs:

* https://tools.ietf.org/html/rfc5322#section-3.2.3

[2018-10-12 22:11] eudson commented on #908
@justinkalland  you right google username minimum length is 6 but as @DerKnerd  said you are doing vendor specific specif checks [(https://github.com/chriso/validator.js/blob/master/src/lib/isEmail.js#L45)](url) I tested without setting the option `domain_specific_validation` and it validates google rules. Also the only domain is google, so it should be something like `apply_google_validations`.
A

[2018-10-13 17:51] ProfNandaa commented on #772
On it 👍

[2018-10-14 17:52] profnandaa commented on #772
@LordSputnik @deniercounter - I've raised the PR, let me know what you think - #910

[2018-10-14 17:58] profnandaa commented on #813
@navata - PR welcome :)

[2018-10-15 09:11] #772 closed

[2018-10-15 23:24] OlllllllO opened #912 "Feature Request: Currency: Option to Require Thousands Separator"
We're using this to help validate data that includes currency. We want to make sure that a comma separator is always present.

[2018-10-17 09:41] usebaz commented on #611
@profnandaa yes I would like it to be added

[2018-10-17 14:07] SujitSingh commented on #683
For someone who is still looking for this ES6 import format, I have tried this in an Angular project with `*.ts` files and I am sure same will work in `*.js` files.

    import * as validator from 'validator';

[2018-10-19 10:31] west-dp opened #914 "Valid phone number from Panama"
Hello, your validator works correctly, but I have the problem with Panama code when I`m pressing, for example, phone number - '+50711111111' I got false, but this phone number is correct. Can you help me with this problem?

validator.isMobilePhone( '+50711111111' , 'any');

I`m using this file - https://github.com/chriso/validator.js/blob/master/validator.js.

Thanks.

[2018-10-21 21:10] chriso commented on #909
There's nothing syntactically wrong with that email address. It's probably unusual to see a mix of Russian and English characters, but it's valid according to the various specs.

[2018-10-21 21:10] #909 closed

[2018-10-21 21:29] chriso commented on #914
Can you check to see if the locale is defined in https://github.com/chriso/validator.js/blob/master/src/lib/isMobilePhone.js ?

[2018-10-22 11:36] korvent commented on #655
You misunderstood.
**It is said:**

This does not concern the length of the domain part but the entire email address.

**Furthermore there is an error in this errata:**
RFC 2821 says (https://tools.ietf.org/html/rfc2821#page-17):

and (https://tools.ietf.org/html/rfc2821#page-55):

so the total length is of forward-path (the email address) is well 256 and not 254.

**Concerning the domain length:*

[2018-10-23 18:10] DanielBrookRoberge opened #917 "isMobilePhone en-US locale accepts non-NANPA numbers with country code"
The `en-US` locale of isMobilePhone erroneously accepts some foreign numbers, if they are the correct length including the country code. `+6425864074` is a (fake) New Zealand mobile phone number, and not a valid NANPA number, but `isMobilePhone('+6425864074', 'en-US')` returns true.

It appears that the regex treats the `+` and `1` at the beginning as separately optional, but the `1` is not option

[2018-10-25 08:28] profnandaa commented on #917
Thanks for raising, will check it out. A fix PR is also welcome 👍

[2018-10-25 08:44] profnandaa commented on #908
**Sidenote:**
As much as GMail does not accept usernames less than 6 chars anymore, I believe we have valid GMail emails out there that are less than 6 chars. I tried sending an email to `rob@gmail.com` and didn't get a fail like what I got with this one
<img width="911" alt="screen shot 2018-10-25 at 11 38 16 am" src="https://user-images.githubusercontent.com/261265/47487297-d525bd80-d84a-11e8-9c

[2018-10-25 08:51] profnandaa commented on #908
@DerKnerd - I think the reason why the lib went for this default behavior is because RFC is broader than the general use-case.

[2018-10-25 17:12] DerKnerd commented on #908
@chriso for me this answer is fairly simple. The default case is to comply with the RFC because the internet is build on standards. It would probably be good idea to allow developers to also ask for a tld, but that shouldn't be the default case. I think it is not hard at all, just implement the RFC as the default case, and allow more restrictions by the developer.

My "home" is business developmen

[2018-10-25 19:42] chriso commented on #908
Thanks for the perspective, but I think we'll stick with the current behavior. Strict RFC validation is a non-goal of the library, and relaxing the current defaults would cause more issues than it would solve.

[2018-10-29 13:30] JSchatral opened #918 "isISO8601 - local time zone"
isISO8601? How can I validate an input date in another local time zone, such as Germany?

Greetings from Germany - J. Schatral

[2018-10-30 08:06] narozhniyy opened #919 "Invalid validation for FR phone number isMobilePhone"
Hi, in this package I found an issue with phone number validation. You use not right regular expression for fr phone numbers `'fr-FR': /^(\+?33|0)[67]\d{8}$/,` . I used phone number `+33492945000` and it is a valid phone number, but this library return not valid.
This is a proof:
https://libphonenumber.appspot.com/phonenumberparser?number=%2B33492945000
I think need change regular expression for t

[2018-10-30 15:25] tux-tn commented on #919
Hello, isn't 04 for fixed lines?

[2018-10-30 15:33] narozhniyy commented on #919
@tux-tn what does it mean fixed lines?

[2018-10-30 15:39] tux-tn commented on #919
@narozhniyy a Landline phonenumber/Not a mobile phonenumber

[2018-10-30 16:02] narozhniyy commented on #919
ok, @tux-tn maybe this library check only mobile phones and you are right. but how this regular expression  will parse phone numbers form different regions.
https://www.french-property.com/reference/phone_in_france/

[2018-10-30 16:03] narozhniyy commented on #919
06 Mobile phone services yes you are right

[2018-10-30 16:03] #919 closed

[2018-10-31 10:23] raghunathchary opened #920 "Feature Request: Need validation for XSD:AnyURI types"
Hi!

I'm checking to see if I can use validator.js for validating the XSD AnyURI string documented [here](http://www.datypic.com/sc/xsd/t-xsd_anyURI.html) but I see there is no OOB method to do so..

Please consider to add this in future releases.
Thanks,

[2018-10-31 14:11] netkin-paris opened #921 "Several spaces are considered valid Mobile Phone"
Hello,
When passing one space to isMobilePhone, the result is false, which is ok.
When passing several spaces, the result is true, which is probably a bug.
See screenshot attached :)

![image](https://user-images.githubusercontent.com/1146493/47793747-4370f100-dd1f-11e8-8f8e-bd29a5bdf251.png)

[2018-11-04 16:54] Newbie012 opened #924 "Require parameter if a second parameter is included inside of a given array"
I was looking for a validator that requires a specific parameter if there's a parameter that equals to a specific value. Maybe something like this:

    const allowedsMethods = ['A', 'B'];

    ...

    check('method').custom(method => allowedMethods.includes(method))
    check('paramA').requireIfContains('method', ['A'])
    check('paramB').requireIfContains('method', ['A'])
    check('paramAorB'

[2018-11-06 11:25] SangHakLee opened #926 "[rollup.js] No name was provided for external module"
The following error occurs when adding and building another module in the validator.js module.

Added [debug](https://github.com/visionmedia/debug#readme) module to [alpha.js](https://github.com/chriso/validator.js/blob/master/src/lib/alpha.js)

my `alpha.js`
[code]

And if I build with the following command,
[code]

The following error occurs:
[code]

I tried changing my rollup.js setting a lot,

[2018-11-08 06:32] fadijabi opened #929 "isLatLong returns true"
validator = require('validator');
console.log(validator.isLatLong('(29.98727, 48.2268726')); // true

The above code returns true although there is a "(" character in Y coordinates and not closed in X coordinates. It would be better if it returns true if coordinates are wrapped in () only.

[2018-11-08 08:41] lamualfa opened #930 "Invalid regular expression"
I load validator js from : [https://cdnjs.cloudflare.com/ajax/libs/validator/10.9.0/validator.min.js](https://cdnjs.cloudflare.com/ajax/libs/validator/10.9.0/validator.min.js).
and **chrome console** give error below:

[code]

[2018-11-09 21:52] tolgaduzenli commented on #917
Any work on this bug ? is that coming with new release ?

[2018-11-13 11:08] #917 closed

[2018-11-15 13:33] tux-tn opened #934 "Feature Request: isMobilePhone refactoring"
Hello,

The logic behind isMobilePhone is to provide a regex for every locale,  but i can see that that there is many issues related to generic and too permissive regex.
I can mention #917, #919 and #921 as examples and there is even more invalid validation rules:
- en-GB: +447625143141 is a pager number and but returns ```true```
- nl-BE/fr-BE: +3242500000 is a Fixed line number but returns ```tr

[2018-11-15 15:36] Xefiron opened #935 "I have problems to use this library in maven"
I am trying to use this library to validate some emails in tags, but I can not import it to my maven project. Does anyone know how to do it ?, or if possible, could the creator add this to the maven repository ?. Thanks for your time.

[2018-11-15 20:46] AntonyGarand opened #936 "Content after a hash is validated"
Related to https://github.com/chriso/validator.js/issues/613

The following URL's are valid:
- http://a.ca#id 1
- http://a.ca#>Here
Even though they have a space an a < or > symbol, this should work
Both of these will correctly move the navigator towards the related ID.

Those aren't considered a valid URL by the regex here:
https://github.com/chriso/validator.js/blob/master/lib/isURL.js#L49
  ` /

[2018-11-16 03:08] tejparekh opened #937 "Can Validator.js library be used in React Native code?"
I am looking for the best react native form validation library. I have already come across many but they are syncing to the current code base that I have.

1. https://www.npmjs.com/package/react-native-form-validator
2. https://github.com/gcanti/tcomb-form-native
3. https://github.com/chriso/validator.js

Please help deciding the most acceptabale library for the React Native code.

[2018-11-16 03:32] MindRapist opened #938 "New validation (isName)"
Ok so not really an issue - sorry about that Im not familliar with GitHub yet but I didnt find another way to post this.
I forked validator and I created a new file which I believe will be useful to this repo [take a look here](https://github.com/MindRapist/validator.js/commit/2632b945e33451f47b9a77277f714589f632e551).

I hope people find this useful and I'd love to hear what's on your mind about

[2018-11-16 08:33] profnandaa commented on #938
Not really sure about this request but would love to hear what the rest of the team says.

[2018-11-16 08:47] profnandaa commented on #924
Trying to get it, what's the use case for this?

[2018-11-16 09:52] Newbie012 commented on #924
I built payment apps. A customer could've paid via token or credit card. Thefore, if the method param was token, then I had to send param A, if the method param was regular, then a card object was needed to be sent.

Anyway, I could solve it by pointing to different endpoints, but I eventually moved to NestJS,

[2018-11-18 22:36] linkinmedo commented on #937
what do you mean by they are syncing to your code?
btw you can use any of the above, but using validator.js will require more code since it's created to validate one thing at a time.

[2018-11-18 22:54] linkinmedo commented on #938
Good idea, but I don't think it's much better than removing the spaces from the string then using isAlpha().
Your method also ignores a lot of cases where names can have more than 2 parts.

[2018-11-19 00:03] paul-arthurthiery opened #939 "isLength default options not set properly"
What fails :
`validator.isLength('aa')` returns false.

However,
`validator.isLength('aa', {min: 0, max: undefined})` returns true.

The docs seem to define the default options as being the ones I specified. Is this the intended way for isLength() to work ?

In node 10.4 and npm 6.4.1

[2018-11-19 15:20] AntonyGarand commented on #936
Any thoughts?
I would gladly implement this if you agree with it

[2018-11-19 23:01] felipebraga commented on #611
Some Brazilians credit card have the same issue.

[Elo](https://www.cartaoelo.com.br/) and some MasterCard like **5031 4332 1540 6351**

[2018-11-20 10:03] sandorvasas opened #940 "isEmail: Zero width space allowed"
We just run into a problem with isEmail. Someone copied a mail address from a website which was prefixed with a zero width space unicode character (200B ?)

The validator let it through.

[2018-11-20 20:09] DerKnerd opened #941 "isMobilePhone is not restrictive enough in Germany"
According to the German numbering plan mobile phone numbers must start with either

[code]

In other words, `0800`-numbers are no valid mobile numbers. It also matches landline numbers like `040428990`. But both of them are said to be valid.

[2018-11-22 03:38] LuuLinhSon opened #942 "pagination component dont update state initialPage"
I have a pagination component and filed search. When search done i have a list user. When i change page to page 2 and search again then I received new list user but page active is 2 not 1. While pageCount still rerender and true. Why???

[2018-11-24 12:51] WebDeg-Brian opened #943 "equals in form of curried function"
What do you think about changing `equals(str, comparison)` into `equals(comparison)(str)`? This is more helpful when doing cross-field validation

[2018-11-25 14:38] tux-tn commented on #941
Hello @DerKnerd can you confirm that #933 fixes this issue?

[2018-11-28 14:38] DerKnerd commented on #941
@tux-tn Partially, in German mobile phone numbers spaces are actually allowed. The fix disallows them.

[2018-11-30 22:31] Maxim-Mazurok opened #946 "Add UA postal code validation"
There's no UA (Ukraine) locale available in `isPostalCode()` function.
I can see open issue about adding all locales in bulk, but can't see any progress for about a year.
That's why I'm opening this issue, to refer it soon, when I will create a PR request with the fix.

[2018-11-30 22:40] Maxim-Mazurok commented on #912
There's an pull request open to resolve that issue: #945

[2018-12-02 09:42] ezrqnkemboi commented on #813
I tested this issue has mentioned by @tanmynguyen and everything worked. Some of the values used are 083, 032, 070, 059 with its 7 numbers that could not change. Everything is ok. @navata I also tested to make sure that 10 digits are allowed and not 11 digits and was ok.
My main issue is that, up to June 30, 2019, the 11 digits are still valid, which in the validator.js this is not true. Maybe @pr

[2018-12-03 14:10] profnandaa commented on #813
Good work on researching on this Ez! And welcome to the project.

As discussed at work today, please raise with the suggestions the PR and
we’ll review.

-na

On Sun, Dec 2, 2018 at 12:42 PM Ezrqn Kemboi <notifications@github.com>
wrote:

--
Sent from a tiny device while on the move.

[2018-12-06 12:20] tux-tn commented on #941
@DerKnerd Do you have a source/spec to follow? I used this [ITU](https://www.itu.int/dms_pub/itu-t/oth/02/02/T02020000510004PDFE.pdf) document

[2018-12-07 13:50] profnandaa commented on #912
Thanks @Maxim-Mazurok, will review and get back 👍

[2018-12-09 04:07] DerKnerd commented on #941
Not really, only my experience from daily life in Germany.

[2018-12-10 08:54] BlackRoman opened #948 "Email validation"
Validator says this email is valid, but when I trying send mail through aws, there is error `InvalidParameterValue: Missing local name`.

But why this is valid email?

[code]

[2018-12-10 09:13] BlackRoman commented on #948
I tried to validate `""@example.com` by other tools, like html email input and this (this is not an advertisement, only first online checker I found) https://email-checker.net, but `""@example.com` is not valid.

[2018-12-12 11:37] VimLeSai commented on #948
I agree `""@example.com` is not valid email bcuz it contains special character ""``.

[2018-12-13 18:20] indefinitelee opened #949 "isURL or isFQDN"
sorry this is more of a question than an issue, but what are the respective use cases of `isURL` with require_tld: true and `isFQDN`?

I'm trying to make sure a user submitted url ends with the tld and does not contain any params or paths after .com, for example.

[2018-12-18 16:10] tux-tn commented on #941
@DerKnerd found it [here](https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Sachgebiete/Telekommunikation/Unternehmen_Institutionen/Nummerierung/Nummerierungskonzept/Nummerierungskonzept2013_Entwurf.pdf) but only in german :confused:

[2018-12-19 15:48] PaulBenabou opened #951 "isIBAN & isBIC"
Could you implement those function inside the validator ?
Those would be very usefull .

Thank you .

[2018-12-19 23:03] DerKnerd commented on #941
I need to correct myself, the number may have spaces for formatting but should not have one when it is dialed. So the question is what should be validated. The formatted style or the telephone system style. If the latter it is fine like it is. Otherwise check ITU E.123.

[2018-12-20 18:14] tux-tn commented on #941
@profnandaa Any help or suggestion here?

[2018-12-21 08:53] profnandaa commented on #941
I agree with disallowing spaces by default. In any case, the end user can easily replace the spaces with null strings. So, I'm for landing the PR, any objections?

[2018-12-23 05:12] #946 closed

[2018-12-23 05:30] chriso commented on #942
I'm not sure your problem is related to this library. You could try posting your question to https://stackoverflow.com along with some example code.

[2018-12-23 05:30] #942 closed

[2018-12-23 05:31] chriso commented on #943
I think currying is something you can build on top of the existing primitives, and marginally more expensive since it creates a closure, so probably not something that should be in the library.

[2018-12-23 05:32] chriso commented on #948
I _think_ this is technically a valid email, but I'm not 100% sure.

[2018-12-23 21:44] chriso commented on #949
`isFQDN` validates domain names, whereas `isURL` validates URLs. If you look at the [URL syntax](https://en.wikipedia.org/wiki/URL#Syntax), `isFQDN` would be used to validate just the `host` component:

[code]

By default, `isURL` is lenient – it'll accept URL-like strings that would resolve when entered into your browser:

[code]

You can use the options (`require_protocol`, etc.) to make it more

[2018-12-23 21:46] chriso commented on #949
So you're looking to allow strings like `google.com` and `https://google.com`, and reject URLs with a path component like `https://google.com/` and `https://google.com/search`?

[2018-12-25 10:48] profnandaa commented on #941
With #933 merged, I can close this now as resolved.

[2018-12-25 10:48] #941 closed

[2018-12-25 20:41] chriso commented on #802
Dupe: #940

[2018-12-25 20:41] #802 closed

[2018-12-26 22:55] macmichael01 opened #952 "IsSlug"
It would be nice to have an isSlug validator.

[2018-12-27 12:08] yngve-sk commented on #930
+1 Got this too

[2018-12-27 23:04] macmichael01 opened #953 "IsTimezone"
It would be nice to have an IsTimezone validator.

[2018-12-28 00:30] macmichael01 opened #954 "isLocale"
It would be nice to have an isLocale validator.

[2019-01-04 04:52] nhanledev commented on #948
The email must have at least one character before the @fdqn. I think it should be fixed.

[2019-01-04 06:25] xcgs123 opened #955 "isIdentityCard"
validator said isIdentityCard  check if the string is a valid identity card code. but I input my identity card, it's fail

example: 320925199310102020

[2019-01-07 12:11] bbirkental commented on #948
Chrome marks this email as invalid: http://jsfiddle.net/vkw2o18h/

I am willing to help fix this bug.
Will  you accept my pool request?

[2019-01-07 12:58] Heydad-Helfer commented on #952
Hi, I'm starting tp work on this, I'll send a PR in the near future.

[2019-01-09 08:10] bbirkental opened #956 "client side Firefox not working"
Hi.
I am using Firefox. I can't call from client side to validator.isEmail.
When I call to validator.isEmail from client side there is no response.
It seems like validator is not recognized.

Here is my code:

<html>
<head>
</head>
<body onload="checkmail()">

<script type="text/javascript" src="validator.min.js"></script>
<script type="text/javascript">
function checkmail()
{
	alert(validator.isE

[2019-01-10 01:16] lukepolo opened #957 "Import is inconsistent"
Im getting some odd behavior, only some imports work.

[code]

only `IsAlpha` correctly imports

![image](https://user-images.githubusercontent.com/2066668/50939125-864ef380-1449-11e9-9ad6-415a808a2f27.png)

Anyone have an idea what the problem is?

[2019-01-10 09:43] beyondszine commented on #948
hi @chriso, is there any rfc or standardisation for the valid email ?
[rfc6530](https://tools.ietf.org/html/rfc6530) ?

[2019-01-10 21:54] chriso commented on #957
In each of them we're [using](https://github.com/chriso/validator.js/blob/5a937d95528c5f3d826c0331097041f497afb11f/src/lib/isAlpha.js#L4) `export default function ...`, so this should work.

If you look at the transpiled code:
- https://github.com/chriso/validator.js/blob/master/lib/isLength.js
- https://github.com/chriso/validator.js/blob/master/lib/isAfter.js
- https://github.com/chriso/validato

[2019-01-10 21:55] chriso commented on #956
Can you post any errors you're seeing in the console?

[2019-01-10 21:57] chriso commented on #955
The validator currently only accepts the `ES` locale (https://github.com/chriso/validator.js/pull/846), and I'm guessing that isn't a Spanish identity card ID.

We'd be happy to accept a PR that introduces additional locales.

[2019-01-10 22:46] ahmedabdelhafez opened #959 "in isAlphanumeric ar"
when using this method for Arabic string validation in Egypt
we are writing names like this
احمد محمد علي
the name contain one space if the name in one field
please any support on it
-----------------------
second thing:
when using isMobilePhone at Egypt too
we have a new telecom company it's name is we
the start code is 015
the package don't support this prefix please support it

[2019-01-11 20:38] kevinscroggins-youi commented on #930
I'm also seeing this on Google Chrome Version 71.0.3578.98 (Official Build) (64-bit) on OSX.

[2019-01-12 16:02] bbirkental commented on #956
Error from console:
ReferenceError: validator is not defined

[2019-01-12 16:55] JoeEarly commented on #784
How can I get IE support added?

[2019-01-13 14:39] fkm commented on #952
Maybe we should define what the requirements for a slug are.

For me a slug should be limited to:
* Strings with at least 1 character
* ASCII letters from A to Z (lower-case)
* Numbers 0 through 9
* Minus sign (-) and underscores (_)

[2019-01-13 14:51] fkm commented on #938
Something to keep in mind when trying to validate names:
https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/

[2019-01-13 14:55] fkm commented on #934
I don't know how the performance and size of libphonenumber is but I like the idea of outsourcing this rather complex validation to Google's package :-)

[2019-01-14 02:50] macmichael01 commented on #952
Thought I would share this gist as it seems to cover all of the bases:
https://gist.github.com/hagemann/382adfc57adbd5af078dc93feef01fe1

[2019-01-14 07:50] bbirkental commented on #956
After adding tags:
 <!DOCTYPE html>
<meta charset='utf-8'>
in my client html the problem solved

[2019-01-14 07:52] bbirkental commented on #956
After adding tags:
DOCTYPE html
meta charset='utf-8'
in my client html the problem solved

[2019-01-14 12:36] MatiasBiber commented on #959
Me and DiklaBlonder had found a solution for the second issue above, adding support for starting code 015 for Egypt location. A PR will be uploaded soon.

[2019-01-14 13:41] diklaBlonder commented on #953
hi again,
is it ok to use "moment"?

[2019-01-15 02:21] macmichael01 commented on #953
That's would be up to the project owner to decide. I would advise against it, since the library doesn't appear to use any external dependencies.

[2019-01-15 19:08] fkm commented on #952
Good point! I missed the consecutive minus signs. Amending my list:

* Should not have consecutive minus signs or underscores

[2019-01-15 19:15] lukepolo commented on #957
I believe its because of :

https://github.com/chriso/validator.js/blob/5a937d95528c5f3d826c0331097041f497afb11f/.babelrc#L6

The plugin "add-module-exports" I believe is not necessary, since your already adding the export default.

[2019-01-15 19:37] lukepolo commented on #957
Solution :

[code]

[2019-01-15 22:32] #957 closed

[2019-01-16 17:59] DarioI opened #962 "isBase64 - URL Safe Encoded Check"
Could it be that the `isBase64()` function fails for valid formatted base64 strings that are URL Safe Encoded?

[https://tools.ietf.org/html/rfc4648#section-5](https://tools.ietf.org/html/rfc4648#section-5)

[2019-01-17 10:03] suhailgupta03 commented on #853
@tux-tn Why was this removed from the subsequent versions? For example `10.11.0` does not suffer from this but `10.4.0` does.

[2019-01-17 17:01] carpben opened #963 "Feature Request : Checking if a string contains a pattern"
Validator comes with a wide range of "is" functions, But in some cases when we would like to check if a string contains a certain pattern. In our case we would like to check the content of a textfield, if the text contains an email, phoneNumber, or a website, and display relevant messages. Is it possible for the library to support some "doesContain" functions, such as doesContainEmail? Alternative

[2019-01-17 21:13] jsnoble opened #964 "isJWT bug"
There is a problem with the method isJWT in that it returns true for incorrect values

[code]

[2019-01-17 21:23] jsnoble opened #965 "potential isrc method bug"
the isISRC should be able to take commonly used ISRC identifiers. It currently only works if all hyphens of the identifier are removed.

[code]

[2019-01-18 11:47] tux-tn commented on #959
@ahmedabdelhafez i think that ```isAlphanumeric``` is not intended for name validation. Double-barrelled names exist in other countries/regions.You can achieve your goal by using ```split``` method and validating each part for example.

[2019-01-18 13:34] ClarkAlmazan opened #966 "isBlacklisted"
Since there's an `isWhitelisted` validator and a `whitelist` sanitizer, maybe there should be a validator equivalent for the `blacklist` sanitizer.

[2019-01-18 14:04] tux-tn commented on #934
@chriso @profnandaa any feedback?

[2019-01-18 15:16] profnandaa commented on #934
I'm good with it as long as it's going to be mostly opaque to the end user (+ be backward compatible). I don't know what @chriso thinks?

[2019-01-22 21:39] Vengarioth commented on #964
the problem here is that the example `56.234` contains only valid JWT characters, which i suspect is the scope of this library. To further validate (and use) JWTs i suggest using one of the libraries around, like jsonwebtoken.

[2019-01-23 05:51] prionkor commented on #182
Use `optional({checkFalsy:true})` before `isUrl()`

[2019-01-27 18:21] fkm commented on #952
As there are no more inputs to what constitutes a valid slug and no pull requests have been issued I decided to convert my list to code to keep things rolling.

[code]

But we should really have a discussion about the requirements of a slug.

For example: **Should a slug be allowed to start and/or end with a minus sign or underscore?**

[2019-01-30 21:58] StephenWall opened #972 "isIP() rejects scoped IPv6 address"
isIP() does not accept scoped IPv6 address. That is, addresses terminated by '%X' or '%ethX' where X is the interface number.

Demonstration: This sandbox is using vee-validate, which uses isIP() to check for an IP address, to validate an IPv6 address:
[https://codesandbox.io/s/j42zv5v3p9](https://codesandbox.io/s/j42zv5v3p9)
Enter '::1', no error message.  Enter '::1%1', error message.

[2019-01-31 18:23] fkm commented on #952
Sorry for the delay! I need to open GitHub more often.

I too have ditched underscores in slugs but as this is a validation function and not linting we should not be too opinionated. In theory the minus sign and underscore also have different meanings.

But thank you for your input and especially the link to the video! The Wikipedia use-case really opened my eyes to a fact I completely overlooked:

[2019-02-01 12:13] dmarreco commented on #611
+1 on Elo and some MasterCard. Same issue here.

[2019-02-01 13:45] fgnm opened #974 "Missing Malta country!"
I use this library to validate register input on my website, but I've received many help requests because this library does not recognize Malta for mobile phones and for ZIP codes.
For example any +356 phones, or ZIP code MLH2109 are not recognized.

The version I use is the latest installed with NPM.

It's very critical for me, please I hope in a fast update, many thanks.

[2019-02-05 23:32] csulit commented on #796
This solves my problem :) -Thank you

[2019-02-12 08:06] gongbaodd opened #976 "isEmail with display name doesn't support emoji"
[code]
returns false, but it is a valid email format.

[2019-02-12 12:24] GrosSacASac commented on #926
Did you npm install debug ?

[2019-02-17 09:25] GeorgeGkas commented on #936
This is a valid request. Consider the following real world use case:

[JSON Reference](https://tools.ietf.org/id/draft-pbryan-zyp-json-ref-03.html) allows a JSON value to reference another value in a JSON document. [...] A JSON Reference is a JSON object, which contains a member named `$ref`, which has a JSON string value. Example:

[code]

When a JSON document refer another, it can use fragments

[2019-02-17 10:16] GeorgeGkas commented on #936
@AntonyGarand  Seems like there is not any issue with your test case. See the [tests](https://github.com/chriso/validator.js/blob/master/test/validators.js#L263) for `isURL` function. I added one more test case to cover JSON References.

[2019-02-17 10:43] nosent79 opened #979 "I think isNumemric logic should be changed."
in advance, thanks for your effort.

in isNumeric function, The code below is included.
import assertString from './util/assertString';

if datatype is number,
TypeError: Expected string but received a number.
by throw new TypeError(`Expected string but received number.`);

in my case,
validator.isNumeric(73)
result is TypeError: Expected string but received a number.

validator.isNumeric("73")
re

[2019-02-18 16:04] dgutoryan opened #981 "isURL returns invalid if url contains uppercase letters"
Hello,
Will fail if the URL entered is in all or partial uppercase. Simple fix would be to make it case insensitive match

[2019-02-18 16:39] sboudouk commented on #979
Any ideas on this ? Does the functions only accepts strings ?

[2019-02-18 20:13] chriso commented on #979
The library validates strings only: https://github.com/chriso/validator.js#strings-only

[2019-02-18 20:13] #979 closed

[2019-02-19 18:25] cdimitroulas opened #983 "Undocumented toString function"
Hi there,

I just wanted to ask whether the `toString` function which is exported is something which we can rely on to convert values to a string before passing it to other methods exports from this library as it seems to be undocumented?

If this is simply a case of the docs being out of date, I am happy to make a PR to update the README!

[2019-02-21 12:51] ptdev commented on #796
Hi, I'll just add my 👍 to also have this included.

Alpha+spaces, AlphaNum+spaces and AlphaDash/Hyphen are common enough that they should, IMHO, be actual separate rules.
Otherwise, any inputs for very common forms like "full name", "first and last name", "article title", "message subject", "article slug" and many other very common inputs for the most common forms will have to either be validated

[2019-02-21 13:48] jrmeier commented on #983
Try using `assertString(str)` in `src/lib/utils/`. It will throw an error if the passed in value isn't a string before it gets to your function.

[2019-02-21 16:12] cdimitroulas commented on #983
OK I can use this for validating that the value is a string, thanks. However you didn't answer my question about `toString` and it's lack of documentation.

[2019-02-21 19:24] macoacero opened #985 "IsEmail is only validating old domine types with 3 characters after the dot"
IsEmail is only validating domains with 3 characters after the dot, such as .com or .org. It is not validating domains with 2 characters after the dot like: .ca, .ar, .com.co

[2019-02-24 08:17] itaychi opened #987 "isHash returns false for upper case hashes"
isHash returns false if hash is upper case.
cause is that the regex checking hashes does not contain upper case characters.
I created a pull request #982 with an update to the regex that evaluates hashes.

[2019-02-26 04:39] levy193 opened #988 "Error vietnam mobile phone"
Hello,
Thank you for an awesome pkg.
Can you check for this mobile phone: +84888696413
It is valid mobile phone in Vietnam but the function return false.

[2019-02-27 20:04] botaniQQQ opened #989 "Add isISO6391() method"
Hello.

Maybe you add https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

[2019-02-28 02:35] luckyluck opened #990 "Fiji mobile phone validation"
Fiji has a phone number format as +679 xxx yyyy ([wikipedia](https://en.wikipedia.org/wiki/Telephone_numbers_in_Fiji)). The dialing format was changed in 2002 from six to seven digits.

It looks like this regex `/^(\+?679)?\s?\d{3}\s?\d{4}$/` would fix an issue.

[2019-02-28 09:08] jeblonde opened #992 "ISO8601 timeout when 29 february is set"

[2019-03-06 19:46] znat opened #994 "How to check route params?"
I have this route:
[code]

But no error is returned when invalid params are processed.
What am I missing?

[2019-03-07 15:29] oleersoy opened #997 "[Feature Request] isNumberInRange"
[code]

[2019-03-09 04:37] tim1016 opened #998 ""234234.45." is Numeric"
Ideally this should not evaluate to be numeric

[2019-03-13 14:17] antelle opened #1002 "isMobilePhone: email with digits is a valid phone"
Hi!

There are some emails that pass the phone validation, for example:

[code]
returns `true`.

It happens because of this regex: `'bn-BD': /\+?(88)?0?1[356789][0-9]{8}\b/,`.

Probably it should have `^` like other phones, but I'm not sure about the format.

[2019-03-23 08:06] meetDeveloper opened #1005 "An email address must not exceed 254 characters."
See this stackoverflow [question](https://stackoverflow.com/questions/386294/what-is-the-maximum-length-of-a-valid-email-address).

According to [RFC 3696](http://www.rfc-editor.org/errata_search.php?rfc=3696&eid=1690), email address can only be up to 254 characters. Currently validator does not do this check.

[2019-03-26 16:57] Mreddi1 opened #1006 "Validator isFloat not working"
The isFloat function defines an integer as a float.

[2019-03-26 20:43] #1006 closed

[2019-03-27 15:19] simonlovesyou opened #1008 "isPostalCode for SE returns valid postal code for postal code with leading 0"
[There are no postal codes in Sweden that starts with a leading 0](https://www.postnord.se/siteassets/pdf/faktablad/postnummersystemet-i-sverige-171213.pdf) (Sorry for Swedish link)

So we should probably update the postal code regex to be something like `^[1-9]\d{2}\s?\d{2}$`

[2019-03-27 22:16] bizprat commented on #796
I too came too was searching for this feature, but unfortunately I have to use regex. This was the only reason I installed this library, now this library isn't useful for my project.

[2019-04-02 18:50] perimiter commented on #955
for IL local:
[code]

[2019-04-03 18:55] richardkeller411 commented on #796
Checkout this.   https://www.npmjs.com/package/simple-react-validator#alpha_num

Allows for Validation with Alpha_num.     Its React but shows implementation

[2019-04-04 11:25] xiang0308 opened #1011 "isMobilePhone - zh-CN 的校验正则表达式需要做下扩展"
'zh-CN': /^((\+|00)86)?1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{8}$/  不支持 19112185239的手机号，帮忙做下扩展，支持19开头的手机号，谢谢！

[2019-04-05 15:26] joetidee opened #1012 "How to check for only alphanumeric and hyphens?"
Obviously the `isAlphanumeric` function will check for alphanumeric characters, but what if I also want to allow hyphens too?

[2019-04-10 08:35] profnandaa commented on #1005
It looks like we can live with this, I don't see any big value add, IMHO. cc. @chriso

[2019-04-10 09:34] gelatosamantha opened #1013 "Feature Request: isBase32"
As Google Authenticator requires keys to be base32 encoded, base32 format checking should be widely used. Can you also add this in ?

[2019-04-10 09:46] banjankri commented on #814
We are also facing this issue, unused validators are not tree-shaken away. As per the docs I can see two problems here:
1) as said previously the `sideEffects` not being set
2) webpack documentation requires original import/export statements to be preserved for the tree-shaking and it seems they are transpiled.

[2019-04-12 05:35] meetDeveloper commented on #1005
@profnandaa It's about the use of the module, validator says that it validates email id, but if it miss such a important thing, it won't be doing what it states it does, validate an email address.

[2019-04-15 06:04] profnandaa commented on #963
I think this sounds good to me. PR is welcome!

[2019-04-15 06:06] profnandaa commented on #964
Sure, I see, our test for `isJWT` is quite basic... 🤔

[2019-04-15 06:07] profnandaa commented on #964
@jsnoble - PR is welcome! 👍

[2019-04-15 06:09] profnandaa commented on #965
Sure, that's a bug, PR welcome 👍

REF: https://isrc.ifpi.org/en/

[2019-04-15 06:13] profnandaa commented on #966
@ClarkAlmazan - Clark, could you expound on the use-case for this a little more. I'm also trying to understand how `isWhitelisted` came about 🤔

[2019-04-15 06:14] profnandaa commented on #972
PR is welcome! 👍

[2019-04-15 06:15] profnandaa commented on #974
Great! Please check my comments on the PR.

[2019-04-15 06:17] profnandaa commented on #981
@dgutoryan - can you add some examples as part of your report?

[2019-04-15 06:24] profnandaa commented on #983
@cdimitroulas - this is just a utility used within the confines of this library, I wouldn't recommend the use of it outside, that's why it's not exposed within `/lib`; and also not documented.

As you can see, from the code, it is mainly relying on the already defined `.toString` method for whatever object is supplied:

https://github.com/chriso/validator.js/blob/master/lib/util/toString.js#L11-L2

[2019-04-15 06:26] profnandaa commented on #985
Can include some examples?

[2019-04-15 06:31] profnandaa commented on #988
@levy193 - thanks for raising, PR is welcome.

Looks like the `888` prefix is not included, which carrier is that?

[2019-04-15 09:23] dreamdevil00 opened #1016 "isMobilePhone fails When specify locale as 'zh-CN'"
`13400852113`  is a valid mobile phone number which is an eleven digits number in China. But it seems that the validator `isMobilePhone` failed.

`/^((\+|00)86)?1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{8}$/` changed to
`/^((\+|00)86)?1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{9}$/` succeed.

Could you please verify it?

[2019-04-15 14:13] cdimitroulas commented on #983
@profnandaa I'm a little confused, you say that it's not exposed in `/lib`, however it is exported when you import the library as per normal like `import validator from 'validator'`.

The toString method is then available on `validator.toString`. If this utility is not supposed to be exposed then I guess it should be removed from the default export. If this is not a mistake then some documentation

[2019-04-15 15:00] JoshLWScott commented on #985
@profnandaa

[2019-04-15 15:06] profnandaa commented on #985
@JoshLWScott - my bad, I misread :( Got it, thanks for raising! 👍

PR welcome by the way.

[2019-04-15 15:11] profnandaa commented on #983
Sorry, that must have been an oversight from my end, my bad :(

Sure, I agree with you. I'm of the opinion that we remove it from the list of exports. It will better remain as an internal utility function.

As for the PR, you we could start off by a deprecation warning, just in case someone has been using it in prod? What do you suggest?

cc. @chriso

[2019-04-15 15:12] JoshLWScott commented on #985
@profnandaa All's good bud, just tested it and it seems to be working fine anyways.

[2019-04-15 15:15] profnandaa commented on #985
Oh, what do you mean? That it wasn't a bug? 🤔  BTW, what if you raised a PR to add in a few more test, I see most of [our tests here](https://github.com/chriso/validator.js/blob/master/test/validators.js#L64), only cover `.com` TLD but not something like `.com.ng`

[2019-04-15 18:07] cdimitroulas commented on #983
Looking through the git history it looks like this utility was being exported since 3 years ago, so I think your idea of a deprecation warning is good. It is pretty likely that someone could be using `toString` in prod.

Going to wait for the @chriso 's opinion on this before spending time on a PR so I don't waste time doing the wrong thing.

[2019-04-16 14:06] jsnoble commented on #965
I was actually mistaken about this behaviour as determined by this
[spec](https://isrc.ifpi.org/downloads/ISRC_Bulletin-2015-01.pdf)

The particular paragraph -

presented, it is preceded by the characters ‘ISRC ’ and the four code elements are
separated by hyphens. Preceding characters, spaces or hyphens should never be
considered part of the overall 12-characters of the ISRC. Before or during da

[2019-04-16 18:00] profnandaa commented on #965
@jsnoble &mdash; good catch, thanks! Sure, I'll close.

[2019-04-16 18:00] #965 closed

[2019-04-18 06:59] #1016 closed

[2019-04-19 13:01] profnandaa commented on #1013
PR is welcome! 👍

[2019-04-19 13:05] profnandaa commented on #1012
An easy way will be to transform the text during the check with something like this:

[code]

[2019-04-19 13:06] profnandaa commented on #1011
PR is welcome.

[2019-04-19 13:07] profnandaa commented on #1008
@simison - a PR is welcome, I see you already have some work on your branch?

[2019-04-19 13:09] profnandaa commented on #1002
Will check and revert, but a PR is also welcome.

[2019-04-19 13:10] profnandaa commented on #998
Why not? 🤔

[2019-04-19 13:13] profnandaa commented on #997
IMO, I can't see a use-case where such will be necessary, instead of the last if you had in your code above...

[2019-04-19 13:14] profnandaa commented on #994
Where are you using this library in your code? 🤔

[2019-04-19 13:15] profnandaa commented on #992
Please elaborate on this some more?

[2019-04-19 13:16] profnandaa commented on #990
I see you have the work already on your branch, please do the PR! 👍

[2019-04-19 13:18] profnandaa commented on #989
A PR is welcome...

[2019-04-20 17:19] #1012 closed

[2019-04-24 08:05] deeyonn opened #1018 "isAlphanumeric error triggers on alphabet only input?"
Hello, I'm working on an API using express.js and express-validator.js which includes validator.js

When using .isAlphanumeric() to check a url query containing only alphabets (see Postman below), it triggers the error.

I don't know if http request queries entered in the url are parsed and processed as strings (i assume so), but from my understanding alphanumeric means both String(characters & nu

[2019-04-26 04:57] lerollq opened #1019 "isDecimal always true"
Like the title said, isDecimal is always returning true with default options.
Is this normal or a misundersting from me ?
`
 validator.isDecimal(1) => true
`

[2019-04-29 03:20] deeyonn commented on #1019
Could it be because of this?

![image](https://user-images.githubusercontent.com/41563700/56875048-c4136e80-6a70-11e9-94c3-3a4c6480d6db.png)

[2019-04-29 05:04] lerollq commented on #1019
Oh ok , My bad. Thanks @deeyonn

[2019-05-02 10:05] winfredkqin commented on #1005
I found it only accept max. 72 characters as a valid email address. Strange.

[2019-05-02 13:12] meetDeveloper commented on #1005
@winfredkqin Actually, it is like between dots there could be max 72 characters.

abcdefggdfwtgfjghfgjkgcytxdjhkfj.dtsdthgfjyryhgdjhfkfjhftyryfhngjkgu@gmail.com

[2019-05-04 17:59] razananisathar commented on #1013
@profnandaa  I have added isBase32 validator and PR created. Please review. Thanks.

[2019-05-09 04:34] alexandre-paroissien opened #1025 "Should the email username maximum length (64) include the +alias or not ?"
From this thread I read that username of an email maximum length is 64, and the email maximum length is 254 (https://stackoverflow.com/questions/386294/what-is-the-maximum-length-of-a-valid-email-address)

But how about aliases that people can add after the user name? Such as username+alias@gmail.com (https://gmail.googleblog.com/2008/03/2-hidden-ways-to-get-more-from-your.html)

With gmail, while

[2019-05-10 15:35] dougwit opened #1027 "isFQDN returns true for partially qualified domain names"
`isFQDN()` does not do what it says it does. Example:

[code]

`example.com` is NOT a FQDN because it does not contain a host part. A FQDN, by definition, must contain a host and a domain (including the top-level domain).

I understand that correcting the behavior of the function would be a breaking change, but this should at least be noted in the docs.

Sources:
 - [https://www.godaddy.com/garage

[2019-05-15 09:11] rahulcn opened #1028 "isMobilePhone support for Austrian(de-AT) phone number"

[2019-05-15 16:51] profnandaa commented on #1018
Sorry coming to this a little late. What is `check`, how was it initialized?

[2019-05-15 16:54] profnandaa commented on #1025
Ref: #1007

I don't think it should include the `+` extension/alias part.

[2019-05-15 17:05] profnandaa commented on #1028
@rahulcn - PR welcome 👍 🇦🇺

[2019-05-15 17:07] profnandaa commented on #1019
Cool, closing. Feel free to reopen.

[2019-05-15 17:07] #1019 closed

[2019-05-15 17:08] deeyonn commented on #1018
check is = require('validator'). Sorry I didn't point it out. Thought it would be intuitive cause of the router code i posted.

[2019-05-15 21:50] GlitterCakes opened #1029 "Exception thrown when validating UUIDs"
When validating UUIDs an exception is thrown if the data type is "number". This is ridiculous and it should just fail validation instead of throw an exception. This library is used as the frontline for validation of user input, when validating a JSON POST body that's been parsed out from a JSON string, this is problematic for obvious reasons.

[2019-05-15 22:03] chriso commented on #1029
[It's a string validation library](https://github.com/chriso/validator.js#strings-only); it's up to the caller to pass a string. If you're accepting and validating user input, and you're not sure if it's a string, try coercing it using `input + ""`.

[2019-05-15 22:39] GlitterCakes commented on #1029
There's no reason why it can't just fail on another data type.

[2019-05-15 22:57] chriso commented on #1029
It does fail, with an error.

I know it might make sense for this particular validator to reject data types other than a string, but it doesn't make sense for all validators. If there was an `if (typeof input !== 'string') return false;` in each validator then something like `isNumber(3)` would return false and be a source of confusion.

Why not have validators accept other types? Because you woul

[2019-05-15 22:57] #1029 closed

[2019-05-17 09:35] profnandaa opened #1030 "isMobilePhone: additional prefix for KE locale"
Ref: https://ca.go.ke/new-series-of-mobile-number-introduced-in-kenya/

[2019-05-17 16:29] NizarGhazouani commented on #951
I'm working right now on isIBAN

[2019-05-20 04:21] actuallyrc opened #1033 "Need to add Chile mobile number in isMobilePhone"
Please add the mobile number verification for country Chile
Country Code: 56
Country ISO code CHL

[2019-05-23 10:20] chriso commented on #956
It sounds like the issue was resolved.

[2019-05-23 10:20] #956 closed

[2019-05-23 10:22] chriso commented on #959
See the comment above re: spaces. The second issue is fixed on master.

[2019-05-23 10:22] #959 closed

[2019-05-23 10:23] chriso commented on #976
Fixed by #1004.

[2019-05-23 10:23] #976 closed

[2019-05-23 10:27] chriso commented on #983
Removed from exports in 0277eb00d245a3479af52adf7d927d4036895650. I will bump the major version since this is a breaking change.

[2019-05-23 10:27] #983 closed

[2019-05-23 10:30] chriso commented on #985
It does currently allow two char TLDs, e.g. `.com.au` and `.ca`.

[2019-05-23 10:30] #985 closed

[2019-05-23 10:31] chriso commented on #988
Fixed by #1031.

[2019-05-23 10:31] #988 closed

[2019-05-23 10:32] chriso commented on #994
You may want to head over to https://github.com/express-validator/express-validator for some help.

[2019-05-23 10:32] #994 closed

[2019-05-23 10:33] chriso commented on #997
Check out the `isInt()` validator.

[2019-05-23 10:33] #997 closed

[2019-05-23 10:34] chriso commented on #998
I can't reproduce this:

[code]

[2019-05-23 10:34] #998 closed

[2019-05-23 10:35] chriso commented on #1005
Fixed by #1007.

[2019-05-23 10:35] #1005 closed

[2019-05-23 10:35] chriso commented on #1011
This may be fixed on master @xiang0308.

[2019-05-23 10:35] chriso commented on #1013
Fixed by #1023.

[2019-05-23 10:35] #1013 closed

[2019-05-23 10:56] chriso commented on #1002
Fixed by #1032.

[2019-05-23 10:56] #1002 closed

[2019-05-24 02:36] me-x-mi commented on #1030
@profnandaa, I am working on this.

[2019-05-24 04:28] me-x-mi commented on #1033
I will try to check and raise a PR for this @actuallyrc and @chriso.
More insights from https://www.howtocallabroad.com/chile/.

[2019-05-24 06:21] profnandaa commented on #1030
@me-x-mi -- great, go ahead sir 🌮

[2019-05-24 06:38] profnandaa commented on #1030
Closed by #1035

[2019-05-24 06:38] #1030 closed

[2019-05-24 06:38] profnandaa commented on #1033
Closed by #1035

[2019-05-24 06:38] #1033 closed

[2019-05-24 15:56] Skytrobb opened #1036 "isEmail does not accept 'ignore_max_length' option"
My issue: I want to set a custom max length for my email validation but when I pass an options object into isEmail() it still validates at 75 chars.
My Code:
const { email } = this.state
const options = { ignore_max_length: true };
const isValid = validator.isEmail(email, options);

There are no examples in the documentation so I tried everything I could think of in case I was using it wrong. I pa

[2019-05-27 21:33] james-can commented on #1036
Hello, it seems there is some code that prevents the user part of the email (before the @) from being more than 64 characters.  There is also a check using the `isFQDN()` which prevents each label in the domain from being greater than 63 characters:

isEmail.js line 121:
`if (!isByteLength(user, { max: 64 }) ||
            !isByteLength(domain, { max: 254 })) {
    return false;
  }`

isFQDN.js li

[2019-05-30 10:25] SvenC56 opened #1037 "Value equals A *or* B"
Hi,
I am trying to validate a string to match 'A' **or** 'B'. validator.js always just picks up the first value given.

I'm using validator.js with express-validator 5.3.1.

I tried:
[code]
As bonus I just want the value to be optional.

Thank you.

[2019-05-31 17:34] lmj0011 opened #1039 "make toLowerCase() toUpperCase() into sanitizers"
would be nice to see `toLowerCase()`  `toUpperCase()` as sanitizers to keep from having to use a customerSanitizer

[code]

[2019-06-02 23:03] me-x-mi commented on #1028
@rahulcn and @profnandaa the PR https://github.com/chriso/validator.js/pull/1038 tries to add the requested feature. I will review the PR and leave a review on the same.

[2019-06-03 14:31] cdimitroulas commented on #983
Thanks @chriso.

Btw, it looks like you forgot to remove the key from the final exported object ([this line](https://github.com/chriso/validator.js/blob/master/src/index.js#L180)).

[2019-06-03 21:34] alexanderkjeldaas commented on #796
[code]

This doesn't work in `express-validator` for example where each function from validator.js is wrapped.

[2019-06-13 20:21] jawetzel opened #1042 "isUrl Marks Valid Url as invalid"
Protocol agnotic requests are marked as invalid when they are valid.

In the example below, all 4 are valid formats for Url, but the first is marked as invalid by .isURL

Ex:
Invalid Url: //google.com
valid Url: google.com
valid Url: https://google.com
valid Url: http://google.com

[2019-06-17 15:54] HeshamAbdElLatif opened #1045 "fix isMobilePhone in Egypt"
if phone number start with "015" it shoud be valid
Check this
https://en.wikipedia.org/wiki/Telephone_numbers_in_Egypt

[2019-06-17 19:23] VadzimPeshka opened #1046 "isISO8601 - error in parsing date string"
I've got the strange case with date string parsing. I think case you can see on screenshot is implemented with errors. I expected to see `false` instead of `true`, because date string doesn't contain separators.

![validator-error](https://user-images.githubusercontent.com/31249826/59630464-a778e600-9145-11e9-93b0-69f3f3b08782.png)

[2019-06-18 09:07] eliranamar commented on #981
i can confirm,
`isUrl("HTTPS://TEST.COM")` for example returns invalid url

[2019-06-18 09:31] profnandaa commented on #981
@eliranamar -- this is working correctly from my end with your example:

[code]

Could you check the version you are running?

[2019-06-18 09:34] eliranamar commented on #981
@profnandaa

7.0.0 (updated comment)

[2019-06-18 09:34] profnandaa commented on #981
Also check this test case here:
https://github.com/chriso/validator.js/blob/master/test/validators.js#L288

[2019-06-18 10:30] yuvzaz commented on #930
I'm also seeing this on Google Chrome Version 74

[2019-06-18 10:43] profnandaa commented on #1037
Could you redirect this Q to [express-validator](https://github.com/express-validator/express-validator/issues) ?

[2019-06-18 10:44] profnandaa commented on #1039
Is this an [express-validator](https://github.com/express-validator/express-validator/issues) question? 🤔

[2019-06-18 10:53] profnandaa commented on #1042
Sure, PR welcome.

[2019-06-18 10:54] profnandaa commented on #1045
Sure, PR welcome!

[2019-06-18 16:06] profnandaa opened #1047 "maintenance: add coveralls badge"
Follow up from @tux-tn

[2019-06-18 16:34] tux-tn commented on #1047
Thank you @profnandaa

[2019-06-18 19:25] lmj0011 commented on #1039
yes, it is sorry.

[2019-06-18 19:25] #1039 closed

[2019-06-18 20:09] jawetzel commented on #1042
Retract request, i was misunderstanding what the options meant by allow_protocol_relative_urls

[2019-06-18 20:09] #1042 closed

[2019-06-21 03:52] profnandaa opened #1050 "maintenance: adopt conventional commits"
https://www.conventionalcommits.org/en/v1.0.0-beta.2/

[2019-06-22 04:50] simonratner commented on #940
Also, 'REPLACEMENT CHARACTER' (U+FFFD) is accepted in the domain part. It used to be rejected in validator@3.22.2 (and possibly later versions).

Example: `user@example.com�`

[2019-06-23 14:10] amrHassanAbdallah commented on #1045
I just checked/tested the regex for the 'ar-EG' for "015", it's there and working.
This commit 8e02defd4b8b4938bf6d88fc5a41c099e29e8c5d  already solved it.

[2019-06-23 14:41] #1045 closed

[2019-06-23 15:46] profnandaa commented on #1045
Thanks for checking! 🙏

-na

On Sun, Jun 23, 2019 at 5:41 PM hesham <notifications@github.com> wrote:

--
Sent from a tiny device while on the move.

[2019-06-26 16:13] amrHassanAbdallah commented on #1046
Can I take this one?

Is it required to have separators, I mean after logging some parts of the code with the strict mode, it turns out the script were able to identify that the day is 2 and month is 3 which is valid.

So my question is strict option means that the date string needs to have separator?

[2019-06-28 18:51] VadzimPeshka commented on #1046
@amrHassanAbdallah
I think only valid representation of ISO8601 can pass. In this case I guess this string was interpretate as timestamp, but it isn't valid for ISO8601. I guess it can be related to this line https://github.com/validatorjs/validator.js/blob/c5c0bf2eeea2aebfca9be81280f3488868d56f18/src/lib/isISO8601.js#L28

[2019-06-30 00:29] developdeez opened #1053 "Check if array is within an array"
IS it possible to check if an array of strings is within another or do I need to do a foreach?

[2019-07-01 12:34] profnandaa commented on #1053
Can you clarify on this, with some examples?

[2019-07-01 12:36] #990 closed

[2019-07-02 13:24] #981 closed

[2019-07-02 13:26] #789 closed

[2019-07-02 13:26] #561 closed

[2019-07-07 17:36] #1053 closed

[2019-07-09 09:08] profnandaa commented on #1028
closed in https://github.com/validatorjs/validator.js/commit/7125c571e9be0094766a2c943883aa47e8720361

[2019-07-09 09:08] #1028 closed

[2019-07-09 17:59] profnandaa commented on #974
Closed in #1055

[2019-07-09 17:59] #974 closed

[2019-07-09 18:01] profnandaa commented on #1011
Sure.

[2019-07-09 18:01] #1011 closed

[2019-07-12 22:53] ezrqnkemboi opened #1061 "isMACAddress does not allow use of - instead it only uses : for example A9-C5-D4-9F-EB-D3 is invalid"
When doing validation of MACAddress it does not allow the use of `-` for separation.
For example, when I pass `A9-C5-D4-9F-EB-D3`, it will be invalid mac address.
But, when I pass it as `A9:C5:D4:9F:EB:D3`.
I don't know if there is a reason why we only allow `:` and not including `-`?

[2019-07-12 23:11] ezrqnkemboi commented on #921
In the current version `11.0.1`, I do not see the error where spaces is a valid mobile phone number.
For instance:
[code]
The only thing that I can extend this conversation is, will we allow valid number with whitespaces to be valid? For example

[code]
@netkin-paris, @profnandaa and @chriso, you can check on above. Thank you.

[2019-07-13 10:01] ezrqnkemboi commented on #611
I will take a look at this and probably raise a PR for the same.
Cc. @profnandaa.

[2019-07-14 04:46] hiteshjoshi1 commented on #908
My gripe with this is - foo@bar.com is valid but foo@gmail.com is not.
IMHO - This is vendor-specific behavior which should not be get invoked OOTB. It should be a configuration option.
And if it does, it should give a more specific message: Gmail usernames cannot be less than 6 digits.

[2019-07-17 02:13] mystikaljester commented on #796
I used this in my middleware check and it worked magnifique.  Posting here for anyone searching for an answer.
[code]
found the answer on this closed issue:
https://github.com/validatorjs/validator.js/issues/305

[2019-07-17 08:05] U-4-E-A opened #1064 "Validation for Facebook, Twitter and Instagram handles"
I think it would be really useful if this was added. It is not similar to #694 in that that was a request to validate URLs. This is just for the validation of usernames/handles.

[2019-07-19 08:50] kaminskypavel commented on #979
@nosent79 thumbs up 👍
this makes absolutely no sense to throw an exception.
a preferred behavior would be to fallback to validating the object "as-is"

[2019-07-19 14:59] profnandaa commented on #1061
Just checked [here](https://en.wikipedia.org/wiki/MAC_address), and I agree with this. You can send a fix?

[2019-07-19 15:00] profnandaa commented on #1064
Could you please clarify with some examples?

[2019-07-19 17:33] U-4-E-A commented on #1064
Sure.

So a use case would be the likes of a website form requesting a person to enter their Twitter, Facebook or IG handles for use in their profiles i.e. www.twitter.com/profnandaa, www.facebook.com/profnandaa, www.instagram.com/profnandaa. It wouldn't be for validating the URL, just the handle itself, to make sure any handle given by the user is valid for the particular website it would link to

[2019-07-19 18:19] ezrqnkemboi commented on #1061
Alright, I will send it @profnandaa.

[2019-07-20 17:23] Youssefares opened #1066 "isMobilePhone returns true for +01112353576 when passing any as locale. Is this a bug?"
Is there a valid country dial code in this number? If so could you enlighten me :smile:
This is the same for all numbers starting with +01 and having length 10 or 11 not counting the +.

This happens even with strictMode set to True.

[2019-07-21 20:05] profnandaa commented on #1066
PR is welcome.

[2019-07-21 20:07] profnandaa commented on #1064
PR is welcome.

[2019-07-21 22:25] lutencjusz commented on #796
I use **const validator = require('validator');** to validate my alphanumeric names with spaces.

[code]

on schema mongoose is ok.

[2019-07-22 09:08] ezrqnkemboi opened #1067 "Removal of the use of option for colons in MACAddresses"
When validating MACAddress, there is an option where the user passes options e.g `no_colons`.
In my earlier PR #1065, I raised that concern and just needed to add as an issue so that we can look at it.
@profnandaa had agreed that there is no need for that.

[2019-07-22 09:09] ezrqnkemboi commented on #1066
I will also try to do more investigation on this bug @Youssefares and @profnandaa.

[2019-07-22 17:39] nyinyinyanlin opened #1068 "Contribute: Add more locale"
I want to add locale support for Burmese, Myanmar. (my_MM) How can I contribute? Would appreciate some guidelines and how-to to follow.

[2019-07-23 19:13] ezrqnkemboi commented on #1068
@nyinyinyanlin check on README.md on `Contributing` section.
When contributing, also, please add tests and run them locally.

PR welcomed.

Thank you.

[2019-07-24 18:42] #1061 closed

[2019-07-24 19:17] profnandaa commented on #1068
Sure, if you need any specific help, feel free to reach out to either myself or @ezrqnkemboi

[2019-07-24 19:18] profnandaa commented on #1067
Closed in https://github.com/validatorjs/validator.js/commit/02896f36451ca0638bc54e3f6a027eaa7fa04c64

[2019-07-24 19:18] #1067 closed

[2019-07-25 13:23] #1008 closed

[2019-07-26 05:08] ezrqnkemboi commented on #1018
@deeyonn I will try to investigate this error. I will try using the express-validator library has when I tested using `isAlphanumeric()` using `validator.js`, it works fine.
So, in case of any questions, I will ask you.
But, I will also suggest that you ask/open an issue with express-validator.
Thank you.
cc. @profnandaa.

[2019-07-28 08:02] ezrqnkemboi commented on #951
I will check on @NizarGhazouani PR. Though, it seems, it needs some updates.
Thanks for suggestion @PaulBenabou.
I will also try to work on `isBIC/isSWIFT` in another PR some day later.

But, if someone wants to check on it, here are some notes/guidelines.

SWIFT / BIC codes should contain the following:

[code]
cc. @profnandaa

[2019-07-28 08:06] ezrqnkemboi commented on #951
I will also see that, I can work on validating the `isBIC` as general.
Then, we can add options where the user can validate based on country.
Then, if someone makes a suggestion in the future in terms of location validates, we can do discussions on the same.

[2019-07-28 08:17] ezrqnkemboi commented on #952
@Heydad-Helfer I can see that you worked on this issue on your repository but have not raised a Pull request.
Could you help us get a PR up for review on the same? We will really appreciate.
Looking forward to your reply.
Cc. @profnandaa

[2019-07-28 08:48] ezrqnkemboi commented on #939
I fixed this issue. Reviews needed.

Thank you.

[2019-07-28 11:20] ezrqnkemboi commented on #987
This issue is solved. Need to be closed.

cc. @itaychi and @profnandaa.

[2019-07-28 13:09] ezrqnkemboi commented on #813
I was following up on this issue, and I have realized that the issue being raised does not occur.
Cc. @tanmynguyen, please do confirm so that the issue can be closed.

[2019-07-28 13:45] ezrqnkemboi commented on #655
I will try to do more investigation on how to solve this bug.

[2019-07-28 18:28] profnandaa commented on #987
closed in #1062

[2019-07-28 18:28] #987 closed

[2019-07-30 07:12] fkm commented on #952
OMG. I completely forgot about this. I started a new job after posting this and got completely sidetracked. If someone wants to use my snipped for a PR, feel free.

Sorry for the abandonment!

[2019-07-30 08:37] ezrqnkemboi commented on #952
@fkm I will check on this someday later or someone else can check on it.
Thanks for the response.

[2019-07-31 14:56] nyinyinyanlin commented on #1068
Sorry for a late reply. Thanks to both of you. I will start digging the code.

Should I close this or leave open for future communication?

[2019-07-31 15:12] ezrqnkemboi commented on #1068
Do not close @nyinyinyanlin.
It will be closed when we have a PR raised and the issue solved/merged or discussion ended.
I don't know if it makes some sense.

[2019-08-02 12:03] #939 closed

[2019-08-02 22:02] #929 closed

[2019-08-02 22:23] #1050 closed

[2019-08-04 15:30] AudriusBuika opened #1075 "Email validation bug."
Validation is wrong.

[code]

[2019-08-05 14:28] ezrqnkemboi commented on #1075
The issue #948 had some kind of on the same.
The PR's #967, #1058 and #1063 are trying to solve this issue.
I will take some time to check this issue and the above-mentioned issue and PR's,
and try to find out a solution for the same.
Thanks for sharing @AudriusBuika.

[2019-08-05 18:09] vaekek opened #1076 "isFloat locale options do not match navigator.language list"
It's not always possible to validate the decimal seperator from the users language settings. The isFloat locale decimal seperator list is not consistent with the possible user languages.

See:
https://stackoverflow.com/questions/5580876/navigator-language-list-of-all-languages

[2019-08-07 06:46] profnandaa commented on #1076
@vaekek  -- thanks for filing, PR welcome 👍

[2019-08-07 07:52] vaekek commented on #1076
done @profnandaa 👍

[2019-08-07 08:47] danddo commented on #796
You can use split as suggested, but a better solution for me was using javascript's replace function to replace all special chars accept in your validation

[2019-08-07 11:39] profnandaa commented on #1076
Seen it, nice! #1078

[2019-08-09 08:32] XDavidT commented on #1075
also
`console.log(validator.isEmail("david^dsds@test.com")); `

[2019-08-09 08:49] ezrqnkemboi commented on #1075
Thanks, @XDavidT for that feedback.
We are currently working on a better way of making `isEmail` validator better or more accurate.
Any feedback, assistance will highly be appreciated.
Also, if you have some links to articles of possible invalid or valid emails, or rules for email validator, you can send them here.

[2019-08-09 09:16] XDavidT commented on #1075
Email address is split to 3 section: (Username @ Domain . 'suffix domain list' )
1. User name: **Must start&end with letter or number**
Inside, user can use dot (.) or hyphen (-) or underscore (_) for once between Number/Letter
Between each number/letter, you can use only one time of '.' and '-' and '_'.
Check out examples username: "d.-_5vid","d-.avid","2g3e4t5y"

2. Domain: must start&end with l

[2019-08-09 10:45] xiaopingzhang0207 opened #1079 "validator.isNumeric inconsistent execution results"
The first number is pasted into the code.second and third number is manually entered.
Inconsistent execution results
[code]
[code]
[code]

[2019-08-10 19:54] ezrqnkemboi commented on #1075
@XDavidT, we do not need to an npm package to the package for that check.
What we could do, is build a robust regex for validating it.

[2019-08-10 22:29] ezrqnkemboi commented on #964
I am doing some research on this issue. Though based on issue #609, the user requested for functionality not to decode JWT but just verify string received.
#885 added the functionality, which was also modified on #906 as it was said signature may not be necessary for this case.
I have done research to get the minimum length for header, payload, and signature, but there is no set minimum or maximum

[2019-08-11 10:02] ezrqnkemboi commented on #784
@JoeEarly I have added IE support for postal code and the PR is up for review.

Cc. @profnandaa.

[2019-08-12 16:10] U-4-E-A commented on #1064
Sorry for the lack of PR. I must confess I am not that experienced with github as I am primarily use bitbucket and I didn't know much about PRs, combined with being extremely busy recently. I tried to provide as much information as I could in this thread.

[2019-08-12 21:47] ezrqnkemboi commented on #966
What I can say is that at the moment we have sanitizers for `blacklist` and `whitelist`.
We also have the validator for `isWhitelisted` but there is no one validator for `isBlacklisted`.
[code]
For instance, someone have some items either in an array or string (Let's assume `array` has it is a list, and say it is needed to check against it to return some response or do some validations,
check the

[2019-08-13 05:43] profnandaa commented on #966
@ezrqnkemboi -- for your example, other approaches will be better, e.g. using `Array.filter` instead.

[2019-08-13 05:45] profnandaa commented on #1079
@ezrqnkemboi -- can investigate this please?

[2019-08-13 05:46] ezrqnkemboi commented on #966
I agree with your point @profnandaa.

[2019-08-13 05:47] ezrqnkemboi commented on #1079
Yes,  will do that @profnandaa.
Will get some feedback on the results.

[2019-08-14 18:53] frenchyLK opened #1087 "isEmail() returns true when � is at the end of the address"
I've noticed some odd behavior using `isEmail()`.

[code]

Is this expected behavior? Is there an option that I am missing here?

Thanks!

[2019-08-14 19:07] profnandaa commented on #1087
Thanks for raising this. PR welcome! 👍

[2019-08-15 12:24] afram opened #1088 "isUUID returns false positives"
The all version of UUID regex is incorrect and returns false positives. The current regex matches any version number 0-F when only v1 - v5 are valid.

You could use https://github.com/afram/is-uuid :-p

[2019-08-15 12:32] barbalex opened #1089 "false positive uuid's?"
`c9cfe3e0-e298-7a36-9c88-7c2acf143bab` and `c9cfe3e0-e298-7a36-9c88-7c2acf144eec` are declared valid by:
- validator
- the regex used in the second highest voted answer to the top stack overflow issue concerning uuids (https://stackoverflow.com/a/7905992/712005)

They are declared invalid by:
- https://github.com/afram/is-uuid
- https://github.com/mixer/uuid-validate
- the regex used in the highes

[2019-08-15 12:33] barbalex commented on #1089
Uups, duplicate of https://github.com/validatorjs/validator.js/issues/1088

[2019-08-15 12:33] #1089 closed

[2019-08-16 04:54] veliyat commented on #1064
I believe your suggestion and opinion it self is very valuable so don't feel sorry :) Do interact in the other thread #1080 and provide more inputs. Thanks!

[2019-08-16 09:09] profnandaa commented on #1088
Hey, thanks for raising, PR welcome 👍

[2019-08-16 13:23] vinioo opened #1090 "How to validate only if the value is not empty?"
Hello! I'm trying to validate some fields, but i want to validade only if the field is not empty.
I'm doing this way:

`if((val: number) : boolean => val ? true : false).isInt()`

It is working, but my code is getting very large. Is there any way to do it writing less code?

Thank you.

[2019-08-17 11:48] profnandaa commented on #1090
Another way I see it to `OR`, e.g.
[code]
So that once the string is empty, it does not go to the right-hand-side of `||`

[2019-08-18 20:27] ezrqnkemboi commented on #1079
I have done my research on this and found that the issue is about copying and pasting.
When pasting, it seems that there is a whitespace/weird character created at the end of the numeric.
For instance in this code:
[code]

If you paste somewhere this code, then try a backspace/delete from the end of number 9, instead of removing digit 9, it will remove the whitespace or weird character. Then, when

[2019-08-19 04:16] profnandaa commented on #1079
Could you running it through trim before checking `.isNumeric`?

-na

On Sun, Aug 18, 2019 at 11:27 PM Ezrqn Kemboi <notifications@github.com>
wrote:

--

*___Nandaa **Anthony*
*,*Software Craftsman & Mentor
*Twitter/Github: *@profnandaa <https://twitter.com/profnandaa>

[2019-08-19 06:40] ezrqnkemboi commented on #1079
Alright @profnandaa, I will do that and get back.

[2019-08-19 07:10] ezrqnkemboi commented on #1079
I have tried trim but does not work.

[2019-08-20 15:17] AshHogarth commented on #796
Support for Alpha and AlphaNumeric to contain options for 'contains spaces'. My use case is for checking an address Line 1

[2019-08-20 15:37] l2ubin commented on #1088
can you provide me with values you used? Working fine

[2019-08-21 05:00] xiaopingzhang0207 commented on #1079
Thank you for your answer.

[2019-08-21 05:00] #1079 closed

[2019-08-22 19:02] hammadj opened #1094 "isURL returns true for an invalid URL"
`isURL('http://www.domain')` returns as a valid URL

[2019-08-23 17:51] Aarbel opened #1095 "Feature Request : support for disposable emails"
Do you plan to add an option for `isEmail()` to forbid disposable domains ?
Thanks a lot !

https://github.com/martenson/disposable-email-domains/blob/master/disposable_email_blocklist.conf

[2019-08-23 20:47] profnandaa commented on #1094
PR welcome.

[2019-08-23 20:50] profnandaa commented on #1095
PR welcome! 👍

[2019-08-24 04:42] l2ubin commented on #1094
Will do a pr in a while

[2019-08-25 16:44] #1090 closed

[2019-08-31 07:27] dghaehre opened #1097 "Feature Request: National identity number"
Norway uses a national identity number: https://www.skatteetaten.no/en/person/foreign/norwegian-identification-number/national-identity-number/

I would assume this is something other countries has as well. I also assume this is not the same as Identity Card?

If this is something that is interesting I would love to create a PR :)

[2019-08-31 07:40] profnandaa commented on #1097
Sounds good to me, suggesting to add it on [`isIdentityCard`](https://github.com/validatorjs/validator.js/blob/master/src/lib/isIdentityCard.js)? PR welcome! :tada:

[2019-08-31 08:03] dghaehre commented on #1097
As a norwegian, `isIdentityNumber` sounds better than `isIdentityCard`. But `isIdentityCard` works as well, I could just add a comment in the readme.

What do you think, should I add it to `isIdentityCard` or create `isIdentityNumber`?

[2019-08-31 08:09] profnandaa commented on #1097
For sure, _number sounds better :) Perhaps we make an alias for that too
for legacy support. However, implement with the _card source.

-na

On Sat, Aug 31, 2019 at 11:03 AM Daniel Haehre <notifications@github.com>
wrote:

--

*___Nandaa **Anthony*
*,*Software Craftsman & Mentor
*Twitter/Github: *@profnandaa <https://twitter.com/profnandaa>

[2019-08-31 08:15] dghaehre commented on #1097
Great, sounds good :)

[2019-09-04 06:37] lorenzodb1 commented on #1097
I just saw this issue and its related pull request. If this goes through, I'd like to work on adding Italy's _codice fiscale_ and Canada's _SIN number_ to it, if you let me.

[2019-09-05 03:47] anton-bot opened #1100 "Feature request: isMobilePhone() to support Macau (pull request done)"
See #1099

Adds validation for phone numbers in Macau, e.g. +853-6123-4567.

Info based on Wikipedia (mobile phones start with 6, and have 8 digits).

Actually it would be nice to support spaces as well (6123 4567) but it seems the other regexes there don't support spaces, so I didn't add that.

[2019-09-05 14:34] profnandaa commented on #1097
@lorenzodb1 -- for sure, please do. Thanks! 👍

[2019-09-06 03:26] lorenzodb1 commented on #1097
@profnandaa awesome, thanks! I'll wait for @dghaehre changes to go through then

[2019-09-06 08:49] heiba commented on #1066
Any update on this would be much appreciated

[2019-09-06 08:55] ezrqnkemboi commented on #1066
@heiba, let me get back to you tomorrow or the end of the day on this one.

Cc. @profnandaa.

[2019-09-07 11:59] ezrqnkemboi commented on #1066
@Youssefares, @heiba, your questions might be answered by `Malaysia phone number` :
[code]
Cc. @profnandaa.

[2019-09-07 12:00] ezrqnkemboi commented on #1066
@Youssefares for the question on `This happens even with strictMode set to True.`
That is because you have supplied `+`. Reference to that is the README docs.

[2019-09-07 12:43] ezrqnkemboi commented on #1094
@rubiin when taking a look at this, also look at `http://www.domain.com.com.com.com`, i.e
the occurrence of many instances of `.` in a URL.
It makes it true although I don't think if it is a valid `URL`.

[2019-09-09 09:28] ezkemboi opened #1102 "Add isISO6392() method"
Since there was a featured that was requested for addition of
[code]
I also feel that we can add
[code]

Reference: https://en.wikipedia.org/wiki/ISO_639-2

For more `ISO 693` you can refer to https://en.wikipedia.org/wiki/ISO_639

Cc. @profnandaa, let us have your view on this feature and other ISO 639 features.

[2019-09-09 13:00] profnandaa commented on #1094
Thinking about this again, yes, `http://www.domain` should be a valid URL, since you can actually have a domain like `www.com`, therefore it means you can still have `www.<any-top-level>`. As much as there is no current `.domain`, there's no rule that prohibits this.

Perhaps I'm mistaken, but let me know if this makes sense.

- `com.com` is a valid domain; the rest then just become sub-domains...

[2019-09-13 07:37] joelmukuthu opened #1106 "Document breaking changes"
Hi,

Would it be an option to document breaking changes in the CHANGELOG? This could also be done on the releases on GitHub but it seems they are not used as much.

What were the breaking changes introduced in v11?

Best,
Joel

[2019-09-16 20:50] profnandaa commented on #1106
Hi Joel -- this is a good idea. _I think_, we've not been using the `semver` standard for the versioning, so whenever you see a jump from 10 -> 11 is not actually a _breaking change_. @chriso you can correct me

However, the idea of updating breaking changes in the  `CHANGELOG.md` is a good one 👍

[2019-09-16 20:54] profnandaa commented on #1102
Apologies for my delays on the reviews -- looking for a good time to work on this.

[2019-09-16 21:59] chriso commented on #1106
We loosely follow [semver](https://semver.org) and bump the major version whenever breaking changes are introduced.

[2019-09-17 10:51] profnandaa commented on #1106
Got it, my bad 👍

On Tue, Sep 17, 2019 at 12:59 AM chriso <notifications@github.com> wrote:

--
Sent from a tiny device while on the move.

[2019-09-17 21:00] joelmukuthu commented on #1106
Thanks for the responses @profnandaa and @chriso.

I think https://github.com/validatorjs/validator.js/pull/1007 was also a breaking change? (I couldn't find the PR when I created the issue but I seemed to remember seeing something about new email validation possibly causing breaking changes, and now I went digging for it).

From what I understand from that change, emails longer than 254 character

[2019-09-19 17:17] linkinmedo commented on #1095
I don't think it's a good idea to add these kind of validators to the library since we're never going to be able to actually stop all disposable emails and most people who's going to use it wont understand that.

[2019-09-19 19:06] Aarbel commented on #1095
As an option could be great !

[2019-09-22 20:05] Alexejhero opened #1111 "Documentation for options"
The `isURL` function supports a lot of options, none of which are documented.

It would be nice if each option was documented and an example was provided so that users know what they're dealing with.

[2019-09-23 21:24] profnandaa commented on #1111
@AlexejheroYTB -- sure, PR welcome :+1:

[2019-09-23 21:26] AlexejheroYTB commented on #1111
Im not entirely sure I know what they do myself :sweat_smile:

[2019-09-25 18:09] rubiin opened #1113 "Add support for nepal in ismobilephone (PR done)"
I cannot find any validations for nepal mobile numbers. I can do PR if you like

[2019-09-25 23:04] rohankulshreshtha commented on #1111
Hi, I have added a PR (#1114 ) for the documentation of isURL as comments in the isURL.js file.

[2019-09-25 23:10] rohankulshreshtha commented on #1111
While going through the code of isURL.js I found out that there is no logic coded for the options such as allow_underscores , allow_trailing_dot.
@profnandaa can I submit a PR for that as well

[2019-09-26 03:36] ezrqnkemboi commented on #1113
Yes please @rubiin.
PR is highly welcome.

[2019-09-26 06:57] rubiin commented on #1113
@profnandaa what say

[2019-09-26 08:49] ezrqnkemboi commented on #1113
@profnandaa will respond to that.
But, in my case, anyone can raise a PR and it will be reviewed.
So long as tests are added and it works fine.
I think locale id for Nepal is `ne_NP` @rubiin.

[2019-09-26 08:51] rubiin commented on #1113
cool , i will add a pr as i am done with it

[2019-09-26 11:28] rubiin opened #1115 "language validator"
I was working on a project that passed the language header to request the response in desired language. However I could not find it in the validator.

[2019-09-26 19:27] ezrqnkemboi commented on #1115
@rubiin do you mean [Accept Language](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language) or [Content Language](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Language) ?
Also, add more clarification for its usage/importance and I think people can help make more discussion on the same.

[2019-09-27 02:23] rubiin commented on #1115
@ezrqnkemboi accept language

[2019-09-27 07:16] rubiin commented on #1115
@ezrqnkemboi @profnandaa i can do a pr for this

[2019-09-28 08:51] profnandaa commented on #1111
@rohankulshreshtha -- sounds great, please go for it! :+1:

[2019-09-28 13:46] profnandaa commented on #1113
For sure, adding it.

[2019-09-28 13:54] rubiin commented on #1113
cool. I will be adding pr soon

[2019-09-28 13:55] rubiin commented on #1115
@ezrqnkemboi  @profnandaa  i can do a pr for this. Found a list https://github.com/expandjs/expandjs/blob/master/lib/languages.js here

[2019-09-30 18:37] rubiin commented on #1113
added this on https://github.com/validatorjs/validator.js/pull/1116

[2019-09-30 22:23] rohankulshreshtha commented on #1111
After going through the code again I found out allow_underscores, allow_trailing_dot are in fact handled in a different file.
It is working I checked it myself.

[2019-10-01 14:53] rubiin commented on #1068
if its still unresolved, i can take it

[2019-10-01 15:08] rubiin commented on #953
@ezkemboi can i take this one?

[2019-10-01 15:15] rubiin commented on #1088
@profnandaa  @ezkemboi  i will be taking this one

[2019-10-02 07:47] rubiin opened #1122 "add isBitcoinAddress()"
Lets add a validator to validate a bitcoinaddress. I am already working on a pr and will be happy to add it

[2019-10-02 07:47] rubiin commented on #1122
@ezkemboi @profnandaa

[2019-10-02 07:55] pedramp commented on #1068
@profnandaa Added PR #1121 for Farsi(`fa-IR`) language.

[2019-10-02 08:22] ezkemboi commented on #1122
Sure @rubiin, in my opinion, this will be a good addition.
https://en.bitcoin.it/wiki/Address

[2019-10-02 08:57] rubiin commented on #1122
Ok @ezkemboi  I am going to work on this then

[2019-10-02 13:19] rubiin commented on #1122
@ezkemboi https://github.com/NoriSte/bitcoin-address-soft-regex-validation/blob/master/index.js https://stackoverflow.com/questions/21683680/regex-to-match-bitcoin-addresses/48643915#48643915 i find these links helpful

[2019-10-03 09:57] ravinaparab1 opened #1123 "validator that matches the input with the given regex"
validator.js has equals validator that works for comparison of only strings. what if we can modify it to compare data with any predefined format using given regular expression? For eg. i want to check validity of passport number and want to use the same function to test validity of social security number.

[2019-10-03 10:53] ezkemboi commented on #1123
@ravinaparab1, maybe you can add more description on the use case and expectation(examples)?
Because, most of the work that validator.js is to use regex to validate inputs such as `emails, numbers, BIC, mobile phone numbers etc`.

[2019-10-03 13:58] rubiin commented on #1123
@ravinaparab1 I think we don't need that as javascript itself can handle regex. Also as @ezkemboi pointed out the validatorjs itself is acollection of regex, I dont see any point of having a validator as such unless you could point out some usecases that the standard regex in js cannot handle

[2019-10-04 06:01] #1123 closed

[2019-10-04 14:04] kamalbhardwaj commented on #1087
I would like to work on this issue

[2019-10-04 14:42] profnandaa commented on #1087
@kamalbhardwaj -- please go for it! :+1:

[2019-10-04 14:45] profnandaa opened #1127 "🔔 announcement: hacktoberfect is here"
If you would like to take on any issue here want it attributed to your [`hacktoberfest`](https://hacktoberfest.digitalocean.com/), drop a comment on the issue and we will tag it with the `hacktoberfest` label.

[2019-10-04 14:57] mishabruml commented on #1095
@linkinmedo of course, someone that is **really** determined will always be able to bypass a check like this. But, for the most part, I'd say people wanting to create a fake email address will google "temporary email address" and use something from the first few results, which I am sure will be easily detected by lists such as https://github.com/martenson/disposable-email-domains/blob/master/dispo

[2019-10-04 15:00] sudhir512kj commented on #654
@profnandaa I would like to work on it.

[2019-10-04 15:16] profnandaa commented on #654
@sudhir512kj -- sure, go for it! :+1:

[2019-10-04 15:31] SHUBHAMGOGATE commented on #1122
Hey I have created the function properly how do I go about testing it before creating a PR

[2019-10-04 15:35] rubiin commented on #1115
@profnandaa  can you put the fest label here too

[2019-10-04 15:37] rubiin commented on #1122
@profnandaa here too

[2019-10-05 12:48] rubiin opened #1130 "isDate()"
I noticed there is no validator such as isDate() . It was removed in previous version. It would be handy to have a validator that checks date only unlike the datestring.
For example, 2018/08/09 , 1988-07-18

[2019-10-05 13:12] profnandaa commented on #1130
I think there was a reason this was removed, we'll need to check the archives...

[2019-10-05 14:04] rubiin commented on #1130
@profnandaa It would be nice to have a validator for a simple use case as i mentioned above

[2019-10-05 22:04] Aarbel commented on #1095
go for it ;)

[2019-10-06 05:35] profnandaa commented on #1130
Sure, please make a PR and we could pick up from there. I don't want to be blocking. Also check `isISO8601(str)` while doing that.

[2019-10-06 05:35] profnandaa commented on #1130
/cc. @chriso

[2019-10-06 08:51] ezkemboi commented on #1130
I will look also on some archived PRs that had previously addressed the issue of `isDate()`

[2019-10-06 08:53] ezkemboi commented on #1047
@profnandaa, I will check on this one has mentioned in https://github.com/validatorjs/validator.js/pull/1124

[2019-10-06 18:19] profnandaa commented on #1047
@ezkemboi -- is there any admin authorization needed from our end for Coveralls to be integrated?

[2019-10-06 19:19] marlonemmerich opened #1134 "Problems to run tests"
Hello, friend!
Im trying to run the tests but i'm with a problem: after ran the test all my changes was discarded and the source was changed.

The steps to the prroblem:

1. Clone theproject
2. In the CMD, go to the folder of the project and run "npm install"
3. Change the source and run "git status". You will see your change.
4. Run "npm test"

After the test you can run "git status". All of your

[2019-10-06 19:49] DCtheTall commented on #920
I'd be interested in taking this. I've contributed before though so if you want someone new to take this totally understand.

[2019-10-07 22:48] Rye-Guy commented on #1130
I would like to work on this issue as a part of my hacktoberfest contributions. If this is still being investigated I can move on to another.

[2019-10-08 02:23] profnandaa commented on #1130
You could skip this one for now and pick another.

./na
--
Sent from a tiny device while on the move.

[2019-10-08 18:09] profnandaa commented on #920
@DCtheTall -- no worries, please take it up.

[2019-10-08 18:12] profnandaa commented on #1134
Good question, my suspicion is that you were changing the `/lib/*` (this is autogenerated) instead of `/src/lib/*`. Can you try that and let me know.

Perhaps we need to add this in the `How to Contribute` section...

[2019-10-10 07:39] ezkemboi commented on #1047
@profnandaa, I think so. The app must be added.

[2019-10-10 12:33] ezkemboi opened #1142 "Update README.md file on contribution section"
In the past few months, I have been hearing some people facing issues on which files to change.
Also, I have been looking at some `PR's` and see how people change files that should be auto-generated e.g in `lib` folder.
To solve this or reduces cases, I would like to update the `readme.md` to help people understand some files or folders that might need to be changed and those that might not need t

[2019-10-10 12:44] sagarvd01 opened #1144 "Redundant function isMD5"
MD5 have hash collision weakness and currently replaced by `SHAxxx` algorithms.

`isHash` also deal with MD5 hash and I think the function `isMD5` is redundant. If you think I'm right, I can make a PR.

[2019-10-11 07:04] Sameera1994 opened #1145 "Validate strong Password by validate_password.js"
The user enters a password, the checker must check Password is strong or weak.
Strong Password is contained,
- Capital Letters
- Simple Letters
- Numbers
- Symbols

[2019-10-11 13:38] DCtheTall commented on #920
Been looking into this some, and while I have an idea of where to start, it turns out the definition of these is quite broad. This might be more complex than I anticipated.

[This link](https://www.w3.org/TR/xmlschema11-2/#anyURI) also provides some useful documentation including what ranges of Unicode values are allowed for this type.

So far here are some "base case" rules I have learned:

- xsd

[2019-10-11 17:00] pawansingh972 commented on #1115
@rubiin Hi, are you working on this? If not please let me know I would like to work on it.

[2019-10-11 23:53] smohiuddin opened #1150 "Expand validation for lat/long coordinates"
Hi,

Thanks for this great library. Would like to request support for Lat/long coordinates with N,S,E,W and °

Potential examples:
26°11′N
26°11′N, 91°44′E
26°11′N 91°44′E

[2019-10-12 06:07] gayathrigs27 commented on #1145
raised a pr for it.

[2019-10-12 09:47] rohankulshreshtha commented on #1150
Yes currently only `Signed degrees format` is supported.
We can add validations for `DMS + compass direction formats` as well.
http://www.geomidpoint.com/latlon.html
@ezkemboi @profnandaa Happy to submit a PR for this one.

[2019-10-12 10:19] ezkemboi commented on #1150
@rohankulshreshtha, sure. Do that, I will do a review.
I will also read the article send and also check on @smohiuddin issue on the same and provide more clarification.

I don't know what @profnandaa think?

[2019-10-12 11:52] adityaraval opened #1151 "Fails to validate indian postal code"
It currenlty validates indian postal code based on only one criteria which is "It should be having six digit", but in reality indian postal code should never start with 0.

So it returns true for Indian postal code starts with 0

[2019-10-13 01:30] artorias111 commented on #1151
Can I take this up if no one's working on it?

[2019-10-13 03:15] marlonemmerich commented on #1134
Hello! Thanks for you answer!
Yeah, the problem is with the build. It's like as if the latest builded version isnt in the repository. And when I run the test the new files are built in the lib folder. Is this the expected? If so, I apologize.

Thanks again!