[2021-01-05 11:28] sarincasm opened #1571 "Is it possible to use `normalizeEmail` with a custom domain"
I have an app where most users are on a custom domain (the underlying account is google, so it follows the same rules). Can I use `normalizeEmail` to get a canonical version of such emails.

For Eg:
`normalizeEmail('me+1@gmail.com')` -> returns `me@gmail.com`

I want:
`normalizeEmail('my+1@custom.com')` -> should return `my@custom.com`

Maybe it can be passed to `normalizeEmail` as an option

[2021-01-05 21:17] rodrigolock opened #1572 "Is there a way to include options in isAlphaNumeric as in isAlpha?"
In isAlpha it has an optional object ("ignore"), but in is AlphaNumeric it doesn't have that option.
In my case, I need to include alpha numerics with spaces. With isAlpha I can eliminate the space bars, but with isAlphaNumeric I cannot.

Would it be a good idea to add that too?

[2021-01-13 15:41] karladler opened #1576 "Feature: Support GTIN-14 / EAN-UCC"
Support GTIN-14 / EAN-UCC

currently only EANs with length of 8 or 13 are supported, but for some cases you also need different lengths like 14.
E.g. http://www.ibcaweb.org/guide/guide_mfr/ch4.htm#4.4%20EAN/UCC-14%20and%20Intermediate%20Packs

[2021-01-14 02:46] profnandaa commented on #1576
PR welcome!

[2021-01-16 18:43] thorizer opened #1578 "validator.isEmail not accepting a valid email"
this is a valid email : accessoire@topnet.tn

[2021-01-16 19:12] #1578 closed

[2021-01-17 08:51] marcosmol204 opened #1579 "Canadian phone number"
**Describe the bug**
There is not validation to Canadian phone number.

[2021-01-18 06:18] varsubham commented on #1579
@marcosmol204  Hey can you please provide some examples ?
I'm trying some sample Canadian phone number and they are working fine🤔

[2021-01-18 11:31] bimalmithranpb opened #1580 "Can not Validate a nullable field"
There is no way to pass `isEmail` or `isMobilePhone` validation with a blank value.

If there is a value of mobile number 2, and I want to check if the entry is a valid mobile number.
I can check that with `isMobilePhone` validator. But the problem is that the field is not mandatory and if the user does not enter anything, it's currently showing that it is an invalid mobile number.

Same thing wit

[2021-01-19 07:44] sklawren opened #1581 "Node error import assertString unexpected identifier/cannot use outside module"
**Describe the bug**
When compiling in node (with next.js, for example) or running Jest test, Validator always throws the following error whenever anything is imported.

For example, I have a React component that imports blacklist from validator (this happens with any import though).
[code]

Works fine in development, but when I run jest locally, I get the following error:
[code]

OR in the CI for

[2021-01-19 15:34] fedeci commented on #1581
Hi @sklawren, can you provide an example repo, please?

[2021-01-20 18:53] Brutalbeard commented on #1507
Busy working on some work, but here's the address if anyone has time to update the readme. If I can, I'll get to it before end of day.

https://unpkg.com/validator.js/dist/validator.min.js

[2021-01-20 19:20] ezkemboi commented on #1507
Sure @Brutalbeard. Please if you get sometime later in the day, you can add it.
We will appreciate it.

[2021-01-20 19:39] Brutalbeard commented on #1507
@ezkemboi, @profnandaa, or @tux-tn, can anyone just double check that they have no issue bringing this into a basic HTML page?

I'll have a pull request for the readme ready if you give the go ahead.

[2021-01-21 13:14] linkinmedo commented on #1580
this is the correct behavior, null is not an email or mobile number. you should handle your form validation yourself this package is to validate strings.

[2021-01-22 07:03] sklawren commented on #1581
It's easy.

1. Create a new Create React App
2. npm i -S validator

Add a file called utils.js
[code]
3. Modify the App.js file to import the sanitize function.
[code]
4. `npm start` - Works fine. You should see '10' in the browser.
5. `npm test` - Crashes.
[code]

[2021-01-22 10:21] fedeci commented on #1581
Try looking at facebook/create-react-app#9938 because this is a `jest` "problem" :)

[2021-01-22 10:49] sklawren commented on #1581
I tried that and it didn't work. What did work was changing it to:
[code]
I guess this doesn't tree-shake, but it works.

[2021-01-22 13:36] moodsey211 commented on #1075
hi guys, I'm not sure if this is the right place but I have an existing email that is "test@163.com" but isEmail returns false even if the email address is valid and is existing. Also have "test@126.com" which also causes isEmail to return false. Any idea guys?

[2021-01-25 14:36] Lehren opened #1584 "ftp with path not seen as valid"
**Describe the bug**
A url like this:
`sftp://user:pass@terminal.aws.test.nl:/incoming/things.csv`

Is not seen as valid. It is because of the colon character where the filepath starts.

**Additional context**
Validator.js version: 13.5.2
Node.js version: v.8.17.0
OS platform: [windows, linux, macOS, etc]: macOS 10.15.7

[2021-01-25 18:43] Brutalbeard commented on #1507
Hey all. Just bumping on this. Haven't used unpkg.com before. Thinking there may be some other dependency to add?

@ezkemboi, @profnandaa, @luiscobits, @tux-tn

[2021-01-25 20:04] luiscobits commented on #1507
Thanks @Brutalbeard!

No, Unpkg do not need anything else, only the link that you pointed out before.

[2021-01-25 20:21] Brutalbeard commented on #1507
PR on its way!

[2021-01-29 04:45] lgriveras commented on #1563
Hi,
The character \ is not being accepted either as a symbol. I found it while testing all symbols I could think of after the @ bug.

[2021-01-30 02:37] profnandaa commented on #1563
Good catches. I guess `\` was because of it being an escape for regex...

[2021-01-30 03:54] bimalmithranpb commented on #1580
I found a way to solve this with the `optional` function in the plugin.
[code]
It would be great if you could mention the `optional` function inside the documentation.

[2021-01-30 04:19] fedeci commented on #1580
This is [`express-validator`](https://github.com/express-validator/express-validator) a library built on top of `validator.js`. They are similar but have different aims.

[2021-01-31 05:53] renanmontebelo commented on #1490
I believe this issue can now be closed as `isLicensePlate()` is now merged.

[2021-01-31 09:56] katungi commented on #1584
Hi @Lehren , Just a question. What options are you passing in isURL ?

[2021-01-31 16:33] Lehren commented on #1584
@katungi
[code]

[2021-02-01 01:22] profnandaa opened #1591 "announcement: community chatroom live on Gitter"
Hi folks --
Thought might be a good idea to have a community lounge where folks can easily drop by and chat, comment, ask questions, etc. I went ahead and created one for us, please join:

[![Gitter](https://badges.gitter.im/validatorjs/community.svg)](https://gitter.im/validatorjs/community)
**https://gitter.im/validatorjs/community**

/cc. @ezkemboi @tux-tn @chriso @rubiin

[2021-02-01 09:49] katungi commented on #1584
Hello @Lehren. on using isURL, with those options, the check brings back _false_. How did you make it work on your side?
You mentioned something about the colon, does removing it make it valid?

[2021-02-01 13:41] Lehren commented on #1584
Yes removing the colon before `/incoming/things.csv` makes the check return true.

[2021-02-01 16:15] rubiin commented on #1591
i would love to have a discord chatroom instead of gitter. Way more features and unlimited chat history

[2021-02-01 21:05] profnandaa commented on #1591
@rubiin -- Good point. Let's start with this and then transition as the need grows. Discord is another level for sure!

[2021-02-01 22:40] #1490 closed

[2021-02-02 09:39] katungi commented on #1591
I second @rubiin, discord is definitely a better platform than gitter.

[2021-02-02 16:23] ezkemboi commented on #1580
@fedeci thanks for pointing out that for  @bimalmithranpb.
For now, I am going to close this issue.

[2021-02-02 16:23] #1580 closed

[2021-02-03 04:48] katungi commented on #1584
@lehren. Yeah, I that actually works. That must be a problem with the isURL validator

[2021-02-03 07:14] rubiin commented on #1591
@profnandaa lets work on discord then

[2021-02-03 07:14] rubiin commented on #1591
@profnandaa lets work on discord then

[2021-02-03 09:49] tux-tn commented on #1591
As an open source community i think we need to take into consideration those arguments:
- Gitter is Open source (under MIT Licence)
- Gitter can easily be integrated with github (notifications about new issues,pull requests,versions...)
- You don't need an invitation or to be connected to read the feed of a gitter channel

[2021-02-03 10:02] ezkemboi commented on #1591
@tux-tn thanks for the elaboration.

[2021-02-03 16:51] rubiin commented on #1579
i second that. It seems to be working fine with my data set

[2021-02-04 05:58] DaniAkash opened #1593 "Tree-shakeable ES imports for isURL causes build failure in Next.js"
**Describe the bug**
I'm trying to use the Tree-shakeable ES imports of isURL module
[code]

However, this leads to Next.js project throwing the following exception:
<img width="1010" alt="Screenshot 2021-02-04 at 11 27 04 AM" src="https://user-images.githubusercontent.com/6841445/106851278-f0472f00-66db-11eb-9438-2dca9ee10c3a.png">

**Examples**
Working example: https://codesandbox.io/s/validator

[2021-02-06 19:53] thedevelinmycode commented on #1563
@Kpal22 Ran into this as well. The [regex in the source](https://github.com/validatorjs/validator.js/blob/master/src/lib/isStrongPassword.js#L7) doesn't have the `@` symbol in it. Should be an easy fix.

[2021-02-06 19:55] thedevelinmycode commented on #1145
@profnandaa FYI looks like a PR was merged to address this ticket. Should be closed.

[2021-02-07 09:19] #1145 closed

[2021-02-09 06:54] yetingli opened #1596 "ReDoS in isSlug"
**Describe the bug**
It allows cause a Regular Expression Denial of Service (REDoS) when checking if the crafted string is of type slug.

**Examples**
[code]

**Additional context**
Validator.js version: 14.10.0
Node.js version:
OS platform: windows

[2021-02-09 07:28] yetingli opened #1597 "ReDoS in isEmail"
**Describe the bug**
It allows cause a Regular Expression Denial of Service (REDoS) when checking if the crafted string  is an email.

**Examples**
[code]

**Additional context**
Validator.js version: 14.10.0
Node.js version:
OS platform: windows

[2021-02-09 07:43] yetingli opened #1598 "ReDoS in isHSL"
**Describe the bug**
It allows cause a Regular Expression Denial of Service (REDoS) when checking if the crafted string is a hsl.

**Examples**
[code]

**Additional context**
Validator.js version: 14.10.0
Node.js version:
OS platform: windows

[2021-02-09 08:00] yetingli opened #1599 "ReDoS in rtrim"
**Describe the bug**
It allows cause a Regular Expression Denial of Service (REDoS) when  calling `rtrim`.

**Examples**
[code]

**Additional context**
Validator.js version: 14.10.0
Node.js version:
OS platform: windows

[2021-02-10 10:46] mhf-ir opened #1601 "isCreaditCard must be world class not just Popular ones"
Credit cards also need to be updated for special countries or banking, but out of this PR scope.
For example 5022291047705718 is for https://en.wikipedia.org/wiki/Bank_Pasargad.
What about another countries?

https://github.com/persian-tools/persian-tools#bank-number-validation-and-get-the-name-of-the-bank-by-bank-account-number

    All banks has special luhn algorithm with special prefix.
    Al

[2021-02-11 23:35] marcosmol204 commented on #1579
Can you attach code piece ?
Canadian number is not like EEUU number.

[2021-02-12 05:21] P-iknow commented on #1581
i have the same issue described above

[2021-02-12 18:01] fedeci commented on #1596
Hi, can you provide a repo where we can reproduce this?

[2021-02-12 19:22] fedeci commented on #1598
This is the regex affected, the second one does not suffer of this problem
https://github.com/validatorjs/validator.js/blob/1b85829bd6bdf660b2989cdd094bcd80f7d3b975/src/lib/isHSL.js#L4

[2021-02-13 06:49] yetingli commented on #1598
You're right.

[2021-02-15 04:20] #1563 closed

[2021-02-15 09:52] fselcukcan opened #1607 "IsISO8601Options is not on validator object"
I have been using class-validator library. I will notify them about this as well.

Was it meant to be in validator object anyway?

I see a usage there as in [here](https://github.com/typestack/class-validator/blob/99eec62eb9a80a5e8495fcd151ac636d5812ce90/src/decorator/string/IsISO8601.ts) at bottom:

It looks like the validator has a property called `IsISO8601Options`. But I cannot find it in `val

[2021-02-15 10:18] tux-tn commented on #1607
`iISO8601Options` is from  `@types/validator` . You can find the object definition  [here](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/79a43b97809c7c9dce831502329e6848e4edd2dd/types/validator/index.d.ts#L709) .
Your issue is not directly related to `validator.js` but you probably just need to add  `@types/validator` to your dev dependencies.

[2021-02-15 15:48] DaniAkash commented on #1593
This turned out to be an issue with Next.js as it is a server rendered react framework & node.js doesn't support ESM when Next.js tries to render it on the server

[2021-02-15 15:48] #1593 closed

[2021-02-15 16:07] tux-tn commented on #1593
@DaniAkash since the issue is related to Next.js you probably can do tree-shaking by changing the babel config. Something like [babel-plugin-import](https://github.com/ant-design/babel-plugin-import) may do the trick.

[2021-02-15 16:24] tux-tn commented on #1581
Looks like the issue is related to jest and not `validator` . Thank you @P-iknow for providing the answer.

[2021-02-15 16:24] #1581 closed

[2021-02-16 16:10] guicsou-lw opened #1608 "Add Array validator"
Would be really nice to add an **Array** validation, also informing a minimum and maximum number of elements this array must have.
Example:
isArray(value, [ 1, 10 ])

[2021-02-16 18:46] fedeci commented on #1608
Hi @guicsou-lw, the aim of this library is to validate strings, I don't think this proposal should be implemented😕

[2021-02-17 12:49] benoitvidis opened #1609 "`isURL` rejects localhost"
**Describe the bug**
As an example, `http://localhost:9200` is considered invalid
https://runkit.com/benoitvidis/602d10590385fc0019145ead

**Examples**
cf above

**Additional context**
Validator.js version: 13.5.2

[2021-02-17 16:13] gyenabubakar opened #1610 "Checking password strength"
Is there a way to use the `isStrongPassword()` method to implement a password strength indicator?

At the moment, the method doesn't have a maximum strength that shows that the password is really strong.

I need a range, like, from a score
[code]

But this doesn't exist. Is there a way to work around this?

[2021-02-17 16:27] fedeci commented on #1610
Hi, you can set the `returnScore` to `true`
[code]

[2021-02-17 16:27] tux-tn commented on #1610
@gyenabubakar you can easily make something based on `returnScore` (which returns the score of the password instead of returning true or false) and you can also customize the score given for each character type.

[code]
You need to define by yourself the score for a medium or a strong password  but

[2021-02-17 16:38] tux-tn commented on #1609
`localhost` is not a valid FQDN according to RFC, `localhost.localdomain` is. If you want to validate localhost you need to pass `{require_tld: false}` to  `isURL` as you can see in [this runkit example](host)

[2021-02-18 08:30] benoitvidis commented on #1609
My bad, I had not read the RFC.
Sorry for the inconvenience

[2021-02-18 09:18] tux-tn commented on #1609
@benoitvidis no problem. I suggest you to open a Merge Request in kuzzle if you want to fix the issue on their side

[2021-02-18 09:18] #1609 closed

[2021-02-20 22:35] thedevelinmycode opened #1611 "[Improvement] Add maxLength configuration and default to isStrongPassword"
`isStrongPassword` should include a configuration option for `maxLength` of a password.

I believe this is a valuable improvement for `isStrongPassword` because one hits a point of diminishing returns in password strength as password length increases. It would also help preclude overflow attacks.

I'm willing to work on this.

[2021-02-23 13:24] Jacqbus commented on #1075
I'm not sure if it's an issue, but i can't use dot in display name, unless i put it into quote:

[code]
![image](https://user-images.githubusercontent.com/6490966/108849636-ae2a5280-75e2-11eb-93fe-44eb63dd01c3.png)

[2021-02-23 21:19] simonfan opened #1614 "isMACAddress support for macAddressWithDots might be incorrect"
**Describe the bug**
`isMACAddress(str)` might be using an incorrect RegExp for testing MAC address with dots. I might be wrong, have no experience at all using MAC addresses, was just browsing the code.

The [pull request ](https://github.com/validatorjs/validator.js/pull/1267) that introduced the support for MAC address with dots specifically intended to support `0102.0304.05ab`, but the RegExp

[2021-02-23 22:20] fedeci commented on #1614
You are right, and those regexes can be furthermore simplified. I am working on this!

[2021-02-24 08:12] tonamson opened #1615 "isCurrency error check decimal number"
[code]
**Additional context**
Validator.js version: ^6.9.2
Node.js version: v14.15.1
OS platform: macOS

[2021-02-24 08:14] tonamson commented on #1615
Ah i'm wrong sorry is not a bug

[2021-02-24 08:14] #1615 closed

[2021-02-26 13:57] #1610 closed

[2021-02-26 13:58] #1607 closed

[2021-02-26 16:09] #1614 closed

[2021-02-27 19:54] masoudDaliriyan opened #1618 "Add New validateAll util functions"
# ValidateAll()  function could take multiple validator and  exec with one value

### example:
[code]
https://github.com/validatorjs/validator.js/pull/1619#issue-581401064

[2021-02-28 15:41] parasg1999 commented on #1618
I would like to work on this if taken further.

[2021-02-28 15:50] fedeci commented on #1618
PR raised at #1619 :)

[2021-03-03 10:49] #1596 closed

[2021-03-03 10:49] #1599 closed

[2021-03-04 09:07] alucardu opened #1621 "isIBAN requires a string."
**Describe the bug**
isIBAN requires a string.

**Examples**
I'm using Vuelidate to validate form fields. I'm creating helper functions where I extend the `isIBAN` validator from ValidatorJS:

[code]
Without the ternary statement I receive this error:

[code]

Other validators like isDate don't have this issue.

**Additional context**
[code]

[2021-03-04 13:30] jhoalx opened #1622 "(isMobilePhone): es-CO locale, passing landlines as valid"
**Describe the bug**
the regex in [this](https://github.com/validatorjs/validator.js/commit/302d2957c924b515cb22f7e87b5e84fee8636d6e) commit is passing landlines as valid.
isn't the function isMobilePhone() intended to validate Mobile phones Only?

please refer to
Landlines: https://en.wikipedia.org/wiki/Telephone_numbers_in_Colombia#Landline_service
Mobile: https://en.wikipedia.org/wiki/Telephone

[2021-03-04 22:59] tux-tn commented on #1622
@jhoalx Can you check the raised PR and confirm that the new regex is fixing the problem? I didn't find many sources concerning Provider prefix, i followed the wikipedia article explanation.

[2021-03-04 23:51] jhoalx commented on #1622
Done: [here](https://github.com/validatorjs/validator.js/pull/1623#pullrequestreview-604672054)

[2021-03-08 12:57] tux-tn commented on #1572
Fixed in #1577

[2021-03-08 12:57] #1572 closed

[2021-03-08 12:58] tux-tn commented on #1576
Fixed in #1577

[2021-03-08 12:58] #1576 closed

[2021-03-10 17:57] mikeguta commented on #1596
Is this planned to be included in a specific release in the next few weeks?

[2021-03-12 05:44] profnandaa commented on #1596
Sure, we will be making a release before the end of this month.

[2021-03-12 09:47] #1622 closed

[2021-03-13 02:20] ericjackson0 opened #1626 "::2:3:4:5:6:7:8 is incorrectly marked as invalid IPv6 address"
**Describe the bug**
`::2:3:4:5:6:7:8` is marked as an invalid IPv6 address. It should be marked as valid.

**Examples**
Tested code at https://runkit.com/embed/2beeyq38q1ya

[code]

![image](https://user-images.githubusercontent.com/2589857/111015617-a696d780-835e-11eb-9484-e0b8595a4da4.png)

**Additional context**
Validator.js version: `13.5.2`
Node.js version: `15.11.0`
OS platform: Ubuntu

Som

[2021-03-14 12:35] profnandaa commented on #1591
I guess we can go ahead and close this one, right?

[2021-03-14 12:35] #1591 closed

[2021-03-14 13:33] Utsav-Sharma33 opened #1627 "minSymbol error"
Whenever I set minSymbol : 1 in options and I pass only 1 special character '@' in password field. I get validation error that strong password is required. But when I pass 2 special characters then it accepts the value.

`{
    "errors": {
        "password": {
            "name": "ValidatorError",
            "message": "Please provide a strong password!",
            "properties": {

[2021-03-14 13:59] fedeci commented on #1627
Hi @Utsav-Sharma33 this feature has not yet been released in the library, you have to wait for the next update to treat `@` as a valid symbol.

[2021-03-17 12:34] mhf-ir commented on #1601
for validate isCreaditCard seem refactor required. There many bank credit cards around the world that good validator.js cover importat ones.

### Witch one must be implemented?
* How to find out it's important? I think if each bank has English Wikiepdia would be point for Popular banks. [simple-icons approach](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-

[2021-03-18 16:02] tadejgolobic opened #1630 "Add isXRPAddress validator"
This is a feature request to add new validator that will validate string if it is valid XRP address.

**specification**
There are two types of XRP addresses:
- classic address
- xAddress

classic address is base58 string, that starts with small `r` and can be between 25 and 35 characters long
xAddress is "extension" of classic address, that also includes destinationTag and is different per network

[2021-03-25 18:23] HyperNovaVY commented on #1627
Why is this still a bug? Just need to add "@" to the `symbolRegex` variable in `/lib/isStrongPassword.js`

[2021-03-25 18:35] fedeci commented on #1627
@HyperNovaVY

[2021-03-25 18:36] HyperNovaVY commented on #1627
Bruh, there is a 3 months PR that fixed that and is still dead lol

[2021-03-25 18:44] tux-tn commented on #1627
@HyperNovaVY A new version is coming soon

[2021-03-26 06:57] heanzyzabala commented on #1621
I think it's working as expected. Your ternary operator checks if value is null before passing it to isIBAN that's probably why it's working fine. Can you post the code where it's not working?

[2021-03-30 09:36] CharlieLaver commented on #871
I know I’m a bit late but if this is still an issue the regex found here (https://github.com/sakatam/a-better-jp-phone-regex ) should correctly validate all of the Japanese phone number formats. I am happy to implement.

[2021-03-30 21:03] fedeci opened #1634 "Improve docs"
## Summary
As discussed at express-validator/express-validator#1009 a more schematic documentation would help third party libraries to autogenerate docs for methods.
## Detailed design
[code]

It would also help when reviewing PRs.

Happy to implement this if you think this is a good idea!
/cc @profnandaa @tux-tn @ezkemboi

[2021-04-01 05:23] profnandaa commented on #1634
Can give examples of the libraries that use this kind of _interface_? I'm not too conversant in the space...

[2021-04-01 05:40] fedeci commented on #1634
For example `eslint` uses a similar approach. ([for all rules](https://github.com/eslint/eslint/blob/cd2e584aa5a87c425177fb84a9cd6b05624fec43/lib/rules/array-bracket-spacing.js#L13-L53))

[2021-04-07 10:08] mikeguta commented on #1596
Hi @profnandaa, looks like the release schedule has moved up. Do you know when the next release (including this fix) is due?

[2021-04-10 13:00] imjul1an opened #1639 "Allow business only email address"
**Describe the bug**
Allow business only email address.

**Examples**
`example@fb.com` - `valid`
`example@gmail.com` - `invalid`

[2021-04-10 13:01] imjul1an commented on #1639
it's a feature request, not a bug.

[2021-04-10 13:29] fedeci commented on #1639
What would be the standard to distinguish between a "business email" and a "non-business" one?

[2021-04-10 13:43] imjul1an commented on #1639
@fedeci I would include most popular email domains into the ignore list.

[code]

[2021-04-10 15:12] fedeci commented on #1639
We may add an option to let the end user to exclude specific domains, but I would not add some default ones.

[2021-04-10 15:14] imjul1an commented on #1639
This sounds like a very good option. However, I'd also include a list of most popular domains, so that users can include the pre-default list of exclued domains.

[2021-04-10 15:17] imjul1an commented on #1639
You know, you are right! The option you mentioned would be more than enough.

[2021-04-10 19:59] fedeci commented on #1639
I am working on this.

[2021-04-12 13:21] jbuchmann-coosto opened #1643 "isURL() doesn't accept URLs with only a username in the userinfo subcomponent"
**Describe the bug**
A URL of the form http://user@example.com is rejected by `isURL()` even though it should be a valid URL according to [RFC 1738](https://tools.ietf.org/html/rfc1738) (section 3.1)
[code]

**Examples**
An example from the Node REPL:
[code]

**Additional context**
Validator.js version: 13.5.1
Node.js version: 12.20.0
OS platform: linux (Ubuntu 20.04)

**Pull Request**
I'll send a

[2021-04-15 07:08] sharunspi opened #1645 "Check weather a data is available in a given array"
### Feature request
`isInaArray()`
**Inputs :**
(array,item to find in array)
**input type:**
 (Array,item)
This function fill return true or false. This function will check weather the given item is available in the given array.
It is a kind of `filter` function
**Code**
[code]

[2021-04-16 07:27] profnandaa commented on #1598
Sorry for the late ACK, I should work on a fix for this, this weekend before our release. Thanks for raising!

[2021-04-16 07:29] profnandaa commented on #1597
Same here, thanks @yetingli -- working on a fix this weekend.

[2021-04-16 10:02] fasenderos opened #1646 "Add support for FQDN validation with wildcard"
Hi all, I need to validate FQDN with wildcard e.g.:   `*.example.com`
It would be grate to have an `allow_wildcard` option in `IsFQDN`. If you think it could be usefull I can make a PR for it.
Thanks

[2021-04-16 10:33] tux-tn commented on #1646
thank you for the suggestion @fasenderos feel free to open a PR and we will review it

[2021-04-16 13:46] tux-tn commented on #1645
There is already a javascript built-in Array method doing exactly what you need: [Array.every](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/every)

[2021-04-17 02:38] ezkemboi commented on #1639
If it more of business items, I did research and found out that https://hunter.io/email-verifier can offer a better validation.

[2021-04-17 03:57] sharunspi commented on #1645
`Array.find` will return the value if the value is found on the list of items in an array. will return `undefined` if the value didn't found.
We need to return` true` are` false`.

[2021-04-17 06:19] fedeci commented on #1645
`[].includes(item)` does the job. Alternatively you can use `Array.prototype.find` with double negation `!![].find(item)`.

[2021-04-17 07:18] fasenderos commented on #1646
I made this PR because in my `NestJS` project I'm using [class-validator](https://github.com/typestack/class-validator) that under the hood use validator.js. Once the PR will be mergede, to reach the goal we need to add type definition for the `allow_wildcard` option in [DefinetivelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/validator). I can made a PR also for tha

[2021-04-17 10:00] sharunspi commented on #1645
Thanks for the replay `!!Array.find(item=>item == elemnt)`

[2021-04-17 10:00] #1645 closed

[2021-04-17 13:39] #1626 closed

[2021-04-17 19:47] neilime commented on #1567
This PR should resolve this issue: https://github.com/validatorjs/validator.js/pull/1594

[2021-04-18 16:05] profnandaa commented on #1559
PR welcome!

[2021-04-18 16:06] profnandaa commented on #1531
I agree with @rubiin

[2021-04-18 16:06] #1531 closed

[2021-04-18 16:11] #1106 closed

[2021-04-18 16:12] profnandaa commented on #1570
PR welcome.

[2021-04-18 16:24] profnandaa commented on #1584
PR welcome. Thanks @katungi for investigating.

[2021-04-18 16:29] katungi commented on #1584
@profnandaa Can I give it a shot ?

[2021-04-18 16:33] profnandaa commented on #1608
Sure, sorry, we only restrict this library to strings.

[2021-04-18 16:33] #1608 closed

[2021-04-18 16:34] profnandaa commented on #1611
Sure, good catch, thanks!

[2021-04-18 16:42] profnandaa commented on #1075
@jakub-gawryl -- can open this as a new bug?

[2021-04-18 16:48] profnandaa commented on #1601
It this addressed by the PR yet? #1595

[2021-04-18 16:54] profnandaa commented on #1627
Today should be the day.

[2021-04-18 16:54] #1627 closed

[2021-04-18 16:55] #1621 closed

[2021-04-18 16:56] profnandaa commented on #1643
merged.

[2021-04-18 16:56] #1643 closed

[2021-04-18 17:00] mhf-ir commented on #1601
@profnandaa Nope, reference must be delete. need to be discuss.
What's you idea about this problem.

isLuhn required as base dependency.
Need added country/brand based prefix/suffix for Luhn algorithm for each credit card.

[2021-04-18 17:07] #1567 closed

[2021-04-18 17:08] #1557 closed

[2021-04-18 17:08] profnandaa commented on #1584
@katungi -- for sure, thanks!

[2021-04-18 17:12] profnandaa commented on #1601
I have a closer look at for the next release (after this month) then. Please send in your proposal.

[2021-04-18 17:38] mhf-ir commented on #1601
interface would be something like this:
[code]

[2021-04-19 05:22] jakub-gawryl opened #1649 "Using a period in the display name of an email causes the verification to fail"
**Describe the bug**
A period in the display name causes that function `isEmail` returns `false`, unless name is enclosed in quotation marks.
**HOWEVER**,  as [appendix A.1.2 to RFC2822](https://tools.ietf.org/html/rfc2822#appendix-A.1.2) states:
[code]
not sure if this should even be considered as a bug.

**Examples**
Live example available [here](https://playcode.io/758425/)
[code]

**Additional

[2021-04-19 05:24] jakub-gawryl commented on #1075
Sure - new issue is created here (#1649).

[2021-04-19 13:15] tux-tn commented on #1649
The appendix you quoted says clearly that display names with period need to be enclosed in double-quotes. I don't understand what is the issue here, am i missing something?

[2021-04-19 14:18] jakub-gawryl commented on #1649
@tux-tn no, nothing is missing. I was in the middle of something else then, and instead of creating an issue, I should write directly to @profnandaa  that there is no need to report it as a bug. Sorry for the confusion :)

[2021-04-19 14:18] #1649 closed

[2021-04-20 09:42] #1597 closed

[2021-04-20 09:43] profnandaa commented on #1598
fixed in #1651

[2021-04-20 12:50] stevehobbsdev opened #1652 "Email validation not working with 'require_tld' = true"
**Describe the bug**
I am using `isEmail` to validate email addresses with `require_tld` set as the default of `true`, and noticed an anomaly:

`example@example` correctly fails validation.

`example.example@example` passes validation.

Given that `require_tld` is true I would have expected the second example to fail, or am I mistaken?

**Additional context**
Validator.js version: 13.6.0
Node.js v

[2021-04-20 15:01] profnandaa commented on #1652
/cc. @tux-tn

[2021-04-20 18:02] tux-tn commented on #1652
Very strange behaviour, i can't even reproduce it with `validator@13.6.0` (as you can see in this [runKit](https://runkit.com/tux-tn/isemail-validator-13-6-0) )
@stevehobbsdev Can you share with us a code snippet with the issue?

[2021-04-21 12:06] jmacmahon opened #1653 "RFC 3339 validator accepts invalid strings"
**Describe the bug**
I was trying to validate RFC 3339 `full-time` type by appending it to an RFC 3339 `full-date` followed by `T`, to make an RFC 3339 `date-time`. In my tests I had previously been using full ISO strings for this field, and was surprised when the tests still passed.

https://tools.ietf.org/html/rfc3339#section-5.6

**Examples**
[code]

**Additional context**
Validator.js version:

[2021-04-21 12:10] jmacmahon commented on #1653
Trying to shrink this test case down, it seems that prepending any string to a valid RFC 3339 `full-date` will cause the validator to return true:
[code]

[2021-04-21 14:18] #1653 closed

[2021-04-22 21:26] Dunky13 commented on #683
4 years later, still a nice to have feature

[2021-04-23 12:21] stevehobbsdev commented on #1652
@tux-tn Odd - let me see if I can reproduce it will a small repro and get back to you, probably early next week.

[2021-04-25 08:25] guoquanwei opened #1655 "isMobilePhone supports china mobile numbers beginning with 162."
**Describe the bug**
   In Jilin, China, there are mobile phone numbers beginning with 162.
【isMobilePhone】'zh-CN': /^((\+|00)86)?1([358][0-9]|4[579]|**6[67]**|7[0135678]|9[189])[0-9]{8}$/;
 It should be 【 'zh-CN': /^((\+|00)86)?1([358][0-9]|4[579]|**6[267]**|7[0135678]|9[189])[0-9]{8}$/ 】.

[2021-04-25 12:40] rubiin commented on #1414
can be closed @profnandaa  in favor of pr https://github.com/validatorjs/validator.js/pull/1473

[2021-04-25 12:40] rubiin commented on #1415
can be closed @profnandaa  in favor of pr https://github.com/validatorjs/validator.js/pull/1473

[2021-04-25 13:21] tux-tn commented on #1655
Thank you for reporting this! PR welcome

[2021-04-25 13:24] tux-tn commented on #1414
closed in #1473

[2021-04-25 13:24] #1414 closed

[2021-04-25 13:24] tux-tn commented on #1415
Closed in #1473

[2021-04-25 13:24] #1415 closed

[2021-04-25 13:26] tux-tn commented on #654
Closed in #1449

[2021-04-25 13:26] #654 closed

[2021-04-25 13:33] tux-tn commented on #1410
Closed in #1473

[2021-04-25 13:33] #1410 closed

[2021-04-27 18:03] tanmayv commented on #1560
@profnandaa Is this a required feature, if yes, I would like to raise a PR for this. Thanks

[2021-04-27 18:15] tanmayv opened #1659 "Upstream dependency conflict on npm install"
**Describe the bug**
npm install is failing. One need to use `npm install --force` as a workaround

**Examples**
Stacktrace:
[code]
**Additional context**
Validator.js version: validator@13.6.0
Node.js version: v12.8.1
OS platform: [windows, linux, macOS, etc]
macOS

[2021-04-27 19:04] tanmayv commented on #1560
https://github.com/validatorjs/validator.js/pull/1660

[2021-04-27 19:48] fedeci commented on #1659
It may be caused by a broken `package-lock.json`. Have you tried to remove it and run `npm i`?

[2021-04-27 19:58] fedeci commented on #1560
@tanmayv that PR looks good, but doesn't solve the issue.
For example a mixed Russian and Italian string would not pass the validation :(

[2021-04-27 21:07] tanmayv commented on #1560
Ok I misunderstood the requirement. We need to combine the regex for all the locales. I will update it.

[2021-04-28 09:34] michael-ecb opened #1661 "isStrongPassword minSymbols option only check greater than but not also equal"
when we set a value  for example : **minSymbols: 2**
the password will be valid when we set exactly 2 symbols only from 3,
all others options works perfectly.

[2021-04-28 10:09] fedeci commented on #1661
The following test case runs without failing. I think you forgot to override `minLength` options.
[code]

[2021-04-28 10:18] michael-ecb commented on #1661
Sorry I send "!@#"  but "@" not interpreted as a symbol :/

[2021-04-28 10:53] #1661 closed

[2021-04-28 16:07] tux-tn commented on #1659
Probably an issue with your lock file as @fedeci mentioned. I tried a fresh install on master with the same node version you are using and it worked perfectly

[2021-04-28 19:06] tanmayv commented on #1659
Deleting package-lock.json and doing `npm i` fixed the issue. Closing it.

[2021-04-28 19:06] #1659 closed

[2021-04-30 19:55] mareugeniam opened #1662 "ReDos vulnerability in isEmail and isSlug"
After using Veracode tool to scan the code for vulnerabilities I still get the following ReDos vulnerabilities in place in the last version of validator lib.

Regular Expression Denial Of Service (ReDoS): validator is vulnerable to regular expression denial of service (ReDoS).

The vulnerability exists through the value passed into `isEmail` which gets evaluated by the regular expression in `split

[2021-05-01 09:41] tux-tn commented on #1662
Thank you for reporting this @mareugeniam . Is Veracode doing static code analysis or is the report based on data from their vulnerability database?
Synk Team acknowledged that Validator 13.6.0 fixed both ReDoS you are reporting ([here](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090602) and [here](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090599)) but Veracode is still reporting 13.6.0 as [vulnerable](

[2021-05-01 10:04] tux-tn commented on #1652
@stevehobbsdev any news?

[2021-05-01 13:35] mareugeniam commented on #1662
Hi @tux-tn, Vercadoe tool is running a static scan over our projects code and from there it lists all the vulnerabilities found for the different libraries used in the project.

After doing the scan it displays for each lib version how many vulnerabilities are in there and which versions are free of vulnerabilities.

I did a new scan using in my code validator@13.6.0 and it displays only 1 medium

[2021-05-01 18:33] mathcoll opened #1663 "toFloat is testing for a string first"
Hello,

I noticed the result of the "toFloat" behave differently as the native "parseFloat".
It seems the validator expect only to have a non String value as parameter.
So I'm expecting to get a valid float on the example bellow.

**Example**
let value = "1234\n";
console.log( validator.toFloat(value) ); // NaN
console.log( parseFloat(value) ); // 1234

**Additional context**
Validator.js version:

[2021-05-04 09:10] stevehobbsdev commented on #1652
@tux-tn I haven't had a chance to properly evaluate on our end yet, but it clearly works as intended from your runKit.

So at the moment it looks like it's an issue our end. Perhaps we could close this and I could come back to you if I find something more? Thanks for looking into it!

[2021-05-04 14:10] jasonlewicki opened #1666 "isEmail is not rejecting when exclamation mark (!) is included"
## Describe the bug

the isEmail() method is not validating properly when an exclamation point is included in the string.

## To Reproduce

`example.hello!@gmail.com`
`await body("email_address").isEmail().run(request);`

## Expected behavior

a thrown error is expected

## Current behavior

returns `true`

## Version
`^6.10.0`

[2021-05-04 14:28] fedeci commented on #1666
(`express-validator` syntax)

[2021-05-05 08:03] erana111 commented on #1655
Hi @tux-tn, I can create a PR for it :)

[2021-05-05 09:05] erana111 commented on #1655
@guoquanwei I can't recreate the bug, please give a valid and non-valid Chinese phone numbers for tests example

[2021-05-05 09:10] saharme commented on #1571
I added a PR with the change:
https://github.com/validatorjs/validator.js/pull/1667

[2021-05-05 12:38] drorheller commented on #1570
I'd be happy to oper this pr

[2021-05-06 10:27] s17-git commented on #796
I use this to allow white space:

`validator.matches(name,/^[a-zA-Z ]*$/)`

[2021-05-06 13:04] tobiaseisenschenk opened #1670 "False positives with German mobile phone numbers"
**Describe the bug**
Mobile phone numbers in Germany start with a `0` prefix such as 0157xxxxxxx. However the preceding `0` is dropped if the country code prefix `+49` is added. This is described [on this wikipedia page](https://de.wikipedia.org/wiki/Telefonvorwahl_(Deutschland)). Therefore [the related change made a while ago](https://github.com/validatorjs/validator.js/pull/933/files) is not res

[2021-05-07 17:00] varsubham commented on #1666
I think ! is a perfectly valid character in email.
In-fact these are bunch of valid characters according to w3resources
! # $ % & ' * + - / = ? ^ _ ` { | } ~

For more information you can check out here:
https://www.w3resource.com/javascript/form/email-validation.php

[2021-05-09 13:47] drorheller commented on #1570
Hey @profnandaa :)
I need a maintainer to approve my pr please

[2021-05-14 13:54] rubiin commented on #1271
This is great. We can do the typescript version. I think the time consuming part is on the creating types @profnandaa

[2021-05-14 14:21] fedeci commented on #1271
On [`express-validator`](https://github.com/express-validator/express-validator) we have some incomplete type definitions that may work well as a starting point.

[2021-05-14 14:46] rubiin commented on #1271
yeah that will help

[2021-05-15 11:03] mathcoll opened #1672 "extending isBoolean w/ "True""
Hello, what about extending the isBoolean function by allowing :
* "True"/"False" as valid boolean
* "yes"/"no" as valid boolean (can be discussed but could make sense)

https://github.com/validatorjs/validator.js/blob/d1a9b6d8c5bd7350d6a7303085f0269f6a99aa9b/src/lib/isBoolean.js#L5

[2021-05-15 14:03] fedeci commented on #1672
It does make sense only behind an option that should default to `false` IMHO.
Like `isBoolean(str, { loose: true })`.

[2021-05-18 20:00] cmdcarini opened #1673 "v13.6.1 is not published to NPM"
v13.6.1 contains some security improvements, and I would like to consume this new version but it is not published to the NPM Registry.

https://www.npmjs.com/package/validator

(Unless it just hasn't been fully released yet, but from what I can see the version is feature complete)

[2021-05-18 20:23] mjancarik opened #1674 "isURL return true for e-mail"
**Describe the bug**
Hi,

What is the correct behaviour for `isURL` function when I give e-mail address? I would expect that return false.

**Examples**
An example from the Node REPL:

[code]

**Additional context**
Validator.js version: 13.6.0
Node.js version: 14.16.0
OS platform: macOS

[2021-05-19 03:56] fedeci commented on #1673
It was published as `13.6.0` instead of `13.6.1`.

[2021-05-20 20:30] parkerleblanc01 commented on #1673
13.6.0 on NPM is recognized as having security issues thought to be resolved in 13.6.1 on CVE PRISMA-2021-0063. Should 13.6.1 be republished to resolve this issue?

[2021-05-21 12:58] tux-tn commented on #1673
There is no 13.6.1, the security issue you are talking about (ReDOS in regex) [has been fixed in 13.6.0](https://snyk.io/vuln/npm:validator)

[2021-05-24 17:21] profnandaa commented on #1673
Sorry for the confusion, this was a mistake on our end, 13.6.1 was published as 13.6.0; the ReDOS issue that was reported was fixed in that release as @tux-tn has pointed out. Let us know if there are any pending reports.
@parkerleblanc01 -- I couldn't find CVE PRISMA-2021-0063, where is this listed?

[2021-05-24 17:59] profnandaa commented on #1670
Thanks for raising. You are right, PR welcome!

[2021-05-24 23:45] brybrophy commented on #1674
I was going to submit a PR to fix this, but then I saw these tests... https://github.com/validatorjs/validator.js/blob/907bb07b8d6be7d159791645960eb5f5017a99b6/test/validators.js#L672-L688

It seems that you can set the `disallow_auth` option to `true` and it will fail validation on an email.

[2021-05-24 23:52] Burnett01 commented on #1670
Hey guys, I have submitted a PR #1675 for this issue, but the validation of german mobile phone numbers is still not correct.

I was wondering as to why a number such as `030556699884` is deemed a valid german mobile phone number.
The format of that number is only valid for landline phones and is subject to a state in Germany, Berlin.

According to [Wikipedia ](https://en.wikipedia.org/wiki/Teleph

[2021-05-25 03:57] brybrophy commented on #1672
I opened this PR to add the loose option to `isBoolean`. https://github.com/validatorjs/validator.js/pull/1676

[2021-05-26 20:53] ihmpavel commented on #683
@profnandaa @chriso

Do we still need to make imports/exports backwards-compatible? Does major version update (to `14.x`) will not be enough? I will make PR, if `import * as validator from 'validator'` and `import { isEmail, ... } from 'validator` will be accepted.

Or does anyone have any idea, how to accomplish this behavior? Tell me and I will make my best to create PR

[2021-05-27 18:50] darrell-roberts opened #1680 "Union pay cards with 81 range fails isCreditCard check"
**Describe the bug**
Using the 81* range UNION Pay card numbers does not pass isCreditCard check

**Examples**
Sample Test Cards: https://docs.adyen.com/development-resources/test-cards/test-card-numbers#china-unionpay

``validator.isCreditCard('8171999900000000021')``
false

The problem is the initial regex in https://github.com/validatorjs/validator.js/blob/master/src/lib/isCreditCard.js#L4

**A

[2021-05-31 14:46] getlarge opened #1681 "Failed to validate a valid url"
**Describe the bug**
`isUrl` is failing to validate urls using that format `${protocol}://:${password}@${hostname}:${port}`

Surprisingly with version 13.5.2 i don't encounter this issue, but it seems to happen with version 13.6.0, i noticed this after digging into [class-validator](https://github.com/typestack/class-validator) dependencies in package-lock.json

The failure is triggered by the sec

[2021-06-01 15:20] parkerleblanc01 commented on #1673
I can't find the CVE either but it is showing on my Blackduck scans. Is it possible to republish on NPM as 13.6.1?

[2021-06-01 20:04] fasenderos commented on #1681
The colon in the username isn't [RFC 1738](https://datatracker.ietf.org/doc/html/rfc1738) compliant
https://github.com/validatorjs/validator.js/commit/05ceb18cfda13c4c14f570edb08978eabd971457#diff-1ced9bbbf98fe2779af1d618687cec44dd27ac19c72c7cc6d85da8b67978ce90

[2021-06-01 20:19] getlarge commented on #1681
This assumption based on the RFC is not really obvious to me, like said [in this section](https://datatracker.ietf.org/doc/html/rfc1738#section-3.1), :
"...<URL:ftp://foo:@host.com/> has a user name of "foo" and an empty password."
And i did not see that the case where we have a password and an empty username like in the example of this issue is excluded.

Moreover, in [Node URL API](https://nodej

[2021-06-03 14:05] tux-tn commented on #1662
@mareugeniam i contacted Veracode, they aknowledged that 13.6.0 fixed the issue and updated their report concerning SID-29395 and SID-30061.
I guess you won't have the vulnerability listed if your run the same scan again

[2021-06-03 15:44] mareugeniam commented on #1662
That's great news!
And I can confirm for you that Veracode is giving validator 13.6.0 version as safe now.
![image](https://user-images.githubusercontent.com/31412836/120673154-5022cc00-c469-11eb-9881-38577dd24d19.png)

Thank you so much!

[2021-06-03 15:44] #1662 closed

[2021-06-11 16:45] mjancarik commented on #1674
Hi,

Thank you. I will try it. I would expect default behaviour with `disallow_auth` to `true`.

[2021-06-21 21:09] samuelcolburn commented on #1507
Just a head's up:
[https://unpkg.com/validator.js@latest/dist/validator.min.js](https://unpkg.com/validator.js@latest/dist/validator.min.js) does not point to this package.

I think you probably want:
[https://unpkg.com/validator@13.6.0/validator.min.js](https://unpkg.com/validator@13.6.0/validator.min.js)

[2021-06-22 14:21] Zyles opened #1683 "IsCurrency support for Intl.NumberFormat"
**Describe the bug**

Support https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat

I am unable to get this validator to work with Intl.NumberFormat. Am I missing some options?

**Examples**

[code]

[2021-06-23 07:07] salos1982 commented on #1432
I have the same issue.
`isUrl('http://localhost:9200/testFiles/assets/channels/1.jpg')` -> false

Code
[code]
prints 'not url'

[2021-06-25 12:25] h3llrais3r opened #1684 "isMobilePhone for Belgian phone numbers validates also non mobile phone numbers"
**Describe the bug**
The isMobilePhone() validator should only validate **mobile** phone numbers.
Currently it seems that it also validates the local/regional fixed phone numbers.
Reference: https://en.wikipedia.org/wiki/Telephone_numbers_in_Belgium

**Examples**
Valid ones:

- 0470123456'
- +32470123456'
- 32470123456

Invalid ones (but valid local/regional fixed phone numbers):

- 021234567'
- +

[2021-07-02 02:02] SpaceComet commented on #1683
Hi @Zyles,
When I run the next code into [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat)
[code]

It returns `"41,34 kr"`

maybe the order has something to do?

[2021-07-02 10:06] steavengong opened #1686 "isPassportNumber isnot exactlly"
**Describe the bug**
isPassportNumber isnot  exactlly  for countryCode with CN

**Examples**
1.My passport no is start with ED followed by 7-digits  it's error
you can change
(^[EeKkGgDdSsPpHh]\\d{8}$)|(^(([Ee][a-fA-F])|([DdSsPp][Ee])|([Kk][Jj])|([Mm][Aa])|(1[45]))\\d{7}$)

2.Is any code can be HK、TW  passport validator？？

**Additional context**
Validator.js version: 13.6.0
Node.js version: v14.16

[2021-07-02 11:07] Zyles commented on #1683
Okay... Maybe it formats differently depending on operating system locale?

[2021-07-03 00:46] SpaceComet opened #1687 "isAlphanumeric fails when all the characters in the string are the one to ignore."
**Describe the bug**
the function `isAlphanumeric ` fails when the string giving contains only characters that are `ignore`

**Examples**

The next code fails.
[code]

**Additional context**
Validator.js version: 13.6.0
OS platform: [windows, linux, macOS]

[2021-07-03 14:02] #1687 closed

[2021-07-05 07:20] fmagaldea opened #1690 "[New feature] Validate css classname"
**Describe the feature**
It could be interesting to add a new validator function in order to validate that a string is a valid classname, see https://www.w3.org/TR/CSS21/syndata.html#characters

So we could imagine a function like `isValidClassName` that would return a boolean.

**Examples**

[code]

[code]

**Additional context**
N/A

[2021-07-05 10:27] fedeci commented on #1690
I like the idea, but that spec link seems to be of CSS2.1.

[2021-07-05 17:27] rubiin commented on #1684
Would you like to create a PR?

[2021-07-05 17:31] rubiin commented on #1686
let me test it out

[2021-07-06 06:16] fmagaldea commented on #1690
That's damn true, my link is to css 2.1 but I can't find a w3c page describing the rules for class name in css3.

For now I just found some recent articles related, like this one: https://medium.com/front-end-weekly/css-selector-for-element-which-have-numbers-as-class-name-b6a089989199 explaining:
[code]

All I can say is that as of Chrome version 91 it's still failing while using some functions t

[2021-07-06 22:00] charlesomer opened #1691 "isURL false positive."
**Describe the bug**
`console.log(validator.isURL('FAQ.md', {require_valid_protocol: true}))`
Returns true when I believe it should be false?

**Additional context**
Validator.js version: 13.6.0
Node.js version: v16.4.1
OS platform: macOS

[2021-07-09 22:34] laulujan commented on #1655
Hello, I would like to give it a try, I'll submit a PR for this issue!!

[2021-07-11 07:55] anirudh-modi opened #1696 "[Bug] Unable to perform `npm i` when trying to contribute"
Hi @profnandaa @chriso I wanted to contribute to repo.. so I forked and cloned the repo, however, when I am doing an `npm i`... I am getting error while installing `weak` module

[code]

On further investigation I found, the error is coming when we are installing `rollup`, and the version which is used in the repo, is quite old, where they are using `weak` module, and there is already an issue pre

[2021-07-12 18:02] h3llrais3r commented on #1684
@rubiin Yes, can make a PR if you want.
But just to be sure: should `isMobilePhone()` only validate `mobile` phone numbers, or also `fixed` phone numbers?
Because in Belgium, both are used, and both have a different format.

[2021-07-13 08:31] fedeci commented on #1684
It should only validate mobile phone numbers.

[2021-07-16 06:48] profnandaa commented on #1684
Thanks for noting, sure, make a PR.

[2021-07-16 06:52] profnandaa commented on #1696
@anirudh-modi -- can do a PR to fix this? Thanks for noting!

[2021-07-16 07:21] rubiin commented on #1696
@profnandaa  i will do a quick fix asap

[2021-07-16 07:42] rubiin commented on #1696
https://github.com/validatorjs/validator.js/pull/1697 solved here. @profnandaa i would also like to update other deps as they are way old on next PR maybe?

[2021-07-16 11:42] profnandaa commented on #1691
PR welcome.

[2021-07-16 11:50] profnandaa commented on #1690
What would be the use-case for this feature?

[2021-07-16 12:09] #1670 closed

[2021-07-16 17:25] #1696 closed

[2021-07-16 17:26] #813 closed

[2021-07-16 17:28] profnandaa commented on #1683
@Zyles -- thanks for looking into this. If there's anything that needs to be done from our end, PR is welcome!

[2021-07-16 17:42] profnandaa commented on #1507
@Brutalbeard -- sure, looking forward to your PR.

[2021-07-16 17:55] profnandaa commented on #1673
@parkerleblanc01 -- sorry about this but we're doing another release this month.

[2021-07-16 18:21] profnandaa commented on #1663
I don't think this is meant to match with `parseFloat`, it is too forgiving, e.g:
[code]

[2021-07-17 06:00] anirudh-modi commented on #1691
@profnandaa I am picking this issue up.. but before that I need some clarification...

1. Why is this a bug?
    - Is it because the url is having `FAQ.md` where `.md` is perhaps invalid,
    - or is it because `require_valid_protocol:true` was passed and the protocol is missing?

    If this is a bug because the protocol is missing, then I believe the user must be sending `require_protocol: true`

[2021-07-19 13:02] Andrielle1 opened #1700 "Let's take any token and use the value of that token and send to any account,network and address. Value is all that matters."
Let's take any token and use the value of that token and send to any account,network and address. Value is all that matters.

__Originally posted by @Andrielle1 in https://github.com/Andrielle1/BSD-wallet/issues/3__

[2021-07-19 13:11] fedeci commented on #1700
🤔

[2021-07-19 13:23] Andrielle1 commented on #1700
If we send value($) why does the name matters(btc,erc20,fiat)🤷🏾‍♂️. Why can't I send my value to any coin,wallet or account?

[2021-07-20 14:34] metajunaid commented on #1559
Please review the PR, I have added validations for Maestro and Insta Payments Card
https://github.com/validatorjs/validator.js/pull/1701

[2021-07-20 17:47] profnandaa commented on #1700
I think this is off-topic, reopen with better description and validator in question.

[2021-07-20 17:47] #1700 closed

[2021-07-24 13:01] mylawacad opened #1702 "query sanitation is not happening or not mutating req.query object"
query sanitation is not happening or not mutating req.query object

[code]

console will output the same unsanitized value ie.e ```Hello world :>)              ```   with ```>``` and spaces kept

Validator.js version: 6.12.1
Express.js version: 5.0.0-alpha.8
Node.js version: v14.15.5
OS platform: windows

[2021-07-24 17:36] fedeci commented on #1702
Related to [express-validator](https://www.github.com/express-validator/express-validator), not to this repo.

[2021-07-26 10:04] jpaya17 opened #1703 "Add currency codes validator"
Hi there! Would you mind implement a validator for currency codes as described in [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html)?

Thanks,

[2021-07-28 05:56] saeedhemmati commented on #1261
It seems TS not implemented yet and still we need correctly type definition for better using of validator in ts projects

[2021-08-03 15:20] joellis13 commented on #938
Something to add - we were hoping to use this for name validation and ran into the same issues we see above. The white spaces and characters were less the issue, though, than punctuation (e.g. "O'Hara" or "Hyphenated-Lastname"). We thought of requesting an "`isAlphaDeluxe()`", where the dev could pass in an array of punctuation marks that will also be permitted. It didn't really amount to more tha

[2021-08-04 18:27] brybrophy commented on #1672
I believe this issue can be closed now that #1676 was merged.

[2021-08-05 14:19] tux-tn commented on #1672
Thank you @brybrophy

[2021-08-05 14:19] #1672 closed

[2021-08-09 14:14] chovanecadam opened #1704 "Missing argument in type definitions"
**Describe the bug**
Third argument of `isAlpha` method is missing in [type definitions package](https://www.npmjs.com/package/@types/validator). The third argument is described in [Readme file](https://github.com/validatorjs/validator.js/blob/master/README.md) as an object with ignore key. As a result of this no typescript project can use this feature.

**Description of the method is Readme:**

*

[2021-08-10 18:49] tux-tn commented on #1704
Hello @chovanecadam,

Thank you for reporting this issue but unfortunately we don't provide support to the `@types/validator` package. You will need to open a new PR/issue in the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) repo in order to add the missing argument.

[2021-08-10 18:53] tux-tn commented on #1703
Thank you for your suggestion @jpaya17
PRs are welcome!

[2021-08-10 18:54] tux-tn commented on #1702
Closed since it's not related to `validator`

[2021-08-10 18:54] #1702 closed

[2021-08-10 18:54] #1704 closed

[2021-08-12 08:09] jpaya17 commented on #1703
Thanks @tux-tn for your reply. I have implemented it and created a PR, hope it helps somebody else.

[2021-08-16 15:22] Dev1lDragon opened #1707 "In isTaxID add posibility to validate by ISO Alpha2/3"
Its more common to validate Tax ID by country code, because 1 country can have more than 1 language but iso alpha is unique.
Tax validation is unique by country, as i understood, that mean 1 country equal 1 validation type.

[2021-08-18 13:15] FuridamuFaita commented on #1262
What exactly did you do here ? whats the `{ default: validator }` ?

[2021-08-18 13:30] danielefiungo commented on #1262
1. in ES6 Modules the _default_ export form a commonjs prospective is inside the `module.export` object ` { default: ... , otherExports: ... }` .
2. destructuring a variable and renaming it `cons { a : newNameA } = { a : 'value' } `

`const {default: newNameOfDefault }  = { default: ... , otherExports: ... } `do the trick!

[2021-08-19 14:14] flymans opened #1709 "isDate(): Format 'DD.MM.YYYY' does not pass isValidFormat"
**Describe the bug**

I can't set DD.MM.YYYY format, because function isValidFormat returns false.
I can't go with workaround like `isDate("19.08.2021", { format: 'DD/MM/YYYY', delimiters: ["/", "."] });`  because it approves dates with "/" delimeter

**Examples**
`isDate("19/08/2021", { format: 'DD.MM.YYYY', delimiters: ["."], strictMode: true  });` returns false

**Additional context**
Validator

[2021-08-19 14:23] flymans commented on #1709
Is it possible to edit current function:
`function isValidFormat(format) {
  return /(^(y{4}|y{2})[\/-](m{1,2})[\/-](d{1,2})$)|(^(m{1,2})[\/-](d{1,2})[\/-]((y{4}|y{2})$))|(^(d{1,2})[\/-](m{1,2})[\/-]((y{4}|y{2})$))/gi.test(format);
}`

to this:
`function isValidFormat(format) {
  return /(^(y{4}|y{2})[.\/-](m{1,2})[.\/-](d{1,2})$)|(^(m{1,2})[.\/-](d{1,2})[.\/-]((y{4}|y{2})$))|(^(d{1,2})[.\/-](m{1,

[2021-08-20 08:04] Navaneethan2503 commented on #1703
i would like to work with this feature , can you assign to me

[2021-08-20 12:01] tux-tn commented on #1703
Thank you @jpaya17 i will take a look at it 👍

[2021-08-20 13:44] blackphoenix42 commented on #1709
I want to take on this issue. Can anyone assign it?

[2021-08-21 03:45] shreyassai123 commented on #1680
Hey! I'd like to take this issue

[2021-08-22 06:41] MiKr13 commented on #1068
Hi @profnandaa, @ezkemboi,
I've added a PR #1716 for the Hindi (`hi-IN`) language.

[2021-08-29 18:15] skylerknight opened #1717 "isAlpha function does not accept an options argument"
### isAlpha method doesn't accept options argument

The documentation states that the isAlpha function accepts a locale and an options argument with an ignore key, but the code does not reflect this.

**Examples**

<img width="572" alt="Screen Shot 2021-08-29 at 1 13 48 PM" src="https://user-images.githubusercontent.com/31410434/131261055-d132cca0-6175-4ff3-b18a-9075bcf56d6c.png">

<img width="730

[2021-08-30 07:51] fedeci commented on #1717
It does https://github.com/validatorjs/validator.js/blob/8c4b3b35c3bd36dc3983aadb045422847154451b/src/lib/isAlpha.js#L4, those are probably outdated type definitions.

[2021-08-30 11:39] skylerknight commented on #1717
That was indeed the case. Thank you for pointing that out.

It looks like the issue is with the @types/validator from the DefininitelyTyped/types/validator repo.

I will repost the issue there.

[2021-08-30 11:43] fedeci commented on #1717
I suspect that `@types/validator` is outdated in many parts. There was an issue about adding types directly here #1271

[2021-08-30 11:45] skylerknight commented on #1717
Great. Thank you.

[2021-08-30 11:45] #1717 closed

[2021-09-06 17:48] reslear opened #1720 "feat: venezuela phone number +58"
validator no validate [Venezuela](https://en.wikipedia.org/wiki/Venezuela) phone numbers

for example:

[code]

[2021-09-07 10:10] rahulshawdev commented on #1720
Can you explain it briefly, please???

[2021-09-07 10:14] reslear commented on #1720
https://github.com/validatorjs/validator.js/blob/8c4b3b35c3bd36dc3983aadb045422847154451b/src/lib/isMobilePhone.js#L4
no regexp for [VE](https://github.com/validatorjs/validator.js/issues/1720#:~:text=validator%20no%20validate-,Venezuela,-phone%20numbers) numbers like +58

[2021-09-07 10:53] rahulshawdev commented on #1720
What's the Venezuela code like for India is en-IN

[2021-09-07 16:23] ShubhamTheReactGeek opened #1722 "Incorrect validation for canada mobile number"
Regex is written in way that fourth digit of any USA & CA mobile number can't be 0-1. It must be from 2-9. I don't think that's correct.

**Example**
647-128-5650
Above number shown as invalid phone number

Please fix this.

[2021-09-10 12:20] KeithGillette commented on #683
@ihmpavel, is [this suggestion to add supported module formats to `package.json`](https://github.com/typestack/class-validator/issues/805#issuecomment-779731299) helpful?

[2021-09-15 04:43] #1722 closed

[2021-09-16 15:44] UMFsimke opened #1725 "Bug in isAlphanumeric"
When checking if string is alphanumeric with croatian and serbian letters different results are got, although they should be the same.

Example:
`validator.isAlphanumeric('Ðina', 'sr-RS@latin')` will return `false`, while `validator.isAlphanumeric('Đina', 'sr-RS@latin')` will return `true`. If you take a look into UTF-8 encoding difference is that the first letter `Ð` is `\xc3\x90` and second `Đ`

[2021-09-17 16:23] JamieSlome opened #1726 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-17 18:23] tux-tn commented on #1726
Thank you for raising the issue concerning missing `SECURITY.md` and for reporting a security issue . In the meantime, i will send you an email with adresses to which you can send the info concerning the security issue

[2021-09-18 15:55] lwintjen opened #1727 "de-LU regex for mobile phone validator is wrong"
**Describe the bug**
I'm trying to validate de-LU mobile phones but the validator is returning false for valid mobile phone numbers.

**Examples**
If applicable, add screenshots to help explain your problem.
Another validator validating successfully the number
![image](https://user-images.githubusercontent.com/43049559/133894718-fa28821d-37b3-4b7c-b887-63cd0f8a5d39.png)

Validator-js regex exp
![i

[2021-09-18 17:01] tux-tn commented on #1727
Thank you @lwintjen for the issue. PRs are welcome

[2021-09-19 09:51] alguerocode opened #1729 "how to add my assertNumber function in the test"
**Describe the bug**
### I have made my assertNumber function in `./src/utils/assertNumber.js`, so I want to add it to the test to pass codecov code test

**Additional context**
Validator.js 13.6.0 :
Node.js v16.5.0:
OS platform: [windows]

[2021-09-20 13:52] tux-tn commented on #1729
Thank you @alguerocode for asking, i answered your question in your PR.

[2021-09-20 13:52] #1729 closed

[2021-09-20 14:22] tux-tn commented on #1725
Hello @UMFsimke,
According to the sources i found, the correct code for [D with stroke](https://en.wikipedia.org/wiki/D_with_stroke) as used in the serbian and croatian alphabet is `U+0110` in UTF-8 code point or if you prefer `\xc4\x90` .
The other `Ð`  ( `U+00D0`or `\xc3\x90` ) called [Eth](https://en.wikipedia.org/wiki/Eth) is used in Scandinavia and old English and is not a valid serbian latin

[2021-09-20 14:29] tux-tn commented on #1720
@rahulshawdev do you want to create a PR for this? the correct Venezuela code should be `es-VE` and the list of valid mobile prefixes from venezuela can be found [here](https://en.wikipedia.org/wiki/Telephone_numbers_in_Venezuela#Mobile_telephone_area_codes)

[2021-09-20 15:54] maxgalbu opened #1731 "Allow localhost without adding require_tld:false"
**Describe the bug**
During development, I want to validate `localhost` as a correct URL, but to do so I need to add `require_tld:false`.
This forces me to make `require_tld` variable based on the environment, since I want to check for TLDs in production environment.

I think you should check the whitelist before checking if it's a IP or FQDN here:

https://github.com/validatorjs/validator.js/blob

[2021-09-22 07:04] tux-tn commented on #1709
@flymans sorry for the long delay🙏 I will review your PR today

[2021-09-23 03:37] rahuldahal opened #1736 "named import/export"
**Describe the bug**
Not exactly a bug but, a chance to enhance the import/export process.

**Examples**
Currently, the import looks like this:
[code]

**Proposed Feature**
[code]

[2021-09-24 12:48] IbrahimGerbiqi opened #1737 "@ character is not counted as a special character by isStrongPassword()"
**Describe the bug**
While trying to validate a passwords via a isStrongPassword() there was cases that it would return false, problem was due to **@** presence.

List of tested special symbols that worked:
!
'#'
$
%
^
&
*
(
)
,
.
;

**Examples**
**test@T12** or  **testT12@** or **@testT12** would fail due to @ presence.

Validator isStrongPassword testT12@ testT12@
validator.isStrongPassword(pass

[2021-09-24 16:44] islasjuanp commented on #1737
Hi @IbrahimGerbiqi . This issue was already fixed since version 13.6.0 😄

Version: https://github.com/validatorjs/validator.js/releases/tag/13.6.0
Commit: https://github.com/validatorjs/validator.js/commit/9b03daf281560ef34953d0912be1221a439adb1d

[2021-09-25 08:23] tux-tn commented on #1737
Hello,
As @islasjuanp told please upgrade to `validator@13.6.0`
Closing since it's not a bug

[2021-09-25 08:23] #1737 closed

[2021-09-25 08:47] tux-tn commented on #1731
Thank you for your suggestion @maxgalbu
I agree in the fact that whitelist parameter should take precedence over `isIP` and  `isFQDN` checks. Feel free to open a PR !

[2021-09-25 08:50] tux-tn commented on #1736
Hello @rahuldahal
Thank you for the suggestion. It has been already suggested and discussed here #683
Closing since duplicate

[2021-09-25 08:50] #1736 closed

[2021-09-26 16:05] #1709 closed

[2021-09-26 16:07] #1686 closed

[2021-09-26 16:08] #1680 closed

[2021-09-26 16:15] #1720 closed

[2021-09-27 23:44] hfournier opened #1739 "Improve automatic tree-shaking"
**Describe the bug**
When building an Angular project that uses [class-validator](https://github.com/typestack/class-validator), Angular generates a large number of warnings regarding CommonJS dependencies.

As you can see in the example below, I can simply import from `class-validator` without explicitly having to specify `class-validator/esm2015`.
[code]
The bundling will automatically use `\nod

[2021-09-30 16:16] sharechiwai commented on #1570
@drorheller, @profnandaa look like PR has been merged, do you think this task can be closed?

[2021-09-30 16:21] tux-tn commented on #1570
Closed in #1669
Thank you @sharechiwai for the reminder

[2021-09-30 16:21] #1570 closed

[2021-09-30 16:21] drorheller commented on #1570
I don't see why not

[2021-09-30 16:23] tux-tn commented on #1739
Thank you for your suggestion @hfournier

We are already discussing this in #683 , please use that issue if you have any addition concerning tree-shaking/es6 imports.

[2021-09-30 16:23] #1739 closed

[2021-10-01 03:29] ankitAtVauld opened #1740 "Incorrect Indian Mobile number matches with wrong locale and returns true"
**Describe the bug**
While testing the lib for Indian mobile numbers, passing incorrect mobile number without options, matches with Bangladesh regex and returns true.

**Examples**
mobile = "+91895713829";
isMobilePhone(mobile); // returns true

**Additional context**
Validator.js version: "^10.11.0"
Node.js version: 14
OS platform: macOS

[2021-10-01 07:46] parasg1999 commented on #1655
Looks like this has been resolved, it would be great if someone could close this :)

[2021-10-01 09:45] tux-tn commented on #1655
Closed in #1695
Thank you @parasg1999 for the reminder

[2021-10-01 09:45] #1655 closed

[2021-10-01 14:31] tux-tn opened #1742 "Hacktoberfest 2021"
Hello guys,

[Hacktoberfest 2021](https://hacktoberfest.digitalocean.com/) is here and we should probably participate to allow new people to contribute to the project and at the same time close some pending issues.

The scope of our participation can include existing feature requests, missing locales in many validators and the refactoring of stale PRs.

@profnandaa @ezkemboi what do you think ?

[2021-10-01 14:34] tux-tn commented on #1742
Tagging also @fedeci and @rubiin, your feedback will be valuable here

[2021-10-01 15:36] ezkemboi commented on #1742
I agree

On Fri, Oct 1, 2021, 5:34 PM Sarhan Aissi ***@***.***> wrote:

[2021-10-01 15:47] fedeci commented on #1742
I agree, it helps bringing more interest towards OSS.

[2021-10-01 16:09] rubiin commented on #1742
I think we can encourage new ideas, close stale PRs and discussions. As Hactoberfest will be the time when people will be most active, lets use as much as we can

[2021-10-01 17:28] theroncross opened #1743 "Should isURL host_whitelist ignore other requirements?"
**Describe the bug**
The `host_whitelist` option for `isURL` requires the input to pass all other requirements, which seems to defeat the purpose of a whitelist.

**Examples**
`Validator.isURL('localhost', { host_whitelist: ['localhost'] }) => false`

**Additional context**
Validator.js version: 13.6
Node.js version: 14.7.6
OS platform: linux

[2021-10-01 17:39] fedeci commented on #1743
Similar to #1731, I can address this one

[2021-10-01 18:06] theroncross commented on #1743
Sorry about that - didn't come up with a search for `host_whitelist`. Thanks all. Let me know if I can help.

[2021-10-01 18:30] theroncross commented on #1743
closing in favor of #1731

[2021-10-01 18:30] #1743 closed

[2021-10-01 20:29] e-edgren opened #1744 "Can't generate validator.min.js"
**Describe the bug**
I want to generate validator.min.js since that's the only method I have to go on. I haven't learned npm nor node.js (have only encountered tons of errors when trying to learn it + it is far too advanced for me when my brother have showed me how it works). But I installed both of them only to get the minified JavaScript file.

After I downloaded and extracted the files, I got s

[2021-10-01 21:19] tianz commented on #1727
@lwintjen Is your example surely a mobile number? According to https://en.wikipedia.org/wiki/Telephone_numbers_in_Luxembourg, phone numbers all start with 6x1

[2021-10-02 03:35] akkaraju-satvik commented on #1740
Hey @ankitAtVauld, i tried reproducing the bug with validator@10.11.0, with the example you have provided. It seems that you are providing just the mobile phone number, please try adding the locale parameter, i.e., 'en-IN' for India.

**With Locale**
![image](https://user-images.githubusercontent.com/70210599/135702330-0a565329-c5c2-491a-8ba1-2a1702ef84aa.png)

**Without Locale**
![image](https://

[2021-10-02 04:49] ezkemboi commented on #1742
I think we can go a head an add the appropriate labels for open PRs and existing issues

[2021-10-02 06:34] tux-tn commented on #1744
Than k you for reporting the issue @e-edgren
Actually the version of the bundle tool we are using `rollup` is deprecated and we are already working on fixing that. There was an attempt in #1698 but we have some issues with old nodejs versions.
To prevent the issue i suggest you use one of thoses alternatives:

- Use yarn instead of npm and run `yarn install` to install your dependencies, it won't

[2021-10-02 06:34] #1744 closed

[2021-10-02 06:54] tux-tn commented on #1740
@akkaraju-satvik Actually using `isMobilePhone` without a locale is a correct behaviour and will test the phone number with all available locales.
Actually the faulty regex has been changed in #1032 and added to `validator@11.0.0`, please update to a more recent version of the package to fix your issue.

[2021-10-02 06:54] #1740 closed

[2021-10-02 07:00] tux-tn commented on #1726
@ezkemboi removed the `hacktoberfest` label since the PR has already been merged and we are waiting for Anthony to make a new release in order to close this issue and make an advisory about the security issue @JamieSlome is talking about.

[2021-10-02 07:05] akkaraju-satvik commented on #1740
Thank you for the insight @tux-tn :)

[2021-10-02 08:59] rubiin commented on #1742
I will clean some stale PR(older than 6 months)

[2021-10-02 13:00] divikshrivastava commented on #1684
@profnandaa @ezkemboi Can I raise a PR for this issue, I have verified the given regex with some random Belgian numbers I could find online.

[2021-10-02 13:06] tux-tn commented on #1684
@divikshrivastava sure, go ahead!

[2021-10-02 13:52] divikshrivastava commented on #1684
Thanks! Added the PR @tux-tn
https://github.com/validatorjs/validator.js/pull/1746

[2021-10-02 17:23] deepanshu2506 commented on #1731
I'll work on this...

[2021-10-02 18:59] Prajwalrajbasnet commented on #1691
As, described by @anirudh-modi above `require_valid_protocol` is not to validate to verify the presence of a protocol. Which however can be achieved instead by using `require_protocol` option. By using both the options at once the expected behavior can be achieved:
[code]
If the bug is because of some different reason, please mention more in here. I would like to work on this if that's the case. E

[2021-10-02 19:51] #1639 closed

[2021-10-02 23:17] ItalyPaleAle commented on #964
I implemented #906.

Right now, `isJWT` just checks if the string is in the correct format, with 2 or 3 sequences of (URL-encoded) base64 sequences, separated by a dot. To further validate if the string is an actual JWT, we would need to decode the base64 sequences and then decode the JSON.

I want to point out that while implementing that is possible, it's a slippery slope, as then someone else w

[2021-10-03 03:04] raghavbk commented on #1674
@ezkemboi can i work on this issue

[2021-10-03 03:21] ezkemboi commented on #1674
@raghavbk if you have a PR, please do it and we will review it. Thanks.

[2021-10-03 07:56] MatteoPierro commented on #1584
Do you mind If I take care of this?

[2021-10-03 17:21] vlascik commented on #1271
You already have a near complete rewrite at https://github.com/fireflysemantics/validatorts/ . Merge it here, replace that weird angular build system with tsc to create ambient declarations, use babel to generate es5/es6 etc. packages, and that's it. You can see an example of that e.g. here https://github.com/microsoft/TypeScript-Babel-Starter, but I'm sure more examples exist.

Every other soluti

[2021-10-04 21:36] Redaloukil commented on #1666
Based on the link mentioned above ([](https://www.w3resource.com/javascript/form/email-validation.php)), the "!" is a valid character, you can test with the validator bellow based on REC-2822 :
[](https://www.w3resource.com/javascript/form/example-javascript-form-validation-email-REC-2822.html?text1=do%21%21%40gmail.com&submit=Submit#)

@ezkemboi can this issue be close

[2021-10-04 22:40] SoldierCorp commented on #1630
Hi!

Could you please assign it to me? I  want to contribute to your project.

[2021-10-04 23:39] tux-tn commented on #1630
@SoldierCorp Thank you for your interest but there is already an open PR about this #1631. We will probably wait a little more for the author to respond before closing it for inactivity.

[2021-10-05 05:17] #1731 closed

[2021-10-06 13:38] zeel-codder opened #1759 "SyntaxError: Cannot use import statement outside a module"
Hi, I clone and fork the project, and to test if everything is working fine or not I am running the below code with help of the tem.js file.

[code]

But, I am getting the below Error

[code]

I also set "type": "module" in the package.json.  but that requires the **.js** at the end of every import file. is there is another way to solve this error?

Thank you.

[2021-10-08 04:33] ezkemboi opened #1761 "Mobile Phone validations - For The First Time Contributors"
I would like to give this to the people who are new and would like to start contributing to validator.js.

The current version in `isMobilePhone validation`, we have less than 195 phone validations i.e

In the code https://github.com/validatorjs/validator.js/blob/master/src/lib/isMobilePhone.js, the validations exist from line 5 to line 119, which means we have probably 119 - 5 countries phone val

[2021-10-08 11:35] YASH3166 commented on #1684
Can I raise a PR for this issue?

[2021-10-08 14:42] tux-tn commented on #1684
Closing since PR raised #1746 and merged. Sorry @YASH3166 , feel free to pick another issue!

[2021-10-09 12:04] vinod-designer1 commented on #1353
Hi,
I want to work on this issue right now only validation is available for 8,13, 14 digit code we should add now for 11 digit code to satisfy all gtin validations and also i saw in this function getPositionWeightThroughLengthAndIndex we return weight it always 3 for odd and 1 for even irrespective of length but in that function for 8 and 14 digit code it's reversed. Here is the reference to this

[2021-10-09 12:15] neel-desh commented on #1761
Afghanistan is also missing, I belive

[2021-10-09 12:49] neel-desh commented on #1761
Yes, I did.

Btw, for new contributors, what i did was find list of the country code and their ISO codes, wrote simple program to filter non existing countries and wrote the code.

here are the resources :
https://www.att.com/support_media/images/pdf/Country_Code_List.pdf
https://countrycode.org/

@ezkemboi I'm not adding all the missing codes as, i would like other people to contribute, but after

[2021-10-09 12:53] ezkemboi commented on #1761
Sure thing.

On Sat, Oct 9, 2021, 3:49 PM Neel Deshmukh ***@***.***> wrote:

[2021-10-09 20:43] vibhuti019 commented on #1725
Is this issue still open? I would like to work on this

[2021-10-09 21:54] tux-tn commented on #1725
@vibhuti019 we need to define if it's a valid issue before

[2021-10-10 03:05] mgndolan commented on #1761
I didn't see Botswana on the list. Could I add this validation?

[2021-10-10 07:24] rootkit7628 commented on #1761
It seems like Madagascar in not on the list. Could I add this validation?

[2021-10-10 13:31] vyvu99 opened #1768 "matches() function not working correctly!?"
**Describe the bug**
I use matches() and below regex string to check strong password
myRegEx = `(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}/gm`

- send request:
With password = "Password@123". Result: match myRegEx

- send request again:
With password = "Password@123". Result: does not match myRegEx

**Examples**
My code: https://stackblitz.com/edit/node-mub3gz or https://replit.com/join/mcrsnwa

[2021-10-10 15:19] lakshayr003 commented on #1761
It seems like Bhutan is not on the list, should I add validation for this? @ezkemboi

[2021-10-10 15:41] ezkemboi commented on #1761
Yes @lakshayr003

[2021-10-10 16:13] 0kyn commented on #1759
Hi @zeel-codder, did you try to require the `index.js` file at the root of the repo ?

[code]

[2021-10-10 18:23] HackProAIT commented on #1761
It would we nice if we could write comment country name in front of each country code.

[2021-10-10 22:54] beckettnormington commented on #1761
I was just poking around and noticed that there wasn't an entry for Cameroon. Should I work on this?

[2021-10-11 02:34] ezkemboi commented on #1761
Good stuff @beckettnormington.
Thanks all for opening PRs, let's keep them coming.
I will spend this week reviewing them.

[2021-10-11 03:20] Madhavi96 commented on #1761
@ezkemboi  Hi!
I previously did a contribution to this project, by adding mobile phone number validation for Sri Lanka. I was inspired to participate in Hacktoberfest this time and reached out again.

Just noticed that the contribution I added to validate mobile numbers in Sri Lanka has been replaced by this:
`en-SL': /^(\+?232|0)\d{8}$/`

However, it does not validate mobile numbers in Sri Lanka

[2021-10-11 03:33] Madhavi96 commented on #1761
Thanks.  Let me know if you find anything on the requirement for the change. Until then I'll do the changes and raise a PR.

[2021-10-11 17:43] ezkemboi commented on #1761
No worries

On Mon, Oct 11, 2021, 7:30 PM Ishara Madhavi ***@***.***>
wrote:

[2021-10-12 15:47] atom19-i commented on #1761
It seems Croatia isn't on the list. could i work on that?

[2021-10-12 16:13] YoungPhoenix09 commented on #1761
I do not see Malaysia.  Opening a PR for that.

[2021-10-12 18:47] oscard0m opened #1782 "Update CI `node` versions used"
**Describe the bug**
- Drop support for EOL `node` versions: `v6`, `v6`, `v10`

**Examples**
Example PR failing because of this: https://github.com/validatorjs/validator.js/pull/1781

**Additional context**
https://nodejs.org/en/about/releases/

[2021-10-13 12:36] ezkemboi commented on #1761
Good stuff

[2021-10-13 23:13] #1782 closed, assigned to nobody

[2021-10-14 13:12] borm commented on #1761
some business customer in Estonia may want to use +3726xxxxx for their phone nr, but [validation](https://github.com/validatorjs/validator.js/blob/master/src/lib/isMobilePhone.js#L72) dont allow us to use it
[code]

[2021-10-14 16:25] Marcholio opened #1791 "Split test/validators.js file to separate sub files"
Hi, the main test file for validator.js is currently 11k+ lines long. What do you think, could/should it be split to multiple sub files by validator for example?

So the end result could be something like:
[code]

Would that improve the readibility of the test cases?

[2021-10-14 18:19] fedeci commented on #1768
Hey @vnvyvu, does it work if you mass a string instead of a regexp?
[code]

[2021-10-14 18:22] vnvyvu commented on #1768
yea, i tried and it worked!

[2021-10-15 22:12] fireflysemantics opened #1795 "alphanumeric is missing the locale fa-IR"
https://github.com/validatorjs/validator.js/blob/master/src/lib/alpha.js

Seems like `alphanumeric` is missing the regular expression for locale `fa-IR` ... or farsi ...

There is a test for it, but it won't run ...This is the test:

[code]

[2021-10-16 08:50] tux-tn commented on #1795
It's an alias of the regex for `fa` . It's assigned [here](https://github.com/validatorjs/validator.js/blob/13651ea2095c0966576fd7bf44505fb5501681de/src/lib/alpha.js#L104).
Closing since it's not a bug! Thank you.

[2021-10-16 08:50] #1795 closed

[2021-10-16 11:33] oscard0m commented on #1782
Thanks for the follow up on this @tux-tn

[2021-10-16 11:34] andreladocruz opened #1796 "[Improvement] [isEmail] add domain's mx record validation"
**Describe the bug**
The validation could be even better by adding domain's mx record validation.

Google DNS API can help:

GET https://dns.google/resolve?name={domain}&type=mx

If the "Answer" field is present, the domain has mx records.

This adds another great validation layer.

[2021-10-17 09:12] rohitnairtech commented on #1796
Pushed a fix for this improvement

[2021-10-17 09:43] tux-tn commented on #1796
Thank you for your suggestion @andreladocruz

To achieve that we need to make a http request and rely on an external API. The first is a maintenance problem, we will need to add an external dependency or a fetch polyfill for both node and browsers. The second is a security concern, not all people want to send requests to third-parties like google in their api and some countries like China don't ev

[2021-10-17 20:10] tux-tn commented on #1761
Someone already opened a PR for Salvador

[2021-10-18 05:10] pasagedev commented on #1761
Argentina is on the list

[2021-10-19 03:23] fireflysemantics opened #1802 "Invalid IPs test as valid?"
The `isIP` test data has this invalid set:

[code]

Some of these values look valid and when run through the `isIP` validation test as valid.

Thoughts?

This is a Stackblitz logging the results of running `isIP` against the values:
https://stackblitz.com/edit/js-fransd

[2021-10-19 06:21] reinhart1010 opened #1803 "Add support to validate EMVCo's payment QR code payloads?"
Hello, I'm a maintainer of a small project on CodePen namely [Info QRIS](https://codepen.io/Reinhart_Previano/pen/jOELgWR), and our goal is to analyze the payloads of Indonesian-made payment barcodes and QR Codes, from legacy to new formats such as [QRIS](https://aspi-indonesia.or.id/qris/).

I noticed that QRIS is entirely based from [EMVCo's specification for payment QR Codes](https://www.emvco.

[2021-10-19 09:42] Chormon opened #1806 "Invalid country code for Poland"
Code for Poland should be `PL` instead of `PO`:

https://github.com/validatorjs/validator.js/blob/13651ea2095c0966576fd7bf44505fb5501681de/src/lib/isPassportNumber.js#L50

[2021-10-19 09:44] Chormon opened #1807 "Invalid Russian passport number regex"
International Russian passport contains 9 digits, not 10:
https://github.com/validatorjs/validator.js/blob/13651ea2095c0966576fd7bf44505fb5501681de/src/lib/isPassportNumber.js#L53

[2021-10-19 13:49] Tharunkumar001 commented on #1807
can you assign this issue for me?

[2021-10-19 20:53] tux-tn commented on #1761
You can add any locale as long as it doesn't already exist and there is no open PR for it or someone that requested to add it before you!

[2021-10-20 08:54] fkashrafi commented on #1807
Hey, can you assign me this task?

[2021-10-22 04:20] fncolon opened #1816 "Add `requiredIf('column')` to require the validation if the 'column' exist."
How to make the validation optional dynamically?
I was expecting it just like https://laravel.com/docs/8.x/validation#rule-required-if laravel required_if rule.

[2021-10-22 17:16] fireflysemantics opened #1818 "All the isMimeType valid test strings are failing"
Here's a stackblitz.  I'm running the test on the valid strings:

https://stackblitz.com/edit/js-znxt9k

[2021-10-25 07:08] hadeeb opened #1827 "Incorrect results in unescape"
**Describe the bug**
`unescape` function produce incorrect result when the intermediate string generated includes an escape sequence.

**Examples**
[code]
Demo: [Stackblitz](https://stackblitz.com/edit/node-vgkstv?file=index.js)

**Additional context**
Validator.js version: 13.6.0
Node.js version: 14.16.0
OS platform: linux, macOS

**Suggested solution**
`&amp; -> &` transform should be the last t

[2021-10-25 09:42] fncolon opened #1828 "add `isAlphanumericWithSpace` and `isAlphaWithSpace`"
Using custom regex is painful when you can wrap it as function #305

How about adding `isAlphanumericWithSpace` and `isAlphaWithSpace`?

[2021-10-26 06:05] fzn0x opened #1830 "add `isLat` and `isLong`"
Sometimes we want to check lat or long only.

[2021-10-27 06:30] Jassi10000-zz opened #1832 "Request to add a github action"
As I see the repo is quite engaging alongside the community and its hacktoberfest time so a lot of contributors ( mostly students ) who look for <code>good-first-issue</code>
and thus I think there should be a github action to welcome those first time contributors , on their PRs and Issues

I want to add the following to the repo
@chriso can you please assign me this ?

[2021-10-30 05:56] #1646 closed

[2021-10-30 06:52] #1087 closed

[2021-10-30 06:55] #1806 closed

[2021-10-30 09:34] #1827 closed

[2021-10-30 09:54] #1507 closed

[2021-10-30 09:57] #1807 closed

[2021-10-30 23:02] tux-tn commented on #1681
Thank you @MiguelSavignano, @Jassi10000 and @getlarge for your efforts 🙏
Closing the issue since the PR has been merged!

[2021-10-30 23:02] #1681 closed

[2021-10-31 08:40] fireflysemantics commented on #1818
My bad - You are right.

[2021-10-31 08:40] #1818 closed

[2021-11-01 19:38] #1802 closed

[2021-11-01 20:47] tux-tn commented on #1761
Many thanks to all the people that participated as part of Hacktoberfest. We had 28 Pull requests merged 🎉 !

[2021-11-02 07:15] tux-tn commented on #1703
Closed in #1706

[2021-11-02 07:15] #1703 closed

[2021-11-02 07:16] tux-tn commented on #1742
Closing since Hacktoberfest has ended! Thank you 🎉

[2021-11-02 07:16] #1742 closed

[2021-11-02 07:22] profnandaa commented on #1832
Sorry for the felay. I like this idea too, please proceed! 👍

[2021-11-02 07:25] profnandaa commented on #1828
sure, the `ignore` option currently handles this.

[2021-11-02 07:44] Jassi10000 commented on #1832
Sure , thanks
Do I need to get assigned for this ?

[2021-11-02 08:48] tux-tn commented on #1832
You can go ahead and open a PR. Thank you !

[2021-11-02 20:52] clytras commented on #1707
I also find it strange that TINs are validated using locales.
All Tax IDs should be validated using country ISO codes (alpha-2 or alpha 3) not locales.

[2021-11-03 23:49] sunwukonga opened #1857 "Modify isBase32 for option to use Crockford Base32"
Seeking willingness to incorporate a PR based on the following:

[Crockford Base32](https://www.crockford.com/base32.html)

Add option `crockford: bool` to `isBase32`

`isBase32(str [, options])` where `options` is `{crockford: false}` by default.

Usage: `isBase32("CD89FGE", {crockford: true})`

Example implementation:
[code]

[2021-11-04 15:49] #1828 closed

[2021-11-04 15:50] #1816 closed

[2021-11-04 15:50] fncolon commented on #1830
Go on 😺

[2021-11-05 11:55] CuteFatBaby opened #1858 "I can't return password score"
Sorry for my bad English. When i use returnScore option in isStrongPassword, NodeJS gives error. Can you fix it, please...

[2021-11-07 10:30] pasagedev commented on #1858
Hi, can you tell me which is the error you are getting from?

[2021-11-08 02:46] CuteFatBaby commented on #1858
![image](https://user-images.githubusercontent.com/93771162/140676249-95ee9448-b766-435a-8653-349af452eeff.png)
here
![image](https://user-images.githubusercontent.com/93771162/140676306-58c8c4d4-e9b9-4dfa-a246-0192da319bcd.png)
my code

[2021-11-08 10:54] fedeci commented on #1858
That error occurs because the response status has not been set.
The correct way to send score back to the client is
[code]

[2021-11-08 12:01] pasagedev commented on #1858
It's like @fedeci did comment. There error is not with functionality of validator

[2021-11-08 12:22] tux-tn commented on #1858
Closing since the issue is not related to `validator`. Thank you @fedeci for the help

[2021-11-08 12:22] #1858 closed

[2021-11-08 13:47] fedeci commented on #1634
Pinging this, I have just analyzed  an algolia report of express-validator website where most of the searches with no result are related with the docs of this repo.

[2021-11-08 20:25] tux-tn commented on #1634
Totally agree with the idea @fedeci !

I'm wondering if there is a standard or a definition for the schema design you are suggesting?

[2021-11-08 20:57] fedeci commented on #1634
I am not aware of any standard, it would be cool to create one🔥

[2021-11-08 22:11] tux-tn commented on #1634
@fedeci Can using `JSDoc` annotations be an option?

I guess the idea is to have a solution that is:
- Easy to implement and maintain
- Straightforward for contributors
- Can be used by other libraries based on validator like `express-validator`
- Can be used automating documentation generation

[2021-11-09 06:36] fedeci commented on #1634
Yes, JSdoc could be used but if I am not wrong is really limited. However with it we could for sure automate doc generation with a pre-commit hook

[2021-11-09 12:20] caleberi commented on #1857
@sunwukonga  could you please assign this issue  to me .

[2021-11-09 12:35] sunwukonga commented on #1857
I don't have write access to this repository. You'll need one of the members to do that for you.

CC: @tux-tn @ezkemboi @profnandaa

[2021-11-09 15:29] caleberi commented on #1857
Okay

[2021-11-09 17:52] kaiyoma opened #1862 "13.7.0 allows invalid URLs that are missing the port number"
**Describe the bug**
In 13.6.0, the string `http://foo.com:` would cause `isURL` to fail, which seems correct to me, since the port number is missing. However, in 13.7.0, this string passes validation. This seems wrong.

**Examples**
`isURL('http://foo.com:')`

**Additional context**
Validator.js version: 13.7.0
Node.js version: 14.15.0
OS platform: Windows 10, Linux

[2021-11-10 08:24] fncolon opened #1864 "Allow (value, {req}) in `isAfter` and `isBefore`"
Sometimes we want to check date with other date fields, is it nice to have optional `(value, {req})` in `isAfter` and `isBefore` instead of date string?

[2021-11-10 09:16] #1864 closed

[2021-11-10 09:16] fncolon commented on #1864
nevermind it's not express-validator :)

[2021-11-10 10:34] tux-tn commented on #1862
Probably introduced in #1833

[2021-11-10 10:35] tux-tn commented on #1857
Hello and thank you for the suggestion,
@caleberi  There is no such thing as assigning an issue to someone here. If you think you can add the feature, feel free to open a PR!

[2021-11-10 10:37] tux-tn commented on #1634
@fedeci how will the format you suggested work with your library? Docusaurus can handle that schema design or will you work on a custom adapter?

[2021-11-10 11:35] pavolmarc commented on #1761
Hello, I would like to add Burundi validation.

[2021-11-10 18:36] LucasFab commented on #871
Hi, I'm a student in 4th year looking to start working on open-source projects, can I contribute by working on this issue ?

[2021-11-10 18:36] LucasFab commented on #1761
Hi, I'm a student in 4th year looking to start working on open-source projects, can I contribute by working on this issue, if there is any phone number that would need to be added ?

[2021-11-10 21:03] fedeci commented on #1634
Docusaurus can't handle that schema design, but since it is json it would be really easy to generate docs. I've been working with tsdoc parser in the last couple weeks and it's a nightmare compared to json for these kind of things.

[2021-11-11 06:53] summertanh opened #1866 "Version 13.6.0 and 13.7.0 are not compatible"
**Describe the bug**
validator.isURL is not compatible when upgrading from 13.6.0 to 13.7.0

**Examples**
const validator = require('validator');
const url = 'http:/some.example.com';
const a = validator.isURL(url.toString(), {
  protocols: ['http', 'https'],
  require_tld: false
});
console.log(a);
// v13.6.0  a is false
// v13.7.0 a is true

[2021-11-11 11:03] WikiRik commented on #1866
Like #1862 this is probably introduced in #1833

[2021-11-12 22:13] tux-tn commented on #1862
After some research, actually this has been introduced in #1751, You can follow the discussion there to understand the reasons of the change (And no it's not a bug)
Thank you

[2021-11-12 22:15] tux-tn commented on #1866
Actually, this is not a regression, according to [RFC 2396](https://datatracker.ietf.org/doc/html/rfc2396#appendix-G.3) this a valid URL. Please check the discussion in #1751 for more information.

[2021-11-12 22:20] tux-tn commented on #1761
@LucasFab Welcome ! Feel free to choose any locale that doesn't already exist (you check the existing list in the readme file) or that don't have any open PR

[2021-11-17 03:33] NithishG opened #1870 "Although `toString` method is exposed from the library, it's not referring the actual implementation."
- Either we need to import the `toString` from `lib/util/toString` so that the exported method will refer to the actual implementation.
- Or we need to remove `toString` export from the lib altogether.

The reason behind is as `toString` is exposed, so when we call `validator.toString("test")` it's resulting `[object Object]`.

[2021-11-17 11:04] pavolmarc commented on #1761
@tux-tn Hello I opened a pull request ready to review - #1872

[2021-11-18 11:50] boonya commented on #1266
I realised that you use a combination of [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) + [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) to identify locale. And I think it's weird because in the majority of validators you do not need to identify language + country. Country is pretty enough imo. So, yes, it would be good to use just a `country code` instead of `languag

[2021-11-19 19:58] WikiRik opened #1874 "[Refactor proposal] Move optional parameters to options object"
Currently, there are different ways to define optional parameters.
Many take one options object for these, but some have special string parameters like isIP, which has version. Other combine the two like isAlpha, which takes both a locale string and an options object. This is confusing and not consistent throughout the library.

I propose to unify this so that all optional parameters are put in an

[2021-11-24 14:57] jagadeesh93 opened #1875 "isURL is not working as in the version 13.6.0"
**Description**
isURL is not validating some urls which is actually validating in the version 13.6.0

**Examples**
https://www.facebook.com/pages/ABC Bank/455454545454545/
This URL was giving true in version 13.6.0 but in the latest one it is giving false

[2021-11-24 23:22] WikiRik commented on #1875
Probably not a bug, as per #1862 and #1866. Introduced in #1751
Please check [RFC 2396](https://datatracker.ietf.org/doc/html/rfc2396) to see if it should be a valid URL or not.

[2021-11-25 11:26] jagadeesh93 commented on #1875
@WikiRik Thank you sir , But I have a bunch of facebook urls which has similar of these structure , So how can we ensure a backward compatibility

[2021-11-25 11:49] WikiRik commented on #1875
Ah, I read your message wrong. It was true before but false now. The other issues have been the way around. Then this might be a separate issue.
Have you tried https://www.facebook.com/pages/ABC%20Bank/455454545454545/ in 13.7.0?

[2021-11-27 22:46] U-4-E-A opened #1876 "Can we have a containsEmail() and containsURL()?"
Use case - you don't want passwords to contain emails or websites (too guessable). Would like to interrogate the string to see if it _contains_ than that just _is_. Thanks.

[2021-11-28 04:43] dawsbot opened #1877 "`isEmail` false negative"
**Describe the bug**
The `isEmail` function returns `false` when it should return `true` for "`diego.co.astro@outlook.com`". This is an example email address *very similar* to one of a customer on my website earni.fi. The exact letters have been changed for privacy reasons.

**Examples**
[code]

**Additional context**
Validator.js version: `validator@13.6.0`
Node.js version: `v14.18.1`
OS platform

[2021-11-30 15:29] chrystalme commented on #1288
Hello guys, I would like to help including Nigeria and Lebanon to the list of isPassportNumber.

[2021-12-04 04:24] kuldp18 commented on #1761
@tux-tn Hello, I have added one country in the list, please review #1880. Thanks.

[2021-12-04 17:07] tux-tn commented on #1877
Hello @dawsbot,
I tried with the same validator version and validator but i can't reproduce your issue.
You can see the code example in this [replit](https://replit.com/@tuxtn/InfatuatedDaringFlatassembler)

[2021-12-05 22:21] irlanvi opened #1881 "isUrl return true when i enter an email"
**Describe the bug**
I try to validate an url and enter some random email, but I've got true as the result which in reality must be false, (I don't really know, maybe some rules has been changed), but i need an explanation about this.

**Examples**
`const validator = require("validator");

console.log(validator.isURL("irlan@gmail.com"));
// This return true`

**Additional context**
Validator.js ve

[2021-12-05 22:33] tux-tn commented on #1881
Thank you for your report,

It's considered valid per-spec since `irlan` here can be considered an username in http auth. Please check the discussion in #1751 . You can pass `disallow_auth: true` to get the old behaviour.

[2021-12-06 16:45] #1877 closed

[2021-12-12 07:37] heanzyzabala commented on #1876
You can easily use:
[code]
before doing anything with the password.

[2021-12-12 11:51] U-4-E-A commented on #1876
This checks if the string **is** an email or url, rather than checking to see if the string **contains** an email or url.

[code]

[2021-12-13 07:40] nihal-oslash opened #1883 "ISO8601 - UTC time offset"
**Describe the bug**
According to [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Time_offsets_from_UTC), the time offsets are from UTC.
[UTC offsets](https://en.wikipedia.org/wiki/UTC_offset) can range from -12:00 to +14:00

Based on the spec, the validator `isISO8601` should return false for any timezone offset beyond that range. However, the validator is returning `true` for these values.

**E

[2021-12-13 10:35] gbcreation commented on #1870
Please, expose its implementation.

[2021-12-16 22:56] ejgonzalez17 commented on #1883
Hi, I will like to work in this Issue .

[2021-12-17 06:05] sarazm2000 commented on #1761
@tux-tn Hello, I have added Iceland phone validation.

[2021-12-22 04:09] royalpinto opened #1889 "Can we have a isEmoji validator ?"
**Describe the bug**
Would be nice to have isEmoji validator.

[2021-12-23 07:53] erfiboy commented on #1889
I have submitted a pull request and added this issue. here is the pull request #1890.

[2021-12-28 13:26] mojahidmd92 commented on #1759
**If u are using js file with modules in HTML file then use** :
`<script type="module" src="index.js"></script>`
and If U are using Js file with modules and work with console or any framework or etc. then U should create a **package.json** file in your folder with **"type":"module"** using **npm init -y** command

[2022-01-14 17:05] sanchit36 commented on #912
Hey, i am looking for my first contribution in open source. Can anyone guide me with this issue i would i like to work on it

[2022-01-14 17:24] WikiRik commented on #912
#1084 solved this issue already, but the choice was made by the maintainers to reject that approach in search for a larger refactor of isCurrency which would limit the amount of options that is possible.
One option that would involve this thousands separator is to merge the allow_ and require_ options so it's not a Boolean but allows a few options. My idea would be something like; required, allowe

[2022-01-19 08:53] Bhuvnesh875 commented on #1761
hello, i would like to add validation for Lesotho!

[2022-01-19 17:23] teyddie22 commented on #1761
hello, i don't see the validation for Trinidad and Tobago. May i add it?

[2022-01-19 17:25] ezkemboi commented on #1761
Please add in separate PRs I case.

On Wed, Jan 19, 2022, 8:24 PM Teddy Yongo ***@***.***> wrote:

[2022-01-20 14:49] ajGingrich commented on #1761
PR for adding Nicaragua https://github.com/validatorjs/validator.js/pull/1909

[2022-01-23 06:23] Mustafiz04 commented on #1761
Hello, I still don't see validations for multiple countries.
Can I work on it and add all of those ????

[2022-01-23 06:24] ezkemboi commented on #1761
Yes please @Mustafiz04

[2022-01-24 17:03] DumDumich opened #1911 "Kyrgyzstan phone numbers are missing"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `validator@13.7.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-01-24 20:52] WikiRik commented on #1911
Feel free to make a PR for this, including some tests

[2022-01-25 03:32] TomScavo opened #1912 "isEmail add host_whitelist option"

[2022-01-25 15:46] mhf-ir commented on #1601
@profnandaa any update on this?

[2022-01-25 22:36] WikiRik commented on #1912
Can you elaborate on this?

[2022-01-26 01:57] TomScavo commented on #1912
In some scenarios, we only allow users to enter a company email address, such as foo@company.com

[2022-01-26 12:30] kind-eh opened #1915 "I think it's time to add Moldova to your validator"
Moldova forward!

[2022-01-26 12:36] braaar commented on #1915
Could you be a little more specific? Which validators are you talking about? `IsPhoneNumber`? Others?

[2022-01-26 19:39] WikiRik commented on #1912
Ah yes, this was already discussed in https://github.com/validatorjs/validator.js/pull/1641
If somebody could make a PR to update host_blacklist and host_whitelist of isEmail to be more like the options for isURL that would be nice

[2022-01-27 06:40] TomScavo commented on #1912
I'd like to make a PR for this :)

[2022-01-27 09:24] WikiRik commented on #1912
Amazing, go ahead!

[2022-01-27 10:22] kind-eh commented on #1915
Phone number and other details

[2022-01-27 12:25] braaar commented on #1915
One step at a time, I say. PhoneNumber seems like a good place to start. Would you like to take a stab at adding the phone number validation regex?

[2022-01-27 14:21] Chetan-B-B commented on #1876
@U-4-E-A I got an idea can u assign me to this issue?

[2022-01-27 14:40] WikiRik commented on #1876
@Chetan-B-B there are already two PRs for this, maybe you could review those and see if your idea aligns?

[2022-02-04 09:29] kle-pra opened #1923 "isFQDN: allow numbers everywhere"
Hello,

according to FQDN specs ("Only letters, numbers, or dashes can be used."), numbers can be  a part of FQDN, not only in TLD (which we can now allow with` allow_numeric_tld:  true`).

Maybe there should be a more general option, `alow_numeric`.

[2022-02-04 09:42] sysmat commented on #1923
Example: `abc.efg.g1h.` will always fail, current `options` don't provide this use case, but is valid

[2022-02-07 16:38] DoneDeal0 opened #1928 "How to allow url without www?"
Hello,

How to allow url without www? For exemple, `https://twitter.com/foo` is a valid url. But `isURL` will consider it `false`. I've read the props allowed in the `options` parameter, but it seems none of them can handle this edgecase.

Thanks for your help!

[2022-02-07 16:46] WikiRik commented on #1928
Which version are you using? And does this occur with http://twitter.com/foo as well? Since we use http://foobar.com/?foo=bar#baz=qux'​ as one of the test cases and that should be comparable

[2022-02-08 10:45] DoneDeal0 commented on #1928
My bad gentlemen, it seems I've made a mistake.

[2022-02-08 10:45] #1928 closed

[2022-02-10 06:44] hkush8289 opened #1930 "isStrongpassword customized?"
Is there any option to customize the validator.isStrongpassword?
I don't want the uppercase validation for my project..
Thanks!

[2022-02-11 15:39] mik7up opened #1931 "Need to add validation for ro-MD"
Need to add validation for Moldova republic of mobile phone numbers.
https://github.com/validatorjs/validator.js/edit/master/src/lib/isMobilePhone.js

`'ro-MD': /^(\+?373|0)((6(0|1|2|6|7|8|9))|(7(7|8|9)))\d{6}$/`

https://www.localeplanet.com/icu/ro-MD/index.html

60 xxxxxx — Orange
61 xxxxxx — Orange
62 xxxxxx — Orange
66 xxxxxx — Unité
67 xxxxxx — Unité
68 xxxxxx — Orange
69 xxxxxx — Orange
78 x

[2022-02-12 19:59] renanmontebelo commented on #1866
I agree this is not a regression, so I believe this issue could be closed.

BTW I find the Wikipedia entry for URL syntax very precise and clear to check for these edge cases: https://en.wikipedia.org/wiki/URL#Syntax

[2022-02-14 07:37] MrNaughtZero opened #1933 "isURL validation passes when it should fail for http://www and https://www."
**Describe the bug**
If you're trying to validate a URL with protocol, and the protocol is https://www. or http://www. , and the validation should fail, it doesn't.

**Examples**
https://www.test : This should fail, however, it passes
https://www.test. : this fails correctly

http://www.test : This should fail, however, it passes
http://www.test. : this fails correctly

**Additional context**
Vali

[2022-02-14 09:38] #1866 closed

[2022-02-14 09:58] WikiRik commented on #1930
You should be able to pass minUppercase: 0 to the options. You can also see the source code for the validator here; https://github.com/validatorjs/validator.js/blob/master/src/lib/isStrongPassword.js

[2022-02-14 12:54] hkush8289 commented on #1930
Worked! thanks...

[2022-02-14 12:54] #1930 closed

[2022-02-14 14:11] rubiin commented on #1931
@mik7up woud you like to create a pr?

[2022-02-16 15:32] SKFrozenCloud commented on #645
There is a package called `express-validator` which uses this library to validate in express JS.

It is completely reasonable to want to decrease startup time for this package especially when someone already has improved it and made a pull request.

Yes micro optimizations are not always relevant but this is beyond relevant.

[2022-02-17 13:57] mik7up commented on #1931
https://github.com/validatorjs/validator.js/issues/1931

[2022-02-17 16:04] vijayrathore8492 opened #1934 "Currency validation does not work correctly for number with 1 digit after decimal"
**Describe the bug**
Currency validation with default options works incorrectly for number with 1 digit after decimal.

**Examples**
eg. 12.3 would fail the validation but 12.33 would pass the validation.

**Additional context**
Validator.js version: 13.7.0
Node.js version:
OS platform: [windows, linux, macOS, etc] MacOS

[2022-02-17 16:24] #1934 closed

[2022-02-25 17:12] AllusiveBox commented on #1271
Curious if there was any decision actually made on how to go about using this? I am trying to argue for using this package instead of an internally managed one for work and they don't want to make the switch if there isn't any TypeScript support.

[2022-02-25 17:15] WikiRik commented on #1271
I don't believe so, but using `@types/validator` in combination with this package works fine in my projects

[2022-02-25 17:21] AllusiveBox commented on #1271
I missed that. Thanks, I'll let them know and see if that settles them for now.

[2022-02-25 17:24] tux-tn commented on #1271
Agree with @WikiRik , `@types/validator`  should  cover all your needs.

[2022-02-28 01:30] oHTGo commented on #1933
Hi, I'm Lil Huy, In my opinion, I think it is not a **bug.**
In which, www.test, www can be the name of the domain, test is the top-level domain (TLD).
![image](https://user-images.githubusercontent.com/69106844/155909640-6eabf66e-41fc-47ae-91d2-fa5e94478aeb.png)

Sorry if this is not what you meant.

[2022-03-01 01:32] MrNaughtZero commented on #1933
Hey Lil. You're totally right. I wasn't aware of top level domains like this.

Thanks!

[2022-03-01 01:32] #1933 closed

[2022-03-02 18:36] santiagazo commented on #754
if @rmuchall's comment wasn't clear enough, and for those who stumble on this:
[code]

[2022-03-03 18:11] Valeronlol commented on #1607
Try to use @IsDate()

[2022-03-08 13:04] ruigazio opened #1936 "UUID v4 validation fails"
`isUUID('3252dd7d-2849-43b4-437c-fd07567b0d74', 4)` yields `false`

This online tool disagrees https://www.uuidtools.com/decode

Can you please verify this is not a bug and the online tool is incorrect?
And if so, why?

[2022-03-08 15:56] WikiRik commented on #1936
The [validation function](https://github.com/validatorjs/validator.js/blob/master/src/lib/isUUID.js) checks if there is a 8, 9, a or b (case insensitive) in the first slot of the fourth sequence (so the 4 in 437c of your example). This is also shown in the online tool as being the variant digit.

[2022-03-08 21:45] ruigazio commented on #1936
Thanks for the reply.

I've looked closer to the spec, wikipedia actually, and from what I understood variant 0 (obsolete) only has one version. Therefore a UUID cannot be both variant 0 and version 4.

[UUID variants in wikipedia](https://en.wikipedia.org/wiki/Universally_unique_identifier#Variants)

[2022-03-08 21:45] #1936 closed

[2022-03-09 17:21] guicompeng opened #1937 "add more options in isLength - feature request"
Currently the options for isLength are `min` and `max` only.
I believe there could be more options. I'm needing the field size to be exactly 11 or 14 or 16.
For now I'm using `min` 11 and `max` 16 but in my program the length values (12, 13, 15) should not be accepted.
a new option can be:

`exact: {11, 14, 16}` or
`size: {11, 14, 16}`

Do you think this change adding more options would be a good

[2022-03-09 23:07] Carlos-Gaxiola commented on #1937
Hello, as a user, I think this is a really useful feature, I am currently working in this issue, to create a function that does this, I will create a Pull Request later when I complete the feature :)

[2022-03-15 12:09] savannahvaith commented on #1761
Hello, I've found a couple more that can be added to the list - am I okay to work on those?

[2022-03-15 12:26] WikiRik commented on #1761
@savannahvaith go for it!

[2022-03-17 12:16] marcus-m-hammer commented on #305
I beat myself up on this for quiet a while, doing a ton of research to find the correct answer. I think more examples are needed in the documentation. After trial and error, I found the correct solution:

!validator.isAlphanumeric('Your String', ['en-US'], {'ignore': ' _-'})

This ignores a space, an underscore or a dash. You could also use a regex in its place.

[2022-03-18 19:38] cancerberoSgx opened #1941 "isLength fails with some emojis"
isLength fail with some emojis.

**Examples**
[code]

**Additional context**
Validator.js version: latest
Node.js version: 14.19.0
OS platform: macOS

[2022-03-18 19:48] cancerberoSgx commented on #1941
BTW: tried some other implementations and the only one I found correct for this string is lodash.toArray - IMO using this same implementation should solve the issue:

[code]

[2022-03-21 08:26] Adudarchyk opened #1943 "IsDate method doesn't work only with dot delimiter"
**Describe the bug**
I want to format yes you DD.MM.YYYY for the isDate method, with only dots as separator.
But you need to make a strange design:
  const isExistingDate = validator.isDate(date, {
    format: 'DD-MM-YYYY',
    delimiters: ['-', '.'],
  });
Why can't work without "-" or "/"?

**Examples**
working:
  const isExistingDate = validator.isDate(date, {
    format: 'DD-MM-YYYY',
    deli

[2022-03-22 01:24] cancerberoSgx commented on #1941
My why was in the lodash tip :) Probably in the lines of :
https://github.com/lodash/lodash/blob/master/.internal/unicodeToArray.js

other useful links
https://github.com/lodash/lodash/blob/master/.internal/hasUnicode.js
https://github.com/lodash/lodash/blob/master/toArray.js

Sorry don't have much time for a PR right now :(

[2022-03-25 00:47] bennetfabian commented on #1943
Tried to recreate with macOS & your exact Node.js and Validator.js versions but it worked flawlessly.

Are all dates you're trying to validate only working when you add another delimiter besides a dot?
Or are there any specific dates not working with only the dot specified as a delimiter?

Is the date input ensured to be a string?

[2022-03-28 15:06] chris-aeviator opened #1947 "Falsely validates multiple TLDs"
**Describe the bug**
When v
alidating a wrong `adsf@ad.de.de.de.de` email with `isEmail(email)` I get a succesfuly validation.

**Examples**
[code]

**Additional context**
Validator.js version: 13.7
Node.js version: 17
OS platform: linux

[2022-03-29 06:53] kasir-barati opened #1948 "`isPassportNumber` does not work for all over the world countries"
**Describe the bug**
[As you see here](https://github.com/validatorjs/validator.js/blob/master/src/lib/isPassportNumber.js#L9) we do not support all over the world countries. I like to collaborate and add more countries regex to that list.

**Examples**
[code]
![Result](https://user-images.githubusercontent.com/73785723/160551110-34a398a7-18ae-443b-bdf6-a9e43685deda.png)

**Additional context**
Va

[2022-03-29 07:43] danbars opened #1949 "non-string validations - why not?"
This is semi feature request semi philosophical question:
Why is validator.js targeted to string validations only?
Why not expend it to other type of validations such as arrays, numbers, etc?
Looking at it from practical perspective, if I want to validate a form, I'm going to need more than just string validations.
This means that if I use validator.js I'll have to combine it with additional libra

[2022-03-29 07:44] kasir-barati commented on #1288
@profnandaa please consider my issue [here](https://github.com/validatorjs/validator.js/issues/1948) and this PRs: [Nigeria](https://github.com/validatorjs/validator.js/pull/1891) passport number validation, and [Thialand](https://github.com/validatorjs/validator.js/pull/1814).

[2022-03-31 15:11] avkvak opened #1950 "Georgian phone number validation bug"
**Describe the bug**
Currently Georgian phone regexp looks like this:
  'ka-GE': /^(\+?995)?(5|79)\d{7}$/,

**Examples**
But in this time phone started with +995 5... validator is missing one digit:
https://en.wikipedia.org/wiki/Telephone_numbers_in_Georgia_(country)

thus,
+995 **5**00 000 000 is a real phone number that is not valid from the point of view of the regular expression
while in this

[2022-03-31 15:42] WikiRik commented on #1950
Would `/^(\+?995)?(79\d{7}|5\d{8})$/` be a correct expression? If so, feel free to submit a PR with updated tests

[2022-03-31 18:38] avkvak commented on #1950
Now I trying to figure out is it correct regexp. According to Wikipedia, phone numbers can begin not only with 5 or 79. It is curious to know why these particular digist are highlighted in the regular expression, excluding other options

[2022-04-03 09:01] FatmaMahmoud698 opened #1953 "Egyptian phone number validation bug"
**Describe the bug**
Currently Egyptian phone numbers are:
![1](https://user-images.githubusercontent.com/75572871/161420068-63c0b08a-5440-4eb3-9ceb-7a06ce3a67cc.PNG)
but I got error invalid phone number if I used 015 with validation `validator.isMobilePhone(value,'ar-EG')
`
**Examples**

**Additional context**
"validator": "^10.11.0"
Node.js version: v16.14.0
OS platform: [windows, macOS]

[2022-04-03 09:06] FatmaMahmoud698 commented on #1953
solved by upgrade the validator package

[2022-04-03 09:06] #1953 closed

[2022-04-04 17:26] reserad opened #1954 "isEmail returns false when provided email with multiple periods before @"
**Describe the bug**
When using isEmail with an email that has 2 or more periods before the @, it returns false.

**Examples**
The email address "b1+..7@x.com" is considered valid by Gmail but isEmail("b1+..7@x.com") returns false.

**Additional context**
Validator.js version: 13.7.0
Node.js version: 14.17.5
OS platform: macOS

[2022-04-11 16:15] heanzyzabala commented on #1954
Tried it in gmail (in registration and as email recipient). It doesn't accept that email string.

[2022-04-17 08:44] oHTGo commented on #1954
@heanzyzabala
I have a Gmail is nguyennhathuy.orit@gmail.com. If you send a email to nguyennhathuy.orit+abc@gmail.com, this email will send to nguyennhathuy.orit@gmail.com

[2022-04-17 08:48] oHTGo commented on #1954
@reserad
I think it is a feature of Gmail but is not a feature of other services
You can read about it: https://gmail.googleblog.com/2008/03/2-hidden-ways-to-get-more-from-your.html

[2022-04-18 02:43] oHTGo commented on #1954
@reserad
You can find it in src/lib/isEmail.js
![image](https://user-images.githubusercontent.com/69106844/163746066-a164b0df-b092-4387-9396-aefd182cebef.png)

[2022-04-18 03:36] matiaslopezd opened #1958 "Add strict mode to avoid throw an error by default for non-string input"
**Describe the bug**

`validator.isEmail(undefined)` throws an error because only accepts a string, which is correct but requires adding more code. Easily can break the execution, when in fact the expected output is a `boolean`.

In simple I think devs expect to know if an email is valid through `boolean`, not breaking the execution with an error.

# Suggestion

I know that this library is only a

[2022-04-18 03:50] oHTGo commented on #1954
@reserad
You can find it in https://github.com/validatorjs/validator.js/blob/c1b21a9c8c5e6bd1597e26354c829ad232251f12/src/lib/isEmail.js#L104-L111

[2022-04-19 21:49] l4b4r4b4b4 commented on #1266
Would like to pick up on that topic. Would be great to have it set for all countries in major economic regions. Would be especially great to have EU set complete. Would start with adding Germany to `isIdentityCard`.
Any concerns on standardizing for country code only?

[2022-04-20 10:01] boonya commented on #1266
I would like to see any thoughts on my comment above.

[2022-04-20 10:38] WikiRik commented on #1266
I agree that we should choose either ISO 639-1 or ISO 3166-1 alpha-2 to be consistent throughout the project. I would however say that because some validators benefit from having language + country defined I would use ISO 639-1.

What we could add is a helper function that parses the country for the validators that do not need the language.
So some validators would use `fr_CA` and `en_CA` and othe

[2022-04-20 11:44] boonya commented on #1266
No I didn't. I want to know opinions on that to not work on something that is not needed

[2022-04-22 02:57] #1857 closed

[2022-04-26 11:34] Dev1lDragon opened #1960 "isVAT add suport to rest of countries"
I managed to add basic regex support to all countries listed in [VAT identification number - Wikipedia](https://en.wikipedia.org/wiki/VAT_identification_number);

More extended validation for PT(Portugal).

Here is my code:
[code]

[2022-04-30 22:55] 6peterlu opened #1961 "substack reply-to email is being rejected, but not sure why"
**Describe the bug**
`reply+vmfhl&j62fr&&2b6c0c3fb5835b76f680b3a23d3166d199c70c626677e090db5f24712f5ca3c3@mg1.substack.com` is being rejected by `isEmail`. Not sure why its invalid.

**Additional context**
Validator.js version: 13.7.1
Node.js version:17.x
OS platform: linux

[2022-05-02 10:12] vedavith commented on #337
I'm using koa-async-validator, which has a dependency on validator.js. I'm trying to use `isURL(url [,options])`. I'm getting an error saying `Cannot create property 'protocols' on string https://google.com`. Here is my validate function -

[code]

[2022-05-04 15:12] 381510688 opened #1962 "isIP 存在冗余代码"
**Describe the bug**
A clear and concise description of what the bug is.

https://github.com/validatorjs/validator.js/blob/master/src/lib/isIP.js#L57

[code]
请教一下，这两句代码的意义？
上面正则已经严格控制，一定是数字且会小于255

[code]

**Examples**
If applicable, add screenshots to help explain your problem.

**Additional context**
Validator.js version:
Node.js version:
OS platform: [windows, linux, macOS, etc]

[2022-05-13 05:56] Shawon-bsws opened #1966 "[imporve] isStrongPassword"
In the isStrongPassword code you are checking if each type of the character and it's count and then comparing it with the minimum value but it will much more help if you also share the count value of each character is returned. In that case we can use it and make a much more vast error messages for missing the particular character.

![shot](https://user-images.githubusercontent.com/93927074/168219

[2022-05-16 21:39] UnKnoWn-Consortium commented on #1962
Indeed the two statements are redundant.

From ```git blame```, they appears to be leftover from before the regular expression rewrite that occurred 13 months ago. I have created a pull request #1969 to rectify it.

If you like you can create yours and I will retract mine.

[2022-05-17 02:57] quyle92 opened #1970 "How to add field value to standard validator?"
Hi,
**Describe the bug**
How can I add custom logic to standard validator?
Example would be something like:
`body("step").isInt({min: step + 1}); //"step" is field value.`
Is it possible now?

**Additional context**
Validator.js version: 6.14.0
Node.js version: v14.15.4
OS platform: [windows, linux, macOS, etc]

Thank you.

[2022-05-18 14:30] qmisslin opened #1972 "Incomplete validation of the MediaType in isDataURI function"
**Description of the problem**

The isDataURI function is used to check a Data URI in base64, including the MediaType, Attribute and Data.

The regular expression validating the MediaType is the following:
[code]
However, the latter does not include the "." character which is sometimes present in MediaType, for example in the MIME of Excels files:
`application/vnd.openxmlformats-officedocument.spr

[2022-05-18 18:49] kingston45 opened #1973 "isEmail returning false when email address is .co.uk"
Passing in an email address such as bobmarley@hotmail.co.uk to the isEmail function returns false but its a perfectly valid email address.

<img width="412" alt="Screenshot 2022-05-18 at 19 45 53" src="https://user-images.githubusercontent.com/17720914/169124462-b9c05122-88bf-44b4-8e72-ae32d505ca17.png">

Validator.js version: 13.7.0
Node.js version: 18.1.0
OS platform: macOS

[2022-05-20 11:01] lifeoflikhon commented on #1973
Can you please submit the snapshot what exact value you are passing to isEmail? I have tested [bobmarley@hotmail.co.uk](mailto:bobmarley@hotmail.co.uk) and it worked fine.

[2022-05-27 02:27] benngarcia opened #1976 "isEmail returns false when domain includes mix of numbers and letters"
isEmail returns false when domain includes mix of numbers and letters

email address `isEmail("example@y7mail.com")` fails validation.

**Additional context**
Validator.js version: 13.6.3
Node.js version: 16.13.2
OS platform: linux, macos

[2022-05-29 16:33] kvaithin commented on #1966
Hi all.

Would the team be keen in adding the following.
Won't break existing functionalities and could be an additional option for individual scores.

[code]

Could raise a PR for it if interested. Thanks.

[2022-05-30 09:29] dufengjiao opened #1977 "isMobilePhone - Type '"zh-MO"' is not assignable to type 'MobilePhoneLocale'"
export const mobilePhone = (str: string): string => {
  if (checkMobilePhone(str, ['zh-CN', 'zh-TW', 'zh-MO', 'zh-HK'])  || str === '') return '';
  return '手机格式不正确';/*  */
};

[2022-05-30 09:53] WikiRik commented on #1977
This is not an issue with validator itself, but with `@types/validator`. It needs to be added to https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/validator/index.d.ts

For now you can tell TypeScript to ignore this error

[2022-05-31 13:56] Antoine-Mace opened #1978 "isDate(endOfMonthDate) returning false negative"
**Describe the bug**
when calling `validator.isDate("2008/04/31")` it should return true however it's returning false which can cause issues when doing validation.

"2008/04/31" is jsut a random date at the end of an month but i'm sure can be reproduced with others

I double check and the date is valid and exist, the following code does work,

(new Date("2008/04/31)).toString() !== 'Invalid Date')

[2022-05-31 14:09] #1978 closed

[2022-06-05 15:13] sherifsallam commented on #1976
Hello!
If help is still needed in fixing this bug I'd love to be assigned this issue to work on.
Please let me know!

[2022-06-05 15:20] sherifsallam commented on #1288
Hello guys,
I would like to add Egypt, Tunisia, and Saudi Arabia to the list of passport countries. I know what their format is. Would that be possible?
Please let me know! :)

[2022-06-05 15:23] WikiRik commented on #1976
I can't reproduce this locally using 13.7.0

[2022-06-05 15:24] WikiRik commented on #1288
If there's no PR for those yet you can feel free to make one

[2022-06-05 15:25] sherifsallam commented on #1288
Thank you! I'll be submitting it shortly.

[2022-06-05 18:43] kvaithin commented on #1966
FYI @chriso @profnandaa @ezkemboi @tux-tn

[2022-06-06 23:17] benngarcia commented on #1976
Now unable to reproduce.. Maybe my versions were off, or I didn't drink my coffee :/

Sorry for taking your time, appreciate the effort.

[2022-06-06 23:17] #1976 closed

[2022-06-08 08:53] WikiRik commented on #1976
No worries, thanks for the follow up!

[2022-06-08 10:08] MunyuShizumi opened #1979 "ISO8601 validator allows bad values"
**Describe the bug**
[ISO8601 validator regex](https://github.com/validatorjs/validator.js/blob/cfcf9113c69b97477c409909a8729fa8efa0d595/src/lib/isISO8601.js#L5) allows incorrect dates that aren't strictly ISO8601-compatible.

**Examples**
`2022-04-31` (only 30 days in April)
`2022-02-29` (not a leap year)
`0000-01-01` (year 0 doesn't exist)
etc.

**Additional context**
Validator.js version: 13.7.

[2022-06-09 23:10] capdilla opened #1981 "Honduras regex in isMobilePhone is wrong"
**Describe the bug**
the regex of `es-HN` in `isMobilePhone` is incorrect, the correct regex should be `/^(\+?504)?[9|8|3|2]\d{7}$/` the phone numbers can also start with 3 or 2

https://github.com/validatorjs/validator.js/blob/cfcf9113c69b97477c409909a8729fa8efa0d595/src/lib/isMobilePhone.js#L72

**Additional context**
Validator.js version: 13.7.0

[2022-06-10 16:10] Clashsoft commented on #1349
Why not use:

[code]

After all that is probably what's intended when using IsDivisibleBy.

[2022-06-10 19:46] rksp25 commented on #1761
MONGOLIA is missing I am working on it

[2022-06-11 19:18] ademyan05 commented on #1981
Hey I was able to valid that as well, i am going to add the change and raise PR

[2022-06-11 19:39] ademyan05 commented on #1981
#1983

[2022-06-13 12:09] davidnbooth opened #1984 "Type definitions not loading when using require("validator") in node.js"
**Describe the bug**
When I use require("validator") in a node.js project, the type definitions from DefinitelyTyped are not properly loaded.
I can solve this by adding `export = validator;` to the bottom of the index.d.ts file in @types/validator

**Examples**
<img width="860" alt="Screen Shot 2022-06-13 at 8 06 00 AM" src="https://user-images.githubusercontent.com/75534078/173350067-b0adef3b-dea

[2022-06-13 12:12] WikiRik commented on #1984
If you need to add something in @types/validator I would recommend opening a PR there

[2022-06-14 00:17] jianmin-chen opened #1988 "`isMobilePhone` not defined?"
**Describe the bug**
I'm running the latest version of the library and `isMobilePhone` is not defined. I imported the validator functions as so:

[code]

`isEmail` works, but using `isMobilePhone` returns an error. Is there something I'm not aware of? I searched `node_modules/validator` and `isMobilePhone` does not appear to be in either `es/lib` or `lib/util`.

**Examples**
[code]

**Additional c

[2022-06-15 21:48] fedeci commented on #1984
Ho @davidnbooth, does the following work for you?
[code]

[2022-06-16 15:44] rubiin commented on #1960
would you like to create a PR?

[2022-06-16 16:43] Dev1lDragon commented on #1960
@rubiin how i can do that?

[2022-06-16 20:24] nanocreaator commented on #1988
It is happening here too...

I don't have too much context from the **isMobilePhone** file but I guess there's tow export there. The **default** and a **locales** one.

The object returned looks like that:
[code]

@jianmin-chen if it helps, you can still use:

[code]

[2022-06-17 04:09] eddejayaklu opened #1990 "showing validator.isStrongPassword() is not a function"
**Describe the bug**
A clear and concise description of what the bug is.

**Examples**
If applicable, add screenshots to help explain your problem.

**Additional context**
Validator.js version:
Node.js version:
OS platform: [windows, linux, macOS, etc]
![this is the code for password validation using npm validator](https://user-images.githubusercontent.com/88376986/174223040-502a94de-1844-454f-acc

[2022-06-20 18:43] davidnbooth commented on #1984
@fedeci it does!  Thank you! :)

[2022-06-26 12:56] taka0409 commented on #1988
Indeed isMobilePhone.js has two exports, default and locales.
In index.js it imports the following and I think you need to do the same.
https://github.com/validatorjs/validator.js/blob/cfcf9113c69b97477c409909a8729fa8efa0d595/src/index.js#L81

The same is true for all validators that use locales.

Since it is not a bug, I think it would be better to add a note in the readme about the usage of some

[2022-06-29 19:55] rksp25 commented on #1761
Hi I fix the issue please find PR: https://github.com/validatorjs/validator.js/pull/1993

[2022-07-01 10:53] U-4-E-A commented on #1876
For those it may help, I was planning on using this for testing for emails/urls in passwords. This can be done using [user input](https://zxcvbn-ts.github.io/zxcvbn/guide/user-input/) with [zxcvbn-ts](https://github.com/zxcvbn-ts/zxcvbn)

[2022-07-02 06:30] mortbauer opened #1994 "isURL always checks host even if no host specified but query and path are"
**Describe the bug**
Although trying to be generic for different protocols the isURL check always valdiates hosts even if no host specified.

**Examples**
My use case is to validate a postgresql uri with using a unix socket which could look like:

[code]
isURL always returns false, not matter which options specified, even with `require_host=false`.

if i change the url to:

[code]

it would valida

[2022-07-04 04:52] rksp25 commented on #1761
I am working on country Benin

[2022-07-05 07:08] melkorCBA commented on #1068
Hi @profnandaa, @ezkemboi, Added a PR #1996 for Sinhala (<code>si-LK</code>) language

[2022-07-05 13:27] rksp25 commented on #1761
Please review PR: https://github.com/validatorjs/validator.js/pull/1997

[2022-07-05 13:38] rksp25 commented on #1761
Please review PR: https://github.com/validatorjs/validator.js/pull/1997/

[2022-07-05 22:26] samilieberman commented on #1972
Can i work on this?

[2022-07-05 22:59] WikiRik commented on #1972
For sure!

[2022-07-05 23:45] samilieberman commented on #1972
Hi @WikiRik,

Ended up working on another issue and just put up the PR: https://github.com/validatorjs/validator.js/pull/1998

Thank you,
Sami

[2022-07-06 12:48] rksp25 commented on #1761
@profnandaa , others Please review PR: https://github.com/validatorjs/validator.js/pull/1997

[2022-07-06 20:02] c-r33d opened #1999 "isBase64(str, { urlSafe: true }) reporting true"
When using the isBase64 url safe option, I am getting that a string is base64Url encoded when it is not actually.

The string I am using:
const someString = 'some-resource-name';

The way I am using it goes as follows:

[code]

**Examples**
If applicable, add screenshots to help explain your problem.

**Additional context**
Validator.js version: v13.7.0
Node.js version: 16.14.0
OS platform: macOs,

[2022-07-06 21:12] #1999 closed

[2022-07-14 14:18] petermarks12 opened #2000 "isBase32 returns false for valid Base32 string"
I have tried with the following string and also other base32 valid strings, i am always getting false, no matter what.

Encoded: d1jprv3f41vpywkccg

Decoded: hello world

[code]

[2022-07-16 07:24] taka0409 commented on #2000
It seems that there are two problems with your input.

1. The clockford option needs to be set to true
2. Input must be uppercase

Please check again.

[2022-07-16 13:29] petermarks12 commented on #2000
It still returns false.  I tried

`validator.isBase32('D1JPRV3F41VPYWKCCG',{ crockford:true })`

[2022-07-17 07:18] taka0409 commented on #2000
I checked node_modules and the crockford option is not yet distributed with 13.7.0

@profnandaa
When is #1888 scheduled to be released?

[2022-07-17 19:26] kai2128 commented on #1761
added mobile phone validation for Papua New Guinea. PR: #2002

[2022-07-18 12:30] #1962 closed, assigned to nobody

[2022-07-18 12:44] rubiin commented on #1981
#1983 has been merged, closing this. Watch out for next version

[2022-07-18 12:45] rubiin commented on #1977
Closing this as this looks like sorted. feel free to open if it persists

[2022-07-18 12:45] #1977 closed

[2022-07-18 12:46] rubiin commented on #1941
https://github.com/validatorjs/validator.js/pull/1967 merged, watch out for next version

[2022-07-18 12:46] #1941 closed

[2022-07-18 15:15] maxyegorovpc opened #2003 "isISO8601 returns true for an invalid iso8601 date"
**Describe the bug**
When using isISO8601 to check date that looks like iso8601 format, but missing seconds, will return true even though it is an invalid date

**Examples**
Date string such as "2018-09-11T10:16.000Z" will return true.
Live sample: https://codesandbox.io/s/wandering-fire-qr6fm6?file=/src/index.js

**Additional context**
Validator.js version: 13.7.0
Node.js version: 16
OS platform:

[2022-07-19 09:26] sklawren opened #2005 "Add aliases for blacklist/whitelist as blocklist/safelist"
**Describe the bug**
This is not a bug, however, my company has a policy that we need to use inclusive language in our code and our project got flagged for using the blacklist and whitelist functions from validator.

Would you be willing to add inclusive language aliases blocklist and safelist? That way your code is backwards compatible and we can use inclusive language versions of those two funct

[2022-07-19 09:58] WikiRik commented on #2005
I agree this would be a nice feature but the project maintainers have shared their view on this in a past PR; https://github.com/validatorjs/validator.js/pull/1522
But maybe they have changed their minds or are more in favour if it's just an alias instead of deprecating the current white/blacklist terminology

[2022-07-20 02:25] sklawren commented on #2005
@rubiin @WikiRik Done!

[2022-07-20 08:28] rubiin commented on #2005
@profnandaa

[2022-07-22 11:15] fedeci commented on #2005
I have already proposed this one a year ago or so and it got rejected, hope something has changed!

[2022-07-22 13:28] tux-tn commented on #2005
Check #1522 for context

[2022-07-23 03:06] stevensacks commented on #2005
This is fundamentally different than the change you proposed. This is just adding aliases, not renaming everything.

[2022-07-23 04:56] rubiin commented on #2005
Yeah aliasing is backward compatible as it wont break any apps that have validator integrated

[2022-07-23 07:59] fedeci commented on #2005
@stevensacks I was also adding aliases
https://github.com/validatorjs/validator.js/pull/1522/files#diff-bfe9874d239014961b1ae4e89875a6155667db834a410aaaa2ebe3cf89820556R210-R230

[2022-07-23 12:29] stevensacks commented on #2005
I disagree. You weren’t just adding aliases, you were suggesting deprecating the words blacklist and whitelist, renaming files, etc.

I am saying do not change anything. Do not take a stance one way or the other. Leave everything the same and _only_ add a few aliases so that it can pass the eslint rule and company policies. If you want/need to use the “inclusive language” words, you can.

[2022-07-24 07:36] sahilsuman933 commented on #2003
@rubiin Can I work on this issue?

[2022-07-24 14:13] rubiin commented on #2003
@sahilsuman933 sure jump ahead. Before you do, read the contribution guidelines though

[2022-07-24 15:35] sahilsuman933 commented on #2003
@rubiin Sure.

[2022-07-26 19:19] sahilsuman933 commented on #2003
@rubiin I was validating the test cases for the iso8601, and many of them are incorrectly placed.

For example, 2009-222 is not a valid ISO8601 date but is put in the validISO8601.

Also, there is no need for isValidDate function cause there we can already use the inbuilt !isNaN(Date.parse) method to validate whether it is a valid date. One more thing, I think there is no need for a strict separat

[2022-07-27 01:21] rubiin commented on #2003
Sure. As long as the tests are properly written and the logic defines the code

[2022-07-27 14:02] sahilsuman933 commented on #1979
@MunyuShizumi I already made the PR for the new ISO8601 method. I hope it gets approved.

[2022-07-28 14:31] fedeci commented on #2005
Deprecating code is exactly that, it means keeping it available in the codebase to maintain backward compatibiliy but suggesting users to use another function/variable. Deprecating a function doesn't necessarily mean that in the next major it will be removed but rather that in the future the function may no longer be available.

[2022-07-28 14:46] WikiRik commented on #2005
Let's not discuss the specifics but agree that we believe having aliases for more inclusive language is a benefit to this project.

[2022-07-28 17:10] rubiin commented on #2005
I second this. LGTM so as to help people that are stuck with the issue

[2022-07-28 17:48] rubiin commented on #1979
closed as similar issue has been raised. Lets continue discussion there

[2022-07-28 17:48] #1979 closed

[2022-07-28 17:51] rubiin commented on #1950
closed as merged

[2022-07-28 17:51] #1950 closed

[2022-07-28 17:53] rubiin commented on #1883
@ejgonzalez17 go ahead

[2022-07-28 17:57] rubiin commented on #1876
I'm not sure how I feel about this . AFAIR this kind of stuff has been discussed in the past and we decided not to add more functionalities to the  package, especially such features that can be implemented by the end-user (customized through the existing validator method). To me, this doesn't sound like a necessary addition, given that it's non-blocking & not very complex to implement on your own

[2022-08-06 03:50] purplecomet1 opened #2017 "Table in README is broken"
The table rows break due to a markdown typo in the README.

<img width="1098" alt="Screenshot at Aug 05 23-33-04" src="https://user-images.githubusercontent.com/40288183/183232454-8380aa82-1de0-4e3c-89d6-da878ae8f9cb.png">

[2022-08-06 06:04] WikiRik commented on #2017
Fixed in #2010

[2022-08-06 08:11] rubiin commented on #2017
Duplicate . Closing #2010

[2022-08-06 08:11] #2017 closed

[2022-08-06 21:08] bevatsal1122 commented on #1937
Hello, I have added the required feature. If the string length falls in the range and if exact number/array/object is mentioned, then exact conditions are checked. If not provided, then true is returned is len>=min & len<=max and false is returned is not in range [min, max]. Thanks for giving me a chance to contribute :)
PR#2019 - https://github.com/validatorjs/validator.js/pull/2019

[2022-08-10 16:30] brianwhaley commented on #1068
hi @profnandaa  and @rubiin added PR [#2023](https://github.com/validatorjs/validator.js/pull/2023) to add Belarusian and Romanian Locales

[2022-08-14 05:26] Akshat-Mishra101 opened #2027 "Adding 'isAdhaar' as a Validator"
Hey guys, I need permission to add a validator for a popular Indian identity card, called the "Adhaar Card"

## What is an Adhaar Number?

According to UIDAI -- Aadhaar number is a 12-digit random number issued by the UIDAI (“Authority”) to the residents of India after satisfying the verification process laid down by the Authority. Any individual, irrespective of age and gender, who is a resident

[2022-08-14 13:14] #1300 closed

[2022-08-14 21:01] bevatsal1122 commented on #1937
Heyy @rubiin !!  This additional feature is been added in PR https://github.com/validatorjs/validator.js/pull/2019. It would be great if you could have a look.

[2022-08-15 07:33] braaar commented on #2027
I would suggest implementing this as a locale in `isIdentityCard(str [, locale])`

[2022-08-15 07:44] Akshat-Mishra101 commented on #2027
Sure, just one doubt though. Since we already have a locale for the indian region identity (which is not the same as adhaar) how would we include this new identity? or what locale would we choose?

[2022-08-15 08:08] braaar commented on #2027
I just looked into it, and according to t[he PR where it was added](https://github.com/validatorjs/validator.js/pull/1322), the existing identity card validator in the `IN`locale is for aadhaar.

[2022-08-15 08:10] braaar commented on #2027
Take a look at the test cases to see how it works:
https://github.com/validatorjs/validator.js/blob/86a07ba4f3f710f639e92a62cf81dd3321ef9ee8/test/validators.js#L5222

[2022-08-15 10:54] Akshat-Mishra101 commented on #2027
Thanks braaar, this seems it; I'll close this issue. There are a couple of more identifications I'd like to add to this, which I'll open in the next few issues :)

[2022-08-15 10:54] #2027 closed

[2022-08-15 14:43] a-h-i opened #2028 "isRgbColor does not ignore spaces between params"
**Describe the bug**
A clear and concise description of what the bug is.

unlike other color testing, such as isHSL isRgb does not ignore spaces

**Examples**
[Sample stackblitz](https://stackblitz.com/edit/typescript-tezgvo?devToolsHeight=33&file=index.ts)
[code]

Expected output
[code]

Actual output
[code]

**Additional context**
Validator.js version: 13.7
Node.js version: 18
OS platform: [wind

[2022-08-16 12:18] Akshat-Mishra101 opened #2030 "Add a new identity card validator for the Indian PAN card"
I'd like to contribute to this project by adding a new identification, for the PAN card.

### What's a PAN Card?

According to the <a href="https://www.incometaxindia.gov.in/tutorials/1.permanent%20account%20number%20(pan).pdf">official website</a>, PAN is a ten-digit unique alphanumeric number issued by the Income Tax Department.

The rules for which, can again be found <a href="https://www.incom

[2022-08-17 05:32] #1018 closed

[2022-08-17 07:12] braaar commented on #2030
Could this be a fit for `isTaxID(str, locale)`?

[2022-08-17 13:17] Akshat-Mishra101 commented on #2030
It could surely be, since PAN is a form of tax id

[2022-08-19 13:27] braaar commented on #1874
I agree! Let's do it!

[2022-08-19 13:32] braaar commented on #1874
I strongly prefer the options object, personally. It's easier to read and write when there are several options to choose from, and backwards compatibility is built in.

I can help out with the typescript side of things.

Do you think we should plan a major release in the future where we remove backwards compatibility to the old style? The codebase could get a bit hairy if we maintain backwards com

[2022-08-19 13:55] WikiRik commented on #1874
I'll tag @rubiin in here as well before we continue with this. If he approves, I can work on a PR for one of these as an example.

I'll leave the removal of backwards compatibility to the maintainers. For what I've seen in `isLength` it is not much extra work to keep the old style. What might be nice is to have the tests for the backwards compatibility in a different file to the current implementa

[2022-08-22 10:33] karissekjw commented on #1990
Hey @eddejayaklu can't seem to reproduce it, i'm able to use `isStrongPassword()` successfully 🤔 May I check how did you import/declare `validator`?

<img width="482" alt="image" src="https://user-images.githubusercontent.com/45915877/185900871-c8705bad-5dbd-479c-9b8a-43ef2909067d.png">

[2022-08-28 07:13] girishpadia opened #2034 "Client side validation?"
I want to use validator.js for client-side validation as well but couldn't locate document/example for same. Any help in this regards is much appreciated.

[2022-08-29 07:53] shaanaliyev commented on #2034
There is already a validator.js package for client side validations that does point to this package.

For the latest version: https://unpkg.com/validator@latest/validator.min.js
Or you can use specific version, just change version tag _(latest)_ from the link.

**Usage:**

[code]

[2022-09-01 05:45] ajinkyac03 commented on #1966
I have resolved the suggestions and added individualScoreResults function.

[2022-09-01 22:35] wyatt-substack commented on #1768
Should either use `.match` or set `pattern.lastIndex = 0;` before calling `.test`.

[2022-09-02 06:23] braaar commented on #1768
Similar issue experienced downsteam in `class-validator`, as well
https://github.com/typestack/class-validator/issues/1707

[2022-09-02 20:38] WikiRik commented on #2034
https://github.com/validatorjs/validator.js#client-side-usage

[2022-09-05 16:15] harshmangukiya commented on #1075
Also, not working for `'+++''+++'test@test.com`

[2022-09-06 11:06] denishm116 opened #2035 "Hello! It's a misspell in some rule"
![image](https://user-images.githubusercontent.com/48059988/188619527-87fb17cf-9b04-46d3-bae5-251a70652aef.png)

It's a misspell in rules "digits" "digits_between" in a russian localization in word Длина.

[2022-09-06 11:15] braaar commented on #2035
Hello! Feel free to submit a pull request fixing this typo

[2022-09-08 14:23] Scarus opened #2036 "IsEmail() consider invisible character in email as valid"
### Description

One of our users entered an email address like the following:
`"​user@domain.com"`
It contains an invisible character at the beginning (maybe the result of a weird copy/paste ?)
(You can make it appear by pasting the string into a web browser console)
It resulted in hard to spot problems as you would expect when two seemingly identical strings are in fact not matching.

The email

[2022-09-10 03:38] #1690 closed

[2022-09-13 10:48] zaelgohary opened #2039 "IPv6 regex accepts invalid formats"
**Describe the bug**
IPv6 regex accepts invalid formats.

**Examples**
- BC:e4d5:c:e7b9::%40i0nccymtl9cwfKo.5vaeXLSGRMe:EDh2qs5wkhnPws5xQKqafjfAMm6wGFCJ.bVFsZfb
- 1dC:0DF8:62D:3AC::%KTatXocjaFVioS0RTNQl4mA.V151o0RSy.JIu-D-D8.d3171ZWsSJ7PK4YjkJCRN0F

**Recommended Fix**
The issue can be fixed by changing lines 44 & 45 in isIP.js file to the following:
  `(?::((?::${IPv6SegmentFormat}){0,5}:${IPv4Ad

[2022-09-13 11:25] WikiRik commented on #2039
Feel free to open a PR that fixes this and adds additional tests

[2022-09-13 11:35] zaelgohary commented on #2039
Tried to push the fix on a new branch and then open a PR but permission was denied as shown below.
![image](https://user-images.githubusercontent.com/40770501/189890906-bb31477a-bd39-4c05-b949-d473f770de09.png)

[2022-09-14 13:14] coolbeatz71 opened #2040 "should add support for DR Congo mobile phone validation"
## Is your feature request related to a problem? Please describe.
I just realized there is no support for a bunch of local phone numbers in Africa (most of them are french speaking), such as RD Congo, Congo Republic, Central African Republic, etc.
## Describe the solution you'd like
The ICU country code for DR Congo is `fr-CD` and the regex should be `/^(\+?243|0)?(8|9)\d{8}$/`. I can raise a PR f

[2022-09-14 15:12] WikiRik commented on #2039
You should push it to your own fork and then you can open a PR towards this repo

[2022-09-15 03:49] zyf0330 opened #2043 "url with curly braces is not valid url"
**Describe the bug**
The url like `http://%7B0%7D.foobar.com/` can be input into Chrome address and jump, but isURL treats it as invalid url.
I inspect URL Spec, and don't know who is right.

**Examples**
![image](https://user-images.githubusercontent.com/11958657/190309627-0092fab5-ae3b-4e90-89af-dff8d72b4a93.png)

**Additional context**
Validator.js version: 13.7.0
Node.js version: 14
OS platfor

[2022-09-18 08:06] newsiberian commented on #1581
I've faced w/ the same error while migrating my TS app to esm:

[code]

[2022-09-20 17:22] import-brain opened #2045 "`isBIC` country code does not accept `XK`"
**Describe the bug**
A clear and concise description of what the bug is.

The `isBIC` validator uses the list of country codes in ['./isISO31661Alpha2'](https://github.com/validatorjs/validator.js/blob/86a07ba4f3f710f639e92a62cf81dd3321ef9ee8/src/lib/isISO31661Alpha2.js) and that list of country codes does not include `"XK"` (Republic of Kosovo).

However, on the ISO 9362 page, Wikipedia says that

[2022-09-20 17:41] WikiRik commented on #2045
Feel free to open a PR for this

[2022-09-20 17:42] ST-DDT commented on #2045
Example:

https://wise.com/de/swift-codes/CBRKXKPRXXX

[2022-09-21 03:31] meeraj257 commented on #2036
@Scarus - can you pls assign this issue to me? I would like to work on it

[2022-09-21 17:26] nayabatir1 commented on #2043
Hi,
I would like to work on this issue.

[2022-09-21 21:05] WikiRik commented on #2036
Feel free to open a PR for this, @meeraj257 there's no need to be assigned to this

[2022-09-22 07:09] SultanHboush opened #2047 "Remove minSymbol from isStrongPassword"
I want to remove the minSymbols condition from isStrongPassword, i tried setting the value to zero in "validator/lib/isStrongPassword.js" as showing below

[code]
But it didn't work, it stayed the same.

Here is how i'm using the code

[code]

**Additional context**
Validator.js version: ^2.0.16
Node.js version: ^13.7.0
OS platform: macOS

[2022-09-22 08:05] #2047 closed

[2022-09-23 00:52] meeraj257 commented on #2036
Thanks @WikiRik . I will raise a PR soon in 1-2 days. Wanted to make sure others also not work on the same.

[2022-09-23 10:57] LuchoCateura commented on #638
Hello, can I work on this feature?

[2022-09-26 12:41] carkod commented on #2035
Does this issue still apply? I can't find the file anywhere

[2022-09-27 07:05] braaar commented on #2035
Yeah, you're totally right, actually, @carkod, this issue does not belong in this project.

[2022-09-27 09:09] carkod commented on #2035
Should we close it?

[2022-09-27 09:11] braaar commented on #2035
If @denishm116 could close it, it would save us from bothering the maintainers, I suppose.

[2022-09-27 17:10] meeraj257 commented on #2036
#2049

[2022-09-27 17:26] meeraj257 commented on #2036
@WikiRik - PR raised. Pls review the PR.

[2022-09-27 17:28] meeraj257 commented on #1972
I am working on this issue. Will be raising a PR soon.

[2022-09-27 18:05] meeraj257 commented on #1961
@6peterlu - the length of the user part above exceeds 64 characters. Hence its being rejected by isEmail.

[2022-09-27 21:05] meeraj257 commented on #1954
@reserad - can this issue be closed as its invalid to have 2 or more consecutive dots in email address. Check this - https://serverfault.com/questions/395766/are-two-periods-allowed-in-the-local-part-of-an-email-address

[2022-09-28 06:10] braaar commented on #1954
Could it be desirable to add an option to this validator that lets you choose if you want to accept gmail's (seemingly) spec-breaking approach to dots, and the `+` ending?

[2022-09-30 18:42] WikiRik commented on #1874
@rubiin this might be a nice thing to work on for hacktoberfest, do you think the current maintainers have the capacity to discuss this proposal and review PRs that come out of this? Possibly with other active people in the community (like @braaar ) helping out there as well?

[2022-09-30 22:31] flamadev commented on #1761
Hi! i would like do my first contribution. It seems that Haití is not on the list either, could I work on that?

[2022-09-30 23:00] WikiRik commented on #1761
@flamadev go for it!

[2022-10-01 05:32] rubiin commented on #1874
Looks good . Lets have more discussion to figure out possible roadmaps

[2022-10-03 06:45] friendofdog commented on #2043
It would be odd if `isURL()` evaluated `http://%7B0%7D.foobar.com/` as `true`. That's essentially `http://{0}.foobar.com/`, and I've never seen a subdomain consist of curly braces.

Curly braces work fine elsewhere in the URL. `http://example.com/{0}` and `http://example.com/%7B0%7D` evaluate as `true`.

[2022-10-03 17:18] MatteoPierro commented on #1931
@rubiin is ok if I work on this?

[2022-10-03 17:25] ValeriyaZavozova opened #2055 "isMobilePhone accept invalid phone numbers"
**Describe the bug**
A clear and concise description of what the bug is.

`isMobilePhone` successfully validates invalid numbers (see examples below).
I suppose the problem is in the next regular expressions:
`'ro-RO': /^(\+?4?0)\s?7\d{2}(\/|\s|\.|\-)?\d{3}(\s|\.|\-)?\d{3}$/,`
`'ms-MY': /^(\+?6?01){1}(([0145]{1}(\-|\s)?\d{7,8})|([236789]{1}(\s|\-)?\d{7}))$/,`

**Examples**
If applicable, add scree

[2022-10-03 23:48] shikhar13012001 commented on #2055
Hi @ValeriyaZavozova I am interested in this issue, Can you please assign this to me ?
Thanks.

[2022-10-04 08:17] ValeriyaZavozova commented on #2055
@meeraj257  I found only this two cases

[2022-10-04 19:57] flamadev commented on #1761
Hi @WikiRik I done my PR, can you review it when you can ? Thank you! :)

[2022-10-05 15:20] rubiin commented on #1931
@MatteoPierro Sure

[2022-10-06 07:12] VarnikaB commented on #2055
01468987837 is this valid 'ms-MY' number? According to me there is an extra digit

[2022-10-06 23:56] nick-cd commented on #2055
@VarnikaB I researched a little on Malaysian telephony on the [relevant Wikipedia page](https://en.wikipedia.org/wiki/Telephone_numbers_in_Malaysia#Mobile_phone_codes_and_IP_telephony). From what I gathered from my research, here's what I can conclude about those numbers.

`088387675` is an east Malaysian landline number; it is **not a mobile phone number**. In the area code, the first digit, igno

[2022-10-07 15:43] redeemefy commented on #1759
I think there is not a clear answer here yet. I'm trying out the library in an toy express application with mongoose. Here is what I have so far...

[code]

[code]
Is there a way to use the syntax ` import { isEmail, isDate } from 'validator'`. I guess that one doesn't want to import the entire library if he/she is just going to use a handful of validators.

[2022-10-08 09:09] rubiin commented on #1931
will do

[2022-10-09 13:40] Gauri-AB commented on #2043
Hii, I want to work on this issue. Pls assign this to me. Thank You!!

[2022-10-11 12:35] parasg1999 commented on #2000
Seems like this one is done! Can we please close this?

[2022-10-11 19:46] shadybotros commented on #1761
Hey, I found that Burundi was missing and made my first contribution here: https://github.com/validatorjs/validator.js/pull/2065

Could someone please review it? :)

[2022-10-12 05:27] digambar-t7 opened #2066 "Passport Validations"
The country Philippines didn't had it's passport regex included in the isPassportNumber file.
So I added it.I have also raised the pull request.
Please let me know if I'm missing out on something.

Thank You!

[2022-10-12 05:36] braaar commented on #2066
Could you link the PR?

[2022-10-12 05:44] VarnikaB commented on #2055
ok

[2022-10-15 05:26] digambar-t7 commented on #2066
I have linked the PR.I am waiting for it to get reviewed.

[2022-10-15 13:44] ashishbalti4 commented on #2036
@Scarus could you assign this issue to me? Would be happy to work on it!

[2022-10-15 13:45] Fbc00 opened #2069 "add cnpj - brazilian company registration number."
I'm going to add a new validator that will be used to validate company registration

[2022-10-15 13:47] WikiRik commented on #2036
PR #2049 has already been opened to fix this issue

[2022-10-16 17:59] digambar-t7 opened #2072 "Pakistan passport number validation"
The passport validation for Pakistan is missing.I'd like to add it.

[2022-10-17 04:31] #1912 closed

[2022-10-17 17:38] WikiRik commented on #2069
The PR opened is #2070

[2022-10-17 17:52] WikiRik commented on #1874
Sorry for the late response, I seemed to have missed it.

I would propose something like the following roadmap;

For step 1 either of the two would work for me;
- Split all tests to 1 file per validator/sanitizer (since a PR for that is almost finished)
- Split the tests for 1 validator away from the big file

This first step is not mandatory, but in my view way overdue and will make it a lot easi

[2022-10-18 06:14] braaar commented on #1874
Solid plan! I think this will increase the quality and consistency of the code base considerably, and make it easier for contributors to make good quality contributions that are consistent with our code style and easier to review.

I would add a step where we write some new guidelines for contributors. In there we can showcase some "golden standard" examples of validator code and test code.

[2022-10-18 06:21] rubiin commented on #1874
Yeah this is exactly what i meant

[2022-10-18 06:38] WikiRik commented on #1874
Good one! I would put that in between the current steps 2 and 3. Will update my comment to reflect that later today

[2022-10-18 14:18] digambar-t7 opened #2076 "GSTIN Number Validation"
Hey there,
Every business operating in a state or Union territory in India is assigned a unique Goods and Services Tax Identification Number, popularly known as GSTIN.It is a unique 15 digit identification number assigned to every taxpayer in India.Also it is very essential in the tax collection/filing process in India.
Thus, I propose to add a validator for GST number.

[2022-10-18 14:24] WikiRik commented on #2076
Could this become a part of [`isTaxID`](https://github.com/validatorjs/validator.js/blob/master/src/lib/isTaxID.js) with Indian locale?

[2022-10-19 09:43] #2072 closed

[2022-10-19 14:13] 609harsh commented on #2055
hi Please assign it to me. I am interested in this

[2022-10-19 15:00] WikiRik commented on #2036
@meeraj257 it would be good to put this comment in the PR as well

[2022-10-20 12:58] braaar commented on #2055
The maintainers in this repo don't typically assign issues to contributors. Feel free to make a PR, of course!

[2022-10-21 18:07] #2066 closed

[2022-10-23 05:08] ezkemboi commented on #1761
Anyone can add as much as possible

[2022-10-23 13:35] rubiin commented on #2076
Go ahead . If you have already started working, you can mention the issue as well so we can track the issue the PR is for

[2022-10-23 13:37] WikiRik commented on #2076
There was a closed PR a few days back; https://github.com/validatorjs/validator.js/pull/2080
Not sure what the plan was for that, so I think a new PR is welcomed

[2022-10-23 13:50] digambar-t7 commented on #2076
Okay, I'll raise a PR shortly 👍

[2022-10-24 17:24] pixelbucket-dev commented on #1874
I would like to contribute here. Which file(s) would you suggest I work on a part of this issue? :)

[2022-10-24 17:38] WikiRik commented on #1874
I'll add a column noting which ones have been claimed, but apart from `isAfter` everything is still open so feel free to claim one. Since my PR has not been merged yet, it is best to branch off from my PR

[2022-10-24 17:42] pixelbucket-dev commented on #1874
Brilliant, will do :).

[2022-10-25 05:05] laks-mi1099 commented on #2043
Hi, I would like to work on this issue.

[2022-10-25 17:11] PantheraRed opened #2090 "isFloat() returns true when a combination of sign and decimal separator is passed"
**Describe the bug**
`isFloat()` returns `true` when a combination of sign and decimal separator is passed. E.g. `"+."`

**Examples**
Tested in REPL
![image](https://user-images.githubusercontent.com/41539361/197825461-50600419-0ba1-4803-99b8-47e18a893366.png)

[This line](https://github.com/validatorjs/validator.js/blob/master/src/lib/isFloat.js#L8) only checks for `""`, `"."`, `"-"` and `"+"`.
A

[2022-10-25 18:45] WikiRik commented on #1874
@rubiin @tux-tn could you look into #2091 soon? After we've merged that, the basic structure is there to merge the other PRs related to this refactor

[2022-10-31 16:17] WikiRik commented on #1874
Thanks for that! I'll assign you to one once #2091 has been merged since we've noticed that it makes contributing more difficult

[2022-11-03 10:23] nshaikhinurov commented on #1431
Hi Guys, just wondering when the next official release would be rolled out? Today is 1 year since v13.7.0. It seems that the docs are ahead of the official latest release. For example `validator.isVAT` is updated in docs but still not in the npm package. So I'm getting `Invalid country code` errors.

[2022-11-04 14:52] YPCrumble commented on #1193
Would maintainers consider a user-supplied TLD list but also allow configuring a default dependency like this repo which seems to be updated and would keep the periodic update of the TLD list out of scope of this library? https://github.com/stephenmathieson/node-tlds

[2022-11-04 16:25] fpedroza commented on #1272
We were just bitten by this when we moved from v3.6 to v3.7, which was quite disappointing. I fully agree that some clarification of supported browsers should be added.

[2022-11-07 12:41] sosafe-jochen-wikenhauser opened #2100 "isLocale does invalidate a lot of valid language tags"
**Describe the bug**
`isLocale` does not validate language tags correctly. There are a lot of valid language tags that are not valid for `isLocale`. But could be that I do not understand correctly if there is a difference between "locale" and "language tag".

**Examples**
i.e. `zh-CHS` is not correctly validated by `isLocale`. In fact every locale with a 3 letter subtag is invalidated. According t

[2022-11-07 12:57] anetecima opened #2101 "Incorrect validation for Maldives phone numbers"
**Describe the bug**
Valid Maldives phone numbers with country codes are not accepted as valid

**Examples**
https://codesandbox.io/s/validator-phone-number-validation-52j2tb?file=/src/App.js

https://en.wikipedia.org/wiki/Telephone_numbers_in_Maldives

[2022-11-07 13:47] WikiRik commented on #2100
`isLocale` was added in https://github.com/validatorjs/validator.js/pull/1072 and there was some discussion there around which locales to support.
Any idea on how the RegEx could be improved, keeping the original idea in mind?

[2022-11-08 12:10] jeftran commented on #1988
I got the same issue with JEST, could anyone please help?
![image](https://user-images.githubusercontent.com/88527035/200560270-56464394-9e94-47eb-945c-874c3cfb5a69.png)

[2022-11-08 12:27] braaar commented on #2101
It's not obvious from your sandbox which of your examples are supposed to be valid or not.

Could you make a list of things that should be valid according to the numbering standard, and another list that should be invalid? Then you can print the results and we can see what discrepancies exist.

Also, remember that `isMobilePhone` only accepts mobile phone numbers, not landlines.

[2022-11-08 12:29] braaar commented on #2101
You should probably also specify the locale in the `isMobilePhone` call, like so `isMobilePhone(item, 'dv-MV')`

[2022-11-08 12:32] WikiRik commented on #1988
This seems to be unrelated. You probably just need to install validator through npm/pnpm/yarn

[2022-11-08 20:48] anetecima commented on #2101
According to documentation locale defaults to 'any' if not passed, and it works for other countries I've tested.
in tests these are used as valid numbers for Maldives - '+960973256874', '781246378', '+960766354789', '+960912354789',
Maldives phone number length is country code (+960) + 7 digits

[2022-11-09 06:33] braaar commented on #1193
Wouldn't it be fairly trivial to implement your own method that wraps the `isUrl` function and takes care of passing the `node-tlds` list to `isUrl` for you?

[2022-11-09 06:54] braaar commented on #2101
My point is that if you want to test the behaviour of the maldives phone number validator, you should specify that locale.

[2022-11-09 15:03] YPCrumble commented on #1193
Thank you for your note @braaar - I did some more research and agree - I'm likely going to use `global-tld-list` per this helpful snippet in the Yup documentation: https://github.com/jquense/yup/issues/784#issuecomment-1122055586

[2022-11-22 19:15] paultannenbaum opened #2105 "isLuhnValid not an exported method"
**Describe the bug**
`isLuhnValid` is in the documentation as an available method, but looking at the exported methods of the library (version `13.7.0`) I do not see the method being exported.

**Additional context**
Validator.js version: 13.7.0
Node.js version: 16.13.2
OS platform: macOS

[2022-11-23 01:00] #908 closed

[2022-11-24 08:35] rezwanahmodsami commented on #2105
Can you show me your code ? and tell me details about that

[2022-11-24 09:00] WikiRik commented on #2105
It seems to be exported here; https://github.com/validatorjs/validator.js/blob/master/src/index.js#L187 so this will be fixed in the next release

[2022-11-24 18:36] #2105 closed